[2020-10-15 13:47] johnhbenetech commented on #1311
@EnriqueCorado can you provide an example when there are multiple referrals in the cart? I assume there will need to be a dropdown per org. It would be super helpful if you can make a mockup using the current design in the dev environment

[2020-10-15 13:53] johnhbenetech commented on #1211
For this task we will just fill the current buttons with blue and have the text/icons in white

[2020-10-15 15:06] jkondrat commented on #1208
@johnhbenetech It would be nice to create an account on Twilio (or any other provider) so we can test sending out messages

[2020-10-15 15:13] EnriqueCorado commented on #1237
@awalkowiak

1. Let's start with the count of referrals made only form the current user's organization
2. Let's show referral made only to the current user's organizations

[2020-10-15 15:41] EnriqueCorado commented on #1311
@johnhbenetech

Here is an example with multiple referrals in the cart as well as a classic menu horizontal so you can see what's under (the next organization you will be referring from)

<img width="917" alt="Screenshot 2020-10-15 083848" src="https://user-images.githubusercontent.com/65787629/96152875-ddf17d00-0ec1-11eb-8dca-197a3a380285.png">

<img width="919" alt="Screenshot 2020-10-15 083910"

[2020-10-15 15:42] EnriqueCorado commented on #1310
@johnhbenetech

Yes, will better define as a new issue with the workflow of the "claim a record"

[2020-10-15 15:45] awalkowiak commented on #1237
@EnriqueCorado sounds good, thanks.

[2020-10-15 15:47] johnhbenetech commented on #1311
@EnriqueCorado can you show how it looks on mobile (where the righthand popout may not fit)

Also can you show what the selector looks like when a location is selected. I assume we want to change   the text to reflect the selected location

[2020-10-15 16:24] sidmundhra commented on #1191
@johnhbenetech : There are two parts to this task.

1. The search bar should move to the bottom part underneath refer elsewhere on the CBO interface. This will give us more real estate to show the filters being used.

2. When the search bar is engaged the page should do an automatic scroll to the part of the page that only shows all service cards that the CBO can refer to. Essentially, hiding the

[2020-10-15 16:26] sidmundhra commented on #1213
Will create a new task for this.

[2020-10-15 16:30] johnhbenetech commented on #1191
@sidmundhra can we get a mobile mockup for the search bar location?

[2020-10-15 16:48] EnriqueCorado commented on #1311
@johnhbenetech changed design for sake of simplicity and match other dropdowns currently in beneficiary history
**desktop view**
<img width="917" alt="Screenshot 2020-10-15 094421" src="https://user-images.githubusercontent.com/65787629/96160657-19dd1000-0ecb-11eb-902f-6c4d81610339.png">

<img width="938" alt="Screenshot 2020-10-15 094436" src="https://user-images.githubusercontent.com/65787629/96

[2020-10-15 17:10] johnhbenetech commented on #1311
sounds good

[2020-10-15 17:42] EnriqueCorado opened #1321 "CBO/ORG add a new record option to specify if it's an online or remote service"
Purpose
------
Provide SP to specify if their services are offered completely online (remotely) or also, offered online on top of having a location

Users
-----------
Service Providers

Features
-----------
- On the locations tab of all records, editing, adding a new record, add a toggle button which says "Do you offer only online Services?" and then a toggle as the mockup shows
- If the user togg

[2020-10-15 18:07] EnriqueCorado commented on #1321
@johnhbenetech thoughts?

[2020-10-15 18:44] EnriqueCorado opened #1322 "CBO/Org Onboarding Registration (Claim a record workflow #1)"
**sample workflow at https://e34vsd.axshare.com under claim a record folder, main page page**

<img width="1920" alt="Screenshot 2020-10-15 114535" src="https://user-images.githubusercontent.com/65787629/96172961-01292600-0edc-11eb-8e90-b1445d36c5ee.png">

<img width="953" alt="Screenshot 2020-10-15 114211" src="https://user-images.githubusercontent.com/65787629/96172554-7a744900-0edb-11eb-8bda-3c

[2020-10-15 18:47] EnriqueCorado opened #1323 "CBO/Org Onboarding Registration (Claim a record workflow #2)"
**sample workflow at https://e34vsd.axshare.com under claim a record folder, main page page**

- for first-time users logging in, please add the claim a record button and the claimed records green button next to the all records bar
- once they click on claim record on all the records a CBO/Org want to claim they will go to claimed records and the list of all claimed records will appear there

<img

[2020-10-15 18:57] EnriqueCorado opened #1324 "CBO/Org Onboarding Registration (Claim a record workflow #3)"
sample workflow at https://e34vsd.axshare.com under claim a record folder, main page page

when CBO starts editing the record please make sure the functionality in #1321 is working

- once the user gets to the services edit page, if they have claimed various records  an option to go and edit next option will appear, and will start on the next record in the organization edit page of the next record

[2020-10-15 19:09] EnriqueCorado opened #1325 "CBO/Org Onboarding Registration (Claim a record workflow #4)"
(sample workflow at https://e34vsd.axshare.com under claim a record folder, main page page)

- Now that users have edited all of their records
- Users will be prompted back to the CBO SN home page with a popup

1. If they have claimed/added more than one record then we have this popup
- popup consists of every record name with their locations as a dropdown

2. The addresses on the pop up will be f

[2020-10-15 19:16] EnriqueCorado opened #1326 "CBO/Org Onboarding Registration (Claim a record workflow #5)"
CBO/Org Onboarding Registration (Claim a record workflow #4)

[2020-10-15 19:36] sidmundhra opened #1327 "Mobile: ServiceNet CBO Interface Homepage layout"
Use Case: Homepage for Servicenet CBO Interface for Mobile

## Full Mockup
![X - 10SN_Mobile_Homepage](https://user-images.githubusercontent.com/12637929/96177591-1746de80-0efc-11eb-9f10-776b14f05998.png)

The Above mockup shows the CBO ServiceNet Homepage in context

## UI/UX details
For 'Refer Elsewhere' text:
   -  font: Roboto,
   -  font size: 24
   - Alignment: Centrally aligned to the width

[2020-10-15 19:59] sidmundhra opened #1328 "Mobile: Servicenet CBO interface: Search Bar activation."
Use Case: This task defines the homepage layout for ServiceNet CBO interface when Search Bar is activated/interacted with.

## Full Mockup
![X - 11SN_Mobile_Search Bar](https://user-images.githubusercontent.com/12637929/96179555-0481d900-0eff-11eb-87ff-1511ca90b86c.png)

The Above mockup shows the CBO ServiceNet Homepage in context

## UI/UX details
For 'Refer Elsewhere' text:
   -  font: Roboto,

[2020-10-15 20:02] sidmundhra commented on #1191
@johnhbenetech : #1327 and #1328 define the mobile mockup and layout.

[2020-10-15 20:09] johnhbenetech commented on #1321
This makes sense to me @EnriqueCorado - the only consideration is that these wont appear on the map obviously and if someone has a geo filter (city, zip, etc) it would also never show. What do you think?

[2020-10-15 20:14] EnriqueCorado commented on #1321
@johnhbenetech

Great point; I will add a box where the user can fill out which specific area (city or county) they operate in and/or a general area, for example, the "bay area" option

[2020-10-15 20:17] sidmundhra opened #1329 "Mobile: ServiceNet Public Homepage Layout"
Use Case: This task defines the homepage layout for ServiceNet Public interface.

## Full Mockup
![X - 6ServiceNet_Mobile- Public Homepage](https://user-images.githubusercontent.com/12637929/96183480-ed45ea00-0f04-11eb-94ed-89decb3ed5f6.png)

The Above mockup shows the CBO ServiceNet Homepage in context

## UI/UX details

### Changes from the past
- the 'All records' progress bar("showing 6 of 10

[2020-10-15 20:23] johnhbenetech commented on #1191
Dev note: ignore zip code / find button in mockup

[2020-10-15 20:25] sidmundhra opened #1330 "Mobile: ServiceNet Public Interface: Search Bar activation"
Use Case: This task defines the homepage layout for ServiceNet Public interface when Search Bar is activated/interacted with.

## Full Mockup
![X - 6ServiceNet_Mobile- Public search bar activation](https://user-images.githubusercontent.com/12637929/96183734-53cb0800-0f05-11eb-953e-0fea94221c8a.png)

The Above mockup shows the ServiceNet Homepage in context

## UI/UX details
For Black overlay on th

[2020-10-15 20:29] johnhbenetech commented on #1323
@EnriqueCorado Why do we have both a claimed record page as well as the top section on home page (which essentially shows your claimed records). Shouldn't we choose one or the other?

[2020-10-15 20:30] johnhbenetech commented on #1326
see comment on #1323 - the top of the home page will already display their claimed records, so should we just continue to use that?

[2020-10-15 20:33] EnriqueCorado commented on #1326
@johnhbenetech

yes, will merge 1323 into this one with claim more records under 'have more data to contribute'

[2020-10-15 20:35] johnhbenetech commented on #1322
@EnriqueCorado not sure where to put this comment, but please double check with KP about how we want to handle verification. Do we just want to trust when someone is claiming a record without any sort of approval process? I think we decided user account was the control here but please confirm.

Secondly, any thoughts about whether we need to allow for "unclaiming" a record. This could throw out an

[2020-10-15 20:36] EnriqueCorado commented on #1321
<img width="827" alt="Screenshot 2020-10-15 132430" src="https://user-images.githubusercontent.com/65787629/96182058-c6c68580-0ee9-11eb-8253-6c5af1cbeb15.png">

if service offered strictly online, the user must specify at least one filter of where they operate in
<img width="834" alt="Screenshot 2020-10-15 132523" src="https://user-images.githubusercontent.com/65787629/96182147-e493ea80-0ee9-11eb-

[2020-10-15 20:39] sidmundhra commented on #1329
@johnhbenetech: There are a few changes on this layout.

##full mockup
![X - 6ServiceNet_Mobile- Public Homepage](https://user-images.githubusercontent.com/12637929/96183480-ed45ea00-0f04-11eb-94ed-89decb3ed5f6.png)

Notable changes from the previous version
- Search bar moves below and centrally aligned.

[2020-10-15 20:42] sidmundhra commented on #1330
@johnhbenetech : There are few changes to this version.

## full mockup
![X - 6ServiceNet_Mobile- Public search bar activation](https://user-images.githubusercontent.com/12637929/96183734-53cb0800-0f05-11eb-953e-0fea94221c8a.png)

Notable changes to the previous version:
-  Search bar has moved below and centrally alinged in the rounded rectangle.

[2020-10-15 21:00] EnriqueCorado commented on #1322
<img width="748" alt="Screenshot 2020-10-15 135956" src="https://user-images.githubusercontent.com/65787629/96185442-c11f6e80-0eee-11eb-90bb-f69ce795b2ab.png">

[2020-10-15 21:05] EnriqueCorado commented on #1323
Please add the options under "Have more data to contribute"
- "Claimed Records" button ONLY for first-time users logging in
- - same font, size, style as other menu options
- Use this icon just as the referral icon is used, if the user claims it should show how many records they have claimed so far
![image](https://user-images.githubusercontent.com/65787629/96176120-c5dd2600-0ee0-11eb-890f-6fdcdd3

[2020-10-15 21:29] sidmundhra opened #1331 "Mobile: ServiceNet Map view layout for both public and CBO interface."
Use Case: This task defines the map page layout of Servicenet public and CBO interface.

## Full Mockup
![X - 15SN_Map View Mobile](https://user-images.githubusercontent.com/12637929/96186194-17011000-0f09-11eb-9d56-dba4fe4f5f29.png)

The Above mockup shows the ServiceNet Map View in context

### Notable Changes from the mockup
- The 'Search This Area' button on the top needs to be moved below and

[2020-10-15 21:40] johnhbenetech commented on #1331
dev note: need to investigate greedy gestureHandling
https://cloud.google.com/blog/products/maps-platform/smart-scrolling-comes-to-mobile-web-maps

[2020-10-15 21:41] sidmundhra commented on #1211
@johnhbenetech please delete this from the project board. This has been defined clearly in #1331

[2020-10-15 21:46] #1211 closed

[2020-10-15 22:44] EnriqueCorado opened #1332 "Duplicating a record"
when you click duplicate record then it saves everything from the current record edit and duplicates it, shows up on the screen
- add a button that allows this capability, "Duplicate Record" on the bottom of the record editing
- also add a feature in order to make sure they changed at least their location, service details, or name of their record
- if nothing was changed, when they click finish sh

[2020-10-15 22:49] EnriqueCorado opened #1333 "Unclaiming a record"
This will throw out any user-provided info and just re-add the original Eden record to the collection
- make sure we add this to the schema in case we don't add this feature immediately, but have the functionality ready to go
- add button at the bottom, same font, size, color

<img width="729" alt="Screenshot 2020-10-15 154756" src="https://user-images.githubusercontent.com/65787629/96193785-d18b1

[2020-10-16 14:04] jkondrat commented on #1238
@johnhbenetech I wonder if we should still add "Directions for download", I can't find them on any mockup

[2020-10-16 14:05] johnhbenetech commented on #1238
@EnriqueCorado what do you think?

[2020-10-16 14:35] EnriqueCorado commented on #1238
@jkondrat @johnhbenetech Let's leave directions out for now

[2020-10-19 11:36] abaranowska1 commented on #1238
**Verified cases:**
- CSV download function and button was added
- After click CSV button, the whole referral history download as a csv file
- @jkondrat please change the CSV button to the pill
![image](https://user-images.githubusercontent.com/61964176/96445102-a3fcdf80-120f-11eb-8494-da3c8447f43c.png)
![image](https://user-images.githubusercontent.com/61964176/96445116-a7906680-120f-11eb-9bcf-ee

[2020-10-19 15:40] johnhbenetech opened #1337 "Allow for enabling referral functionality at the silo level"
Similar to the "public" setting, each silo should have an allow referral setting.

If false, it should hide the referral UI elements from the user. I'm fine with this being a relatively dumb front end only restriction (basically just dont render the 'refer' and referral cart UI elements)

[2020-10-19 16:44] johnhbenetech opened #1338 "Registration 500 error"
Currently I am getting a 500 error on registration on dev

This should be a priority task

[2020-10-19 16:56] johnhbenetech opened #1339 "admin users can't load taxonomy"
When logged in as admin user and viewing a public view of SP page, the taxonomy API errors

[2020-10-19 17:20] johnhbenetech commented on #1338
The registration appears to go through, but the user is afforded an ISE message (as well as in the JS Console) which leads one to believe it failed

[2020-10-20 13:52] awalkowiak commented on #1229
@EnriqueCorado, @johnhbenetech  Should this only affect Service Provider (CBO) View or also the admin/entities view?

[2020-10-20 13:55] johnhbenetech commented on #1229
Service Provider view.

[2020-10-20 16:30] EnriqueCorado opened #1341 "Add functionality to enable and disable referral features to service net"
- Add functionality to enable and disable referral features to service net
- analytics portal should be its own individual fork/branch of nonpublic code

[2020-10-20 16:35] EnriqueCorado opened #1342 "Beneficiary unique identifier"
Currently the UUID (unique ID) looks like this d8e5d573-cd57-4eec-8a34-af93b6e2b194 for Beneficiaries

<img width="335" alt="Screenshot 2020-10-20 123334" src="https://user-images.githubusercontent.com/65787629/96635292-86437f00-12d0-11eb-8e85-38325da40ee1.png">

We want something more user friendly in order for beneficiaries to use this code to check-in for example

As every phone number gets che

[2020-10-20 17:39] EnriqueCorado opened #1343 "Service Net’s Analytics Portal: Main Page"
- The analytics portal should be a separate codebase and website altogether.

- On the home page, have three menu options, Home, Metrics, and Census Overlay
- same style, font, functionality as the service net
- on the right dropdown menu under the username
- only display three options for now, "Setting", "Password", and "Sign out"

Include the title "Welcome to Service Net's Analytics Portal"
- i

[2020-10-20 17:46] EnriqueCorado opened #1344 "Service Net’s Analytics Portal: Metrics Page"
On the metrics page, please add the three following buttons on the top mimicking the referral page on service net

<img width="730" alt="Screenshot 2020-10-20 104544" src="https://user-images.githubusercontent.com/65787629/96624333-74a6ab00-12c1-11eb-9053-b89f9ee18795.png">

<img width="959" alt="Screenshot 2020-10-20 104556" src="https://user-images.githubusercontent.com/65787629/96624378-81c39a0

[2020-10-20 17:53] EnriqueCorado opened #1345 "Service Net’s Analytics Portal: Census Overlay Page"
On census page please just add, for now, a box where we will be able to embed a map
- disregard the menu options (will be later defined)

<img width="721" alt="Screenshot 2020-10-20 105207" src="https://user-images.githubusercontent.com/65787629/96624994-6c02a480-12c2-11eb-804f-1d0db50a74f1.png">

[2020-10-21 06:51] abaranowska1 commented on #1238
**Tested with success**
- CSV button was changed to the pill
![image](https://user-images.githubusercontent.com/61964176/96683204-1c7faf80-137a-11eb-8eb0-ebbb2c82b5ec.png)
- After click CSV button, the whole referral history download as a CSV file

**Verified on:**

- Ubuntu 20.04
- Google Chrome Version 85.0.4183.83
- Mobile 360x640

[2020-10-21 06:51] #1238 closed

[2020-10-21 12:40] abaranowska1 commented on #1338
**Tested with success**
Internal Server Error doesn't occur anymore.
![Peek 2020-10-21 14-38](https://user-images.githubusercontent.com/61964176/96720565-3685b600-13ab-11eb-8041-8c1c9647f689.gif)

[2020-10-21 12:40] #1338 closed

[2020-10-21 13:46] abaranowska1 commented on #1246
**Tested with success**
Home button was added to the header on public view
![image](https://user-images.githubusercontent.com/61964176/96728495-78ffc080-13b4-11eb-82a6-d23044174a79.png)

[2020-10-21 13:46] #1246 closed

[2020-10-22 17:25] johnhbenetech opened #1348 "Investigate loading of taxonomy and geofilter dropdowns"
In investigating the network traffic on opening the filter pane - I'm noticing that the taxonomy and geo API calls often have an empty 'SiloName' parameter. The taxonomy also sometimes has SiloId parameter empty

It appears that sometimes the blank parameter still yields results sometimes - but I'm not sure what's going on specifically

[2020-10-23 08:57] abaranowska1 commented on #1245
**Tested with success**

- on public view the "0.0.1-Snapshot" was removed
- the "About" header is also removed

![image](https://user-images.githubusercontent.com/61964176/96978290-7ae59300-151e-11eb-8fe3-6355a9717dcd.png)

[2020-10-23 08:57] #1245 closed

[2020-10-23 10:04] johnhbenetech commented on #1339
@awalkowiak maybe you can poke at #1348 while you are in this part of the code

[2020-10-23 10:12] abaranowska1 commented on #1337
The possibility to turning on/off referral functionality at the silo level was added to the admin page and works fine in Service Provider View. There is a chance to turn off the referral functionality.
![image](https://user-images.githubusercontent.com/61964176/96988688-f0ecf880-1524-11eb-92bd-e5b703cad882.png)
![image](https://user-images.githubusercontent.com/61964176/96988696-f5b1ac80-1524-11eb

[2020-10-23 10:12] #1337 closed

[2020-10-23 10:34] awalkowiak commented on #1339
@johnhbenetech sure. I'll look into it.

[2020-10-23 12:41] abaranowska1 commented on #1208
@jkondrat
1. When the number is invalid the Internal Server Error is thrown, plz change the notification
![Peek 2020-10-23 13-29](https://user-images.githubusercontent.com/61964176/97002805-cad25300-153a-11eb-9bfe-17f77f41f4bb.gif)
![Peek 2020-10-23 13-28](https://user-images.githubusercontent.com/61964176/97002810-cc038000-153a-11eb-92f1-ff744cc0b324.gif)

**Verified cases:**
- I made a check in

[2020-10-23 13:01] abaranowska1 commented on #1237
@awalkowiak
It looks like Organizations with Waiting for Arrival status are not displayed on the Number of Referrals page and CSV file.

![image](https://user-images.githubusercontent.com/61964176/97006563-57cbdb00-1540-11eb-9954-2b0c9cab4a71.png)
![image](https://user-images.githubusercontent.com/61964176/97006573-5ac6cb80-1540-11eb-8a45-c8bcf2d2b349.png)

[2020-10-23 20:52] sidmundhra opened #1349 "ServiceNet Analytics Portal: Census Overlay Page"
## Census Overlay Tasks

### Purpose (Why)
The Census Overlay is a page where Users can see demographic information in a visual form on a map. Eventually, this page will reach a stage where we can upload information from ServiceNet to see how the demographic information correlates with the ServiceNet data.

For example, if a certain county has a high amount of population in poverty and only one fo

[2020-10-26 13:03] awalkowiak commented on #1237
@abaranowska1 everything seems to be working for me. You could't see any referrals made to with 'waiting for arrival' status for this user's orgs because there were no waiting referrals to this user. I went to 'bognaprov' user and I made a referral to org from 'provider' user's organization and now there is 'Waiting for arrival' record. Seems to be working.

[2020-10-26 13:29] abaranowska1 commented on #1237
@awalkowiak
I confirmed that I can see also Organizations with 'waiting for arrival' status, I picked the wrong Organization. Thanks for the explanation of this task.
![image](https://user-images.githubusercontent.com/61964176/97178089-50ead580-1797-11eb-8171-27b6eccab03a.png)

**Tested with success**
- Number of Referrals Made page was created. Filters are working fine and Organizations are displ

[2020-10-26 13:29] #1237 closed

[2020-10-26 14:11] abaranowska1 commented on #1229
**Tested with success**
Time is changed to 12-hour am-pm clock on all records system-wide (Provider View)
![Selection_241](https://user-images.githubusercontent.com/61964176/97183022-8eeaf800-179d-11eb-889f-f4a551589c85.png)
![Selection_240](https://user-images.githubusercontent.com/61964176/97183027-8f838e80-179d-11eb-95fe-bbaab03f7a5e.png)
![Selection_239](https://user-images.githubusercontent.c

[2020-10-26 14:12] #1229 closed

[2020-10-26 21:15] sidmundhra opened #1351 "ServiceNet Web Platform: Initial loading of Map View on Web platform."
Use Case: This task defines the initial loading of Map view on the Web platform of ServiceNet

## Full Mockup
![Desktop - 1SN_Public_map_view_cropped](https://user-images.githubusercontent.com/12637929/97229254-6fa89680-17ae-11eb-8bd8-c4b9a2dc6191.png)

The Above mockup shows the ServiceNet Map View for web platform for public view in context.

### Notable Changes from the mockup
- The 'Search Thi

[2020-10-27 13:53] abaranowska1 commented on #1339
**Tested with success**
No errors are generated when you are logged in as adminuser and view the public view of the SP page.
![image](https://user-images.githubusercontent.com/61964176/97310852-03886a00-1864-11eb-86a6-f9841a6e684d.png)

[2020-10-27 13:53] #1339 closed

[2020-10-27 14:47] abaranowska1 commented on #1208
**Tested with success**
Pop up message was changed from Internal Server Error to " The phone number is invalid "
![image](https://user-images.githubusercontent.com/61964176/97317896-9973c300-186b-11eb-8724-77c1e3f9c1e7.png)

[2020-10-27 14:59] EnriqueCorado opened #1354 "Remove Double Header of Home on Public SN"
Remove Double Header of Home on Public SN
- Just keep the Home option near the benetech logo and use the same font and style as the CBO interface header look

<img width="958" alt="Screenshot 2020-10-27 075834" src="https://user-images.githubusercontent.com/65787629/97319600-4594ba00-182a-11eb-884d-3ebe554a445e.png">

[2020-10-27 15:06] abaranowska1 commented on #1348
**Tested with success**
- I see that now location and taxonomy dropdowns display also data from Eden Organizations
- Filters works without issue, it is possible to filter data also from Eden Organization
- Eden Organizations are displayed on the Map view as well
![Screenshot_2020-10-27_15-48-40](https://user-images.githubusercontent.com/61964176/97319626-59addb00-186d-11eb-8a64-9282046d61c7.png)
!

[2020-10-27 15:06] #1348 closed

[2020-10-27 20:01] johnhbenetech opened #1355 "Investigate 'Untyped' taxonomy terms in SP view"
On some records from linked partner sets (UWBA for instance) services will sometimes display 'Untyped' for service type.

examples on this record:
https://servicenet.benetech.org/#/public/OCOF/single-record-view/7888135e-b4a8-4ff1-858b-95ac65695ae5

In the database it seems to be driven by having no records in service_taxonomy for those services.

Instead of showing a pill with untyped. Can we dis

[2020-10-27 20:06] johnhbenetech opened #1356 "Reevaluate taxonomy filter loading method on ServiceProvider views"
Currently in a ServiceProvider view with linked records from a partner dataset (UWBA, Eden, etc) the taxonomy filter only loads the terms for the ServiceProvider taxonomy. As a result there is no way to filter linked records.

Ideally my desired end state is as follows:

As a user on ServiceProvider view (authenticated or public view) I want the taxonomy filter dropdown to be populated by taxonomy

[2020-10-28 10:03] awalkowiak commented on #1356
@johnhbenetech could you give an example of a linked organization for which you are having this issue? For the organization from Eden (MidPen Housing) we can see its taxonomy on the filter list.

[2020-10-28 10:57] johnhbenetech commented on #1356
https://servicenet.benetech.org/#/public/OCOF/single-record-view/7888135e-b4a8-4ff1-858b-95ac65695ae5

See the services with type 'VITA Programs'

This do any appear in the filter @awalkowiak

[2020-10-28 11:06] awalkowiak commented on #1356
@johnhbenetech thanks

[2020-10-28 11:15] johnhbenetech commented on #1356
@awalkowiak and that's running the latest code and everything, so hopefully you can look at the API requests/responses and.see if anything looks off

[2020-10-28 17:32] jkondrat opened #1357 "Create integrational tests for Referrals and Beneficiaries"
It would be nice to have integration tests for Referral and Beneficiary resources.

[2020-10-28 19:12] EnriqueCorado opened #1359 "SN Registrations/Logins must go through captcha"
Please add a captcha pop up after a user registers and logs in

- one place where we can get this is from https://developers.google.com/recaptcha/intro
- the documentation and code snippets are there

<img width="1292" alt="Screenshot 2020-10-28 120917" src="https://user-images.githubusercontent.com/65787629/97484761-6c301f00-1916-11eb-8c30-36a77091b4c9.png">

[2020-10-29 08:06] abaranowska1 commented on #1327
**Tested with success**
- The new homepage layout looks similar to the mockup.
- The search bar moved from the top of the page to underneath 'Refer Elsewhere' section
- The progress bar was removed from the homepage
![image](https://user-images.githubusercontent.com/61964176/97541264-24b49c00-19c5-11eb-87e3-83f3464def72.png)
**Verified on:**
- Ubuntu 20.04
- Mobile 360x640
- iPhone X

[2020-10-29 08:06] #1327 closed

[2020-10-29 08:20] abaranowska1 commented on #1329
**Tested with success**
- The new homepage layout looks similar to the mockup.
- The search bar moved from the top of the page to the big pill button
- The progress bar was removed from the homepage
![image](https://user-images.githubusercontent.com/61964176/97542855-bfae7580-19c7-11eb-8ef9-d16df9de15bf.png)

**Verified on:**
- Ubuntu 20.04
- Mobile 360x640
- iPhone X

[2020-10-29 08:20] #1329 closed

[2020-10-29 08:33] abaranowska1 commented on #1328
**Tested with success**
When a user from CBO logs in to ServiceNet and taps the search bar to search for services, the page is auto scrolled to the refer elsewhere section and the page is overlaid by a black tint highlighting only the search bar.

![image](https://user-images.githubusercontent.com/61964176/97544003-49ab0e00-19c9-11eb-8b21-7b8c9af3ceba.png)

**Verified on:**
- Ubuntu 20.04
- Mobile

[2020-10-29 08:33] #1328 closed

[2020-10-29 08:38] abaranowska1 commented on #1330
**Tested with success**
When a user interacts with ServiceNet on Mobile and taps the search bar to search for services, the page is overlaid by a black tint highlighting only the search bar.

![image](https://user-images.githubusercontent.com/61964176/97544424-df469d80-19c9-11eb-8e27-0a7fe495fd70.png)

**Verified on:**
- Ubuntu 20.04
- Mobile 360x640
- iPhone X

[2020-10-29 08:38] #1330 closed

[2020-10-29 09:01] abaranowska1 commented on #1191
@jkondrat
I met an interesting issue with the search bar, could you take a look at it?
![Peek 2020-10-29 09-52](https://user-images.githubusercontent.com/61964176/97546600-f470fb80-19cc-11eb-8fc1-5bf62adb6c6a.gif)
My steps:
1. Log in as provider
2. Click load more button
3. Search for an organization that I know is not here for example VOLUNTEER INCOME TAX ASSISTANCE (VITA)
4. Click "x" icon and r

[2020-10-29 12:50] abaranowska1 commented on #1355
I check it on staging instance and now I see that the untyped pill is changed to the text: "No service type found" and after 1-2 sec all service types are displayed.
![Peek 2020-10-29 13-43](https://user-images.githubusercontent.com/61964176/97575880-b1735000-19ed-11eb-9451-bb83d3c042c6.gif)

[2020-10-29 13:21] abaranowska1 commented on #1356
It is hard to reproduce it for me, but when I check it on my Silo with Eden Organizations I can see all taxonomies in the drop-downs
![Peek 2020-10-29 14-20](https://user-images.githubusercontent.com/61964176/97579215-13ce4f80-19f2-11eb-8989-38c5ebdc975a.gif)

[2020-10-29 13:22] #1356 closed

[2020-10-29 13:22] #1355 closed

[2020-10-30 09:38] abaranowska1 commented on #1311
**Tested**
- Dropdowns with multiple locations were added to the referral page
![image](https://user-images.githubusercontent.com/61964176/97688565-91e63100-1a9a-11eb-88c0-d93a3c6f4be6.png)
- It is a chance to pick the proper location when the Organization has more than one address
- From Location and To Location  fields are filled on the Entity Referral Page
![image](https://user-images.githubuse

[2020-10-30 12:15] abaranowska1 commented on #1191
- The page is scrolled to the search bar position after click the search field
- Issue with displaying wrong Organizations was fixed
- Now we have only one search bar below the Refer Elsewhere section
![Peek 2020-10-30 13-11](https://user-images.githubusercontent.com/61964176/97703814-8d794280-1ab1-11eb-9e46-faa82f61e13c.gif)

[2020-10-30 12:15] #1191 closed

[2020-11-02 10:21] abaranowska1 commented on #1311
**Tested with success**

- Dropdowns with multiple locations were added to the referral page
- It is a chance to pick the proper location when the Organization has more than one address
- From Location and To Location fields are filled on the Entity Referral Page
- Mobile issues were fixed, now the remove button is smaller, and mostly the whole content is on the one page
![image](https://user-imag

[2020-11-02 10:21] #1311 closed

[2020-11-02 10:48] abaranowska1 commented on #1273
**Tested with success**
The performance of get-taxonomies is changed from more than 1s to 400-500 ms.
![image](https://user-images.githubusercontent.com/61964176/97859712-4a151300-1d01-11eb-9485-8647a1ccb274.png)

[2020-11-02 10:48] #1273 closed

[2020-11-02 12:58] jkondrat commented on #1316
@kkaczmarczyk @johnhbenetech I don't see any issues in these 3 repos - am I missing something?

[2020-11-02 16:36] johnhbenetech opened #1362 "Investigate taxonomy terms shown with no results"
* On dev server, create a user on existing silo 'Eden Silo'.
* Log in to SP view and explore taxonomy filter dropdown - see one listed as 'Free Meals'
* Selecting this filter yields no results

Expectation:
* No taxonomy term should be listed if no attached services/orgs exist in that silo

More details for dev server:

taxonomy id:
b001adc7-07a5-4100-87c2-b017c56dfb08

attached services:
f7b9c660

[2020-11-02 16:41] johnhbenetech commented on #1182
@sidmundhra @EnriqueCorado can we close these out if they no longer relevant?

[2020-11-02 16:41] johnhbenetech commented on #1213
@sidmundhra @EnriqueCorado can we close these out if they no longer relevant?

[2020-11-02 16:43] johnhbenetech commented on #1332
@EnriqueCorado What's the user story for this? what's the value

[2020-11-02 16:44] johnhbenetech commented on #1341
This is being closed as it is handled in another task. At this time we are not separating out any code/codebase but instead adding silo-level settings

[2020-11-02 16:45] #1341 closed

[2020-11-02 16:45] sidmundhra commented on #1213
yes. closing this.

[2020-11-02 16:45] #1213 closed

[2020-11-02 16:46] #1182 closed

[2020-11-02 16:46] johnhbenetech commented on #1359
Looking for recommendation from dev team on v3 vs v2 captcha. My understanding is v3 can be made invisible to the user, but not sure of how that might work within the context our site specifically

[2020-11-02 18:49] johnhbenetech commented on #1321
@EnriqueCorado Any thoughts about if the service is virtual but website is blank? What should we display in the location card?

[2020-11-02 19:27] EnriqueCorado commented on #1321
@johnhbenetech

We can have automated options for different cases:

Case #1 There exists a phone number, email, but no website
Option 1: Add emphasis on the phone number, bolded
Option 2: simply add a fill-in text that says "Please call for more information regarding this virtual service" + "Please email ___@__.com for more information for this virtual service"
**Option 2 is the best**

Casse #2:

[2020-11-03 09:10] abaranowska1 commented on #1331
- The initial map view loads at San Francisco
- The map can be moved by one-finger interaction
- The 'search this area' button was moved to the bottom
- @jkondrat The sort, filter, and list view toggle buttons are not part of the search bar section, there are not visible
![image](https://user-images.githubusercontent.com/61964176/97966461-282c9680-1dbc-11eb-86fa-de6c8725ef9d.png)

[2020-11-03 09:51] #1315 closed

[2020-11-03 10:12] abaranowska1 commented on #1331
@johnhbenetech @sidmundhra
Which button view do you prefer and should the buttons stay while scrolling or not?
| ![image](https://user-images.githubusercontent.com/61964176/97972092-4e563480-1dc4-11eb-9717-0171f625ee6b.png) | ![image](https://user-images.githubusercontent.com/61964176/97972099-51512500-1dc4-11eb-90e4-1b43aaeb6320.png) |
| ---      | ---       |

[2020-11-03 22:15] johnhbenetech opened #1364 "Allow unauthenticated access to API documentation"
Is their any risk to making the /#/admin/docs endpoint available to unauthenticated users?

I still don't want them to be able to do anything (no REST verbs), but it would be useful to show prospective integration partners an idea of our architecture without giving them admin access.

I'm fine moving it to a different endpoint /api/docs or whatever.

Or let me know if there already exists an unaut

[2020-11-03 23:21] johnhbenetech opened #1365 "Prepare for deprecation of GitHub action functions"
Might as well get ahead of this, but it seems like there will be an upcoming deprecation of add-path and set-env for workflow actions:

https://mspoweruser.com/googles-project-zero-strikes-again-release-details-of-github-zero-day-flaw/

[2020-11-04 08:12] #1316 closed

[2020-11-04 08:12] #1305 closed

[2020-11-04 13:55] abaranowska1 commented on #1247
@awalkowiak Plz check why after load the public view homepage, we cannot scroll the page.
![Peek 2020-11-04 14-48](https://user-images.githubusercontent.com/61964176/98119841-75d4fc00-1ead-11eb-965a-c93d5fa6786e.gif)
When I change the grid view to list view and map view the whole functionality works as expected.

[2020-11-04 14:06] abaranowska1 commented on #1232
**Tested with success**
The Map View, Grid View, List View buttons were merged into one big button on web and mobile.
![image](https://user-images.githubusercontent.com/61964176/98120805-bb45f900-1eae-11eb-9d80-5d240de11021.png)
![image](https://user-images.githubusercontent.com/61964176/98121261-5b9c1d80-1eaf-11eb-92fc-ba5e4224a07c.png)

[2020-11-04 14:09] #1232 closed

[2020-11-04 14:18] jkondrat commented on #1342
@EnriqueCorado @johnhbenetech I think it would be better to ignore the casing of characters - users might get confused with AA000 and Aa001 being different ids. With two letters and three numbers, we get 676.000 unique combinations, if we use lower and uppercase letters it's 2.704.000 ids.

What do you think about alphanumeric ids? It's much easier to generate and handle these ids, this would be b

[2020-11-04 14:25] johnhbenetech commented on #1331
@sidmundhra can you answer

[2020-11-04 15:27] EnriqueCorado commented on #1342
@jkondrat

let's go with alphanumeric so it is easier to generate and handle ids. Thank you

[2020-11-04 16:46] johnhbenetech commented on #1331
@jkondrat @abaranowska1 Lets go with the rounded corner approach.

The top section should remain static at the top and should not scroll with the page

[2020-11-05 12:39] abaranowska1 commented on #1362
**Tested with success**
Only taxonomies from one silo are displayed on filters dropdowns. I checked that for example in EdenSilo there are no taxonomies from another silo with no results.
**Verified on:**
- Ubuntu 20.04
- Google Chrome Version 85.0.4183.83

[2020-11-06 10:31] abaranowska1 commented on #1331
**Tested with success**
The top section stays static and is not scrolled with the page.
![image](https://user-images.githubusercontent.com/61964176/98356141-6ecffa00-2023-11eb-99ef-cd4bb3771544.png)

[2020-11-06 11:53] abaranowska1 commented on #1247
**Tested with success**
Public home page and Standard Service Provider View load automatically after scroll.
![Peek 2020-11-06 12-50](https://user-images.githubusercontent.com/61964176/98363137-c58f0100-202e-11eb-8b17-004d3bd56e65.gif)
**Verivied on:**
- Ubuntu 20.04
- Google Chrome Version 85.0.4183.83

[2020-11-06 11:53] #1247 closed

[2020-11-06 11:54] #1362 closed

[2020-11-06 17:27] abaranowska1 commented on #1342
**Tested with success**
- Now Unique ID's were created.
- There is a chance to see the new ID in the Beneficiary History table.
- If the Phone Number and ID are valid the Referral functionality works without issue.
![image](https://user-images.githubusercontent.com/61964176/98396022-65638380-205d-11eb-81ab-6e48e16c8770.png)

[2020-11-06 17:27] #1342 closed

[2020-11-06 18:33] EnriqueCorado commented on #1210
good. release

[2020-11-06 18:34] EnriqueCorado commented on #1206
good. release

[2020-11-06 18:47] EnriqueCorado commented on #1214
good. release

[2020-11-06 18:53] EnriqueCorado commented on #1247
good. release

[2020-11-06 19:11] EnriqueCorado commented on #1311
good, release

[2020-11-06 19:13] EnriqueCorado commented on #1229
good. release

[2020-11-06 19:14] EnriqueCorado commented on #1237
good. release

[2020-11-06 19:16] EnriqueCorado commented on #1245
good. release

[2020-11-06 19:19] EnriqueCorado opened #1370 "Public View Header "Home" and "Feedback" change"
Current view of public view header

<img width="944" alt="Screenshot 2020-11-06 111838" src="https://user-images.githubusercontent.com/65787629/98405857-d5541880-2021-11eb-9816-ff9f25ec96d9.png">

Please match the header, font, color, and remove underline on public view to the one of the CBO

<img width="936" alt="Screenshot 2020-11-06 111903" src="https://user-images.githubusercontent.com/6578762

[2020-11-06 19:23] EnriqueCorado commented on #1246
change tasked on #1370

[2020-11-06 20:31] EnriqueCorado opened #1371 "CSV Download Names"
Fo referral history CSV download change the download name to"Beneficiary_Referral_History _dateOfDownload"
Ex "Beneficiary_Referral_History _11-6-20"

 For "All Referral Made To History" change the download name to "#_Referrals_Made_From_(add the specific organization name)"
Ex (#_Referrals_Made_From_EPA_Food_Pantry)

For "All Referral Statuses" change the download name to "Referrals_Made_To_Us__d

[2020-11-06 20:32] EnriqueCorado commented on #1238
changes to CSV download names have been tasked on #1371

[2020-11-06 20:34] EnriqueCorado commented on #1200
good. release

[2020-11-09 07:11] abaranowska1 opened #1372 "Regression testing 11-09-2020 - milestones 2.5 - 2.8"
After one month from previous regression testing, it is important to check thoroughly if every functionality and feature works as expected.

The regression test suite contains all tests designed for this moment.

Link to the test suite:
https://docs.google.com/spreadsheets/d/1Kq5UBujwtIpBdNqXLNU7uWFMXd59bLpGkM_YJjMlRbA/edit#gid=0

**ACC**

- All test cases from the list are performed
- Report is c

[2020-11-09 08:18] abaranowska1 opened #1373 "Remove "0.0.1-SNAPSHOT" from the header on Home Page and old SN View"
After removing "About us" from the header and moving it to the footer, in my opinion, we should remove "0.0.1-SNAPSHOT" from the header on Home Page and old SN View
![image](https://user-images.githubusercontent.com/61964176/98516500-dfb62280-226c-11eb-98a3-06f9d330e48b.png)
![image](https://user-images.githubusercontent.com/61964176/98516547-f3618900-226c-11eb-9c70-a470e983b3b5.png)

[2020-11-09 09:03] abaranowska1 opened #1374 "Investigate performance issue after dismissing the records from multi-record-view"
During regression testing, I met an issue with loading the page after dismissing the record. It takes around 30s which is too long.
![Peek 2020-11-09 10-00](https://user-images.githubusercontent.com/61964176/98520828-e9428900-2272-11eb-931c-d0bc80491a3d.gif)
![image](https://user-images.githubusercontent.com/61964176/98521118-51916a80-2273-11eb-99ff-616f63ad086f.png)

Note: It should be an organiz

[2020-11-09 09:14] abaranowska1 opened #1375 "The spinner icon should spin until all records are loaded"
After I scroll the scroll bar I should see the spinner icon which spins in the middle below the records until all records are loaded.
![Peek 2020-11-09 10-12](https://user-images.githubusercontent.com/61964176/98522670-43dce480-2275-11eb-89b5-fa011f91e6ba.gif)

[2020-11-09 15:53] sidmundhra commented on #1331
@johnhbenetech @jkondrat : tested this on Safari. iPhone 11. iOS 14.2

The map view doesn't load the map. Screenshots below.

![IMG_8863](https://user-images.githubusercontent.com/12637929/98563926-bea7fe80-2279-11eb-97b4-2df4efee09f8.PNG)
![IMG_8862](https://user-images.githubusercontent.com/12637929/98563930-bfd92b80-2279-11eb-8672-d9402742dbaf.PNG)

[2020-11-09 15:55] sidmundhra commented on #1232
this looks good. Confirm for release.

[2020-11-09 15:56] sidmundhra commented on #1330
this looks good. Works as intended. Confirm for release.

[2020-11-09 15:57] sidmundhra commented on #1329
This looks good. Works as intended. Confirm for release.

[2020-11-09 15:58] sidmundhra commented on #1327
This looks good. Works as intended. Confirm for release.

[2020-11-09 15:59] sidmundhra commented on #1180
This looks good. Works as intended. Confirm for release.

[2020-11-09 16:07] johnhbenetech commented on #1331
@jkondrat seems to be okay on desktop Safari, but i confirm not working on mobile safari

[2020-11-09 17:27] johnhbenetech commented on #1331
@jkondrat alright, nevermind it randomly started working again - who knows

@abaranowska1 I guess maybe check on mobile safari again to see if it works for you as well. I also notice a few responsiveness issues on public view, map view card - so maybe you can break those out into tasks with the regression

[2020-11-09 18:31] johnhbenetech opened #1376 "Improve docker swarm resiliency for all containers"
Based on the consul failure to restar issuet, investigate healthcheck/swarm policies to prevent downtime

[2020-11-09 22:15] sidmundhra commented on #1191
This looks good. Works as intended. Good for release.

[2020-11-10 09:04] abaranowska1 commented on #1331
@jkondrat It also doesn't work on my iPhone X, iOS 14.1, Safari browser.
@johnhbenetech Sure, I will check it and break into tasks during regression

[2020-11-10 10:23] awalkowiak commented on #1227
@jkondrat @awalkowiak Dev notes: Let's use this ticket to also unify headers for each user because we have two components for the header. After this ticket, we should have one header component with unified styling for all pages (public or not) and users.

@sidmundhra @EnriqueCorado @johnhbenetech if admin user goes from his home page to the public view, what items in the header should he see? The

[2020-11-10 10:36] awalkowiak commented on #1370
@EnriqueCorado We are gonna unify everything related to header components in #1227. This ticket will be also handled there.

[2020-11-10 10:36] #1370 closed

[2020-11-10 12:27] abaranowska1 opened #1377 "Map View card - UI issue on mobile"
As you can see on the screenshot there is an issue with the card on the mobile map view.
- The direction button is too close to the hour and
- Search this area button shouldn't be displayed on the card.

![image](https://user-images.githubusercontent.com/61964176/98674048-888d7c00-2358-11eb-9c40-8eec809b45c4.png)

[2020-11-10 12:33] abaranowska1 opened #1378 "Investigate the issue with displaying the map on iOS mobile device"
There is an issue with displaying map on mobile with iOS. I cannot load the map on Brave and Safari browsers using my iPhone X with iOS 14.1.
![image](https://user-images.githubusercontent.com/61964176/98675220-3f3e2c00-235a-11eb-9c02-d729a58150a2.png)

[2020-11-10 12:40] johnhbenetech commented on #1227
@awalkowiak I think they should see the generic header that everyone else sees on public view (like in #1370)

[2020-11-10 14:20] sidmundhra commented on #1179
This looks good. Works as intended. Confirm for release.

[2020-11-10 17:06] johnhbenetech commented on #1377
@sidmundhra @MeenakshiP As a result of the design change in #1331 the 'search this area' button is now colliding with  the organization card on map view.

Should we just obscure the button behind the card? Is there another design you would like to explore?

[2020-11-12 10:02] abaranowska1 opened #1379 "Internal Server Error is thrown when External Database Id is not unique on Taxonomy Entity Creation page"

[2020-11-12 11:01] awalkowiak opened #1380 "Add integration tests for displaying taxonomies in SP filters"
Add integration tests for taxonomies endpoints used in the Service Provider and Public views. (cover all the cases from the taxonomy repository)

dev note: consider all 4 cases

[2020-11-12 11:06] awalkowiak opened #1381 "Investigate randomly failing tests on Travis due to maven dependency failures"
Investigate the reason behind tests on Travis failing randomly (either duo to a maven dependency failures or a liquibase schema reference issues).
Example stack trace:
`2020-11-06 15:00:10.913 ERROR 4659 --- [           main] o.s.test.context.TestContextManager      : Caught exception while allowing TestExecutionListener [org.springframework.test.context.web.ServletTestExecutionListener@3585cc9f]

[2020-11-12 12:42] abaranowska1 opened #1382 "The issue with displaying map and cards on the map view"

[2020-11-12 14:03] abaranowska1 opened #1383 "The issue with displaying the last records on Beneficiary Entity page"

[2020-11-12 17:41] #1312 closed

[2020-11-12 20:51] johnhbenetech opened #1385 "Referrals fail to send"
Steps to reproduce (edensilo on dev):

* Add an org to referrals by clicking 'refer' button
* Go to referral tab, and choose location from dropdown
* Enter phone number
* Hit send

Result: nothing happens
Expect: SMS to send and referral to be submitted

JS Console output:
![image](https://user-images.githubusercontent.com/12927553/98995263-b4466880-24f6-11eb-90cb-7be507a08250.png)

[2020-11-12 22:31] johnhbenetech opened #1386 "Investigate repeated consul? failures on dev"
I believe there to be an issue where possibly the consul container is nonfunctioning but fails to restart itself

On dev i currently cant register with the following error:

Exception in org.benetech.servicenet.service.UserService.registerUser() with exception = '{}'

com.netflix.hystrix.exception.HystrixRuntimeException: ServiceNetAuthClient#registerUser(UserRegisterDTO) timed-out and no fallback

[2020-11-12 22:41] johnhbenetech commented on #1208
Possibly related to #1385, the check in form seems to be broken. Regardless of entry on phone or unique ID, the send button never seems to become active for submission

[2020-11-12 23:45] EnriqueCorado opened #1387 "UUID Static per phone number"
**check-in UUID adds a +1
on referrals, it adds a 1
creating two distinct UUIDs for one number**

- UUID should be static per phone number

<img width="371" alt="Screenshot 2020-11-12 154247" src="https://user-images.githubusercontent.com/65787629/99009996-f626dd00-24fd-11eb-8910-d25e8eba9b5f.png">

![Image from iOS](https://user-images.githubusercontent.com/65787629/99010011-fc1cbe00-24fd-11eb-9f

[2020-11-13 00:25] johnhbenetech commented on #1208
I think both #1208 and #1385 are caused by the case where a user only owns 1 record

The dropdown for organization selection doesnt render (which makes sense since there would only be one option) but that also seems to prevent the send button from being enabled

[2020-11-13 00:26] johnhbenetech commented on #1385
I think both #1208 and #1385 are caused by the case where a user only owns 1 record

The dropdown for organization selection doesnt render (which makes sense since there would only be one option) but that also seems to prevent the send button from being enabled

[2020-11-13 08:43] abaranowska1 commented on #1385
@johnhbenetech
I check the situation when the user has only 1 own record and in this case, I cannot send a referral
![Peek 2020-11-13 09-37](https://user-images.githubusercontent.com/61964176/99047531-a0514400-2594-11eb-9d76-e07e9c505d17.gif)

[2020-11-13 08:55] abaranowska1 opened #1388 "The first created organization is not displayed in the "Your records" carousel"

[2020-11-13 12:03] jkondrat commented on #1386
@johnhbenetech It turns out that the exception wasn't caused by consul failure - the registration request going from core to auth took more than a second, so it timed out. I will increase the timeout to 10s (seems like this was a recommended value)

[2020-11-13 12:04] awalkowiak commented on #1208
@johnhbenetech I'll investigate it together with #1385

[2020-11-13 12:06] johnhbenetech commented on #1386
@jkondrat do you think this was also the cause of why the dev server couldn't be logged into last week? Or is that still a consul health check issue?

[2020-11-13 12:27] jkondrat commented on #1386
@johnhbenetech The downtime last week was caused by consul, none of the services could connect to it. When that happens again, I'll try to find out why it crashes in the first place. For now, we can add some health checks

[2020-11-13 12:28] johnhbenetech commented on #1386
@jkondrat would you like to do that as part of this task? If not please break out a new task in tech debt

[2020-11-13 13:13] abaranowska1 opened #1390 "Address2 is not used in geocoding"

[2020-11-13 13:14] jkondrat commented on #1376
the healthcheck for consul will be added in #1386

[2020-11-13 14:49] abaranowska1 commented on #1388
@johnhbenetech @awalkowiak I think I found a reason for this issue. User alaprov1 is assigned to EdenSilo and qa group, but qa group has Silo1 set. When I remove a user gropup for alaprov1 user I can create and see all organizations.
![image](https://user-images.githubusercontent.com/61964176/99083662-2043d200-25c6-11eb-8622-8cb6e212d548.png)
But I have a question, which silo should be considered

[2020-11-13 14:50] johnhbenetech commented on #1388
@abaranowska1 thanks. Interesting case. I'll have to think about it a bit so I'll move this back to backlog for now

[2020-11-13 14:53] johnhbenetech commented on #1377
@sidmundhra @EnriqueCorado can someone chime in on this?

[2020-11-13 15:48] EnriqueCorado commented on #1377
Let's move the "Search this area"

<img width="356" alt="Screenshot 2020-11-13 074817" src="https://user-images.githubusercontent.com/65787629/99091365-a0e1de80-2584-11eb-940b-e90b3bf52dbc.png">

[2020-11-13 17:29] EnriqueCorado opened #1392 "Beneficiary check in and referral notification of missing info to fill"
**Instead of having the send button be grey until all necessary information is filled out**
- make the button clickable like the registration (screenshot 2)  to inform the user of what is missing, instead of having the user wonder why the 'Send' button isn't "working"
- Simply add the same style of the red border around the cells missing information
- Add the same border and idea to the referral s

[2020-11-13 17:40] EnriqueCorado commented on #1198
further changes defined in #1392

[2020-11-13 20:46] EnriqueCorado opened #1393 "UUID name change systemwide"
Change "Unique Identifier" to "Service Net ID" system-wide
- On check-in/referral CBO interface
- On the SMS that is sent to users

[2020-11-13 21:21] EnriqueCorado opened #1394 "Check in and referral display changes"
**tasks build on from 1392**
**for check-in**
- add label "Beneficiary Information"
- have "Enter Phone Number" and "Enter Service Net ID" in one line as below so it is clearer for the user to know that they can enter either phone or ServiceNetID
- add a label for "Organization"
- Keep current "Select Organization to Check-In" as changes to that will follow in an upcoming task
- please make labels

[2020-11-13 21:36] EnriqueCorado opened #1395 "Records carousel functionality"

[2020-11-16 09:29] abaranowska1 commented on #1354
**Tested with success**
- Double Header of Home on Public SN View was removed
- The font was changed and now public and standard SP View look the same
![image](https://user-images.githubusercontent.com/61964176/99235839-a8102300-27f6-11eb-8432-c5a906904668.png)

[2020-11-16 09:30] #1354 closed

[2020-11-16 10:35] abaranowska1 commented on #1351
**Tested with success**
When we changed the view to the map view the map is automatically zoomed to San Francisco and services near this area are displayed.
![image](https://user-images.githubusercontent.com/61964176/99241342-07bdfc80-27fe-11eb-926f-d916110c6ef3.png)
![image](https://user-images.githubusercontent.com/61964176/99241360-0e4c7400-27fe-11eb-8501-db5c57deaa20.png)

[2020-11-16 10:35] #1351 closed

[2020-11-16 11:28] abaranowska1 commented on #1378
@jkondrat Still I cannot see the map view on my iPhone X

[2020-11-16 11:35] abaranowska1 commented on #1382
**Tested with success**
- The map is displayed even resize the screen
- All cards are displayed correctly, both with short and long daily update

![Peek 2020-11-16 12-34](https://user-images.githubusercontent.com/61964176/99248009-1c06f700-2808-11eb-8cb6-ead2bb95da87.gif)

[2020-11-16 13:10] abaranowska1 commented on #1385
**Tested with success**
When the user is an owner only one Organization now "Send" buttons are active. I can do a check-in and referral. Records are displayed in the Beneficiary History table.
![Peek 2020-11-16 13-07](https://user-images.githubusercontent.com/61964176/99255475-452d8480-2814-11eb-9542-506628ae752e.gif)
Tested together with #1208

[2020-11-16 13:10] #1385 closed

[2020-11-16 13:11] #1208 closed

[2020-11-16 13:11] abaranowska1 commented on #1208
Tested together with #1385

[2020-11-16 13:31] abaranowska1 commented on #1331
It will be tested together with #1378

[2020-11-16 14:32] abaranowska1 commented on #1359
**Tested with success**
Captcha algorithm was added to the SN Registrations/Logins pages
![image](https://user-images.githubusercontent.com/61964176/99264322-980d3900-2820-11eb-99ba-b507cc26cc4e.png)

Example from my phone:
![image](https://user-images.githubusercontent.com/61964176/99264211-71e79900-2820-11eb-8e7a-952bf72c7084.png)

[2020-11-16 16:34] sidmundhra commented on #1351
looks good. Works as intended.

[2020-11-16 18:53] EnriqueCorado opened #1396 "Referral Page auto load location if only one exists"
On the referral page, if the organization the user is referring to only has *one location, automatically load it on the location dropdown
-

<img width="958" alt="Screenshot 2020-11-16 105200" src="https://user-images.githubusercontent.com/65787629/99295076-ce838d80-27f9-11eb-80ef-d0527d951a5f.png">

[2020-11-16 18:55] EnriqueCorado opened #1397 "Referral Send Button not allow referral send SMS if not all locations are filled out"
- Tested only filling in two locations, added phone number, clicked send, and referral sent **Without ** filling in the third location

<img width="960" alt="Screenshot 2020-11-16 105343" src="https://user-images.githubusercontent.com/65787629/99295298-1b676400-27fa-11eb-8f39-18e5f19d0431.png">

- Keep the send button clickable, but if a location is not selected, add a red box around it so users c

[2020-11-16 22:10] EnriqueCorado opened #1398 "Sign in/Register Page Changes"
**Desktop Sign in View**
- Center Sign in on the top header
- Remove the "Did you forget your password?" box and simply add "Forgot Password" aligned right to "Remember me"
- Turn the color of "register a new account" to black
- Remove the "Cancel" button
- Center "Sign-in" button: keep color, font, size
- add the Captcha icon aligned right of the sign-in button
- remove excess white space leftove

[2020-11-16 22:20] EnriqueCorado commented on #1359
on the sign-in popup, if you refresh the page the captcha icon loads on top of the sign-in button. potential bug on website reload

[2020-11-16 23:00] EnriqueCorado opened #1399 "Public and CBO map change"
**Public View and CBO view**
- Make the tree icons individually clickable instead of clicking three times to go back to the grid view

<img width="61" alt="Screenshot 2020-11-16 150050" src="https://user-images.githubusercontent.com/65787629/99318429-87f35a80-281c-11eb-88c4-0435a7916c52.png">

- Map should not take over the whole page, have the map popup on the right side and let it take up the si

[2020-11-16 23:30] EnriqueCorado opened #1400 "SP Refer to only orgs currently affiliated with Service Net"
- All records that are not affiliated with Service Net should not show up on the records for referral

Use case: Food pantry affiliated with Service Net refers to a shelter who has no idea what to do with a Service Net Id/check-in/referral
- the referral tracking will be full of unfinished referral loops

[2020-11-17 10:59] abaranowska1 commented on #1378
**Tested with success**
@jkondrat Thanks! Finally, the map is displayed also on the Safari browser on iPhones.
![image](https://user-images.githubusercontent.com/61964176/99380305-0fe36e00-28ca-11eb-89bf-60eebbfed24a.png)

**Tested on:**
- Safari browser
- iPhone X

[2020-11-17 10:59] #1331 closed

[2020-11-17 11:00] #1378 closed

[2020-11-17 11:03] awalkowiak commented on #1364
@johnhbenetech I dug this a bit and I realized, that we have already the entire API documentation open. I went through what I added in #786 and seems that everything is accessible via https://benetechservicenet.org/#/api-documentation. There is an option to check docs by definition (service: default = Gateway, servicenet = Core, servicenetauth = Auth) and you can filter by externally available end

[2020-11-17 11:32] abaranowska1 commented on #1377
The "Search this area" button is smaller and was moved to the top right corner. UI issues on the card also were fixed, but @jkondrat plz take a look at the iPhone issue with the bottom browser bar, because in this case filter,sort,search... section didn't stay static.
![image](https://user-images.githubusercontent.com/61964176/99385159-db26e500-28d0-11eb-8079-5b13c9d21d51.png)
![image](https://use

[2020-11-17 13:23] abaranowska1 commented on #1387
**Tested with success**
Now the "+" is added when we do a check-in and referral. ID's are the same in these two cases.
![image](https://user-images.githubusercontent.com/61964176/99395182-58a62180-28e0-11eb-885d-704934d7162a.png)

[2020-11-17 13:23] #1387 closed

[2020-11-17 16:13] abaranowska1 commented on #1377
It works for me. I check the traditional and public view
![image](https://user-images.githubusercontent.com/61964176/99415579-3f10d400-28f8-11eb-92fc-78afda002053.png)
![image](https://user-images.githubusercontent.com/61964176/99415596-420bc480-28f8-11eb-82be-fb3e519fb330.png)

[2020-11-17 16:13] #1377 closed

[2020-11-17 17:54] EnriqueCorado opened #1401 "Check in/Referral SMS Content"
**updated task description matching desired end state**
- For the organizations with long names, apply John's suggestion to cut the long names to fixed-length

So for example on check-in example if the org name is over 24 characters it will break into two messages (should we think about a fixed length, like first 21 characters followed by ellipsis, "John's Food Pantry an...")

**Check-In**
-------

[2020-11-17 18:03] EnriqueCorado opened #1402 "SMS Feedback Rating"
Thanks for visiting _insert place_. Based on your visit, how happy were you with the service? Reply 0-10
(1 = Worst, 10 = Best)

Thank you!

Stop to end msgs.

[2020-11-17 19:45] EnriqueCorado opened #1403 "SP Refer Button Change"
- Please make the 'Refer' button is an actual button as shown below
- For 'Refer' please use the #FAB28D
- On 'Referred' please use #50AB0E
- Using these colors in order to meet the AA and AAA requirements

<img width="637" alt="Screenshot 2020-11-17 114322" src="https://user-images.githubusercontent.com/65787629/99439631-45885700-28ca-11eb-90ea-7683dfc50be6.png">

<img width="621" alt="Screenshot

[2020-11-18 07:52] abaranowska1 commented on #1372
Regression testing on 4 browsers (Google Chrome, Mozilla Firefox, MS Edge, Safari), Windows 10, and Ubuntu 20.04 OS and the mobile device ( iPhone X ) was finished.
**List of the reported bugs :**

- https://github.com/benetech/ServiceNet/issues/1373
- https://github.com/benetech/ServiceNet/issues/1374
- https://github.com/benetech/ServiceNet/issues/1375
- https://github.com/benetech/ServiceNet/is

[2020-11-18 07:52] #1372 closed

[2020-11-18 10:06] awalkowiak commented on #1397
Dev note: Add validation on the front end and in the resource on the backend

[2020-11-18 10:13] awalkowiak commented on #1392
@EnriqueCorado what in case if the user won't enter the phone number or beneficiary ID? Should we highlight both fields separately or together? If we highlight both fields separately we will give fault info to the user that both are required.
In my opinion, we could set the red frame around both fields and give a note to enter one of these two fields. What do you think about it?

[2020-11-18 11:49] jkondrat commented on #1371
@EnriqueCorado The user can have multiple organizations and the "All Referral Made To History" contains all of them - which one should we pick for the report name? Perhaps we should display current user's name instead?

[2020-11-18 15:23] EnriqueCorado commented on #1392
@awalkowiak Great point. Set a frame around both fields and give a note

[2020-11-18 15:25] EnriqueCorado commented on #1371
@jkondrat great point. let's go with the username

[2020-11-18 17:23] #1400 closed

[2020-11-19 13:50] #1386 closed

[2020-11-19 13:50] #1376 closed

[2020-11-19 14:01] abaranowska1 commented on #1398
Dev note: plz check why sometimes the captcha icon is not displayed. For example, when we log in, sign out, and log in again - the captcha icon is not shown in this second login

[2020-11-19 14:08] abaranowska1 commented on #1359
**Tested**
The captcha icon now is displayed only in the bottom right corner, there is one weird situation when the captcha icon is not displayed but it will be investigated together with #1398

[2020-11-19 14:08] #1359 closed

[2020-11-19 14:44] abaranowska1 commented on #1371
**Tested with success**
The CSV download names were changed.
![image](https://user-images.githubusercontent.com/61964176/99681078-0d297a00-2a7e-11eb-9bcd-249face401c9.png)

[2020-11-19 14:44] #1371 closed

[2020-11-19 15:42] EnriqueCorado opened #1406 "Investigation: Temporary Error on Login/Registration in Public View"
On https://servicenet.benetech.org/#/public/BayArea

If you click sign-in this error pops up

<img width="958" alt="Screenshot 2020-11-19 074156" src="https://user-images.githubusercontent.com/65787629/99688575-d2522280-2a3a-11eb-9cc9-5fee47c1f266.png">

If you click on registration this error pop-up

<img width="958" alt="Screenshot 2020-11-19 074219" src="https://user-images.githubusercontent.co

[2020-11-19 15:46] johnhbenetech commented on #1406
@EnriqueCorado can you provide more details, step to reproduce, environment, etc. I'm having a hard time reproducing it

[2020-11-19 15:48] EnriqueCorado opened #1407 "Public View: Hide record info not on record"
- If nothing is inputted, or currently displayed on any section on record in public view hide it so the public won't see it, as it is empty space
- The service provider will have all the current cells pop up while they edit a record

For example: below daily updates, the cell has nothing inputted, so no need to show it
- in Organization Details, both the organization details and main email address

[2020-11-19 16:06] #1322 closed

[2020-11-19 16:07] #1323 closed

[2020-11-19 16:08] #1324 closed

[2020-11-19 16:09] EnriqueCorado commented on #1406
- hard reloading/clearing cache fixed it
- may be related recaptcha

[2020-11-19 16:09] #1325 closed

[2020-11-19 16:17] johnhbenetech commented on #1406
Might be hard to track down. I had just done the release that introduced the captcha functionality earlier, so maybe there was a weird issue with a cached non captcha'd version that was resolved when the latest frontend was loaded.

I guess the idea that the login/registration panes wouldn't load at all (they just displayed error before the user even had opportunity to see fields) is a little conf

[2020-11-19 16:18] johnhbenetech commented on #1406
dev note, this is mostly an investigation task to see if anything jumps out as a possible cause of this or possible opportunity for more graceful error handling (or if we just think its the result of some temporary cache problem)

[2020-11-19 16:24] johnhbenetech commented on #1407
@EnriqueCorado is this just for public view, what about for a logged in CBO looking at a different CBO's records?

What happens if there is no information whatsoever for a section:
* If there isnt a daily update do we remove the daily update section card in its entirety?
* If there are no locations/services whatsoever do we remove those sections in their entirety?

[2020-11-19 16:26] EnriqueCorado opened #1408 "Records Changes"
- Remove the "Organization  Name" section from under the Organization Details Panel as it is repetitive
- Change the heading of the panel "Organization Details" to "Organization Information" as it is repetitive with a sub-section under it
- Building off #1407

<img width="1919" alt="Screenshot 2020-11-19 081851" src="https://user-images.githubusercontent.com/65787629/99693998-cc5f4000-2a40-11eb-80

[2020-11-19 16:27] johnhbenetech commented on #1401
@EnriqueCorado we need to take a hard look at the SMS/MMS length limits and how messages might split

Links cant be "embedded" in texts - other that just sending the full URL letter by letter. I'd like us to give some thought to this how sending all this info as well as a long URL works with the length limitations of SMS

[2020-11-19 16:28] johnhbenetech commented on #1399
@EnriqueCorado how does this change the mobile view (if at all)?

[2020-11-19 16:36] #1230 closed

[2020-11-19 16:51] johnhbenetech commented on #1395
Lot's to unpack here.

The biggest issue is how does this scale? there are theoretically infinite service types, especially considering we are now allowing for user created records in combination with records pulled from other providers (eden uwba, etc) - each which has it's own taxonomy terms. Furthermore, i'd say more often than not many of those service types may only have a few records each.

[2020-11-19 17:20] EnriqueCorado commented on #1407
@johnhbenetech

- add the functionality of hiding records for logged in CBO looking at different CBO's records

If no information whatsoever for a section: hide it as it serves no purpose for the users looking at it if it is empty. This way we are able to "highlight" what is currently there and not what is missing

- If there isn't a daily update do we remove the daily update section card in its e

[2020-11-19 17:48] EnriqueCorado commented on #1399
@johnhbenetech

The mobile view doesn't change

[2020-11-19 18:07] EnriqueCorado commented on #1407
On service details, also hide the sections that are empty

<img width="190" alt="Screenshot 2020-11-19 100643" src="https://user-images.githubusercontent.com/65787629/99705719-f881bd80-2a4e-11eb-95e3-88cd6e7f2b40.png">

<img width="194" alt="Screenshot 2020-11-19 100654" src="https://user-images.githubusercontent.com/65787629/99705724-fb7cae00-2a4e-11eb-9b9d-9040e9e1a6d0.png">

[2020-11-19 18:08] EnriqueCorado opened #1409 "Service Details Remove the +#"
**No need to have the + in each service under service detail for Public and CBO looking at another CBO's record **

- if there is enough space both on mobile and desktop to show all service types instead of any +1, +2,+3, show the names
-  Essentially optimize the space to show as many service types without overcrowding. If there are more than the service types shown then we can add the + # at the

[2020-11-19 18:32] EnriqueCorado opened #1410 "Check In Checkbox for quantitative data gathering"
- Check-In and Referral Checkbox for quantitative data gathering in order to analyze how many people during the pilot are refusing to give their numbers due to security concerns
- If no number provided checkbox clicked, turn the "Send" button into a "Save" button
- If the user clicks "Save" and didn't fill in the organization they are checking in from, still prompt with a red border to fill it in

[2020-11-19 19:08] EnriqueCorado opened #1411 "Website Links in Record active click ons"
On all records, public, and CBO looking at another CBO's Record
- have the website link clickable and not as text as it is currently

<img width="960" alt="Screenshot 2020-11-19 110729" src="https://user-images.githubusercontent.com/65787629/99712089-6f22b900-2a57-11eb-83d2-a91472cbb0e2.png">

[2020-11-19 19:14] EnriqueCorado commented on #1401
**Check-In**
-----------------------------------------------
- Keep the same line spaces
-------------------------------------
Thank you for coming to _**John's test**_.

Here is your Service Net ID: **000h**
you can provide instead of your phone number at any service provider you go to.

Visit: https://servicenet.benetech.org/#/public/BayArea

-----------------------------------------------
Refer

[2020-11-19 21:28] EnriqueCorado opened #1412 "SN Public and Service Provider Filters Change"
Goal: Facilitate the user's filter options from being hidden and having to click on the filter for filters to appear to have them upfront without question of where filters could be found
- Keep grid view as it's the only state
- Move all functionality from the below screenshot and have the straight layout as the screenshot 2

<img width="274" alt="Screenshot 2020-11-19 132752" src="https://user-im

[2020-11-19 21:56] EnriqueCorado opened #1413 "Beneficiary Check-In and Refer Elsewhere Pop Up on SP View"
**dev note**
- please add hover over change color to the two new buttons and selected state
- add color to make the button clicked on visually apparent
- take a creative approach

Beneficiary Check-In and Refer Elsewhere
---------------------------
- add buttons for "Beneficiary Check-In" and "Refer Elsewhere"
- on hover over and clicked on change button color to #343f51 and white font

<img width

[2020-11-20 16:31] EnriqueCorado commented on #1401
Need to consider SMS in Spanish, Mandarin at least
- need to add language click on to Check-In so phone number gets saved with a default language

211 FY 2017/2018 report
-------------------------
<img width="199" alt="Screenshot 2020-11-20 082857" src="https://user-images.githubusercontent.com/65787629/99824353-78b92900-2b0a-11eb-981b-ecadef201179.png">

[2020-11-20 16:48] EnriqueCorado opened #1414 "Service Provider/Public: Service Details Pop Up"

[2020-11-20 19:53] johnhbenetech commented on #1401
@EnriqueCorado The organizations and addresses can be any length.

So for example on check in example if the org name is over 24 characters it will break into two messages (should we think about a fixed length, like first 21 characters followed by ellipsis, "John's Food Pantry an...")

This may just be overthinking *most* phones will reassemble texts before displaying them - I think the big questi

[2020-11-20 19:54] johnhbenetech commented on #1401
@EnriqueCorado also please break out language into separate task with the translations and UI for language selection

[2020-11-20 20:11] EnriqueCorado opened #1417 "SMS Content: Different Languages"
Check-In Spanish
---------------------

Gracias por venir a **_____**

Aquí está tu Service Net ID: **_000h_**

puede proporcionar en lugar de su número de teléfono en cualquier proveedor de servicios al que acuda.

[2020-11-20 20:36] EnriqueCorado opened #1418 "Language Options to Check-In"
<img width="955" alt="Screenshot 2020-11-20 123514" src="https://user-images.githubusercontent.com/65787629/99847474-fbeb7680-2b2c-11eb-8e72-b6d3454802b4.png">

<img width="190" alt="Screenshot 2020-11-20 123457" src="https://user-images.githubusercontent.com/65787629/99847483-ff7efd80-2b2c-11eb-95da-19012331496d.png">

[2020-11-23 10:59] #1365 closed

[2020-11-23 11:00] #1313 closed

[2020-11-23 11:00] awalkowiak commented on #1364
@johnhbenetech let me know what do you think about it.

[2020-11-23 12:34] abaranowska1 commented on #1392
**Tested**
@awalkowiak @EnriqueCorado  We should add a note below the fields in the red frame and I'm not sure if we want it, but on mockup we have also "x" icon near the required fields.
![image](https://user-images.githubusercontent.com/61964176/99962476-8aabfd80-2d90-11eb-80b2-8cc257a80af8.png)

![Selection_445](https://user-images.githubusercontent.com/61964176/99962203-0b1e2e80-2d90-11eb-9b51

[2020-11-23 12:47] abaranowska1 commented on #1397
**Tested**
@awalkowiak
One issue, I can send a referral even I didn't choose the location from "Select location to Refer from" field, I think it also should be required, am I right @EnriqueCorado ?

![Uploading Peek 2020-11-23 13-41.gif…]()

[2020-11-23 13:15] awalkowiak commented on #1392
@EnriqueCorado Do we need the notes and x-marks? Let me know what do you think about it.

[2020-11-23 13:20] awalkowiak commented on #1397
@EnriqueCorado let us know if the location pf the referring CBO is required (field mentioned by @abaranowska1)

[2020-11-23 13:25] abaranowska1 commented on #1396
**Tested with success**
On the referrals page, if the organization referenced by the user has only one location, the location is automatically loaded from the location dropdown
![Peek 2020-11-23 13-19](https://user-images.githubusercontent.com/61964176/99967121-aebf0d00-2d97-11eb-966e-1809582e442c.gif)

[2020-11-23 13:31] #1396 closed

[2020-11-23 15:40] EnriqueCorado commented on #1392
@awalkowiak on #1394 there are display changes to sign and referral.
- Highlight the section header along with the boxes as you have above. So mark Red Beneficiary Information / Organization
- No x icon

![image](https://user-images.githubusercontent.com/65787629/99982053-fb3a2680-2d5e-11eb-9b2c-7842aaeed0a8.png)

[2020-11-23 15:46] EnriqueCorado commented on #1397
@awalkowiak @abaranowska1
"Select location to Refer from" field should also be required. I believe in #1392 the red box requirement has been taken care of

[2020-11-23 15:47] jkondrat commented on #1398
@EnriqueCorado @johnhbenetech unfortunately, Google [only allows their style of ReCaptcha badge](https://developers.google.com/recaptcha/docs/faq), so we're limited to the existing one at the bottom left/right or this large inline badge:
![image](https://user-images.githubusercontent.com/5969801/99982950-87723b00-2dab-11eb-9efb-ac8062fcda48.png)
Alternatively, we can hide the badge and display the

[2020-11-23 15:52] awalkowiak commented on #1392
@EnriqueCorado sounds good. I'll do it that way.

[2020-11-23 15:53] awalkowiak commented on #1397
@EnriqueCorado sounds good. I'll do it that way.

[2020-11-23 16:15] EnriqueCorado commented on #1398
@jkondrat can we use the one below?

![image](https://user-images.githubusercontent.com/65787629/99986314-e57b3000-2d63-11eb-8f9c-957d16c24f61.png)

[2020-11-23 16:19] EnriqueCorado commented on #1398
if we can, mock-ups below. Otherwise, keep it in the lower right corner

<img width="222" alt="Screenshot 2020-11-23 081904" src="https://user-images.githubusercontent.com/65787629/99986901-a13c5f80-2d64-11eb-9d22-373ba532d141.png">

<img width="943" alt="Screenshot 2020-11-23 081854" src="https://user-images.githubusercontent.com/65787629/99986910-a39eb980-2d64-11eb-947a-f4139c506de2.png">

[2020-11-23 16:36] johnhbenetech commented on #1364
Lgtm. closing

[2020-11-23 16:36] #1364 closed

[2020-11-23 16:39] johnhbenetech commented on #1398
@EnriqueCorado lets just leave the captcha badge as it is now. The 'im not a robot' is an entirely different style of verification than what we use noe

[2020-11-23 19:26] johnhbenetech opened #1420 "Investigate captcha issue with incorrect password"
Steps to reproduce:

* Attempt to login, but use an incorrect password
* You get the expected errors indicating wrong password
* only change password field to the correct one
* attempt to login (click, enter, tab to submit, etc)

Result:
* Second Log in event doesnt activate

I'm assuming this may be something with the captcha flow needing to be reset

[2020-11-23 22:06] #1220 closed

[2020-11-23 22:08] #1332 closed

[2020-11-23 22:08] #1209 closed

[2020-11-23 22:52] EnriqueCorado opened #1421 "Public View will be only landing page"
- Currently, we have two landing pages
https://servicenet.benetech.org/#/
https://servicenet.benetech.org/#/public/BayArea

- Remove/redirect https://servicenet.benetech.org/#/ to https://servicenet.benetech.org/#/public/BayArea
- all CBOs will be logging in through this page on the top right. No need to have two landing pages

<img width="958" alt="Screenshot 2020-11-23 144941" src="https://user-

[2020-11-23 22:56] EnriqueCorado commented on #1420
Captcha icon on top of about us and scroll bar
Steps to reproduce
- go to page https://servicenet.benetech.org/#/public/BayArea/
- click login, click x on the sign-in pop-up
- captcha icon stays there, bottom right corner, and overlaps about us and scroll bar click down arrow to scroll down

<img width="958" alt="Screenshot 2020-11-23 145553" src="https://user-images.githubusercontent.com/65787629

[2020-11-23 22:58] EnriqueCorado opened #1422 "Interface Issues on Safari"

[2020-11-23 23:05] #1231 closed

[2020-11-23 23:13] EnriqueCorado opened #1423 "CBO ability to add volunteers"
- CBO ability to add a volunteer account
- CBO admin or employee needs to be signed in, approved through registration in order to create a volunteer account
- Volunteer accounts can ONLY have the ability to check-in and send referrals
- CAN'T EDIT RECORDs, they can have the same layout as below, click on the record, but not see the options to deactivate record or discard changes.
- keep the "I'm f

[2020-11-23 23:17] EnriqueCorado opened #1424 "Volunteer Page Layout"

[2020-11-24 10:12] kkaczmarczyk commented on #1275
out of memory error is happening due to number of data loaded into memory during perf tests https://github.com/benetech/ServiceNet/runs/1442649193?check_suite_focus=true

[2020-11-24 12:53] jkondrat commented on #1271
will be covered in https://github.com/benetech/ServiceNet/issues/1254

[2020-11-24 12:53] #1271 closed

[2020-11-24 14:01] johnhbenetech commented on #1422
@EnriqueCorado is there more details here?

[2020-11-24 14:33] abaranowska1 commented on #1394
**Tested**
![Selection_466](https://user-images.githubusercontent.com/61964176/100106203-8d7a2180-2e68-11eb-8b44-063267d9fbca.png)
![Selection_465](https://user-images.githubusercontent.com/61964176/100106206-8eab4e80-2e68-11eb-9b01-1e7c2fef8246.png)
![Selection_464](https://user-images.githubusercontent.com/61964176/100106208-8eab4e80-2e68-11eb-8d70-8606915bb716.png)
![Selection_463](https://user

[2020-11-24 14:38] abaranowska1 commented on #1397
@awalkowiak Please change one thing. The red frame around the "Select location to Refer from" field should be visible only in the situation when we click "Send" button and this field is empty.
![Peek 2020-11-24 14-40](https://user-images.githubusercontent.com/61964176/100108078-b00d3a00-2e6a-11eb-9500-8fcb9c1495de.gif)

[2020-11-24 14:57] abaranowska1 commented on #1392
**Tested with success**
Tested together with #1394. As it was said, no "x" icon near the required fields and no note. Only marked labels.
![image](https://user-images.githubusercontent.com/61964176/100109866-92d96b00-2e6c-11eb-964d-a122a6bbd098.png)
![image](https://user-images.githubusercontent.com/61964176/100109882-979e1f00-2e6c-11eb-9327-c5d615c5267b.png)

[2020-11-24 15:20] EnriqueCorado commented on #1422
@johnhbenetech yes, waiting on Meenakshi to upload her screenshots

[2020-11-24 15:36] meenupant commented on #1422
There is an overlap of images on the safari browser in Mac. The cards display and search bar are overlapping. Please see the images below. Thanks

<img width="952" alt="Screen Shot 2020-11-20 at 3 12 42 PM" src="https://user-images.githubusercontent.com/74263963/100115413-56375080-2e27-11eb-957e-e25f49d31774.png">
<img width="1467" alt="Screen Shot 2020-11-20 at 3 58 21 PM" src="https://user-image

[2020-11-24 15:55] #1239 closed

[2020-11-24 15:57] #1240 closed

[2020-11-24 16:06] johnhbenetech commented on #1421
Two considerations:

1. We need to ensure we have a better understanding of how silos work. There isn't one landing page for servicenet. e.g. Marin will use /Marin and Indiana would use /Indiana so I have a hard time accepting we should just choose one for everyone

2. What happens to the marketing experience? If someone visits servicenet for the first time we are dropping them directly into the i

[2020-11-24 16:20] johnhbenetech commented on #1421
Oh also - if you are logged in you will skip the homepage and go right to your silo. So i think we can also rely on sign in to direct people.

I would also encourage you to think about how we can make sign in/registration call to actions more obvious on the home page

[2020-11-24 16:26] meenupant commented on #1421
Yes, I agree with your points. We will work on the user flows and have one main landing page with all the marketing stuff, public view and CTAs for other user types. The sign in will take the other user types in their silos and if they come to Service Net and already signed in then they will go straight to their silo. I will work on the details and review with you to get the best possible layout a

[2020-11-24 16:51] EnriqueCorado commented on #1392
@abaranowska1 For all mobile devices can we change the text inside the Beneficiary Information in the Referral section from "Enter Phone Number" and "Enter Service Net ID" to "Phone Number" and "Service Net ID" in order to avoid the following
- same change as above on the Beneficiary Check-In page

<img width="190" alt="Screenshot 2020-11-24 084913" src="https://user-images.githubusercontent.com/6

[2020-11-24 16:55] #1215 closed

[2020-11-24 16:58] EnriqueCorado opened #1427 "SP: Bulk Upload Page"
<img width="849" alt="Screenshot 2020-11-24 085646" src="https://user-images.githubusercontent.com/65787629/100126698-25f5af00-2e33-11eb-80c1-00d674654b15.png">

<img width="850" alt="Screenshot 2020-11-24 085657" src="https://user-images.githubusercontent.com/65787629/100126706-28f09f80-2e33-11eb-9f94-f7055aec45f1.png">

[2020-11-24 17:44] EnriqueCorado opened #1428 "SP: Bulk Upload pt. 2"
[Sample CSV for Referral System Upload.xlsx](https://github.com/benetech/ServiceNet/files/5591735/Sample.CSV.for.Referral.System.Upload.xlsx)

[2020-11-24 17:59] EnriqueCorado opened #1429 "Registration Page remove snapshot in header"
Recreate Scenario
- go to https://servicenet.benetech.org/#/public/BayArea
- then go to register
- need to remove the 0.0.1-Snapshot in the heading

<img width="1918" alt="Screenshot 2020-11-24 095848" src="https://user-images.githubusercontent.com/65787629/100133471-a8826c80-2e3b-11eb-8264-410c22c9c101.png">

[2020-11-24 18:31] EnriqueCorado opened #1430 "Registration page new fields"
**Desktop and Mobile View **
---------------------------------

- Change the Organization Name section header to "Organization Name(s)" and inside the field to "Your Organization(s) Name(s)" in order to allow a user to be associated with potentially multiple records
- use the same dropdown as in the admin portal, where users start typing an organization name, and automatically updates
- allow for

[2020-11-24 19:26] kkaczmarczyk opened #1431 "Find a way to limit requests made to DockerHub"
Due to the recent introduction of quota in the DockerHub for image pulls there is a need to find a way to limit such requests made to the Hub. This can be done by checking if there is a newer image available in DockerHub.

More context: https://www.docker.com/increase-rate-limits?utm_source=docker&utm_medium=web%20referral&utm_campaign=increase%20rate%20limit&utm_budget=

Options:
- Use HEAD reque

[2020-11-25 07:18] abaranowska1 commented on #1392
Sure, @awalkowiak could you take a look at it and change the placeholders from "Enter Phone Number" and "Enter Service Net ID" to "Phone Number" and "Service Net ID" for all mobile devices on Referral and Beneficiary Check-In pages

[2020-11-25 07:55] abaranowska1 opened #1432 "Investigate issue with displaying address on dropdowns"
I met one interesting issue with displaying addresses on dropdowns. I don't know why, but some of them are displaying without any spaces and commas.
![image](https://user-images.githubusercontent.com/61964176/100199705-e0ea7f00-2efd-11eb-925a-6e9a7def1464.png)
Such location is cut on mobile view
![Screenshot_2020-11-25_08-31-03](https://user-images.githubusercontent.com/61964176/100199881-1e4f0c80

[2020-11-25 08:47] abaranowska1 commented on #1397
Thanks @awalkowiak it works for me. The red frame around the "Select location to Refer from" field is visible in the situation when we click the "Send" button and this field is empty.

![Peek 2020-11-25 09-41](https://user-images.githubusercontent.com/61964176/100203506-fada9080-2f02-11eb-9385-aa53b7de77d6.gif)
![Peek 2020-11-25 09-43](https://user-images.githubusercontent.com/61964176/100203503-f

[2020-11-25 08:54] #1397 closed

[2020-11-25 09:18] abaranowska1 commented on #1394
**Tested with success**

- Labels "Beneficiary Information" and "Organization" are created and bolded.
- "Enter Phone Number" and "Enter Service Net ID" are in one line
![Selection_476](https://user-images.githubusercontent.com/61964176/100206204-54908a00-2f06-11eb-88cd-40d3cd2458a1.png)
![Selection_477](https://user-images.githubusercontent.com/61964176/100206209-55c1b700-2f06-11eb-82bb-2c51a8dc2

[2020-11-25 09:19] #1394 closed

[2020-11-25 09:49] awalkowiak commented on #1392
@abaranowska1 @EnriqueCorado sure, I'll do it.

[2020-11-25 10:12] abaranowska1 commented on #1393
**Tested with success**
- "Unique Identifier" was changed to "Service Net ID"
![Selection_485](https://user-images.githubusercontent.com/61964176/100213198-a3422200-2f0e-11eb-9c29-16e3c127cf56.png)
![Selection_484](https://user-images.githubusercontent.com/61964176/100213203-a3dab880-2f0e-11eb-95cc-f76830c29597.png)
![Selection_483](https://user-images.githubusercontent.com/61964176/100213204-a473

[2020-11-25 10:13] #1393 closed

[2020-11-25 10:14] #1275 closed

[2020-11-25 12:42] abaranowska1 commented on #1398
**Tested**
@jkondrat
- The Sign In button should be centered, please change it on the browser view
![image](https://user-images.githubusercontent.com/61964176/100226872-9f1f0000-2f20-11eb-896d-672c3fbc7cdb.png)
- The captcha icon is displayed for a second on the login modal
![Peek 2020-11-25 13-19](https://user-images.githubusercontent.com/61964176/100227186-0c329580-2f21-11eb-9fee-289b5611dea3.gi

[2020-11-25 16:38] kkaczmarczyk commented on #1431
fixed on staging using the HEAD requests - I'll post a new auto-deploy script to the data repo.

[2020-11-25 23:34] meenupant commented on #1399
Each tree icon should be individually clickable.
Provide description to the tree icons so that whenever someone hovers over that particular icon they know what it means.
Do we have the functionality to select a CBO card, so that map displays only that selected CBO or multiple CBOs?

[2020-11-25 23:44] meenupant commented on #1407
@johnhbenetech - I believe we must display the most updated information after it is validated, else display the last available information with a warning sign that says this information may be inaccurate and has not been validated. For the missing information, it must be hidden from the public view but displayed to the CBOs for updates.

[2020-11-25 23:56] meenupant commented on #1333
How is Unclaim Record different than Deactivate Record? I want to understand the process when someone clicks one of these buttons then what happens to the record. The user may get confused and this may delay any action taken by him. The CTA must be absolutely clear to the user.

[2020-11-26 00:32] meenupant commented on #1430
What if the person registering is the same person who verifies accounts in that organization?
I think this is what we are trying to achieve:
1. If the email is a "work email" by matching it with the orgnanization name, then we email them a link to verify that email and register them automatically.
2. If the email is any other email like "gmail, yahoo, etc." (this could be a case with volunteer reg

[2020-11-26 00:36] meenupant commented on #1424
How do we verify the volunteer account if they provide us a "non work email"?

[2020-11-26 01:11] EnriqueCorado commented on #1333
@meenupant unclaim breaks ties from the user updating the record and would go back to the algorithm updating the record
Deactivate record is for users who created their own record which did not exist in service net so they can essentially delete it

[2020-11-26 01:14] EnriqueCorado commented on #1424
@meenupant we won't be verifying emails for volunteers. Volunteers won't get a "work email" if they are volunteering for a day for example. In addition, these users will only have access to refer and check-in so no harm will be done to the record

the point of volunteer accounts is for the people that show up to help for a certain period of time. They won't have time to get work emails as they are

[2020-11-26 01:20] meenupant commented on #1410
@EnriqueCorado Let's brainstorm a more effective way to get this information. Beneficiary referral and check-in should be a streamlined and frictionless process. Do we want the organization's to first log in, and then go the referral page and enter all this information especially when they have no incentive to do so?
@johnhbenetech Have you all discussed this process already? I was thinking if we

[2020-11-26 01:24] meenupant commented on #1424
@EnriqueCorado Got it! So, this Volunteer option is only available to the registered users.

[2020-11-26 01:27] meenupant commented on #1424
@EnriqueCorado Why do we want to provide a username composed of first and last name plus 3 digits? Should we just keep it simple to remember like phone number or email?

[2020-11-26 01:33] meenupant commented on #1333
@EnriqueCorado Do they really care if it exists in our records? It is up to us to decide whether we should just revert back to the old record that already exists in our database or just remove it if it does not exist. I think let's brainstorm this further to make the process more clear and not confuse the user.

[2020-11-26 09:14] abaranowska1 commented on #1392
**Tested with success**
- the placeholders were changed on mobile
![image](https://user-images.githubusercontent.com/61964176/100331041-f92ace80-2fcf-11eb-8894-e2fd34c022a1.png)
![image](https://user-images.githubusercontent.com/61964176/100331054-fb8d2880-2fcf-11eb-9e30-f6eb134bebf2.png)
-  the "Send" buttons were clickable
- red borders were added to the required fields

[2020-11-26 12:28] abaranowska1 commented on #1422
**Tested with success**
Interface issues on Safari and Mac were fixed.
![image](https://user-images.githubusercontent.com/61964176/100342684-a1e02a80-2fde-11eb-8b1c-96e36713e545.png)
![image](https://user-images.githubusercontent.com/61964176/100342694-a4428480-2fde-11eb-9cf2-6792bf71be34.png)

[2020-11-26 12:59] #1422 closed

[2020-11-26 13:00] #1392 closed

[2020-11-26 13:06] abaranowska1 commented on #1398
**Tested with success**
- Issues from the previous comment were fixed, the button is centered and the captcha icon is not displaying on modal
- "Forgot Password" is added aligned right to "Remember me"
- "Register a new account" is turned to black
- "Cancel" button is removed
- Sign in on the top header is centered
![image](https://user-images.githubusercontent.com/61964176/100354415-749c7800-2ff0

[2020-11-26 13:06] #1398 closed

[2020-11-26 13:32] #1254 closed

[2020-11-26 14:22] abaranowska1 commented on #1373
**Tested with success**
- "0.0.1-SNAPSHOT" was removed from the header on Home Page and old SN View
![Selection_505](https://user-images.githubusercontent.com/61964176/100359007-3f475880-2ff7-11eb-9a2b-998f533163f3.png)
![Selection_504](https://user-images.githubusercontent.com/61964176/100359010-3fdfef00-2ff7-11eb-9870-1e1874fba144.png)
![Selection_503](https://user-images.githubusercontent.com/6

[2020-11-26 14:22] #1373 closed

[2020-11-26 16:12] kkaczmarczyk opened #1434 "Surface performance tests result for easy comparison between commits"
Loose ideas:
* runs performance tests build on PRs
* unzips the ZIP artifact
* gets the results from CSV
* does the same for the target branch
* compares both
* posts the result of the comparison as a comment on PR

[2020-11-26 16:18] kkaczmarczyk opened #1435 "Investigate and apply the best way to handle DB for performance tests"

[2020-11-26 16:19] kkaczmarczyk opened #1436 "Investigate with Consul losing the connection with microservices"

[2020-11-27 10:40] abaranowska1 commented on #1420
**Tested with success**
The first and second issue is fixed. I can log in to the app after I changed the password from incorrect to correct. Also, there is no issue with login modal and captcha on public view.
![Peek 2020-11-27 09-17](https://user-images.githubusercontent.com/61964176/100440353-0a91da80-30a5-11eb-9abf-91c4ee0dffb7.gif)
![Peek 2020-11-27 09-15](https://user-images.githubusercontent

[2020-11-27 10:40] #1420 closed

[2020-11-27 12:13] abaranowska1 commented on #1432
**Tested with success**
It seems that all locations now are displaying correctly. There is no mobile view issue.
![image](https://user-images.githubusercontent.com/61964176/100448241-4b442080-30b2-11eb-9526-9074f03c1add.png)

**Verified on:**
- Ubuntu 20.04
- Google Chrome Version 85.0.4183.83
- Mobile 360x640

[2020-11-27 12:13] #1432 closed

[2020-11-27 17:10] #1431 closed

[2020-11-30 15:56] EnriqueCorado commented on #1410
@meenupant the user is only able to access the information logged in and the user will enter the information above yes

[2020-11-30 15:58] EnriqueCorado commented on #1424
- keep username as the email
- send username and a random 5 character generated password to the email

@meenupant ready to be moved to development?

[2020-11-30 15:59] EnriqueCorado commented on #1413
@meenupant I would like your input to know if changes need to be done before development. This part is important as we will be eliminating a click to another page in the process

[2020-11-30 16:02] EnriqueCorado commented on #1407
@meenupant is this ready to be moved to ready for development?

[2020-11-30 16:12] #1357 closed

[2020-11-30 16:12] EnriqueCorado commented on #1399
@meenupant if we want to add that, we will need to add something along the lines of "See on the map" in the record. That would clutter the record more. The map should be kept as is, dynamic with the filters

- If a  record is clicked on the map it can populate on the bottom of map just like the mobile interface does
<img width="191" alt="Screenshot 2020-11-30 081217" src="https://user-images.githu

[2020-11-30 16:16] meenupant commented on #1407
@EnriqueCorado Yes, unless @johnhbenetech has a different take on this.

[2020-11-30 16:18] meenupant commented on #1424
@EnriqueCorado yes

[2020-11-30 17:35] EnriqueCorado commented on #1371
good. release

[2020-11-30 17:36] EnriqueCorado commented on #1396
good. release

[2020-11-30 17:45] EnriqueCorado commented on #1397
good. release

[2020-11-30 17:47] EnriqueCorado opened #1439 "functionality for public to select multiple CBOs and view them on the map"

[2020-11-30 17:49] EnriqueCorado commented on #1394
good. release

[2020-11-30 17:50] EnriqueCorado commented on #1393
good. release

[2020-11-30 17:55] EnriqueCorado commented on #1392
good release

[2020-11-30 17:58] EnriqueCorado commented on #1398
good. release

[2020-11-30 18:49] meenupant commented on #1413
@EnriqueCorado Does this allow multiple check-ins and referrals?

[2020-11-30 19:08] EnriqueCorado commented on #1413
@meenupant this is what we currently have on the separate tab on service net. As it stands, it allows for one beneficiary check-in and referral at a time.

Allowing multiple check-ins and especially referrals at a time would make the interface confusing and not streamlined.
In the pilot, we will be able to see and get feedback if adding the option to add multiple check-ins at a time is necessary

[2020-11-30 19:12] meenupant commented on #1413
@EnriqueCorado I think eventually we will need that functionality, but we can proceed with the usability testing of the current version and gather feedback.

[2020-11-30 19:14] EnriqueCorado opened #1440 "multiple check-ins and referrals"

[2020-11-30 22:45] EnriqueCorado commented on #1412
- add the map icon next to the search bar as displayed below

<img width="338" alt="Screenshot 2020-11-30 144501" src="https://user-images.githubusercontent.com/65787629/100674816-a7a97900-331a-11eb-8e29-00cb20505bcd.png">

[2020-12-01 10:20] awalkowiak commented on #1402
@EnriqueCorado
1. Should we keep the rating in the database for now? How, where, and when this will be displayed?
2. Is the text below a grey bar (in the issue description) a message template that should be sent in the SMS to the beneficiaries?
3. Could you describe more the "functionality to stop the rating SMS follow up". Does it turn off the entire follow up SMS messages for all of referrals/ch

[2020-12-01 15:36] EnriqueCorado commented on #1402
@awalkowiak

1. Keep in the database as we may be doing some sort of rating that will be displayed on the record down the line depending on how many answers we get during the pilot
2. Below the grey bar is a message template that should be sent in the SMS to the beneficiaries
3. The functionality is to stop the follow-up rating SMS
- should only stop the beneficiary from receiving any rating SMS
-

[2020-12-01 17:43] awalkowiak commented on #1227
@EnriqueCorado @johnhbenetech @meenupant

Currently, Header for Service Provider view and for Admin (non-public ones) looks like this:
![benetechservicenet_service_provider_view](https://user-images.githubusercontent.com/12113312/100775110-1bbf4c00-3403-11eb-9fc4-19248cd1a031.png)
![benetechservicenet_admin_view](https://user-images.githubusercontent.com/12113312/100775119-1f52d300-3403-11eb-843c-

[2020-12-01 17:58] kkaczmarczyk commented on #124
closing this as outdated

[2020-12-01 17:59] #124 closed

[2020-12-01 23:24] EnriqueCorado opened #1442 "Service Provider: Add Phone Number Field"
- add phone number field to Organization tab when creating a new record
- add phone number field in "Tell us more about the services you offer" under adding a new record Services tab
- add phone number field while editing a record
- store in the database the phone number for the organization and for each individual service they provide if they provide a phone number

**Desktop View (in Tell us a b

[2020-12-01 23:35] EnriqueCorado commented on #1227
@meenupant

[2020-12-02 08:50] #1380 closed

[2020-12-02 21:40] EnriqueCorado opened #1443 "ROLLBACK: SP Beneficiary History"
- Hide the "Beneficiary History" button from Service Provider view:
- this feature will be shown in the analytics portal only

<img width="140" alt="Screenshot 2020-12-02 133747" src="https://user-images.githubusercontent.com/65787629/100934458-9b9cf300-34a3-11eb-927f-931701bba5c7.png">

[2020-12-02 21:42] EnriqueCorado opened #1444 "DropDown to select Location of Records"
- plug in/code to know roughly where users access the website from based on API

[2020-12-02 21:42] EnriqueCorado opened #1445 "SP User updates tracked in Database"
- Ability to track which user logged in when and what update they did

[2020-12-02 23:36] EnriqueCorado opened #1446 "Claim a record"
The flow will be
- when a user register we will shortlist organizations close to the name that they registered with during the registration
- once the user gets manually approved by Benetech staff
- User during their first log in will have a pop up that shows records that match the information provided in the registration
- users can have the ability to claim the ones they will manage

**New users

[2020-12-02 23:51] EnriqueCorado commented on #1446
@meenupant

[2020-12-02 23:57] EnriqueCorado commented on #1149
@meenupant

[2020-12-03 00:19] meenupant commented on #1446
@EnriqueCorado What if the records that they should have claimed but do not pop up for some reason (maybe a slight spelling mistake or incorrect location)? We would want them to have another option saying "Did we miss finding your record(s)? Would you like to search your record(s) by either location or organization name?" And another option "Would you like to claim more record(s)?" And once they c

[2020-12-03 13:41] awalkowiak commented on #1406
@johnhbenetech @EnriqueCorado I can not reproduce the issue.
I tried logging in/registering with proper and wrong interaction with reCaptcha. ReCaptcha always was propertly displayed/loaded. I think this was caused by invalidated cache files.

@abaranowska1 could you also try to reproduce this issue?

[2020-12-03 13:49] johnhbenetech commented on #1149
@meenupant @EnriqueCorado What's in the time dropdowns?

Are we sure this should be at the location level and not the service level? What is that assumption based on?

Often times you will see indications of something like a lunch break - e.g. open from 9-12, closed 12-2, open 2-5 - do we want to deal with this case?

[2020-12-03 13:52] johnhbenetech commented on #1442
@meenupant @EnriqueCorado i'd encourage you to look at some real world records to make sure this design makes sense.

We are in an environment where phone numbers could exist at the location service and organization level. There are considerations for phone vs fax vs mobile vs hotline. Often times these records will have the concept of a 'contact' so that there may be dozens of phone numbers attac

[2020-12-03 14:19] awalkowiak commented on #1227
@EnriqueCorado @meenupant this one was merged, you can check it out on the dev server and if there will be something you'd like to change, let me know.

[2020-12-03 14:32] abaranowska1 commented on #1374
@jakeab I found few issues:
1. I cannot reinstate the hidden records, 500 error is displayed:
![image](https://user-images.githubusercontent.com/61964176/101032984-57c8ed00-357a-11eb-8f19-59447c4a4934.png)
2. I met some issues during dismissing the Service Provider Organization. But after a few sec I can also remove this Organization.
![Peek 2020-12-03 15-066](https://user-images.githubusercontent

[2020-12-03 14:43] abaranowska1 commented on #1406
@awalkowiak @johnhbenetech @EnriqueCorado  I cannot replicate this issue too.

[2020-12-03 16:17] EnriqueCorado commented on #1406
@awalkowiak @abaranowska1 I can't replicate it anymore. Must have been resolved. Thank you for looking into it

[2020-12-03 16:24] EnriqueCorado commented on #1149
@johnhbenetech under the time dropdowns
<img width="1348" alt="Screenshot 2020-12-03 082152" src="https://user-images.githubusercontent.com/65787629/101057183-9fcb1e00-3540-11eb-9270-40b607bc095d.png">

- I can add them at both levels, just in case for e.g. the redwood city community center opens at 8 am, but legal services open at 9 am and close earlier than the community center

- I will add lun

[2020-12-03 16:30] jkondrat opened #1448 "Refactor multi- and all- record views to use reducers instead of axios directly"
We are using axios.post instead of reducer action to dismiss or hide records

[2020-12-03 16:45] EnriqueCorado commented on #1149
- please add a text entry field for all the times under Open, Lunch Break, and Close
- a checkbox column for "Closed" to indicate their services are not offered during those days
- add all changes to the "editing a record" section as well

Location Level (Desktop)
--------
<img width="895" alt="Screenshot 2020-12-03 083929" src="https://user-images.githubusercontent.com/65787629/101059413-1832de80

[2020-12-03 17:54] EnriqueCorado opened #1449 "SP Services: Fee field"
- please add a "Fees" field under "Required Documents" under service details
- add the field to both, updating a record, and adding a new record
- Free text input field **not a required field**

<img width="848" alt="Screenshot 2020-12-03 151716" src="https://user-images.githubusercontent.com/65787629/101100083-bc844780-357a-11eb-92ae-4b116c045e8b.png">

[2020-12-03 20:02] EnriqueCorado opened #1450 "Hours of operations: Free text box"

[2020-12-03 20:18] EnriqueCorado commented on #1446
- on users first, log in, they will have the below pop up
- the records will be pre-populated from the organization name(s) matching records on the service net

<img width="744" alt="Screenshot 2020-12-03 121534" src="https://user-images.githubusercontent.com/65787629/101083040-41626780-3561-11eb-8c21-daaef80454a5.png">

- users will be able to claim those records whom are theirs
- once the user c

[2020-12-03 20:22] EnriqueCorado opened #1451 "Email Verification + Benetech admin approval"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a brand new user registering to Service Net I want to know which step/stage I am in during the registration process, instead of having to ask "is my account approved." Having emails sent to the user specifying which stage they are in will make the process more friendly a

[2020-12-03 21:02] meenupant commented on #1227
@awalkowiak Looks good for now

[2020-12-03 21:15] EnriqueCorado commented on #1417
Mandarin translation
----------------

Here are the recommended referrals: 以下为您推荐：

Thank you for coming to 感谢您参加
Here is your 您的
you can provide instead of your phone number at any service provider you go to.
您也可提供您的电话号码，任何电话公司的都可以。
Visit: 请访问: ServiceNet (edited)

[2020-12-03 22:03] EnriqueCorado commented on #1427
@meenupant ready to go. made changes discussed with john

[2020-12-03 22:10] EnriqueCorado commented on #1442
@meenupant I added the phone number field to both organizations and at a per-service level. I'm not too sure about the other questions John has brought up, but I do think we need this field up by the pilot

[2020-12-03 22:11] #1219 closed

[2020-12-03 23:56] EnriqueCorado opened #1452 "Reconcile of updates from UWBA/211/Service Provider"
- in the case UWBA updates a record, the user will get notified via pop-up of the update UWBA made
- the pop up will show what currently stands in the field UWBA made an update to and what the SP currently has
- SP will have the option to update their record via that update or choose not to
- field updated will depend on the field UWBA updates

<img width="912" alt="Screenshot 2020-12-03 155416" s

[2020-12-04 06:58] #1406 closed

[2020-12-04 09:26] abaranowska1 commented on #1375
**Tested with success**
After scroll, I can see the spinner icon which spins in the middle below the records until all records are loaded.
![Peek 2020-12-04 09-47](https://user-images.githubusercontent.com/61964176/101145579-48997c00-361a-11eb-8ee3-9000ea051bfe.gif)

[2020-12-04 09:26] #1375 closed

[2020-12-04 10:20] jkondrat commented on #1429
this was done in #1373

[2020-12-04 10:20] #1429 closed

[2020-12-04 10:25] jkondrat commented on #1414
@EnriqueCorado
1. It seems weird to have those arrows render over other records - perhaps we could just remove them? What do you think?
2. How should this look like on the mobile views?

[2020-12-04 10:30] jkondrat commented on #1412
@EnriqueCorado should we remove the free text search and replace it with service type dropdown?

[2020-12-04 10:36] jkondrat commented on #1409
Dev note: sort the service names by length so we can show more of them

[2020-12-04 10:38] jkondrat commented on #1409
@EnriqueCorado should we display service names in multiple rows if there's enough space available?

[2020-12-04 10:54] jkondrat commented on #1413
@EnriqueCorado @meenupant @johnhbenetech it might be hard to squeeze the referral tab on top of two records - what would happen if we referred to multiple organizations? The location names would also be hard to fit in, especially on smaller (or mobile) screens. Perhaps we could use a modal instead?

[2020-12-04 11:17] jkondrat commented on #1424
@EnriqueCorado @meenupant : Perhaps we could let the volunteer pick the password once he clicks on 'activate'? Sending the password via email is risky

[2020-12-04 13:02] abaranowska1 commented on #1374
**Tested with success**
All issues from the previous comment were fixed. I can reinstate the records, the problem with dismissing and performance issue after click "x" icon doesn't exist anymore. The functionality from the third point was added also to the all-records-view and also the back button works properly and after click, it goes to the previous view.
![Peek 2020-12-04 13-27](https://user-i

[2020-12-04 13:02] #1374 closed

[2020-12-04 15:12] EnriqueCorado commented on #1424
@jkondrat I see your point, but these accounts won't have access to edit records. What we can do is send a temporary password and have them change it during their first login
- For now, we are going with a one time time frame, during pilot we can get feedback if the option of changing the time frame is needed

[2020-12-04 15:14] EnriqueCorado commented on #1413
@jkondrat let's go with a modal approach

[2020-12-04 15:15] EnriqueCorado commented on #1409
@jkondrat yes, display names in multiple rows if space allows

[2020-12-04 15:18] EnriqueCorado commented on #1412
@jkondrat no, keep it as the filter from the current filter. Where users can type in and the dropdown will update
- otherwise, users will have to keep scrolling through the dropdown to find the service

<img width="272" alt="Screenshot 2020-12-04 071625" src="https://user-images.githubusercontent.com/65787629/101180605-a5883880-3600-11eb-9a67-7b13090336ca.png">

<img width="276" alt="Screenshot 20

[2020-12-04 15:50] EnriqueCorado commented on #1414
@jkondrat let's remove them. on click for the service, the pop up with the information should appear
- let's keep mobile the way it is right now

[2020-12-04 17:32] jkondrat commented on #1412
@EnriqueCorado I see. The users are also allowed to search in organization names, should we keep that input?

[2020-12-04 18:12] EnriqueCorado commented on #1412
@jkondrat yes! Thank you

[2020-12-07 10:21] abaranowska1 commented on #1227
**Tested with success**
It looks good to me too. All headers look similar now.

[2020-12-07 10:21] #1227 closed

[2020-12-07 10:50] kkaczmarczyk commented on #1430
@meenupant @EnriqueCorado Hi,

1. Have you come up with the answer to this question: "We will have to think about the edge cases here where no one in that organization have a "work email". How do we verify these accounts"?
2. There could be quite a few edge cases. For example, besides the Gmail, Yahoo email domains someone could use a less known domain or a custom one - what should happen in that

[2020-12-07 11:14] #948 closed

[2020-12-07 11:14] #1381 closed

[2020-12-07 11:18] kkaczmarczyk commented on #1446
@EnriqueCorado @meenupant
1. "in admin please add a place where benetech staff can approve these records claimed" - is there a mock-up for this action? I think we could cover this in a new ticket.
2. How do you see role of "Admin/Benetech staff" - should it have the access to the "Entities" and "User management" screens as a superuser Admin?
3. Will the user have the ability to claim records only

[2020-12-07 11:27] kkaczmarczyk commented on #1333
@EnriqueCorado @meenupant should some pop-up appear after clicking on "Unclaim Record" button? Also, are there any new findings coming from the brainstorm?

[2020-12-07 11:34] kkaczmarczyk commented on #1413
@EnriqueCorado @meenupant Thanks for the answer. 2 more questions:
1. How the user should fire up the modal? Should it appear after clicking on the header button as it is now?
2. Should the modal contain the 3 tabs same as it is currently on the Referral page?

[2020-12-07 11:52] awalkowiak commented on #1446
@johnhbenetech Should we allow claiming non-service provider records (eg. Eden, UWBA, Healthleads and so on)? There might be a risk with overwriting user's editions to the record by jobs/uploads. How we should handle this? Or should we not allow claiming non-service provider records?

[2020-12-07 11:58] kkaczmarczyk commented on #1149
@EnriqueCorado @meenupant Should this ticket also include logic to parse the non-service provider records (e.g. Eden) records that were claimed?

[2020-12-07 12:01] kkaczmarczyk commented on #1149
dev note: add fields for date to the OpeningHours entity

[2020-12-07 12:13] kkaczmarczyk commented on #1401
@EnriqueCorado FWIW: for the long-term we may consider using some URL shorteners like bit.ly to generate the shorter URL.

[2020-12-07 12:19] kkaczmarczyk commented on #1417
@EnriqueCorado could you split these messages into 3 parts as mentioned in the #1401 ?

[2020-12-07 12:21] kkaczmarczyk commented on #1418
@EnriqueCorado if the user selects "Other" should he receive the messages in English by default? Also, the Language chooser section should be a radio button right?

[2020-12-07 12:33] jkondrat commented on #1452
@EnriqueCorado @johnhbenetech :
1. The pop up should show up right after the data update job updates a claimed record, is that right?
2. What would happen if the user has already made some changes to the record? Perhaps we could 'disconnect' it from UWBA? We could also have another view for resolving conflicts.

[2020-12-07 12:40] kkaczmarczyk opened #1453 "Volunteer user creation: Require change of the password after the first login"
Volunteer user creation: Require a change of the password after the first login

[2020-12-07 12:41] kkaczmarczyk commented on #1424
@EnriqueCorado thanks for the answer! I've created ticket for the requirement of changing of the temporary password during first login #1453

[2020-12-07 13:06] johnhbenetech commented on #1424
@EnriqueCorado @meenupant

What is the business case for this task? What can a volunteer user actually do? Who asked for this feature? What will we lose by not doing it?

It's an awful lot of work for something that doesn't seem to have a lot of value.

[2020-12-07 15:23] EnriqueCorado commented on #1333
@kkaczmarczyk
- have a pop up saying "Record successfully unclaimed"
- no new findings from brainstorm

[2020-12-07 15:43] EnriqueCorado commented on #1413
@kkaczmarczyk
1. fire up modal after the user clicks on any of the two buttons on top of the filters in mockup
2. - we want check-in and referral to be on the main page as a pop-up in order to eliminate clicks in order to get to those features. On mobile, in order to get to check-in/referral, the user must click on the hamburger menu and it is not intuitive
- on the mockup, we have two buttons cle

[2020-12-07 15:51] EnriqueCorado commented on #1149
@kkaczmarczyk
include logic to parse the non-service provider records

[2020-12-07 15:54] EnriqueCorado commented on #1401
@kkaczmarczyk
- Apply John's suggestion, please cut long names to fixed-length
- please use a URL shortener to generate shorter URL

[2020-12-07 16:07] EnriqueCorado commented on #1417
@kkaczmarczyk yes

Spanish (Check-In)
-------------
1st SMS:

"Gracias por venir a _____
Aquí está tu Service Net ID: **_000h_**
que puede proporcionar en lugar de su número de teléfono en cualquier proveedor de servicios al que acuda."

2nd SMS:

"Visite: https://servicenet.benetech.org/#/public/BayArea"

Spanish (Referral)
----------------
1st SMS:

"Aquí están las referencias recomendadas:
**_1

[2020-12-07 16:08] EnriqueCorado commented on #1418
@kkaczmarczyk
- if the user selects other, the beneficiary will receive English by default
- yes, use radio buttons

[2020-12-07 16:43] johnhbenetech commented on #1446
@EnriqueCorado @meenupant This isn't correct - there is a problem here if we cant answer basic questions about functionality. If product team isn't clear about what they are asking for, these tasks shouldn't make it to development. If the question being asked isn't clear, it's something that should be discussed in detail on a call potentially.

What is the purpose/user story for this task? What is

[2020-12-07 16:46] johnhbenetech commented on #1451
@EnriqueCorado @meenupant to be clear, once this is on users will be able to register and instantly approve themselves and log into servicenet, Is this what we want? Should there still be a manual approval step on the benetech side?

[2020-12-07 17:12] EnriqueCorado commented on #1452
@jkondrat

- pop up should show right after the update job updates a claimed records
- we would not 'disconnect' it from UWBA

the goal is the following:

- Allow for a CBO user to 'claim' an existing record from a partner DB (eden, uwba, etc)
- When claimed the following happens:
1. The data from partner version is copied into a NEW SP record attached to the logged-in user/silo
2. The original pa

[2020-12-07 19:12] EnriqueCorado opened #1455 "dashboard in google data studio for account approval stages"

[2020-12-07 21:21] EnriqueCorado opened #1456 "logic in progress"
**Logic**
---------------
The email which the user provides must match with URL of the organization

Example: joe@gmail.org can not claim @camarin.org record

In registration, the organization user part of, the URL needs to be parsed with that email and see if it matches

If it doesn’t match have a pop up that says

"We will contact the contact from the organization provided in order to verify you

[2020-12-07 21:22] EnriqueCorado commented on #1430
@kkaczmarczyk that logic will be broken down in a separate task. please just proceed with the dropdown filter on registration

[2020-12-07 21:27] EnriqueCorado commented on #1456
What if the person registering is the same person who verifies accounts in that organization?
I think this is what we are trying to achieve:

If the email is a "work email" by matching it with the orgnanization name, then we email them a link to verify that email and register them automatically.
If the email is any other email like "gmail, yahoo, etc." (this could be a case with volunteer registra

[2020-12-08 10:08] kkaczmarczyk commented on #1430
@EnriqueCorado @meenupant is the sending of the email and the user verification action in the scope of this task or will be in a separate one?

[2020-12-08 10:27] kkaczmarczyk commented on #1452
@EnriqueCorado great thanks for the answer! 2 more questions, however:
1. Could you provide the mock-ups for the mobile version?
2. How the pop-up/modal UI should look like in case of multiple (let's say 5+) property change in a single organization? Should this be visible in one modal or 1 modal for 1 property change?

[2020-12-08 15:53] EnriqueCorado commented on #1430
@kkaczmarczyk that ticket is currently in product board #1451

[2020-12-08 18:39] EnriqueCorado opened #1458 "Refer off "state" by default for linked records to UWBA, Eden, etc"
For a silo that has referral functionality enabled:

* By default, users cannot send a referral to 'linked' records from partners like UWBA/Eden/etc (basically orgs linked by silo_organizations)

* The 'refer' link should not appear on these cards

For records created by other ServiceProviders, the referral functionality and link visibility should respect the silo setting (the current functionalit

[2020-12-08 18:40] EnriqueCorado commented on #1458
@johnhbenetech

[2020-12-08 21:07] EnriqueCorado commented on #1452
<img width="181" alt="Screenshot 2020-12-08 130713" src="https://user-images.githubusercontent.com/65787629/101541440-56226f00-3956-11eb-8562-87bf0996d464.png">
<img width="178" alt="Screenshot 2020-12-08 130723" src="https://user-images.githubusercontent.com/65787629/101541443-56bb0580-3956-11eb-8b44-6695cf2ed999.png">

[2020-12-09 10:15] abaranowska1 commented on #950
@jkondrat If you can please change these buttons to the pills buttons
![image](https://user-images.githubusercontent.com/61964176/101616544-c640fb80-3a0f-11eb-9faf-313c4ac13386.png)

[2020-12-09 11:43] jkondrat opened #1460 "Separate provider and classic view settings"
Since the styling is a little different (for example, we have pills instead of buttons on provider views) it would be nice to separate settings for providers and regular users

[2020-12-09 11:44] jkondrat commented on #950
@abaranowska1 I'm going to break this into a separate task since the page is reused on classic view #1460

[2020-12-09 11:51] #950 closed

[2020-12-09 13:10] abaranowska1 commented on #1443
**Tested with success**
- "Beneficiary History" button was hidden from Service Provider view
![image](https://user-images.githubusercontent.com/61964176/101633927-470bf180-3a28-11eb-9eef-8c8fce1e10b9.png)

[2020-12-09 14:32] abaranowska1 commented on #1458
**Tested with success**

- Users cannot send a referral to 'linked' records from partners like UWBA/Eden/etc
- The 'refer' button does not appear on these cards
![image](https://user-images.githubusercontent.com/61964176/101641637-48421c00-3a32-11eb-9277-bacb8f5be549.png)

**Verified on:**
- Ubuntu 20.04
- Google Chrome Version 85.0.4183.83

[2020-12-09 14:33] #1458 closed

[2020-12-09 16:30] EnriqueCorado opened #1461 "Referral Record Separation"
<img width="758" alt="Screenshot 2020-12-09 082925" src="https://user-images.githubusercontent.com/65787629/101657434-bd90fb00-39f8-11eb-8502-03fcbf6f01f2.png">

<img width="491" alt="Screenshot 2020-12-09 082958" src="https://user-images.githubusercontent.com/65787629/101657448-c08beb80-39f8-11eb-99d2-f8d1113fd0dd.png">

[2020-12-09 17:52] awalkowiak commented on #1403
@EnriqueCorado here is the requested result:
![Selection_436](https://user-images.githubusercontent.com/12113312/101666330-5e5dd580-3a4e-11eb-99b1-9fafb6fa20d8.png)

However, I have two suggestions:

1. For colored button pills we are using a border in the same color as the buttons (the black border we only apply if there is a transparent background). So I'd suggest removing the black border (addi

[2020-12-09 17:55] meenupant commented on #1403
Please go ahead with your suggested second option. Thanks

[2020-12-09 19:40] johnhbenetech commented on #1443
@meenupant Beneficiary history was hidden in this task. Let us know if we need to reopen this task to surface it somewhere else?

[2020-12-09 19:43] johnhbenetech commented on #1394
@meenupant this task implemented the either phone or servicenetid for referral. Please create a new task if you'd like to change this implementation

[2020-12-09 19:49] kkaczmarczyk opened #1462 "Handle race-condition happening for multiple same-time PR merges in 'Docker images' build GH action"
This happens very rarely, but when multiple PRs are being merged in a short amount of time, there is a race condition in 'Docker images' build. Whichever commit's build ends up finishing earlier - its Docker image is being pushed to DH. This can end up in the older commit's image getting pushed later and overwriting the newer commit's image.

TODOs:
* it seems like it can't be handled by GH Action

[2020-12-09 19:59] johnhbenetech opened #1463 "Can't send referral when user owns 1 or 0 records"
situation:
* SP user is logged into a silo with referrals enabled
* SP user owns 1 or 0 records
* SP adds a referral to their cart
* SP user visits referral page, selects receiving location, enters phone or SNID

Result:
* User cannot send referral, send button does nothing

My gut says the form is checking for the existence of the 'sending from' box which isn't applicable for a user with 0 or 1 o

[2020-12-09 20:02] johnhbenetech commented on #1463
@abaranowska1 this should be added to regression tests

[2020-12-09 20:05] johnhbenetech opened #1464 "ISE on referral history page"
when visiting referral history page, an ISE is generated (although data still loads)

SQL Error: 0, SQLState: 42803
2020-12-09 20:03:34.872 ERROR 1 --- [  XNIO-1 task-8] o.h.engine.jdbc.spi.SqlExceptionHelper   : ERROR: column "referral0_.sent_at" must appear in the GROUP BY clause or be used in an aggregate function
  Position: 519
2020-12-09 20:03:34.888 ERROR 1 --- [  XNIO-1 task-8] o.z.problem

[2020-12-09 20:11] meenupant commented on #1443
@johnhbenetech for the CA Marin pilot please don't hide the beneficiary history. Thanks

[2020-12-09 20:12] johnhbenetech commented on #1443
@jkondrat sorry for the reversal on this, can we back out this change?

[2020-12-09 21:51] EnriqueCorado opened #1465 "Beneficiary check in/referral pop up changes"
Purpose/Goal: Provide a "summary" of what transaction was done

Items of actions for check-in:
------
- After the beneficiary checks-in, and the user clicks send, the following pop up with content will popup:
- if the user checked in with a phone number, then show that phone number
- if the user checked in with a service net ID, then display that service net id
- "org name" should be the name of t

[2020-12-09 23:07] meenupant commented on #1394
@johnhbenetech KP says we want either phone or SNID to be a mandatory field. The referral system would not work if we don't have either of those. If they enter a phone number for the first time, it should generate the SNID automatically and assign it to that phone number. When they enter a phone number whose SNID already exists in our system then it should match with that SNID in our system and up

[2020-12-09 23:09] johnhbenetech commented on #1394
@meenupant but should the SNID be user input if phone number not given? or should we just generate for them?

[2020-12-09 23:13] meenupant commented on #1394
@johnhbenetech  We will generate the SNID when they provide phone number for the first time. And if that phone number is already in our records then they can either provide the phone number or SNID and we will match in our database and add that transaction in the beneficiary history.

[2020-12-09 23:15] johnhbenetech commented on #1394
@meenupant I'm asking in the case where it's the first time we have seen someone, and that person doesnt want to provide a phone number.

So in this case there isnt a SNID nor a phone number

[2020-12-09 23:18] meenupant commented on #1394
@johnhbenetech Ok, got it! In that case KP says we do not want to have that option since the referral system will not work and we will end up creating too many zombie IDs. So, either SNID or a phone number is required otherwise they will not be able to refer.

[2020-12-09 23:20] johnhbenetech commented on #1394
@meenupant so to clarify, first time beneficiaries must provide a phone number? i thought we already decided that wasnt ok?

[2020-12-09 23:21] meenupant commented on #1394
@johnhbenetech Yes, that is what we decided earlier but now KP has confirmed that first time beneficiaries will have to provide a phone number.

[2020-12-10 08:47] jkondrat commented on #1443
@johnhbenetech sure, I'm revering the commit

[2020-12-10 11:03] abaranowska1 commented on #1443
Beneficiary History came back
![image](https://user-images.githubusercontent.com/61964176/101763900-b2fd6100-3adf-11eb-908a-e5ea1144a9ab.png)

[2020-12-10 11:03] #1443 closed

[2020-12-10 11:49] jkondrat commented on #1149
@EnriqueCorado @johnhbenetech : Which design should we use: the one from Enrique's comment or the one in the ticket description?

[2020-12-10 11:54] johnhbenetech commented on #1149
@jkondrat the one from comment.

@EnriqueCorado for clarity, please ensure description is updated to always reflect the desired end state

[2020-12-10 12:58] abaranowska1 commented on #1464
**Tested with success**
Internal Server Error is not displayed anymore on the referral history page, data still loads.
![image](https://user-images.githubusercontent.com/61964176/101775248-776a9300-3aef-11eb-949d-7a1203fce44d.png)

[2020-12-10 12:58] #1464 closed

[2020-12-10 13:07] abaranowska1 opened #1467 "Investigate console error thrown during signing in"
Investigate console error thrown during signing in.

[2020-12-10 13:54] abaranowska1 commented on #1463
**Tested with success**
- As a Service Provider user with only 1 or 0 Organization, I can send a referral.
- SMS is sent and the referral is submitted

![Peek 2020-12-10 14-49](https://user-images.githubusercontent.com/61964176/101780520-f0b9b400-3af6-11eb-8a9b-d6128209879f.gif)
![image](https://user-images.githubusercontent.com/61964176/101780827-527a1e00-3af7-11eb-8bc5-793b1b6cbe08.png)

[2020-12-10 13:54] #1463 closed

[2020-12-10 18:58] meenupant commented on #1442
@johnhbenetech @EnriqueCorado Yes, we need to include phone number in our pilot. We can later figure out different ways to capture various other phone numbers as per the users requirements.

[2020-12-10 19:32] #1343 closed

[2020-12-10 19:34] #1344 closed

[2020-12-10 19:34] #1455 closed

[2020-12-10 19:36] #1345 closed

[2020-12-10 19:37] #1267 closed

[2020-12-11 10:21] abaranowska1 commented on #1403
@awalkowiak two suggestions:
- please change the size of the button on mobile, it should be a little bigger,
- center the text button on Safari, Edge, and Chrome browsers

[2020-12-11 11:02] abaranowska1 commented on #1403
**Tested with success**
- Refer button changes the color,
- The size is optimal on mobile and browser view,
- The text button is centered on Safari, Edge, Chrome and Firefox browsers
![Selection_570](https://user-images.githubusercontent.com/61964176/101896048-aa249200-3ba8-11eb-981c-b3d3fad5d392.png)
![Selection_569](https://user-images.githubusercontent.com/61964176/101896051-ab55bf00-3ba8-11eb-

[2020-12-11 16:36] #1403 closed

[2020-12-11 22:57] EnriqueCorado opened #1468 "SP Beneficiary History "Outbound Referral History" tab"

[2020-12-14 15:56] EnriqueCorado commented on #1468
@meenupant

[2020-12-14 16:49] EnriqueCorado opened #1470 "Network Referral History for Umbrella Organization (CA Marin)"
**User Story**
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description**
This feature will only be available to the new user role in #1712 "ROLE_NETWORK_USER"
Purpose:
Provide overseeing organization the ability to see all the referral history inbound + outbound from all CBOs under them

- add a new tab under beneficiary hist

[2020-12-14 17:47] EnriqueCorado opened #1471 "Network Map Visualization"

[2020-12-14 22:46] EnriqueCorado opened #1472 "New Record Created removal of banner"
Purpose
------
Removal of banner after new record created and provide a cleaner approach of a "Success account created" popup

Users
-----------
Service Providers creating/adding a new record

Features
-----------
 - First, remove the top left banner that appears after creating/adding a new record
- Second, add a pop-up that says "New record __name of record__ successfully added!"
- add the name o

[2020-12-14 22:53] EnriqueCorado opened #1473 "Service Net Admins Email Notifications When User Registers to Service Net"
Purpose
------
Service Net Admins need a notification to indicate when users have registered on Service Net in order to approve accounts

Users
-----------
Benetech Admins

Features
-----------
Dev please find the best way
1. Assign roles to benetech users (if not already there) that have the clearance to approve registration accounts
2. Send email notifications to those users that have access to

[2020-12-14 23:09] meenupant commented on #1473
@johnhbenetech How does the account approval process works for other Benetech products like Bookshare? Can we adopt those best practices here as well?

[2020-12-14 23:16] meenupant commented on #1472
There is no need to display the complex identifier number. Capture the details in #1445 (SP User updates tracked in Database)

[2020-12-14 23:23] EnriqueCorado commented on #1472
@meenupant yea, won't be displaying the identifier, under features it is tasked to be removed

[2020-12-14 23:27] johnhbenetech commented on #1473
@meenupant I don't think their process would be relevant. Due to the extreme membership limitations they actually require paperwork to be filled out manually, etc.

[2020-12-14 23:58] EnriqueCorado opened #1474 "New Captcha For Login/Registration"
Purpose
------
Improve the user experience

Users
-----------
All users needing to login/register onto service net

Features
-----------
- update the captcha style to the one below

Mockups
-----------

![Screen Shot 2020-12-10 at 11 40 10 AM](https://user-images.githubusercontent.com/65787629/102150219-ea904400-3e24-11eb-812d-1f762a548ecc.png)

[2020-12-15 00:02] meenupant commented on #1473
@johnhbenetech @EnriqueCorado I researched and there are many ways to implement it. Let's discuss this in a zoom call. It will need to be scoped out in detail including the error notification and redirecting.

Refer:
http://www.web-site-scripts.com/knowledge-base/article/AA-00747/0/User-Registration-Workflow.html

Please note that each template consists of two parts: one for the subject and one fo

[2020-12-15 10:36] abaranowska1 commented on #1149
@jkondrat
- "Please pre-populate weekdays from 9:00 AM to 5:00 PM and closed on weekends same for mobile. Second row, with no default settings up" - this is not implemented
- Please make the fields for time wider, because when we have for example 10:30 PM, "PM" is not visible in the field
![image](https://user-images.githubusercontent.com/61964176/102197004-e1ed4b80-3ec0-11eb-9c89-4b760e275e9e.png

[2020-12-15 15:13] abaranowska1 commented on #1149
**Tested with success**
- Hours of operation was added to the SP view ( creation and edit Location view )
![image](https://user-images.githubusercontent.com/61964176/102232986-0ad90500-3ef0-11eb-9946-c9a50e5778c5.png)
![image](https://user-images.githubusercontent.com/61964176/102232998-0f9db900-3ef0-11eb-9992-8180d65a8d6a.png)
- We are using default opening hours on weekdays from 9:00 AM to 5:00

[2020-12-15 20:12] meenupant opened #1476 "Reset Password Pop-up changes"
As a user when I forget my password and enter my email to reset my password, I should see the following pop-up message on the page itself, and NOT as a disappearing pop-up message on the top left corner.

Replace this:
![image](https://user-images.githubusercontent.com/74263963/102267436-bffac580-3ece-11eb-905f-973b14fa89b5.png)

With this message:

![image](https://user-images.githubusercontent.c

[2020-12-15 20:29] meenupant opened #1477 "Error in updating record"
I encountered an error in my account meenakship on dev, I created my record with incomplete random information and when I click on this record / card (top right), a pop-up disappearing message says "null is not an object (evaluating 'e.children')". Then, the page gets frozen and nothing works, except Sign out.

![image](https://user-images.githubusercontent.com/74263963/102269083-018c7000-3ed1-11e

[2020-12-15 20:44] meenupant commented on #1477
When I click "I'm Finished" on the page below, I get a pop-up message "Internal Server Error". Is this due to the new feature 'Hours of Operation'?

![image](https://user-images.githubusercontent.com/74263963/102270777-431e1a80-3ed3-11eb-914f-77756c807024.png)

[2020-12-15 20:47] meenupant commented on #1149
@kkaczmarczyk @abaranowska1 Please check if this is causing errors in adding and updating records.

[2020-12-15 20:48] johnhbenetech commented on #1149
see #1477 - not sure what root cause might be

[2020-12-15 20:49] johnhbenetech commented on #1477
this is on EdenSilo in dev

[2020-12-15 21:23] johnhbenetech commented on #382
not sure if my above comment is still relevant, but thought I would include it

[2020-12-15 21:36] EnriqueCorado opened #1478 "Service Provided Details to Referral"
Purpose
------
Provide a summary of what services the beneficiary received

Users
-----------
Service Providers

Features
-----------

Mockups
-----------
_Desktop_
------

_Mobile_
------

[2020-12-15 22:20] meenupant opened #1479 "Same phone number different Service Net ID"
I used my phone number for referrals in two different accounts "meenakship" and "women". Each time I referred this phone number, I received messages with a service net id. However, I received two different service net ids "000t", and "0005" from these different accounts on the same phone number. I believe we want to have one SN ID associated with one phone number irrespective of which organization

[2020-12-15 22:43] johnhbenetech commented on #1479
it's most likely a requirement bug. @meenupant can you turn this into a task that fully defines the intended design? Then we can make sure to get this fixed for all cases.

[2020-12-16 08:10] abaranowska1 commented on #1477
@jkondrat
Plz check it. I see that for example organization (Org Name) which I used fot tests doesn't generate an error:  https://benetechservicenet.org/#/record/a5deecef-3af9-4f22-b012-ea742a077ecf/edit ( provider user account ), but I confirmed that for example this Organization (Chihuly Garden and Glass New test 31/08) https://benetechservicenet.org/#/record/55a115e3-dd96-4218-a9f4-bc8c72d162f3

[2020-12-16 09:46] awalkowiak commented on #1446
@abaranowska1 Here is the brief summary of what was done.
1. Added modal with records to claim. Records shown are from partner providers (every provider except ServiceProvider) and shown are only records that have not been claimed yet.
2. If the user never did claim action, the modal from the previous point will be shown to him automatically. If the user did claim (or clicked the 'Done' button wit

[2020-12-16 10:06] awalkowiak opened #1481 "Cover with tests claim and unclaim feature"
After the claim and unclaim features (#1446, #1333) are finished, it should be covered with tests (unit or integration).

[2020-12-16 10:25] abaranowska1 commented on #1413
**Tested**

@jkondrat  Suggestions:
1. On the Beneficiary Check In modal after we click Send button we can see such screen which inform us about success.
![image](https://user-images.githubusercontent.com/61964176/102330832-550ec480-3f8a-11eb-8e60-cf6fe27bb418.png)
When we click the Send button on the ReferElsewhere modal page, the modal window is closed and a green popup is displayed. Maybe it ne

[2020-12-16 13:07] abaranowska1 commented on #1477
**Tested with success **
- Unexpected error doesn't occur anymore during updating and displaying edit view. I cannot replicate the Internal Server Error during the creation, but I will also take a look at it during regression tests.
![Peek 2020-12-16 13-36](https://user-images.githubusercontent.com/61964176/102351860-6adeb280-3fa7-11eb-84e7-636fd37753f8.gif)

[2020-12-16 13:11] abaranowska1 commented on #1333
@awalkowiak
The unclaim button disappear after I did any update and click the I'm Finished button
![Peek 2020-12-16 14-10](https://user-images.githubusercontent.com/61964176/102352824-8ac2a600-3fa8-11eb-93ef-bcd03023ea4c.gif)

[2020-12-16 13:12] johnhbenetech commented on #1477
@jkondrat was there a corresponding commit that fixed this?

[2020-12-16 13:14] abaranowska1 commented on #1446
@awalkowiak
Plz take a look why the Internal Server Error is displayed for example when I want to add the Daily Update and Save changes to this Organization: https://benetechservicenet.org/#/record/f61e812a-53da-404b-bfad-fdfe4e367f8a/edit
![Peek 2020-12-16 14-13](https://user-images.githubusercontent.com/61964176/102353147-f86ed200-3fa8-11eb-8c40-edbcb416faec.gif)
![image](https://user-images.git

[2020-12-16 13:16] abaranowska1 commented on #1413
**Tested with success**
- The line was removed
![image](https://user-images.githubusercontent.com/61964176/102353346-33710580-3fa9-11eb-8200-f17c5d71265e.png)
- The Beneficiary Check In and Referrals now are closed after click the Send button and the green pop-ups are displayed in both situations.

[2020-12-16 13:17] abaranowska1 commented on #1149
#1477 fixed

[2020-12-16 15:02] jkondrat commented on #1477
@johnhbenetech This was fixed as a part of #1413 (6e04527a75aba5e3f48c6a9c9c1f0b2710ac0e5d), sorry for not tagging it properly

[2020-12-16 15:47] abaranowska1 commented on #1333
**Tested with success**
- The unclaim button stays after update record
![image](https://user-images.githubusercontent.com/61964176/102371304-5659e480-3fbe-11eb-86fb-f1ec741f59ad.png)

[2020-12-16 15:48] EnriqueCorado opened #1484 "Claiming Record Email to benetech admin, pop up to display, please wait for approval"
after claiming records there is no email sending action. The claimed records have set replaced_by relation to the cloned record

[2020-12-16 15:59] abaranowska1 commented on #1446
**Tested**
Going through the acc :
- Modal with records to claim was added. Records shown are from partner providers (every provider except ServiceProvider) and shown are only records that have not been claimed yet.
![image](https://user-images.githubusercontent.com/61964176/102372689-c2891800-3fbf-11eb-9079-fa6d9b6b1f29.png)
- If the user never did claim action, the modal from the previous point

[2020-12-16 16:03] awalkowiak commented on #1446
@abaranowska1 all fixed beside the issue with the record you pasted here. Seems like this is caused because the PostalAddress for Location is empty (which should not in the ServiceProvider case).

@johnhbenetech what do you think about this edge case? Should we create a copy of the physical address into the postal address (and if there is an opposite case, then copy the postal address into a physi

[2020-12-16 16:23] johnhbenetech commented on #1446
@awalkowiak I'm not sure I understand, can you provide more details?

Let's say a UWBA record contains 0 locations, or a location with no physical address, or a location with no postal address.

If a Service Provider attempts to claim that record what happens?

[2020-12-16 17:23] awalkowiak commented on #1446
@johnhbenetech I replied in a slack thread with the same issue.

[2020-12-16 18:15] EnriqueCorado opened #1487 "Claim a record edge cases"

[2020-12-16 18:51] EnriqueCorado commented on #1487
@meenupant

[2020-12-17 09:08] abaranowska1 opened #1489 "Regression tests 12-17-2020 milestones 2.9 - 2.13"
After one month from previous regression testing, it is important to check thoroughly if every functionality and feature works as expected.

The regression test suite contains all tests designed for this moment.

Link to the test suite:
https://docs.google.com/spreadsheets/d/1F56UC2n0h_SAmtyMn5B_yMTMNlnFKPxwscQWDhhyzLw/edit#gid=0

ACC

All test cases from the list are performed
Report is created
T

[2020-12-17 09:39] abaranowska1 opened #1490 "Services and locations should be displayed three per line/row ( Service Provider Edit View )"
During regression tests, I met UI issue with displaying services and locations. On the Service Provider Edit View they should be displayed three per line/row.
Old screenshot:
![image](https://user-images.githubusercontent.com/61964176/102470989-ecd8e500-4054-11eb-8a51-29e03362f789.png)
Actual result :
![image](https://user-images.githubusercontent.com/61964176/102471030-fc582e00-4054-11eb-9dda-83b

[2020-12-17 10:15] abaranowska1 opened #1491 "Investigate performance issue during claiming more than 5/6 records"
During claiming more than 5/6 records which also have some services and locations I can meet a performance issue during loading this Organization to the carousel.
![Peek 2020-12-17 11-20](https://user-images.githubusercontent.com/61964176/102475313-ffa1e880-4059-11eb-83fd-157b33036489.gif)

[2020-12-17 11:46] abaranowska1 commented on #1446
Thanks, @awalkowiak for small fixes to taxonomy and PostalAddress, no there is no ISE and all taxonomies are displayed. I created a separate task for performance issue during claiming more records. #1491

[2020-12-17 13:41] abaranowska1 opened #1493 "Change the size of the Claim button on the referral disabled view"
The claim button is too big on the referral disabled view - it should be smaller, but only on the web view.
![image](https://user-images.githubusercontent.com/61964176/102495545-7d73ed00-4076-11eb-856f-3ca2de4a6fd0.png)

[2020-12-17 14:46] abaranowska1 opened #1494 "Firefox UI issue - "jumping" 'Search this area' button"
I met an issue with 'Search this area' button on Firefox Map View. It is "jumping" after click.
![Peek 2020-12-17 15-40](https://user-images.githubusercontent.com/61964176/102502714-3d653800-407f-11eb-98af-185ed631bb27.gif)

[2020-12-17 15:30] abaranowska1 opened #1495 "Claiming modal is displayed for not logged user on a public view"
Claiming modal is displayed for not logged user on a public view.

![image](https://user-images.githubusercontent.com/61964176/102508094-4d801600-4085-11eb-9b86-88992f28ba06.png)

Expected result: It shouldn't be displayed

[2020-12-17 15:52] abaranowska1 commented on #1494
**Tested with success**
Confirmed that button is not "jumping" on Firefox.
![Peek 2020-12-17 16-51](https://user-images.githubusercontent.com/61964176/102510722-3a227a00-4088-11eb-9513-d2d43736a09a.gif)

[2020-12-17 16:03] abaranowska1 commented on #1490
**Tested with success**
Confirm that UI issues related to displaying services and locations were fixed.
![image](https://user-images.githubusercontent.com/61964176/102511872-98039180-4089-11eb-866d-fbbe7aa2e48f.png)

[2020-12-17 17:27] #1479 closed

[2020-12-17 17:40] EnriqueCorado opened #1499 "Feedback page to Help Center (in wordpress missing official content)"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:
As a service provider, I want to be able to have and see a help center in order to see any tutorial videos as well as send a feedback email if I have a concern.

Description:
Turning the Feedback button on the Service Provider View to "Help Center"
- in addition to the curre

[2020-12-17 17:46] #1478 closed

[2020-12-17 17:46] EnriqueCorado opened #1500 "As a [persona] i want to be able to [purpose] so that I can [value]"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2020-12-17 18:31] EnriqueCorado opened #1501 "SP User updates tracked in Database"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2020-12-17 18:34] #1445 closed

[2020-12-17 18:35] EnriqueCorado opened #1502 "User roles"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:
As benetech staff we want to assign user roles to each user login to the Service Provider View

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required

[2020-12-17 18:40] EnriqueCorado opened #1503 "Claiming Record Email to benetech admin, pop up to display, please wait for approval"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2020-12-17 18:44] #1484 closed

[2020-12-17 21:38] EnriqueCorado opened #1504 "Beneficiary gets a new phone number"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

People change phone numbers frequently, solve for that cant loose old phone number

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics

[2020-12-17 21:59] EnriqueCorado opened #1505 "Two agencies make the same record"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2020-12-18 08:43] abaranowska1 commented on #1495
**Tested with success**
Claiming modal is not displayed for not logged user on a public view.
![image](https://user-images.githubusercontent.com/61964176/102593661-718b3800-4115-11eb-956f-9fbcb8d5b712.png)
![image](https://user-images.githubusercontent.com/61964176/102593677-764fec00-4115-11eb-93eb-304d85ec2b29.png)

[2020-12-18 13:51] abaranowska1 opened #1506 "UI issue with displaying locations and services"
**Bug description**
UI issue with displaying locations and services occur on the edit view page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the edit view page and click the location/service card.

**Actual result**

![Peek 2020-12-18 14-43](https://user-images.githubusercontent.com/61964176/102621350-b5933280-413f-11eb-9d12-226987634833.gif)

**Expected behavior**

![image](https:/

[2020-12-18 15:35] abaranowska1 opened #1507 "Mobile view UI issue with claim modal [ iOS devices ]"
**Bug description**
On the iOS devices, there is an issue with the claiming modal. The 'Done: button is under the cards and it it too low. Also, cards are displayed on the top title and cover the text.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a provider and click claim records button

**Actual result**
iOS:
![Selection_650](https://user-images.githubusercontent.com/61964176/

[2020-12-18 16:32] meenupant commented on #1446
@johnhbenetech @EnriqueCorado @kkaczmarczyk  Right now we are displaying this pop-up message after claim "Please wait for email approval for records claimed".  What happens to the claimed record until it is approved? Does it get displayed as owned records (top right)? I believe we do not make it available for others to claim? We must send the approval email saying that your records are not fully c

[2020-12-18 16:39] EnriqueCorado commented on #1446
@meenupant #1487 goes into the middle step of this process.

[2020-12-18 17:24] awalkowiak commented on #1446
@meenupant @EnriqueCorado at this point there is no "Approval" of records and no email is being sent. If user is claiming something, then it's cloned into his records (and is shown/visible right away).

In the ticket that @EnriqueCorado linked there will be checking if the records are dirty (as it was discussed during the last standup call) and if users will have incomplete data it will be highlig

[2020-12-18 17:59] johnhbenetech commented on #1446
@meenupant Unfortunately this may have been one of those tasks where too many requirements were scattered in too many places. Hopefully the new templates can help prevent this going forward. Depending on how critical the missed functionality is for the pilot - let's make sure the tasks referred to above make it over to dev ASAP for the next milestone.

[2020-12-21 07:42] abaranowska1 commented on #1388
@awalkowiak @johnhbenetech
The same issue during claiming records, when user is assigned to the silo and user group, for example, alaprov1 is in the "EdenSilo" and "qa group" and this group does not have Silo assigned then we do not display them when claiming records. when I remove the group from the user all works fine.
![Peek 2020-12-21 08-30](https://user-images.githubusercontent.com/61964176/1

[2020-12-21 09:27] abaranowska1 opened #1509 "Missing bottom scroll bar on the Entities page"
**Bug description**
When we go to the Entities page login as admin user and we enter for example Shelter or Organization Entity we don't have the bottom scroll bar which is user-friendly during reviewing information by the user

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as admin
2. Go to the Entity Page
3. Pick Shelter or Organization page

**Actual result**
There is no bottom sc

[2020-12-21 10:55] abaranowska1 opened #1510 "The white background ends suddenly in all-records-view"
**Bug description**
The white background ends suddenly in all-records-view.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as admin user
2. Go to Organization with more than 2 matches
3. Click "Show all matches" button

**Actual result**
The white background ends suddenly in all-records-view.

**Expected behavior**
The white background should be displayed under all records

**Screens

[2020-12-21 13:01] abaranowska1 opened #1511 "Sorting is not working on the Referral History listing page"
**Bug description**
Sorting is not working on the Referral History listing page, after click the sorting arrows date are not sorted properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as provider user
2. Go to the Beneficiary History
3. Click the sorting arrow on the Referred From / Referred To / Status column

**Actual result**
Data are not sorted.

**Expected behavior**
Data s

[2020-12-21 13:24] abaranowska1 opened #1512 "Bring back "back to top" button on single/multi/all - record view"
**Bug description**
"Back to top" button is not displayed anymore, plz bring it back.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as admin
2. Open random Organization
3. single/multi/all - record view
4. Expand all section and scroll to the bottom

**Actual result**
There is no "back to top" button creted in https://github.com/benetech/ServiceNet/issues/367

**Expected behavior**

[2020-12-21 15:13] abaranowska1 opened #1513 "UI issue with the "x" icon on the multi-record-view"
**Bug description**
UI issue with the "x" icon on the multi-record-view. The "x" should be under the user profile dropdown

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as admin
2. Go to the Organization
3. Enter to the multi-record-view
4. Open user profile dropdown

**Actual result**
![Selection_664](https://user-images.githubusercontent.com/61964176/102791489-5f282d00-43a7-11eb-9

[2020-12-21 18:45] awalkowiak commented on #1491
@johnhbenetech, @EnriqueCorado, @meenupant
Here is the complete version of it (not yet pushed). Let me know if you'd like to change something.
Version when claiming 3 records:
![claiming_progress_3_records](https://user-images.githubusercontent.com/12113312/102810885-cb655980-43c4-11eb-89ac-f9dc8c85d12f.gif)

Varsion when claiming 12 records:
![claiming_progress_12_records](https://user-images.git

[2020-12-22 07:52] abaranowska1 commented on #1493
**Tested with success**
The Claim button now looks fine. The length has been fixed and now fits with other buttons.
![Selection_666](https://user-images.githubusercontent.com/61964176/102863516-fbe3dc80-4432-11eb-9206-b6b7fbfd7970.png)
![Selection_665](https://user-images.githubusercontent.com/61964176/102863530-000ffa00-4433-11eb-8e53-10e865fb6337.png)

[2020-12-22 08:03] abaranowska1 commented on #1511
**Tested with success**
The sorting functionality has been fixed on the Referral History listing page
![Peek 2020-12-22 08-57](https://user-images.githubusercontent.com/61964176/102864358-49147e00-4434-11eb-84ff-f68249a90eef.gif)

[2020-12-22 08:14] abaranowska1 commented on #1506
@jkondrat
Plz, look at this issue once again, because after changes all modals don't look good. Also, there is a lot of free space above the first rows on the locations and services edit page.
![Selection_673](https://user-images.githubusercontent.com/61964176/102865375-f340d580-4435-11eb-8501-39eb61b864cc.png)
![Selection_671](https://user-images.githubusercontent.com/61964176/102865377-f3d96c00-

[2020-12-22 08:23] abaranowska1 commented on #1507
**Tested with success**
The claim modal looks fine now also on iOS devices, cards do not cover the title and Done button, for example, iPhone X:
![image](https://user-images.githubusercontent.com/61964176/102866203-2b94e380-4437-11eb-9b46-d1b85689b21e.png)

[2020-12-22 10:05] abaranowska1 opened #1516 "Issue with upload data"
**Bug description**
There is an Issue with upload data - I cannot upload OneRecord files.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as admin
2. Go to Upload data
3. Upload OneRecord files

**Actual result**

![image](https://user-images.githubusercontent.com/61964176/102876293-4bcb9f00-4445-11eb-86c0-0aa0fb1b1d69.png)
![image](https://user-images.githubusercontent.com/61964176/1

[2020-12-22 10:10] abaranowska1 opened #1517 "After click "Show all matches" button Organizations are not displayed"
**Bug description**
After click "Show all matches" button Organizations are not displayed. An issue exists only on the dev server if I click the same button on staging all works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as admin to dev server
2. Click random Organization with matches
3. Click "Show all matches"

**Actual result**
DEV:
![Peek 2020-12-22 11-07](https://user-

[2020-12-22 12:13] abaranowska1 commented on #1491
@awalkowiak Plz investigate Internal Server Error during claiming records
![Selection_683](https://user-images.githubusercontent.com/61964176/102887520-66a70f00-4457-11eb-9009-ceb1f0c28d3c.png)
![Selection_682](https://user-images.githubusercontent.com/61964176/102887530-6a3a9600-4457-11eb-9acc-2bb2c8429358.png)
![Selection_681](https://user-images.githubusercontent.com/61964176/102887533-6c045980

[2020-12-22 12:17] abaranowska1 commented on #1516
Thank @jkondrat, after your fix all works as expected. I can upload data without error.
![Selection_680](https://user-images.githubusercontent.com/61964176/102887723-b7b70300-4457-11eb-8037-1fb9a15225b6.png)

[2020-12-22 15:59] abaranowska1 commented on #1506
**Tested with success**
- Modals are in the right size
- There is no internal server error during editing records
- There is no UI issue with displaying locations and services
![Peek 2020-12-22 16-17](https://user-images.githubusercontent.com/61964176/102905024-d8d91d00-4472-11eb-9190-7d270364ac62.gif)
![Selection_709](https://user-images.githubusercontent.com/61964176/102905036-e0002b00-4472-11eb

[2020-12-22 16:31] meenupant commented on #1506
@abaranowska1 @jkondrat

![Screen Shot 2020-12-22 at 8 08 50 AM](https://user-images.githubusercontent.com/74263963/102910695-ce496400-442f-11eb-9dc0-27fdc89a6627.png)

Done button not displayed in full (Safari browser on Mac). Also, "I'm Finished" not clickable in the development environment

[2020-12-22 16:43] abaranowska1 commented on #1506
@meenupant  Screenshots from Mojave , macOS, Safari 12.1 Browser
![Selection_713](https://user-images.githubusercontent.com/61964176/102911933-0d51d680-447d-11eb-8b7d-55d47ac61fde.png)

![Selection_714](https://user-images.githubusercontent.com/61964176/102911930-0aef7c80-447d-11eb-9357-1da4ef768bac.png)

[2020-12-22 16:51] abaranowska1 commented on #1491
**Tested**
- The Internal Server Error is not displayed during claiming records
- New modal which shows us loading progress was added to the claiming functionality
![Selection_712](https://user-images.githubusercontent.com/61964176/102912733-08415700-447e-11eb-952d-36d0b614bdf4.png)

[2020-12-22 17:05] EnriqueCorado opened #1520 "Issue with Refer and Referred button when resizing page on chrome"
**Bug description**
Issue with Refer and Referred button when resizing page on chrome

**To Reproduce**

Steps to reproduce the behavior:
1. Resize chrome window to less than half screen
2. When I click on Refer and the text changes to Referred, the text is hiding since the size of the button bubble is too small

**Actual result**

![Screenshot 2020-12-22 090125](https://user-images.githubusercont

[2020-12-22 17:20] EnriqueCorado opened #1521 "Center Check in and Referral modal title pop up"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:
As a SP I want to be sure of what modal I have popped up that is visually pleasing

Description:
Make the title of the modal header centered for Check In and Referrals and bold those titles to add emphasis on what the user is doing

- keep the same text size for both titles

[2020-12-22 17:21] EnriqueCorado opened #1522 "Center Modal Titles"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:
As a SP I want to be sure of what modal I have popped up that is visually pleasing

Description:
Make the title of the modal header centered for Check In and Referrals and bold those titles to add emphasis on what the user is doing

- keep the same text size for both titles

[2020-12-22 17:23] #1489 closed

[2020-12-22 19:54] EnriqueCorado opened #1523 "Can't unclaim all records"
**Bug description**
Can't unclaim all of the records I claimed
- solution to this bug on #1544

**To Reproduce**
Steps to reproduce the behavior:
1. Claim any number of records
2. Unclaim all
3. When you get to the last record and try to unclaim it, an "Internal server error" pops up

**Actual result**
user stuck with one record that can't be unclaimed

**Expected behavior**
be able to unclaim all

[2020-12-22 20:16] EnriqueCorado opened #1524 "Move Beneficiary History to Header"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a SP I want to find the Beneficiary History page fast and not have to click on the dropdown at the top right in order to get there

Description:

- Move the Beneficiary History menu option to the header in between "Home" & "Feedback"
- Keep the same font, size, color
- d

[2020-12-22 21:45] EnriqueCorado opened #1525 "Unclaimed record doesn't disappear without a reload"
**Bug description**

When unclaiming a record, the record should automatically disappear

However, every time I unclaim a record the record stays on my view unless i reload my browser

same issue on mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Claim any record
2. Unclaim it
3. Record will show as an owned record
4. Disappears only until the user reloads browser

**Actual resul

[2020-12-22 21:51] EnriqueCorado opened #1526 "Forgot Password Should be clickable"
**Bug description**

On the public view, when I open the sign in modal and click "Forgot Password" the username field gets highlighted for me to input the username as it cannot be empty

however, the user should be able to not fill anything in and go straight to the forgot password page

only until the second time of clicking forgot password is when I'm able to see the reset your password page

**

[2020-12-22 22:00] EnriqueCorado opened #1527 "text Update to :Claim records" button"
Description:

Update the text of the "Claim records" button to "Claim Record(s)"

<img width="88" alt="Screenshot 2020-12-22 140046" src="https://user-images.githubusercontent.com/65787629/102937022-18e1d500-445e-11eb-8fc8-697843e82820.png">

Dev Signoffs (remove items if not applicable to this issue)
- [ ] Unit test added for the core business features at the minimum
- [x] Code review passed
- [x

[2020-12-22 22:03] EnriqueCorado opened #1528 "Claim a record flow: record information within modal"
**Bug description**

When a user is claiming a record and the user clicks on the name of the record, instead of taking them to a different page, have the details of the record show up on the modal itself

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Claim record(s)
2. Click on a record name
3. User gets taken to a complete page of viewing a record

**instead show the record inform

[2020-12-22 22:19] EnriqueCorado commented on #1472
@meenupant

[2020-12-22 22:20] EnriqueCorado commented on #1499
@meenupant

[2020-12-22 22:26] EnriqueCorado opened #1529 "Claiming a record search bar to modal"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a user claiming a record I want to be able to search for my records and not have to scroll to find them

Description:

Add the same search bar as in the screenshot below in order to find record(s) by name
<img width="946" alt="Screenshot 2020-12-22 142512" src="https://u

[2020-12-22 22:49] EnriqueCorado opened #1530 "Deactivating Record Pop Up Text Update"
Description:

Update the current pop up after a user clicks on Deactivate Record from what is it below

<img width="959" alt="Screenshot 2020-12-22 144910" src="https://user-images.githubusercontent.com/65787629/102940304-dc65a780-4464-11eb-895a-b6c1fb6f97f2.png">

**To**
"Are you sure you want to deactivate this record? If you deactivate this record, no other organization will be able to find thi

[2020-12-22 22:49] EnriqueCorado commented on #1530
@meenupant is the text update/change ok?

[2020-12-22 23:23] meenupant commented on #1530
@EnriqueCorado I have updated the description above. Please move it to Up Next and mark it mid-sprint. Thanks

[2020-12-23 08:54] awalkowiak commented on #1523
@EnriqueCorado I looked into sentry why this one is failing. Turns out, that this record was referred. The unclaim action deletes the record. In order to delete this one, we'd need to delete the refer objects that are related to this record. Is it a proper action? Or perhaps records should be 'Unclaimable' if it was already referred?
cc @johnhbenetech, @meenupant

[2020-12-23 09:24] awalkowiak commented on #1523
@EnriqueCorado how about if the user tries to unclaim a record that is already referred or checked in we throw info, that "this record is referred you can only deactivate it now"?

[2020-12-23 10:16] awalkowiak commented on #382
@johnhbenetech we should use SendGrid for this one right?

[2020-12-23 10:23] awalkowiak commented on #1528
Dev note: be sure to check the mobile version on the 360 width and on IOS (use browserstack).

[2020-12-23 10:37] awalkowiak commented on #1520
Dev note: the refer button has now 25% of card width, lets use a fixed value, and for locations instead of 75% the flex-grow or sth.

[2020-12-23 10:45] awalkowiak commented on #1487
Dev note:
- Backend:
  - Add isDirty flag
  - when claiming or saving existing records check validation (on the backend) and set isDirty properly
  - if organization.isDirty don't show it on all records / public view
  - add isDirty to dtos
- Frontend:
  - highlight record on carousel if organization.isDirty
  - in record-edit add orange highlight if the field is "not required"/"non-critical"
  -

[2020-12-23 10:48] awalkowiak commented on #1442
Dev note: Ensure that phone numbers are copied during claiming records.

[2020-12-23 12:45] kdondziak commented on #382
@johnhbenetech what should be the default sender address for this?

[2020-12-23 13:46] johnhbenetech commented on #382
@kdondziak yes let's use sendgrid and use servicenetaccounts@benetech.org - I'll work on the sendgrid side to do domain verification but hopefully that will work for testing purposes

[2020-12-23 17:15] meenupant commented on #1523
@awalkowiak Good question. This question has opened up many other similar situations. I am preparing a list and discuss with the team for the best solutions.

[2020-12-23 19:58] EnriqueCorado opened #1531 "Add option to delete avatar picture"
Description:

Add an X or remove avatar picture button

Acceptance Criteria:
*

Dev Signoffs (remove items if not applicable to this issue)
- [ ] Unit test added for the core business features at the minimum
- [ ] Code review passed
- [ ] CI passed successfully
- [ ] CodeQL scan for vulnerabilities in code has passed
- [ ] Docker images have been built and deployed to the dev server

QA Signoffs (

[2021-01-04 16:55] EnriqueCorado opened #1533 "Provide explanation next to "Deactivate Record" & "Unclaim Record" Button"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a Service Net logged in user I would like to know the difference and an explanation of what the Deactivate Record and Unclaim Record does to be sure I won't hurt the system

Description:

Add a question mark pop up on hover next to the "Deactivate Record" & "Unclaim Reco

[2021-01-04 17:13] EnriqueCorado opened #1534 "New filter(s) location makes Zip Code be in two lines"
Description:

<img width="569" alt="Screenshot 2021-01-04 091154" src="https://user-images.githubusercontent.com/65787629/103560641-f17f0500-4e6c-11eb-8bfa-d650c6fa4551.png">

Acceptance Criteria:
*

Dev Signoffs (remove items if not applicable to this issue)
- [ ] Unit test added for the core business features at the minimum
- [ ] Code review passed
- [ ] CI passed successfully
- [ ] CodeQL scan

[2021-01-04 18:20] johnhbenetech commented on #382
This doesn't seem to work on QA
The email contains a 127.0.0.1 URL instead of one that is based on whichever environment it was sent from.

Manually changing the URL to fix the domain does sucessfully reset password though

[2021-01-04 18:30] johnhbenetech commented on #382
@kdondziak Can we change the copy in the email as well?

Subject: ServiceNet Password Reset

Dear {username}

A password reset was requested for your ServiceNet account, please click on the URL below to reset it:

{URL}

Regards,
Benetech ServiceNet Team

[2021-01-04 21:33] EnriqueCorado opened #1535 "SP: COVID 19 Protocols Field"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a beneficiary, I want to know if there are any protocols regarding COVID 19 when going to a CBO

Description:

Add a field both in editing a record and new record flow for "COVID 19 Protocols"
- continue using the same look and field as the other fields in their pages
-

[2021-01-04 22:57] EnriqueCorado opened #1536 "24 / 7 Opening checkbox in Opening Hours"
Description:

Add a check box with the text "Open 24/7" to the current hours in services

<img width="886" alt="Screenshot 2021-01-04 145652" src="https://user-images.githubusercontent.com/65787629/103587942-1b502000-4e9d-11eb-9b09-ea1560b8b926.png">

- if the user clicks this, there is no need to need to show the time and day hour fill in

Acceptance Criteria:
*

Dev Signoffs (remove items if not

[2021-01-04 23:04] EnriqueCorado opened #1537 "New SystemAccount for LinkForCare: allow for import via job UI"
Description:
Add a new SystemAccount for LinkForCare and allow for import via job UI

- in the excel file shared there are two tabs: Data & Mapping
- the mapping tab of the excel sheet shows the CSV current column name and what it maps to in SN
- there is also a table to the right of it that has a summary of the SN fields as well as new fields with their task number which are in the up next column

[2021-01-04 23:12] EnriqueCorado commented on #1537
@johnhbenetech

[2021-01-04 23:59] johnhbenetech commented on #1537
Metadata notes:

We can use the ID, LastModified, and Createdby columns from the CSV for those corresponding fields in ServiceNet

[2021-01-05 08:35] kdondziak commented on #382
@johnhbenetech Sure. I'll fix that

[2021-01-05 15:57] EnriqueCorado opened #1538 "SP Load Previous Page"
Description:

Currently on the SP view and the public view, if a user scrolls down more than 3 records down, clicks on a record to view info, and clicks "back to all records," the website takes the user all the way to the top of the records instead of the last "scrolled" place the user was at
- causing the user to again go back and scroll down to where the user found the record

Steps to recreate

[2021-01-05 16:06] EnriqueCorado opened #1539 "Don't allow direct deactivation"
Description:
- extension to #1502
- once all user roles have been set this task will follow

**Use case:**

A CBO   claims a record by mistake and then deactivates it? The record will be   removed from the owned records, and it is removed from the claimed section   too
--

**Solution:**

When a   user deactivates a record, show this message: "Are you sure you want to   deactivate this record? If y

[2021-01-05 16:34] EnriqueCorado opened #1540 "Notification to users referred to deactivated records"
Description:
- build off from #1539

**Use case:**

What happens when beneficiaries who are already referred to the deactivated records?

**Solution:**

Notify the beneficiaries that this CBO has stopped providing this service at this location?

**New Logic**

First, after the super admin of the CBO has approved the record to be deactivated, send an email to Benetech SN admins and Benetech admin s

[2021-01-05 16:55] EnriqueCorado opened #1541 "SP Missing Required Fields: Allow referrals"
Description:

**Use Case**

A CBO has not updated the required information, shall we still allow referrals?

**Solution**

If yes, notify the beneficiaries that the information may not be correct since the CBO has not updated this record yet?

**New logic**

Yes, send a message with the following information
"You have been referred to **CBO name**, however, they are still in the process of updatin

[2021-01-05 16:57] EnriqueCorado opened #1542 "Notify Beneficiaries of changes in location/hours"
Description:

**Use Case**

If the   CBO changes the location or hours, what happens to the previous referrals at the wrong location or wrong hours?

**Solution**

Notify the beneficiaries with the new updated information? (Do we exclude those beneficiaries who already received services? How do we identify which   beneficiaries got the wrong information and have not yet been checked-in?)

**New Lo

[2021-01-05 17:16] EnriqueCorado opened #1543 "CBO hasn't updated required information"
Description:

**Use Case**

A CBO has not updated the required information on a claimed record, till when should we not allow others to claim this record again? What happens if the claim happened in error?

**Solution**

Send notifications to the CBO to either update the information or unclaim the record if it happened in error.

- Send email to CBO super admin after two workdays if the record has

[2021-01-05 17:22] EnriqueCorado opened #1544 "Unclaiming record(s) Logic to Referrals"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As an SP that has claimed a record, received referrals/sent referrals I would like to still be able to unclaim a record in order to ensure someone else can claim the record and receive those referrals.

As a SP that has claimed a record and checked in a beneficiary, I also

[2021-01-05 17:30] EnriqueCorado opened #1545 "Allow referrals to unclaimed records"
Description:

**Use Case**

Shall we allow refer to unclaimed records?

**Solution**

If yes, notify the beneficiaries that the information may not be correct since no CBO has claimed this record yet?

**New logic**

Yes, allow referrals to unclaimed records. There may be quite a few CBOs (at least in the beginning) who will not have “claimed” their records. That should not prevent referring agenc

[2021-01-05 19:59] #1174 closed

[2021-01-05 20:03] #1244 closed

[2021-01-05 20:03] #1171 closed

[2021-01-05 20:04] #1192 closed

[2021-01-05 20:05] #1216 closed

[2021-01-05 20:05] #1205 closed

[2021-01-05 20:06] #1301 closed

[2021-01-05 20:07] #1410 closed

[2021-01-05 21:25] EnriqueCorado opened #1546 "Add "Discard Changes" button while creating a new record to every stage"
Description:

Need to add a "Discard Changes" in every stage/page of the "add a new record" flow in order to provide the user a way to delete the progress the user has made in the record creation

Mockup
- add the button to every page

<img width="892" alt="Screenshot 2021-01-05 132310" src="https://user-images.githubusercontent.com/65787629/103700499-60398c80-4f59-11eb-9486-9b7bc74a95b9.png">

Ac

[2021-01-05 23:35] EnriqueCorado opened #1547 "Changing Password Changes"
Description:

**Goal:**

Highlight the "Current Password" field if the user inputs the wrong current password

**Recreate:**
- Currently in SP view Account -> Password, if the user inputs the wrong "Current Password"
- inputs new password
- clicks save
- the user is taken to the homepage and a pop up on the top right appears

**Solution:**
- once the user inputs their current password and clicks a

[2021-01-05 23:44] EnriqueCorado opened #1548 "Update to Refer and Referred button"
Description:

Button updates on records
- Update the text of the "Refer" button to "Add to Referral"
- Update the text of the "Referred" button to "Added to Referral(s)" (keep the checkmark)

Refer Elsewhere (cart) button update
Update the text of the "Refer Elsewhere" button to "Checkout Referral(s)"

Acceptance Criteria:
*

Dev Signoffs (remove items if not applicable to this issue)
- [ ] Unit t

[2021-01-05 23:59] EnriqueCorado opened #1549 "As a [persona] i want to be able to [purpose] so that I can [value]"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

**Desktop**

<img width="892" alt="Screenshot 2021-01-05 155818" src="https://user-images.githubusercontent.com/65787629/103712542-f7f5a580-4f6e-11eb-9b6d-bf131c101c36.png">

**Mobile**

<img width="17

[2021-01-06 16:26] EnriqueCorado commented on #1549
When a user clicks refer on a card, it changes to referred. This gives the impression that the person has already been referred and there is nothing left to be done. It is non-intuitive that the user now has to click the "Refer Elsewhere" on top to complete the referral process. Moreover, if the user scrolls down, the refer elsewhere gets hidden from the view. I recommend that the "Refer" button s

[2021-01-06 16:26] EnriqueCorado commented on #1549
I agree on referral button being on record detail screen

* "Checkout Referral(s)" seems okay.. thoughts on "Finish Referral" or "Send Referral"? As far as where it goes, should we add it to the header and make header static (so it's always at the top even when you scroll)? Similar to Amazon, the cart is always in the same place regardless of page.

* On "Add/Added to Referral". Let's not forget a

[2021-01-06 16:41] EnriqueCorado opened #1550 "SN Beneficiary Check In and Refer Elsewhere Static"
**User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:**

As an SP making a referral I don't want to scroll all the way up in order to "Checkout" and send the referrals in the "cart"

**Description:**

Add Beneficiary Chek In and Refer Elsewhere to the header and make header static WHEN the user scrolls down and passes the sea

[2021-01-06 17:17] meenupant commented on #1549
@EnriqueCorado @johnhbenetech Let's keep it simple.

1. Keep the Refer button as "Refer" and when it is clicked, change it to "Added". And for "Refer Elsewhere", Change it to "Send Referral" and keep it static on the right side of menu bar.

2. Add these buttons to card view.

3. We can add a simple icon to Refer and Send Referral. Which one do you think looks good? Or any other that you recommend

[2021-01-06 18:01] EnriqueCorado opened #1551 "Icons to Refer and Send Referral"
Description:

- Change the color of the circle to red #D9001B on the Send Referral(s) button
- match color of "Send Referral(s)" with Refer button color
- add icons to the buttons
- below are examples of what the icons can look like (HEX #FAB28D)

<img width="367" alt="Screenshot 2021-01-06 130727" src="https://user-images.githubusercontent.com/65787629/103820132-a148a400-5020-11eb-8e76-fae046174a

[2021-01-06 18:07] meenupant commented on #1551
And we can add a tracker to this icon for "Send Referral" in the menu bar, just like the cart button below. This will be a visual indicator to the user that there is some action waiting to be completed.
![Screen Shot 2021-01-06 at 10 05 18 AM](https://user-images.githubusercontent.com/74263963/103804398-e8c23680-5006-11eb-852e-a2d7f7ba8cf8.png)

[2021-01-06 18:13] EnriqueCorado opened #1552 "Send Referral button"
Description:

On the Send Referral button
- if only one referral is in the cart, the button should say "Send Referral"
- if more than one referral is in the cart, change the text on the button to "Send Referrals"

Acceptance Criteria:
*

Dev Signoffs (remove items if not applicable to this issue)
- [ ] Unit test added for the core business features at the minimum
- [ ] Code review passed
- [ ] CI

[2021-01-06 19:02] EnriqueCorado opened #1553 "Claim Record(s) button change to "Have more data to contribute" section"
**Description:**

1. Update text on "Have more data to contribute?" to "Have more data to contribute or Want to claim more records?"
2. Move the "Claim Record(s)" button next to the "Add a new record" button

**Mockup**

**Desktop**

<img width="901" alt="Screenshot 2021-01-06 105804" src="https://user-images.githubusercontent.com/65787629/103809560-8a995180-500e-11eb-9367-0613b3f24d30.png">

**Mo

[2021-01-06 20:18] meenupant commented on #1552
Related tasks #1548 #1549 #1550 #1551

[2021-01-06 20:28] meenupant commented on #1549
@EnriqueCorado I think in this modal pop-up we should have two buttons: "Refer", changed to "Added" when clicked and it should then close the pop-up and take the user back to the home(main) page. Since we are adding "Send Referral" at the menu bar, the user can click it once they are back on the main page. Please remove the "Send Referral" from this modal pop-up record view and add this detail to

[2021-01-06 20:32] meenupant commented on #1551
@EnriqueCorado I think the background color of "Refer" and "Send Referral" should be the same so that users can make a connection visually. Please change the color of "Send Referral' and match it to the "Refer" button. Thanks

[2021-01-06 21:05] EnriqueCorado commented on #1549
@meenupant i have made the change, but let's not make the user go automatically back to home page
lets just add the refer button
we don't want a user to add a referral be taken to the home screen and the beneficiary asks questions for eligibility for example and the user has to look for the record again

[2021-01-06 21:10] meenupant commented on #1549
@EnriqueCorado Good point!

[2021-01-06 21:11] EnriqueCorado commented on #1551
@meenupant updated

[2021-01-06 21:31] EnriqueCorado commented on #1541
@meenupant updated to KP's new reponse

[2021-01-06 21:32] meenupant commented on #1545
Further down the road - when we have greater adoption, we can carefully frame our text message that can prompt the referred person to somehow nudge the CBO to participate on our platform “Hey, why don’t you claim/update your records on the Service Net platform. It is a popular platform for referrals. With your participation it can have a positive impact on people like us” or something of this sort

[2021-01-06 21:34] johnhbenetech commented on #1545
@meenupant please split that out into a separate task as this task will not cover that and will be closed out

[2021-01-06 21:35] meenupant commented on #1541
@EnriqueCorado this is same as #1545

[2021-01-06 21:55] meenupant commented on #1545
@johnhbenetech I removed the related link. It is a separate task now. Thanks for checking

[2021-01-06 22:09] meenupant opened #1554 "As a [Service Net Provider] i want to be able to [motivate CBOs to claim records] so that I can [provide correct information]"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:
Further down the road - when we have greater adoption, we can carefully frame our text message that can prompt the referred person to somehow nudge the CBO to participate on our platform “Hey, why don’t you claim/update your records on the Service Net platform.

[2021-01-07 08:15] abaranowska1 commented on #1527
**Tested with success**
The button text was updated from "Claim Records" to Claim Record(s)"
![image](https://user-images.githubusercontent.com/61964176/103868261-f3450480-50c8-11eb-8e27-4716311264fb.png)

[2021-01-07 09:13] abaranowska1 commented on #1408
**Tested with success**
- "Organization Name" section was removed from the "Organization Details" Panel
- The section title was changed from "Organization Details" to "Organization Information"
![image](https://user-images.githubusercontent.com/61964176/103873943-d6143400-50d0-11eb-80d2-96d0a738f946.png)

[2021-01-07 09:39] abaranowska1 commented on #1407
@jkondrat @EnriqueCorado
If the Organization Information Panel is empty should it be displayed here? ( this Organization has only Organization Name filled )
![image](https://user-images.githubusercontent.com/61964176/103876455-f5609080-50d3-11eb-8b26-a5279c10ef42.png)

- The rest of the fields/sections look good. If there is no filled information the sections are not displayed in the single record

[2021-01-07 10:43] awalkowiak commented on #1523
@meenupant thanks

[2021-01-07 11:06] abaranowska1 commented on #1412
@jkondrat I found a few things that need to be fixed:
1. As @EnriqueCorado said the Zip Code string name takes two lines for example on mobile #1534
2. Also on mobile there is a few UI issues, for example
- The titles of the search, service type, and location don't start from the one place, the search title is moved to the right
- The buttons should be centered, I checked it also on iOS
- This Zip

[2021-01-07 14:30] abaranowska1 commented on #1526
**Tested with success**
The "Forgot Password" link is clickable.

![Peek 2021-01-07 15-25](https://user-images.githubusercontent.com/61964176/103904143-2acda400-50fd-11eb-8a73-f07dabe6237c.gif)

![Peek 2021-01-07 15-28](https://user-images.githubusercontent.com/61964176/103904136-2903e080-50fd-11eb-810c-7ae91ba1c469.gif)

[2021-01-07 14:31] kdondziak commented on #1442
@EnriqueCorado @meenupant Should phone number be required?

[2021-01-07 14:53] abaranowska1 commented on #1520
**Tested with success**
Refer/Referred buttons are more responsive and the text to is not hidden during resizing
![Peek 2021-01-07 15-48](https://user-images.githubusercontent.com/61964176/103906468-44241f80-5100-11eb-931e-79e0ae0ccf5e.gif)

[2021-01-07 15:17] awalkowiak commented on #1536
@EnriqueCorado how this should be formatted for others to see?

[2021-01-07 15:22] EnriqueCorado commented on #1536
@awalkowiak

<img width="1502" alt="Screenshot 2021-01-07 072206" src="https://user-images.githubusercontent.com/65787629/103909891-149df480-50b9-11eb-8976-54f060be8b41.png">

[2021-01-07 15:29] EnriqueCorado commented on #1442
@kdondziak for now don't make it required
heads up #1487 goes into detail as to which fields will be critical to have

[2021-01-07 15:35] awalkowiak commented on #1465
@EnriqueCorado should this be done as it is on mockups (on this old version of UI) or the text should be displayed in the green popup that was unified in https://github.com/benetech/ServiceNet/issues/1413

[2021-01-07 15:38] awalkowiak commented on #1530
@EnriqueCorado We assume that this new question will be shown only to the claimed records. Is it correct?

[2021-01-07 15:41] EnriqueCorado commented on #1465
@awalkowiak in the UI. change text in this new popup that we have now

![image](https://user-images.githubusercontent.com/61964176/102330832-550ec480-3f8a-11eb-8e60-cf6fe27bb418.png)

[2021-01-07 15:42] EnriqueCorado commented on #1530
@awalkowiak correct

[2021-01-07 15:47] awalkowiak commented on #1499
@meenupant will the videos be hosted on youtube and the admin will provide only a link to it?

[2021-01-07 15:59] EnriqueCorado commented on #1499
@awalkowiak will be hosted on youtube and an admin will provide a link
- ideally, if we could have the functionality to keep adding videos in admin would be good (not anticipating having more than 10-15 max explainer videos)

[2021-01-07 16:00] meenupant commented on #1499
@awalkowiak Yes, that's correct. Make these videos on YouTube as "unlisted". Thanks

[2021-01-07 16:06] jkondrat commented on #1412
@abaranowska1 I have fixed all the issues, but the filters on mobiles with small screens are still taking too much space - I'll wait for @EnriqueCorado 's call, but I think it would make sense to use a modal there

[2021-01-07 16:22] EnriqueCorado commented on #1407
@abaranowska1
If the Organization Information Panel is empty should it be displayed?
- No

[2021-01-07 16:29] EnriqueCorado commented on #1412
@jkondrat having a modal does make more sense on the limited real state on mobile

[2021-01-07 17:18] EnriqueCorado opened #1555 "Tracking Metrics"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a Benetech Admin, I want to be able to track metrics in order to have data to report and especially during the pilot with CA Marin, see which areas we can potentially improve on

Description:

Need to be tracking:
- referrals (we are)
- Referrals should get flagged when

[2021-01-08 07:43] abaranowska1 commented on #1407
**Tested with success**
Confirmed that all empty information was hidden.
![Selection_755](https://user-images.githubusercontent.com/61964176/103987959-92cbcb00-518d-11eb-9a5f-c326d18c25c5.png)
![Selection_754](https://user-images.githubusercontent.com/61964176/103987966-96f7e880-518d-11eb-9919-a324624044e4.png)

[2021-01-08 08:41] abaranowska1 commented on #1409
**Tested with success**
We show as many service types as we can, the +# is displayed only if the service type is too long and the space is too small.
![Selection_756](https://user-images.githubusercontent.com/61964176/103993224-91060580-5195-11eb-95d9-577b9c67b7c3.png)
![Peek 2021-01-08 09-32](https://user-images.githubusercontent.com/61964176/103993228-93685f80-5195-11eb-9e42-85b785ed4734.gif)

[2021-01-08 09:23] abaranowska1 commented on #382
**Tested**
@kdondziak
1. Firstly I think that this blue frame is too high, please change it ( for example it should look like the blue rectangle below)
![image](https://user-images.githubusercontent.com/61964176/103997106-f5779380-519a-11eb-879b-5dfbce8010c6.png)
2. In my opinion after confirming the new password we should be moved to the homepage, where we could quickly sign in. If I manually go

[2021-01-08 10:49] abaranowska1 commented on #1399
**Tested**
@jkondrat
- I think you forgot about the hover feature which was mentioned in the comment above
1. Now we have only two views so it shouldn't be individually clickable  ![image](https://user-images.githubusercontent.com/61964176/104006771-4097a380-51a7-11eb-8e43-0e4636daefd3.png)
2. Map is replaced by the old filter window
3. Whole functionality works as before
4. Map view was changed a

[2021-01-08 10:57] abaranowska1 commented on #1411
**Tested with success**
- The website links are clickable and the website is opened in a new tab
![Selection_765](https://user-images.githubusercontent.com/61964176/104007730-ae909a80-51a8-11eb-9a05-aa0bacf607be.png)
![Peek 2021-01-08 11-56](https://user-images.githubusercontent.com/61964176/104007738-b18b8b00-51a8-11eb-9881-e9770df48b67.gif)

[2021-01-08 12:46] abaranowska1 commented on #1430
**Tested**
1. @jkondrat Please change the field "If the record(s) not found on the above dropdown, enter below" for non required.
![image](https://user-images.githubusercontent.com/61964176/104016179-0eda0900-51b6-11eb-9db4-3c640649a220.png)

@EnriqueCorado
1. All new fields were added only to the Register Page, do you need to edit these fields in the future? Maybe it should be also added to the a

[2021-01-08 14:39] kdondziak commented on #382
@meenupant @EnriqueCorado @johnhbenetech   What do you think about Alicia's idea: "In my opinion after confirming the new password we should be moved to the homepage, where we could quickly sign in."?

[2021-01-08 15:30] EnriqueCorado opened #1557 "New Registration Fields Added to User Management Edit Page"
Description:

All new fields were added only to the Register Page, do you need to edit these fields in the future? Maybe it should be also added to the admin user management edit page or user settings page? If yes, please create new tasks.
For example here, we can see only Organization Name fields which is a free text from : "If the record(s) not found on the above dropdown, enter below" field.

A

[2021-01-08 15:30] EnriqueCorado commented on #1430
@abaranowska1 can we add a red box on the first name and last name as well please. that is required information and users should always fill it in

- I will also breakout new tasks for the fields to be added to user management edit page #1557

[2021-01-08 15:55] EnriqueCorado commented on #382
@kdondziak after confirming the new password we should be moved to the login page (https://benetechservicenet.org/#/login), where we could quickly sign in

@meenupant thoughts?

[2021-01-08 17:48] EnriqueCorado opened #1559 "Registration organization name linked to claim a record flow"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a user after I register and fill in the organization field I am part of I would like to have my record pop up first in the claim a record flow so I don't have to waste time looking for it.

Description:

In issue #1430 new fields were added to the registration page: Orga

[2021-01-08 18:02] EnriqueCorado opened #1560 "Reset Password Email existence check"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a user resetting my password I want to know if the email I am inputting is an email associated with Service Net. If the email doesn't exist on the platform I would like to know so I input a different email

Description:

Add a check on the email field when a user tries t

[2021-01-08 18:08] johnhbenetech commented on #1560
@EnriqueCorado sending this back to product scoping. General security best practices are to make authentication flows zero-knowledge for potential attackers. For example, you will commonly see a post reset message like "If this address exists in our system, you will receive a reset email"

The reasoning behind this is you should make it as difficult as possible for an attacker. If we implement thi

[2021-01-08 18:10] EnriqueCorado commented on #1560
@johnhbenetech understood thank you for the quick feedback. i will close this issue

[2021-01-08 18:11] EnriqueCorado opened #1561 "Exit option of claim a record flow"
Description:

Add an x on the top right of the claim a record flow in order to provide the user an easy way out of the modal and not have the user click done an have them go through follow up questions

<img width="884" alt="Screenshot 2021-01-08 100836" src="https://user-images.githubusercontent.com/65787629/104049479-e0e6cb80-5199-11eb-8150-45d51793350c.png">

Acceptance Criteria:
*

Dev Signoff

[2021-01-08 18:13] #1560 closed

[2021-01-08 18:36] EnriqueCorado opened #1562 "Forgot username of password"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Sign In changes

New Forgot username page

Banner change for forgot username

Email content

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required a

[2021-01-08 18:50] EnriqueCorado opened #1563 "Show referable records first"
Description:

Currently, not all records have a refer button

<img width="959" alt="Screenshot 2021-01-08 104904" src="https://user-images.githubusercontent.com/65787629/104052898-3d001e80-519f-11eb-9e3a-cd6d8e3f71cf.png">

- filter to the top all referable records and all records without the refer button due to guidelines defined in other tasks such as #1541

Acceptance Criteria:
*

Dev Signoffs

[2021-01-08 18:56] EnriqueCorado opened #1564 "Claim a record page split second pop up after claim flow"
**Bug description**

after claiming a recoird, clicking done, and saying no to the pop up the modal to claim a record pops up for a split second

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Claim Record(s)
2. Claim any record
3. Click done
4. CLick no on pop up
5.  For a split second the modal for claim a record pops up wich should happen

**Actual result**

after going through a

[2021-01-08 19:15] EnriqueCorado opened #1565 "Add a new record: don't allow next page if missing info"
Description:

During the creation of a new record, if there are required fields missing in any page, don't allow the user to go to the next page
- for example, go to create a new record
- don't fill in the org name but click it, fill the rest, click "Add location" and the user goes to the next page

add a condition to not allow users to proceed to the next section if the red highlighted field is m

[2021-01-08 19:24] EnriqueCorado opened #1566 "Internet Tab Resizing Map View"
**Bug description**

When starting with a smaller internet tab size and enlarging it, the map view takes the whole screen
- add a condition after a certain tab size to provide the view in screenshot 3 and not have the weird view of the map taking the whole view
- related task #1399

<img width="960" alt="Screenshot 2021-01-08 112033" src="https://user-images.githubusercontent.com/65787629/10405538

[2021-01-08 19:30] EnriqueCorado opened #1567 "Cant Unclaim "Lawyers' Comittee for Civil Rights (LCCR)"
**Bug description**

cant unclaim "Lawyers' Comittee for Civil Rights (LCCR)" and also got a "timeout error of 600000ms exceeded"

Login to my account:
username: Enriquecorado
ps: Benetech!

may be related to #1523

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Actual result**
<img width="1920" alt="Screenshot 2021-01-08 112945" src="https://user-images.githubusercontent.com/657876