[2020-01-08 13:06] bognasoldev89 opened #778 "Investigate disappearing taxonomies for LAAC, ShelterTech, and healthleads providers"
I noticed that for LAAC, ShelterTech and healthleads providers all of the taxonomies disappeared and are no longer available while browsing organizations. It also makes difficult filtering by Taxonomy filter.

[2020-01-08 13:32] bognasoldev89 commented on #623
Confirmed that taxonomy filter works for all providers now.

SMCConnect:
![623 smc working](https://user-images.githubusercontent.com/51324797/71981910-a9aaab00-3223-11ea-8be7-cdcf4de5e2f7.gif)

[2020-01-08 13:32] #623 closed

[2020-01-08 15:53] johnhbenetech commented on #778
Thanks @bognasoldev89

I forgot where we wound up with this. I think it was possibly that we were pulling tax name vs tax details? We should try to find the best strategy for each partner, or at least have a null fall back.

[2020-01-08 17:19] NeilMcKechnie commented on #700
@bognasoldev89 @johnhbenetech Good catch. What if we start by not showing the "0 match" entries?

[2020-01-09 13:11] awalkowiak commented on #732
@NeilMBenetech @johnhbenetech

I tried to reproduce the issue from doc on staging and local environment.

**Staging**: It seems like it works properly (all available and expected data was shown for cases mentioned in the doc). Have anyone of you encountered similar issue to the mentioned one on staging recently?
**Locally**: I found sort of similar case. When I searched for 'haight ashbury' (searc

[2020-01-09 14:58] bognasoldev89 commented on #700
@johnhbenetech @NeilMBenetech maybe a smarter scroll or page break would be a better option?

[2020-01-09 15:02] johnhbenetech commented on #700
@NeilMBenetech Scroll or pagination seems like an okay option, what do you think?

[2020-01-09 19:33] NeilMBenetech commented on #732
@awalkowiak Could you also test this on production?

[2020-01-09 19:34] NeilMBenetech commented on #700
@johnhbenetech @bognasoldev89 Yes I suppose that would work too. Let's do scrolling.

[2020-01-10 00:51] NeilMBenetech opened #779 "Show "freshness" metadata when you are viewing one of your Organization records"
As a follow-on to https://github.com/benetech/ServiceNet/issues/700 , we also want to display the "freshness" of records to more seamlessly help users decide which of various different possible partner matching records have the most recent updates and hence which one the user might want to look at first.

I propose that just under the "matching" metadata added from the task noted above (example: "

[2020-01-10 00:58] NeilMBenetech opened #780 "Allow users to express record matches manually at the Service and Location level"
When a user is comparing their own record to partner records, they might spend considerable time deciding which partners' Service records actually match to their own Service records. Once they have done that work, it should be retained so they don't have to do that again in the future, for those records.

So please enable users to manually mark their own Service to be a match to 0, 1 or many partn

[2020-01-10 01:07] NeilMBenetech opened #781 "Search: Filter by "match similarity" threshold"
On the December 2019 partner working group call, John Higgins was asked if, when we are seeking matches at the Organization level, we generate a numeric value reflecting how well matched a record is with another Organization record at any particular partner. John noted the various factors that contribute to this score, like name similarity, website address, etc and that those factors will change o

[2020-01-10 09:05] bognasoldev89 commented on #700
@jkondrat can you look into it?

[2020-01-10 10:22] awalkowiak commented on #732
@NeilMBenetech I checked it on current production. Everything is looking fine. The missing UWBA record for 'haight ashbury' is present and visible on the record list. I'm assuming that the issue which Edward found was related to older code base and is not valid anymore.

[2020-01-10 16:07] awalkowiak commented on #732
@NeilMBenetech Can I close this issue and move it to done?

[2020-01-10 18:01] johnhbenetech commented on #779
@NeilMBenetech just to double check, in your example we would display '250 days' or do you want to afford some different language to the user?

[2020-01-10 18:05] johnhbenetech commented on #780
@NeilMBenetech we will need a UI suggestion for this. Is that something you'd like to handle?

[2020-01-12 19:13] NeilMBenetech commented on #732
@awalkowiak Looks good to me.

[2020-01-12 19:16] NeilMBenetech commented on #779
@johnhbenetech Good question. I think we want a succinct way to express the concept. How about "250 days on average since last updated" with a tooltip/title attribute to explain the math when you hover over that prose: "We take the total number of days it has been since this Organization and all of its Service and Location records have most recently been updated, and divide by the total number of

[2020-01-12 21:10] #732 closed

[2020-01-13 21:52] NeilMBenetech opened #782 "API: Authentication"
Several Github tasks are related to create and expose a "pull" API to authorized third parties as described in "Service Net Vision - Integration" section 1.a.

This task is to establish a secure authentication and authorization method to this API. While we are still in the pilot stage it will be sufficient for us to manually issue a unique "bearer token" to each trusted third party and distribute

[2020-01-13 21:59] NeilMBenetech opened #783 "API: Request matching records"
Create an an endpoint that only responds to authenticated and authorized API requests (see this related task : https://github.com/benetech/ServiceNet/issues/782 ).

Both the request and the response should be in well-structured JSON. The request should specify the native unique identifier of any Organization, Service or Location record in their own database.

The response should include an array o

[2020-01-13 22:19] NeilMBenetech opened #784 "API: Request record detail comparison"
Create an an endpoint that only responds to authenticated and authorized API requests (see this related task : https://github.com/benetech/ServiceNet/issues/782 ).

This endpoint is intended to respond to requests in well-structured JSON to emit the full graph of any Organization record and all child records in JSON, and present a comparison to any other partner's matching record. Those "matching"

[2020-01-13 22:25] NeilMBenetech opened #785 "API: Request and response logging"
As these tasks are being coded as well as all future API-related tasks:
https://github.com/benetech/ServiceNet/issues/782
https://github.com/benetech/ServiceNet/issues/783
https://github.com/benetech/ServiceNet/issues/784

Please log every request and response, including the bearer token used, requesting IP address, the request URL and body, the response HTTP code, URL and Body. This will be usefu

[2020-01-13 22:28] NeilMBenetech opened #786 "API: Initial documentation for developers"
Once the following tasks have been completed:

https://github.com/benetech/ServiceNet/issues/782
https://github.com/benetech/ServiceNet/issues/783
https://github.com/benetech/ServiceNet/issues/784

Please create basic developer-friendly documentation so they know how to issue requests and the expected responses, including error codes. If this is out of scope for the development team and you want t

[2020-01-14 12:26] bognasoldev89 commented on #700
@jkondrat while going through testing records I noticed that sometimes organizations match on the right are doubled. I haven't found any doubled matches in "original" records" though. Can you look into that as well, just to make sure it won't be a problem?

![700 double 1](https://user-images.githubusercontent.com/51324797/72344370-57f59b00-36d1-11ea-94f5-de3fed8c8be4.png)

![700 double 2](https:/

[2020-01-14 14:46] bognasoldev89 commented on #755
@awalkowiak for healthleads, SMCConnect and ShelterTech it works, but after uploading LAAC, UWBA  and Eden data with changes for example only in Location, all "Last partial update" dates are changed. Can you look into that?

[2020-01-14 16:26] bognasoldev89 commented on #319
At this moment Taxonomy group is available in the admin UI that allows creating taxonomies relations in DB.
I created 2 exemplary groups in staging environment (and I was able to edit them) but it only works for DB at this moment - user is not able to filter taxonomy group from the homepage.

![319 1](https://user-images.githubusercontent.com/51324797/72361727-44a6f780-36f2-11ea-9f42-ac1a186b8849.

[2020-01-15 08:28] bognasoldev89 opened #789 "Investigate filtering by Taxonomy results"
On staging environment, I set "Work Clothing" Taxonomy filter and unchecked "Only show matching"

![789 1](https://user-images.githubusercontent.com/51324797/72417761-dad23080-3779-11ea-9078-382e859674f3.png)

And I got 4 hits:

![789 2](https://user-images.githubusercontent.com/51324797/72417797-ee7d9700-3779-11ea-931e-8f2cee76fa6f.png)

The issue is, Dress for Success San Francisco has a differe

[2020-01-16 15:26] bognasoldev89 commented on #319
@johnhbenetech as we spoke during a check-up, I'm moving this ticket back to Up next column

[2020-01-16 23:46] NeilMBenetech commented on #698
@bognasoldev89 Can you give me an example Organization or two please that contain Locations that match to at least one partner Organization? I've tried almost 10 and none of them yet have any matching Locations, at least in Staging.

[2020-01-17 00:15] johnhbenetech commented on #698
Something funky is going on here. I can't seem to always reproduce Bogna's results on staging. This could be due to a recent code change or the database migration. I did some SQL to find locations that have location_match defined and put some examples below.

@bognasoldev89 Can you recheck on staging and follow-up witht he team on what might be happening?

MISSION NEIGHBORHOOD RESOURCE CENTER
Cler

[2020-01-21 13:37] bognasoldev89 commented on #700
Now the scroll works well in my opinion. I check it on Chrome v79.0.3945.117, Firefox v72.0.1, Edge v44.17763.1.0, and Safari v12.03.3.
Example of the scroll on Chrome:
![700 scroll](https://user-images.githubusercontent.com/51324797/72809197-76244380-3c5b-11ea-80ee-b6cd481ef15a.gif)

@johnhbenetech @jkondrat as of my comment from week before, I'll recheck this issue and create a ticket if needed.

[2020-01-21 13:37] #700 closed

[2020-01-22 11:46] awalkowiak commented on #778
@johnhbenetech, is there anything else for me to investigate/do beside what was already discovered and shared on slack/meeting?

[2020-01-22 16:16] johnhbenetech commented on #778
Maybe if you and @bognasoldev89 can recheck Staging and make sure the approach seems to have fixed it as expected. Then I believe this will be complete.

[2020-01-23 08:12] bognasoldev89 commented on #778
@johnhbenetech @awalkowiak in my opinion this bug is fixed. I got hits for mentioned providers for every randomly chosen taxonomies:

![778 hl](https://user-images.githubusercontent.com/51324797/72966822-1c895980-3dc0-11ea-8f9f-915256e46fbf.gif)

![778 laac](https://user-images.githubusercontent.com/51324797/72966823-1d21f000-3dc0-11ea-9434-1bdcff8d1f26.gif)

![778 st](https://user-images.githubus

[2020-01-23 08:37] bognasoldev89 commented on #751
I checked this filtering option and it works as well as #357. I checked for a few locations on the map and different radius and it seems to filter shelters accordingly.

Example:
![751 working](https://user-images.githubusercontent.com/51324797/72968511-f2d23180-3dc3-11ea-964f-e1b274bd3e8c.gif)

[2020-01-23 08:37] #751 closed

[2020-01-23 09:41] awalkowiak commented on #778
Ok, so for future if this will occur once again. Look into table service_taxonomy and if it will have lot of nulls in taxonomy_id, then: reupload data or if there is access to db snapshot with these value, then copy ids to places where it is missing. This might be helpful:

[2020-01-23 09:41] #778 closed

[2020-01-23 15:18] johnhbenetech commented on #103
out of date

[2020-01-23 15:18] #103 closed

[2020-01-23 15:19] johnhbenetech commented on #211
replaced by #329

[2020-01-23 15:19] #211 closed

[2020-01-23 15:23] johnhbenetech commented on #288
out of date

[2020-01-23 15:23] #288 closed

[2020-01-23 15:26] johnhbenetech opened #791 "Records with dozens of matches take a very long time to load side-by-side, maybe should be async?"
It would probably make sense to look into this. Is there a way to asynchronously preload the matches in single record view? In this manner when the user visits side-by-side there will be no wait for matches to be displayed

[2020-01-23 15:28] johnhbenetech commented on #105
out of date

[2020-01-23 15:28] #105 closed

[2020-01-23 16:16] johnhbenetech commented on #127
out of date

[2020-01-23 16:16] #127 closed

[2020-01-23 16:16] johnhbenetech commented on #126
out of date

[2020-01-23 16:16] #126 closed

[2020-01-23 16:16] johnhbenetech commented on #118
out of date

[2020-01-23 16:16] #118 closed

[2020-01-23 16:29] johnhbenetech commented on #597
out of date

[2020-01-23 16:29] #597 closed

[2020-01-24 13:56] awalkowiak commented on #735
Hi @NeilMBenetech one quick question popped out, should user see only his saved field set settings or all saved field set setting from his agency?

[2020-01-24 17:22] NeilMBenetech commented on #735
@awalkowiak I think it should be for all users at that Agency.

[2020-01-27 10:19] bognasoldev89 opened #792 "Pages used by previous user available by "Back" button for current user"
Reproduction steps:
1. Log in as a user (for example edenuser)
2. Go through some pages, organizations, changing password, etc
3. Log out and log in as a different user (for example admin, stuser)
4. Click "< Back" button a few times

Expected result:
5. User has no access to the pages used by the previous user

Actual result:
5. User has access to the pages used by the previous user, but with his

[2020-01-27 14:15] bognasoldev89 opened #793 "Investigate displaying Service name for SMCConnect provider"
During January regression I noticed, that some of Service names disappeared from dropdown lists on single and multi record view for records from SMCConnect provider.
I haven't noticed this issue for other providers.

Exemplary records:
https://benetechservicenet.org/#/single-record-view/fbeedabf-d87f-455b-89f8-5a784a0053bb
https://benetechservicenet.org/#/single-record-view/6cc10df8-6262-4065-88e9

[2020-01-28 13:05] bognasoldev89 opened #794 "Investigate showing calculated similarity on multi record view"
I noticed that Match similarity almost always shows 0%. Actually, the only record I found that is not 0% is the testing record I uploaded during regression.

[2020-01-29 09:19] bognasoldev89 opened #795 "Fix displaying Location and Services section"
I found an interesting UI bug:
1. Open multirecord view for Organization with more than one matches (Note: different number of Locations and/or Services)
2. Choose the last Location/Service from the match with the biggest number of them.
3. Check other matched organizations.

Actual result:
4. Locations/Services are hidden while the app tries to show always the same "position" -> the first, the se

[2020-01-29 13:20] bognasoldev89 opened #796 "Fix errors during data upload"
I have issues with uploading data on staging and local servers.
On staging data from UWBA, Eden and ShelterTech are not uploaded, on local data from all of the providers give back this error message:

[2020-01-29 13:33] awalkowiak commented on #792
Dev note for who will be working on it:
I thought that maybe clearing/resetting this.props.history on logout might help, but this solution probably is not trivial due https://github.com/ReactTraining/history/issues/567#issuecomment-386323573 (I tried suggested window reloading, but it was not helping in our case)

[2020-01-29 13:34] awalkowiak commented on #796
Dev note: @kdondziak suggested that adding cascade all might help

[2020-01-29 13:49] bognasoldev89 commented on #698
@johnhbenetech I checked Organizations mentioned and:
- MISSION NEIGHBORHOOD RESOURCE CENTER  - I couldn't find this organization, but I found MISSION NEIGHBORHOOD HEALTH CENTER. Anyway, I checked it and something is going on here indeed. While I know two organizations have Locations at 165 Capp Street San Francisco, it's not rotated to it:

![698 1](https://user-images.githubusercontent.com/51324

[2020-01-29 14:03] kdondziak commented on #796
To PhysicalAdress's location field to be precise.

[2020-01-29 14:14] bognasoldev89 opened #797 "Fix "unexpected error" on multi and all records view"
Some of organizations show "unexpected error" while browsing multi and all records view.
Exemplary records:
https://benetechservicenet.org/#/all-records-view/004526e0-fb2f-4906-a127-d944ec108a4a
https://benetechservicenet.org/#/multi-record-view/b56fbab6-de92-4d36-8b9e-03a76269c5a5/3c2f9d34-333c-4a5a-86d7-cfe6eb7223e1

[2020-01-29 16:10] bognasoldev89 opened #799 "Investigate Organizations URL conflict while using specific sites (google, yahoo)"

[2020-01-30 09:09] bognasoldev89 commented on #736
In general, it works - I was able to view all matches at once, expand and collapse sections and compare them.

I found some issues though.
1. with UI: it looks different than multi-record view where 2 organizations are compared.

Mult-record:
![736 multi](https://user-images.githubusercontent.com/51324797/73435010-1c510700-4348-11ea-880c-3c8c20172277.png)

All-record:
![736 all](https://user-image

[2020-01-30 14:19] bognasoldev89 opened #801 "Fix matching records at the Location level"
Issue #698 doesn't give results it used to anymore.
Migrating database from prod to staging is suspected, but it needs further investigation.

[2020-01-30 15:16] bognasoldev89 opened #802 "Investigate issues with geography filters"
While testing #661 issue I found an organization placed in Oakland and Hayward, but this record is not displayed after applying filters with those cities. If needed I probably can provide more examples for this issue.

Link to the organization: https://benetechservicenet.org/#/single-record-view/0d62edae-e06a-4b32-bc19-5659fbf31739

[2020-01-30 16:03] johnhbenetech commented on #735
Hi @NeilMBenetech. The current iteration of this task manifests as a dropdown at the top of the comparison view. By default it shows you all fields and you need to choose your alternate preset each time you open a new organization match set.

Would you like a setting that allows you to replace your default with one of your created presets? if so should that be at the user or agency level?

We can

[2020-01-30 16:23] awalkowiak commented on #735
@johnhbenetech My current setting model has relation to User who created it and this User has direct relation to agency (system account). Having this information we should have possibility to easily sort out settings.

@NeilMBenetech here is a preview:
![Selection_076](https://user-images.githubusercontent.com/12113312/73467783-1a0c9e00-4384-11ea-8140-5f3d1126fdcc.png)
the select field on top and

[2020-01-31 11:49] kdondziak commented on #793
@johnhbenetech @NeilMBenetech I investigated the issue and this happen when Service's name is empty. What should be displayed in that case? Maybe some validation should be added (name not empty)?

[2020-01-31 12:18] awalkowiak commented on #793
@kdondziak we had previously service name not null restriction, but this this restriction was removed, because we wanted to keep as much data as we could. Perhaps in this case we could use organization name + '- Service X' where X would be some number that could help identify services for viewing purposes.

Alternatively during data upload for all providers we could add behavior which in case if t

[2020-01-31 12:50] bognasoldev89 commented on #796
I confirm that bug is fixed and data can be uploaded again. There's no error message in Import Data Report and I have confirmation from developers that uploaded Organizations are in db.

[2020-01-31 12:50] #796 closed

[2020-01-31 15:57] NeilMBenetech commented on #793
@johnhbenetech  @kdondziak this is what I was thinking too, good idea John: "...we could use organization name + '- Service X' where X would be some number that could help identify services for viewing purposes"

[2020-02-04 08:54] kdondziak commented on #802
@bognasoldev89 @johnhbenetech
I investigated the issue and here is what I've found:
Filter 'City' in home page is looking for 'locality' field in geocoding table in the database. What Bogna saw was City in Physical address. Usually cities in geocodin_result and in physical address are the same, but about 20% of geocoding records in Eden organizations have nulls on most of the fields. #661 fixed is

[2020-02-04 14:10] bognasoldev89 commented on #755
So I checked all of the providers again and now the "Last partial update" date is showed correctly for all of them.

[2020-02-04 14:10] #755 closed

[2020-02-04 14:21] bognasoldev89 commented on #797
I went through organizations I mentioned and also randomly chosen organizations from all of the providers and I didn't see any unexpected error. I consider this bug fixed.

Screens from exemplary organizations now:

![797 1](https://user-images.githubusercontent.com/51324797/73752885-008f9b80-4762-11ea-8213-9ccbec714195.png)

![797 2](https://user-images.githubusercontent.com/51324797/73752887-008

[2020-02-04 14:21] #797 closed

[2020-02-04 15:21] kdondziak opened #810 "User with no admin role has access to entities pages."
User has access to entities pages and can view, edit, delete entities.

Step to reproduce:
1. Login as user with ROLE_USER e.g. stuser
2. Go to entity page e.g. https://benetechservicenet.org/#/entity/service

Expected result: User has no access to that page.
Current result: User can see, edit, delete entities.

[2020-02-04 16:16] johnhbenetech commented on #735
@awalkowiak one thing i see is that this doesnt appear on the 'view all matches page' only on the single side by side view. It should be on both

[2020-02-04 21:59] johnhbenetech commented on #781
@kdondziak When attempting to log in with various non admin users, I get the following ISE which also prevents any records from displaying on the main screen:

[code]

[2020-02-04 22:01] johnhbenetech opened #813 "Investigate potential issues with scheduled job logging"
I'm no longer seeing logging output when scheduled jobs run. Did something change here? Anything we can do to reinstate that logging?

[2020-02-05 09:06] kdondziak commented on #781
@johnhbenetech Thanks for watchfulness. I will fix it immediately.

[2020-02-05 10:10] bognasoldev89 commented on #795
I confirm that bug is fixed. Chosen sections don't disappear anymore, it just goes back to the first one from the list.

Examples for Locations and Services:
![795 services working](https://user-images.githubusercontent.com/51324797/73832194-02139f00-4808-11ea-9473-9563518de218.gif)

![795 locations working](https://user-images.githubusercontent.com/51324797/73832198-0344cc00-4808-11ea-83da-24d1ce

[2020-02-05 10:25] bognasoldev89 commented on #779
@jkondrat I calculated a different amounts of average days for some matched organizations. Can you please investigate?

[2020-02-05 11:04] awalkowiak commented on #735
@johnhbenetech i missed that part. I'll fix that with all other feedback from @bognasoldev89

[2020-02-05 11:10] bognasoldev89 commented on #735
@awalkowiak, in general, this feature works nice but I have some remarks.

1. I was able to save a few sets with the same name. It shouldn't be possible.
2. The first position on dropdown - one that shows just all of the fields - shouldn't be maybe named? At this moment there's no indication, what is it. cc @NeilMBenetech @johnhbenetech
3. While setting Physical and Postal Address fields, it shoul

[2020-02-05 12:22] bognasoldev89 commented on #810
I confirm that I had no access to entities pages as regular user and sacramento user. I checked upload, administration and sessions pages too, with the same result.

Examples:
![810 1](https://user-images.githubusercontent.com/51324797/73841212-650e3180-481a-11ea-94af-97517563d906.png)

![810 2](https://user-images.githubusercontent.com/51324797/73841214-65a6c800-481a-11ea-83ad-c137b54d44b9.png)

[2020-02-05 12:22] #810 closed

[2020-02-05 12:37] kdondziak commented on #793
@johnhbenetech  @NeilMBenetech During slack conversation John agreed that labels should be like 'Service 1, Service 2' without organization name. Please tell me if I am wrong.

[2020-02-05 12:40] kdondziak commented on #780
@johnhbenetech @NeilMBenetech In the description is mentioned that #699 should be done first. Am I right? Also what about UI suggestion?

[2020-02-05 13:12] johnhbenetech commented on #793
Let's go with Service 1, Service 2

[2020-02-05 13:30] bognasoldev89 commented on #793
In that case, it looks good :).

Example:
![793](https://user-images.githubusercontent.com/51324797/73846017-0a79d300-4824-11ea-924c-ca1b7d8cecf2.gif)

[2020-02-05 13:30] #793 closed

[2020-02-05 14:18] bognasoldev89 commented on #781
I tested it on match prepared by @kdondziak but I would like to wait for resolving matching calculations issues to test this issue properly.

[2020-02-05 14:51] bognasoldev89 commented on #617
At last, the document seems to be finished.
@johnhbenetech @NeilMBenetech can you please check Testing Strategy if it suits your needs and can be shared on the wiki?
Since this is Google Doc, should it be stored like "QA approach for testing different user types" (on Google Drive, link available on wiki page) or should I try to convert this document?

Link to the Strategy: https://docs.google.com/

[2020-02-05 19:41] johnhbenetech commented on #813
Seems to have been caused by matching job using all workers. Things seem back to normal

[2020-02-05 19:41] #813 closed

[2020-02-05 19:46] johnhbenetech opened #818 "ZonedDateTime issues during healthleads data upload job"
During HealthLeads import the metadata info seems to be causing an error relating to the processing (I believe) of last_action_date.

You can use the latest files from the example data repo. It seems to be caused by the first row - so I believe its an issue across the board not an issue with a single record.

Error output is below. Main output is

java.time.format.DateTimeParseException: Text '201

[2020-02-06 14:50] jkondrat commented on #789
@bognasoldev89 @johnhbenetech : It seems that the taxonomy filter works well, the issue is that we are only showing the first taxonomy on multi-record-view (as a simple text field). Should we show all of them? If so, how should it look like?

[2020-02-06 15:27] kdondziak commented on #818
@johnhbenetech I think I should mention on meeting. This is caused by different format of date. In all files before it was e.g. "2019-05-05T00:11:02.000+0000" but the newest file have "2019-05-05T00:11:02.000Z". 'Z' on the end means that is time zone "UTC" -> "+0000". Can you contact to Healthleads provider and ask if they changed date format or they are using 2 formats?

[2020-02-06 15:42] bognasoldev89 commented on #779
My calculations fit displayed the average amount of days counted on the app now.
I also confirm that last complete review date is taken for calculations if available, and if not, last partial update date is counted.
It's all clear now.

[2020-02-06 15:42] #779 closed

[2020-02-06 16:03] johnhbenetech commented on #818
@kdondziak Done, ill let you know when i hear back

[2020-02-06 16:08] bognasoldev89 commented on #794
Match similarity is back. I checked it for all of the providers and it's calculated from the point of view for every one of them.

Examples:
![794 2](https://user-images.githubusercontent.com/51324797/73953928-5ea6b500-4901-11ea-8917-0cd94d9ccf03.gif)

![794 1](https://user-images.githubusercontent.com/51324797/73953933-5fd7e200-4901-11ea-8ba3-112ba47f7a9a.gif)

[2020-02-06 16:08] #794 closed

[2020-02-06 16:13] awalkowiak commented on #735
@NeilMBenetech @johnhbenetech @bognasoldev89
I fixed this feature on all records view (mentioned by @johnhbenetech). I fixed following points from @bognasoldev89 comment:
1. Now you cant create setting with name which already exists in your system account (agency)
2. The first position on dropdown is now: 'All fields'
4. After deleting a setting the page is properly cleared.
5. Now on comparison (

[2020-02-06 17:49] johnhbenetech commented on #789
@jkondrat
What about something like this, one pill per taxonomy term
![screenshot of UI featuring multiple taxonomies](https://user-images.githubusercontent.com/12927553/73963741-7e74b380-48d6-11ea-8723-fdc08fcc9f88.png)

[2020-02-06 17:51] johnhbenetech commented on #617
as discussed, doc URL can be added to wiki

[2020-02-06 17:57] johnhbenetech commented on #735
@NeilMBenetech would lvoe your input on this.

I think i'm leaning towards # 3 but could be convinced otherwise.

I would imagine if any address field is added, that parent address entity is automatically added to the Location section. If the parent address entity is removed from the Location section, it should wipe out any previously selected fields from the related child address entity.

I think

[2020-02-06 22:58] johnhbenetech commented on #818
@kdondziak They changed their date serializer to node. So going forward it will be the ".000Z" type format.

[2020-02-07 08:10] bognasoldev89 commented on #617
@johnhbenetech so it's done: https://github.com/benetech/ServiceNet/wiki/QA-documentation-for-the-project

[2020-02-07 08:10] #617 closed

[2020-02-07 10:12] kdondziak commented on #792
I my opinion it's work as it should be, because user could check browser history and 'spy' in that way. Since #810 is solved there are no security issues related to unauthorized access. One solution to this would be adding some identifier (e.g. login) to url and check on backend if it's login of current user. If not then show unauthorized page. @awalkowiak @jkondrat Please give your opinion.

[2020-02-07 10:25] bognasoldev89 commented on #801
@jkondrat for most organizations this feature work as before:

![801 3](https://user-images.githubusercontent.com/51324797/74021011-0c19d700-499b-11ea-82b2-0581498cab3e.gif)

One of the mentioned in #698 organizations doesn't rotate to Location I would expect though. SAN FRANCISCO OFFICE OF ECONOMIC AND WORKFORCE DEVELOPMENT (OEWD), WORKFORCE DEVELOPMENT DIVISION  from UWBA is matched to  Employme

[2020-02-07 10:33] bognasoldev89 commented on #794
I'll just leave a comment that calculations of matches are improved in my opinion. For testing purposes, I have two identical files for Eden and UWBA providers and previously it was not calculated as 100% match. As for now, displayed match similarity actually shows 100%:

![794 100%](https://user-images.githubusercontent.com/51324797/74022363-a67b1a00-499d-11ea-94e4-07d03680c333.png)

[2020-02-07 11:46] bognasoldev89 commented on #781
This feature filter records correctly. I looked on randomly chosen records for different providers and I always got at least 75% match.

Filtering feature working:

![781 1](https://user-images.githubusercontent.com/51324797/74026923-7c2e5a00-49a7-11ea-9e03-81be8669d727.gif)

And some examples:

![781 2](https://user-images.githubusercontent.com/51324797/74026953-881a1c00-49a7-11ea-879d-2e2947b6c0

[2020-02-07 12:32] jkondrat commented on #789
@johnhbenetech : Is it okay to use bootstrap pills? https://getbootstrap.com/docs/4.4/components/badge/#pill-badges
![Screenshot from 2020-02-07 13-30-20](https://user-images.githubusercontent.com/5969801/74029981-3628c480-49ae-11ea-9278-15f850a5c4fb.png)
![Screenshot from 2020-02-07 13-31-05](https://user-images.githubusercontent.com/5969801/74029986-36c15b00-49ae-11ea-8566-480b1255acc2.png)
![Sc

[2020-02-07 18:30] jkondrat opened #826 "Improve the performance of fetching ActivityRecordDto"
It takes a couple of seconds to fetch activity dto, when there are lots of matches the multi- and all- record views can take really long time to load

[2020-02-07 18:31] kkaczmarczyk commented on #736
@jkondrat I've merged the timeout increase, however, this is a temporary solution. As discussed let's revisit the performance in the #826 ticket that you created.

[2020-02-07 18:33] johnhbenetech commented on #789
@jkondrat Seems good to me!

[2020-02-07 18:46] johnhbenetech commented on #781
yep i agree, seems to be handled in latest commit. Thanks

[2020-02-08 18:11] NeilMBenetech commented on #780
Hi @kdondziak actually I think this one should be done before #699 so that data from this one could feed the algorithm used there.

@johnhbenetech  As for UI, I think the original write-up of this addresses how to navigate to the manually-matched records, but you're probably looking for a UI suggestion for how to mark the matches, manually, in the first place.

I recommend that when you are viewin

[2020-02-08 18:18] NeilMBenetech commented on #735
@johnhbenetech @awalkowiak I think I like #3 as well, which I think boils down to "If any address field is selected, automatically included all address fields."

[2020-02-10 04:11] NeilMBenetech opened #827 "When comparing to multiple records, scroll bar is inconvenient"
Here's an example in the production system logged in as uwbauser

https://servicenet.benetech.org/#/all-records-view/01f03ca9-b597-425a-b3ec-2cbb65ebee3f

There are 4 comparison records for the 1 base record in the uwba system. In order to scroll to the right to see them all, I first have to scroll ALL the way down to the very bottom of the page.

Instead, could the "scroll right" bar be always vi

[2020-02-10 04:15] NeilMBenetech opened #828 "Match percentage shows as 0.00% even though there are 4 matching records"
In the production system logged in as uwbauser, I'm looking at this record and 4 matching records in "multi" view.

You would think each of the matching records would have some non-zero matching score, but all of them have 0.00%, which must be an error (or the matches should not be showing). Please investigate. Screen shots below.

https://servicenet.benetech.org/#/all-records-view/01f03ca9-b597-4

[2020-02-10 04:22] NeilMBenetech opened #829 "Custom record views - need a UI tweak"
Now that I see the "custom record views" that allows me to dictate the visible fields (love it) I have a small request to make the capability a little more obvious.

How about to the left of the gear/cog icon we have the prose: "Show less fields" to make it more obvious that is what it is there for?

![CaptureA](https://user-images.githubusercontent.com/52297301/74120807-bb140980-4b79-11ea-88c5-0a

[2020-02-10 14:50] kdondziak opened #830 "Security issue: Backend is not secured"
Any user can make request to backend api. I was managed to do so with postman.
Steps to reproduce:
1. Log as any non admin user.
2. Open browser console.
3. Copy Cookie and X-XSRF-TOKEN and create request headers with them.
3. Create POST request to '/api/organizations' with proper body: e.g.
{
    "active": true,
    "name": "fakeName1",
    "alternateName": "fakeAltName",
    "description": "dec

[2020-02-10 15:01] kdondziak commented on #830
This issue affects all api endpoints except: system account, data upload, jobs, user, data import report

[2020-02-10 23:14] alexrcabral opened #831 ""About" description needs to be updated for Sacramento partners"
The "About" link accessed through the Sacramento pilot leads only to information about the Bay Area pilot. This needs to be updated to be more general information, so as not to confused Sacramento pilot partners.

https://servicenet.benetech.org/#/about-us

[2020-02-10 23:31] alexrcabral opened #832 "Feedback button"
Feedback button should be created at the top of the page, located to the right of the "About" link.

<img width="1136" alt="screenshot showing addition of link named feedback" src="https://user-images.githubusercontent.com/47576069/74199949-74c2b700-4c1a-11ea-9193-b320497a47b3.png">

This should open a small menu with the title "Feedback" and the option to send a message. The prompt should read: "

[2020-02-10 23:53] alexrcabral commented on #832
@NeilMBenetech let me know if there's anything else you need in the specifications for the feedback button

[2020-02-10 23:57] NeilMBenetech commented on #832
@alexrcabral looks good to me. For now I propose that feedback@benetech.org (might need something more Service Net specific?) goes to Alex, Neil and John.

[2020-02-11 10:21] awalkowiak commented on #828
@jkondrat is it possible, that your most recent improvement for similarity count will fix this issue?

[2020-02-11 13:59] jkondrat commented on #828
@awalkowiak : No, it wouldn't remove any existing matches, we will probably need to add a migration that cleans them up

[2020-02-11 14:05] bognasoldev89 commented on #781
Seems OK now, checked on Chrome Version 79.0.3945.130 and Firefox Version 72.0.2:

![781 checkbox reset](https://user-images.githubusercontent.com/51324797/74243331-dac54200-4cdf-11ea-8cb8-16088926f126.gif)

I checked found matching organizations by the way and those are filtered correctly.

[2020-02-11 15:20] bognasoldev89 commented on #789
I checked this for all of the providers and it looks fabulous:

![Screenshot from 2020-02-11 16-03-55](https://user-images.githubusercontent.com/51324797/74249686-d7cf4f00-4ce9-11ea-9c80-e2f790fdc4a8.png)

![Screenshot from 2020-02-11 16-14-55](https://user-images.githubusercontent.com/51324797/74249687-d867e580-4ce9-11ea-88f5-d93fdd79944f.png)

I stomped on something like that though (HOPE REHABI

[2020-02-11 16:01] bognasoldev89 commented on #801
Yes, seems fine now, I didn't find any matches that would rotate badly.

Example from my previous comment:
![801 working again](https://user-images.githubusercontent.com/51324797/74253970-18ca6200-4cf0-11ea-9306-2fe491982522.gif)

[2020-02-11 16:01] #801 closed

[2020-02-11 18:56] johnhbenetech commented on #781
@NeilMBenetech can you review this? I think there may have been some lack of clarity on requirements and I'm not sure it functions as you intended. @bognasoldev89 please correct me if I'm wrong but:

In the situation where I have a record in my DB which has two matches - one match that is highly similar, one match that is not so similar. This organization will not return whatsoever if the box is c

[2020-02-12 07:55] bognasoldev89 commented on #781
@johnhbenetech can you provide examples?

For UWBA I found 3 exemplary organizations that show matches over and below 75%:
HOUSING AUTHORITY OF THE COUNTY OF Commoncounty (ABCD)
GLIDE MEMORIAL UNITED METHODIST CHURCH GLIDE FOUNDATION
CATHOLIC CHARITIES CYO SAN FRANCISCO, SAN MATEO & MARIN

For SMCConnect:
California State Department of Motor Vehicles (DMV)
Puente de la Costa Sur
Pacific Gas and El

[2020-02-12 09:28] bognasoldev89 commented on #826
I can confirm that the performance improved a lot.

Organization with 27 matches:
![826 27 matched records](https://user-images.githubusercontent.com/51324797/74320938-c89be000-4d81-11ea-8d27-2f5c6b07153a.gif)

Organization with 62 matches:
![826 62 matched records](https://user-images.githubusercontent.com/51324797/74320964-d0f41b00-4d81-11ea-9e4a-cc5a9252bb53.gif)

I went through staging, not on

[2020-02-12 09:28] #826 closed

[2020-02-12 09:33] kdondziak commented on #781
I implemented it in following way:
Two organizations has 'match'. Each match has similarity field. Implemented checkbox filters records to have similarity field > 75%. So, on home page there are records that have at least 1 'highly matched' organization match. On click user sees compare page. On that page user can see his/her own organization with organization matches with similarity < 75% if ther

[2020-02-12 10:13] bognasoldev89 commented on #736
As mentioned in #826 performance is improved.
All record view with 62 matches:

![826 62 matched records](https://user-images.githubusercontent.com/51324797/74322546-5ed10580-4d84-11ea-8a54-0abd71fcfce1.gif)

As for UI, this strange comma is removed and displaying match similarity is OK - regarding differences in displaying matched organizations in multi and all records views.

[2020-02-12 10:13] #736 closed

[2020-02-12 11:47] bognasoldev89 commented on #688
@johnhbenetech @NeilMBenetech what do you think?

https://github.com/benetech/ServiceNet/wiki/Updating-Organization-matches

[2020-02-12 12:47] bognasoldev89 commented on #818
I uploaded healthleads data with new and old date format and mentioned issues don't occur anymore. I also confirmed it with @kdondziak to make sure that I don't omit anything.

[2020-02-12 12:47] #818 closed

[2020-02-12 14:19] NeilMBenetech commented on #688
@bognasoldev89 I'll defer to @johnhbenetech on this as he's more familiar with the matching algorithm and how well this represents it.

[2020-02-12 15:22] bognasoldev89 commented on #827
Scrollbar works smoothly right now! Example:

![827 working](https://user-images.githubusercontent.com/51324797/74348906-b8045d80-4db3-11ea-9d2c-da0597d79dc5.gif)

[2020-02-12 15:22] #827 closed

[2020-02-12 19:14] johnhbenetech commented on #781
gotcha, thanks

@NeilMBenetech  Can you review some matches and see if you think 75% is the right threshold?

[2020-02-12 20:04] johnhbenetech opened #838 "Should we reset filter on login?"
Interested to get the team's input as well as @neilmbenetech

I've noticed in a few cases where I login and am presented with no results. I only get results after hitting the reset filter button.

Additionally sometimes after new filter-related feature release i experience similar issues. Would it make sense just to automatically reset the filter after a login?

@neilmbenetech do you see a user ne

[2020-02-12 20:05] johnhbenetech commented on #828
@NeilMBenetech I believe this was just catching it while our match update script was running. Can you recheck and see if you still are seeing this issue?

[2020-02-12 20:14] NeilMBenetech commented on #838
@johnhbenetech I agree that the filter should be reset upon login. Confusing otherwise.

[2020-02-12 20:15] NeilMBenetech commented on #828
@johnhbenetech I saw this morning that it is working now, thanks!

[2020-02-13 16:42] johnhbenetech commented on #789
as discussed on call, it's fine to show code for those without name

[2020-02-13 17:22] johnhbenetech commented on #688
Thanks @bognasoldev89. The only thing I would think about adding is work with the dev team to record a few more details:

1. Which fields are compared (and how)
2. The current weighting of those field similarities (and where that config is stored)
3. A short description of the match_similarity table that stores the similarity

Thanks and let me know if I can chip in on any of the above

[2020-02-13 17:25] johnhbenetech commented on #831
We'll need the copy/formating for this

[2020-02-14 05:23] NeilMBenetech commented on #781
@johnhbenetech this looks good and I like @kdondziak 's approach, I was going to suggest the same.

[2020-02-14 08:23] bognasoldev89 commented on #789
OK, so issue is good to close.

[2020-02-14 08:23] #789 closed

[2020-02-14 13:22] johnhbenetech commented on #781
@NeilMBenetech my question was more do you think "75" is the right cutoff. If you look down in the 60s and even the 50s there are still meaningful matches.

[2020-02-14 15:24] jkondrat commented on #792
I agree with @kdondziak

[2020-02-15 15:19] NeilMBenetech commented on #781
Ah, thanks @johnhbenetech . We'll probably have to iterate on this and eventually may even need for users to set their own threshold. For now based on your comment shall we drop it to, say, 50% ?

[2020-02-17 09:10] bognasoldev89 commented on #735
Done:
![735 1](https://user-images.githubusercontent.com/51324797/74637732-d9c26380-516a-11ea-88c1-a45d788ec47e.png)

Done (exemplary gif is for the same user, but it works for the whole agency. I was not able to save fields set as a user within the same agency).
![735 2](https://user-images.githubusercontent.com/51324797/74638105-94526600-516b-11ea-8439-5560c6320b10.gif)

Almost done. In general,

[2020-02-17 10:36] bognasoldev89 commented on #830
I tried to access a few entities through Postman and I got access denied info because lack of authorization.

For example, I tried to add funding:
![830](https://user-images.githubusercontent.com/51324797/74646184-a1765180-5179-11ea-8c38-bfd7968cdd88.png)

[2020-02-17 10:36] #830 closed

[2020-02-17 14:13] awalkowiak commented on #735
@bognasoldev89 The first bullet point is included in first point of initial description. Regarding your second point: I asked if user should have option to choose set from someone else from his agency and the answer was that he should see all from his agency. User can choose any setting from his agency on multi record view (or all record view). However I didn't give option to see or delete setting

[2020-02-18 10:21] kkaczmarczyk commented on #771
I think as well that we can use the jHipster bells and whistles to handle that. @jkondrat can you explain how are you doing the separation? The front end / back end split affects things like the deployment process and CI builds.

@jkondrat I am curious about the architectural approach here - could you explain how do you want to achieve this?

[2020-02-18 10:23] kkaczmarczyk commented on #631
I didn't link the Wiki page here for some reason. It was created long time ago: https://github.com/benetech/ServiceNet/wiki/DB-migration-steps

[2020-02-18 14:20] awalkowiak commented on #792
Yup, browser has the same behavior. We have now secured actions for users without admin role, so i guess we could close this one.
@johnhbenetech whats your opinion on this one? Can we close this?

[2020-02-18 14:46] awalkowiak commented on #792
As discussed on call, I am closing this one.

[2020-02-18 14:46] #792 closed

[2020-02-18 17:27] jkondrat opened #842 "Previously saved filters fail to load"
The filters that were saved before #781 and #572  fail to load, add a migration that sets initial value for the newly added booleans

[2020-02-20 13:06] bognasoldev89 commented on #842
I confirm that old and new filters sets are loading on the homepage:

![842 working](https://user-images.githubusercontent.com/51324797/74936306-3089a080-53ea-11ea-941c-f81fd34d4eaf.gif)

[2020-02-20 13:06] #842 closed

[2020-02-20 14:41] bognasoldev89 commented on #838
So filters are now resetting right after logging in, by admin and regular users. In my opinion, this issue is resolved.

Examples:

![838 admin](https://user-images.githubusercontent.com/51324797/74945006-49e51980-53f7-11ea-97b7-71cea18f0b20.gif)

![838 hluser](https://user-images.githubusercontent.com/51324797/74945012-4baedd00-53f7-11ea-8737-3ddccafc67af.gif)

![838 laacuser](https://user-images

[2020-02-20 14:41] #838 closed

[2020-02-20 16:51] jkondrat commented on #771
@kkaczmarczyk : I'm generating a backend and gateway microservices using the newest JHipster and moving our existing back- and frontend code there. We will probably need to run docker containers like consul for development, I'll add docker-compose configurations and scripts to the repo that will ease the process
Regarding the API gateway, JHipster has a dedicated service type that uses Zuul proxy.

[2020-02-20 17:01] jkondrat commented on #771
It might also be a good idea to create a separate microservice for authentication and add oauth2 there

[2020-02-21 15:18] kdondziak commented on #701
@johnhbenetech We have a question about this task. In ours understanding we should take filter form home page and highlight fields in all/multi record view that are same as corresponding in filter. The question is how it should work with geography filter?

[2020-02-21 15:20] johnhbenetech commented on #701
@NeilMBenetech can we get a suggestion for this?

[2020-02-24 10:08] bognasoldev89 opened #844 "Regular user is logged out after trying to use search field"
Reproduction:
* Log in as a regular user
* Type something into search field

Expected result:
* List of records on the homepage should reload to show those matching input in the search field

Actual result:
* User is logged out as not authorized to access this page

![844 bug](https://user-images.githubusercontent.com/51324797/75144006-70a49800-56f6-11ea-965d-27910ef13f49.gif)

[2020-02-24 14:13] bognasoldev89 opened #846 ""Bad request" indicator after dismissing record from multi/all record view"
I noticed this issue while testing #339

Reproduction:
* go to record with at least one match
* open multi/all record view
* dismiss record via "yes, remove this record" button
* click "View previously removed records"
* go back

Expected results:
* no "Bad request" indicator should appear

Actual results:
* "Bad request" indicator appears

Note: This issue has no impact on this functionality - If

[2020-02-25 15:06] bognasoldev89 opened #848 "Organizations with status "Inactive" are displayed on multi/all record view"

[2020-02-25 15:57] bognasoldev89 commented on #781
I confirm that now it's needed a 50% match to show organizations with this feature.

[2020-02-25 15:57] #781 closed

[2020-02-25 16:01] bognasoldev89 commented on #844
I confirm that regular user is not logged out after using search field anymore.

Example of edenuser:
![844 working](https://user-images.githubusercontent.com/51324797/75264907-69fa4b80-57f0-11ea-82e8-143627dd44c6.gif)

[2020-02-25 16:01] #844 closed

[2020-02-26 13:47] bognasoldev89 opened #850 "Validate data upload to prevent uploading data from different provider"

[2020-02-27 15:12] bognasoldev89 commented on #735
@johnhbenetech @awalkowiak as agreed on meeting, I'm moving this issue to done

[2020-02-27 15:12] #735 closed

[2020-03-02 15:32] kdondziak opened #853 "Fix time-out issue and google resources"
The goal of this ticket is to fix time-out after making long request and failing request for google resources (fonts, map scripts).

[2020-03-03 12:30] jkondrat opened #855 "Set up automatic deployment of the gateway and backend apps"

[2020-03-03 14:49] kkaczmarczyk commented on #319
@johnhbenetech @jkondrat is there a clear idea of how we should go about this issue yet?

[2020-03-03 16:02] greggish commented on #319
Chiming back in here: in this upgrade cycle for HSDS, one of the big prospective changes that we're discussing might relate to your work on this functionality. See openreferral/specification#214 and openreferral/specification#181

It would be great to hear your perspective on working among multiple taxonomies as we consider these options.

[2020-03-03 23:06] johnhbenetech commented on #319
@NeilMBenetech Is there an update on this? What's your plan for populating this table?

[2020-03-04 00:03] johnhbenetech commented on #832
Here's the task we discussed on the call. Let's get started on the front end components. There are several additional requirements with this task.

* Enable email (i assume using the built in jhipster config)
* Add to be provided API keys and URL for mail service to env vars and add to deployment scripts. I believe jhipster has these already?
* Disable the sending of an activation email upon user

[2020-03-04 12:48] kdondziak commented on #802
@johnhbenetech You asked me about what was causing this issue. I believe it was mentioned above #661 and this issue won't happen again.

[2020-03-04 15:38] NeilMBenetech commented on #701
@kdondziak @johnhbenetech Ooo that is a good point. The geographic filter could be set at a level more or less granular than the search filter. Would it be difficult just to highlight the "closest" match? So if someone is searching in a particular county, and the record has a location with a city inside that county, we highlight that? This might be too complex to undertake.

[2020-03-04 15:44] NeilMBenetech commented on #319
Sorry @johnhbenetech for the delay, I will prioritize.

[2020-03-04 16:03] #670 closed

[2020-03-04 16:06] #324 closed

[2020-03-04 16:09] NeilMBenetech commented on #310
This was incorporated in some of the other Data Trust tasks. Most partners don't actually track the source of information (surprisingly) but we introduced the notion of a "complete review".

https://github.com/benetech/ServiceNet/issues/681

https://github.com/benetech/ServiceNet/issues/680

[2020-03-04 16:09] #310 closed

[2020-03-04 16:11] NeilMBenetech commented on #316
I think this is now less relevant than the requests for consistent spacing https://github.com/benetech/ServiceNet/issues/388 and for the user to be able to select sets of fields to show/hide. https://github.com/benetech/ServiceNet/issues/735

[2020-03-04 16:11] #316 closed

[2020-03-04 16:12] NeilMBenetech commented on #523
I'm going to retire this idea. Highly unlikely anyone will do resource editing work on a mobile phone.

[2020-03-04 16:12] #523 closed

[2020-03-04 16:16] NeilMBenetech commented on #349
Now that Locations (and soon, possibly Services) can display in a "linked" manner to the matches, can we highlight field-level differences between "my record" and the linked, showing partner record, just as we do at the Organization level?

[2020-03-04 16:17] #377 closed

[2020-03-04 16:17] NeilMBenetech commented on #326
Vague, I'll close for now.

[2020-03-04 16:17] #326 closed

[2020-03-04 16:18] NeilMBenetech commented on #376
This seems to be working, however it needs a target="_blank" added so it opens in a new tab/window. Here's an example.

https://servicenet.benetech.org/#/all-records-view/e594d599-8347-4e83-b5ea-a680d80093fa

[2020-03-04 16:19] NeilMBenetech commented on #314
It's a good idea and would improve Data Trust.

[2020-03-04 16:20] NeilMBenetech commented on #303
I think this is now obsolete as we are displaying other metadata in the search results and comparison screens to help users more quickly go to relevant records.

[2020-03-04 16:20] #303 closed

[2020-03-04 16:21] NeilMBenetech commented on #348
This has been addressed. We default to "Your data" where appropriate. If it is a "discovered" record that doesnt yet have a match to one of your own, it will say the name of the partner whose record it is.

[2020-03-04 16:21] #348 closed

[2020-03-04 16:23] #295 closed

[2020-03-04 16:26] NeilMBenetech commented on #325
I feel like instead we should just be showing the "status" field of records and it's just another thing users can compare. @johnhbenetech would it be a simple matter to display when SN detected a record changed its status?

[2020-03-04 16:27] NeilMBenetech commented on #306
Addressed in other subsequent items.

[2020-03-04 16:27] #306 closed

[2020-03-04 16:27] NeilMBenetech opened #857 ""Active" Checkbox on record view"

[2020-03-04 16:28] NeilMBenetech commented on #857
@johnhbenetech you had created this item but it was for some reason not an "Issue" in Github, so I converted it. Do you recall what this was? If not feel free to close it and remove from the Product Board.

[2020-03-04 16:28] #302 closed

[2020-03-04 16:30] NeilMBenetech commented on #307
I think this has become obsolete due to a number of other related Workflow tasks that were subsequently implemented. We could revisit if partner feedback indicated we need some further refinement.

[2020-03-04 16:30] #307 closed

[2020-03-04 16:31] NeilMBenetech commented on #104
@johnhbenetech I don't understand what this one is but you moved it around a bit in January. Can you add detail please and/or disposition it?

[2020-03-04 16:32] NeilMBenetech commented on #24
@johnhbenetech similarly, you moved this back to the Product Board in January. Does it need some refinement? I think it's a good idea and we should categorize it and move to Ready For Dev.

[2020-03-04 16:32] johnhbenetech commented on #349
team, it would be great to get an estimate for how long this would take. I know the conflict detection script can be quite complexso i want to make sure this is a good use of the time before we start work

[2020-03-04 16:33] NeilMBenetech commented on #369
This has become obsolete due to subsequent workflow items.

[2020-03-04 16:33] #369 closed

[2020-03-04 16:34] NeilMBenetech commented on #320
This is being incorporated into Integration so it can be closed.

[2020-03-04 16:34] #320 closed

[2020-03-04 16:35] johnhbenetech commented on #325
@NeilMBenetech This was something from the early days where we thought we would have a permanent audit log displayed with each record. Obviously we can choose a subset of fields that we wish to display

It's basically a way more detailed version of last updated so you could see recent changes that might point you to which fields to focus on when you are looking at a record.

If we wanted to go for

[2020-03-04 16:37] johnhbenetech commented on #857
@NeilMBenetech I forget exactly :)

I think it was that having a checkbox is weird UI since it's an input normally.

Some partners don't have this concept at all, some have non binary (active, temporary pause, not active)

So maybe there's a better UI to surface this

[2020-03-04 16:38] NeilMBenetech commented on #313
Good idea. Let's clarify a bit,.

Add a multi-line free-text box at the bottom of each partner record you're viewing in Comparison view with the following text just above it: "Your private notes about this record (won't show to other users)"

As suggested, whatever a user saves into this free text box should be retained across database imports and should also not show to any other users. It's just

[2020-03-04 16:40] NeilMBenetech commented on #325
@johnhbenetech let's back-burner it. This kind of auditing is super helpful in your own database system but I can't see it being heavily referred to in SN. If this emerged as a new/revived idea I think you would say we could retroactively construct these logs since we have all the source data.

[2020-03-04 16:40] #325 closed

[2020-03-04 16:41] #857 closed

[2020-03-04 16:42] johnhbenetech commented on #104
@NeilMBenetech this was something from an early prototype.

It actually was an input where someone could add some ephemeral notes (possibly with auto expiration). I think iCarol has this concept?

Something like "Organization X is hosting a job fair  March 4th! 123 Main Street 1pm-4pm"

I have no reason to believe this would be used, and I dont believe iCarol makes these available over API

[2020-03-04 16:44] johnhbenetech commented on #313
@NeilMBenetech yeah this is related to #104 but private/public difference

[2020-03-04 16:45] johnhbenetech commented on #24
@NeilMBenetech related to #325

You can prioritize and combine as you see fit

[2020-03-04 16:46] NeilMBenetech commented on #104
Yep, I think this is a duplicate to: https://github.com/benetech/ServiceNet/issues/313.

So I'll close this one.

[2020-03-04 16:46] #104 closed

[2020-03-04 16:46] johnhbenetech commented on #325
@NeilMBenetech Seems to be the same as #24 to me. Let me know what you see as the difference that makes one a better idea than the other

[2020-03-04 16:48] #24 closed

[2020-03-04 16:49] NeilMBenetech commented on #373
This seems to work now for me.

[2020-03-04 16:49] #373 closed

[2020-03-04 16:50] NeilMBenetech commented on #312
Duplicate. https://github.com/benetech/ServiceNet/issues/311

[2020-03-04 16:50] #311 closed

[2020-03-04 16:51] #304 closed

[2020-03-04 16:52] NeilMBenetech commented on #304
Not entirely sure what Clotilde meant here but possibly obsolete now that we have enriched the initial "details" view of your own record with metadata about partner matches.

[2020-03-04 16:54] NeilMBenetech commented on #332
@john could you comment please on where we stand now? Are we doing any de-duplication and/or does it arise as an issue from partners occasionally? I know we've had a few cases but I'm not sure we need some systemic tweak for this, in which case we could close this item and remove from the Product Board.

[2020-03-04 16:57] NeilMBenetech commented on #305
The question mark icon is a little odd, I agree, but I don't have a replacement suggestion at this stage.

Here's an example showing how the background of the hover needs to be "less transparent". In fact it should be fully opaque. https://servicenet.benetech.org/#/all-records-view/e594d599-8347-4e83-b5ea-a680d80093fa

![Capture](https://user-images.githubusercontent.com/52297301/75903122-f5c63600

[2020-03-04 16:58] #371 closed

[2020-03-04 16:59] NeilMBenetech commented on #370
I'll close this one too and revive the project to implement the new UI ideas John had gotten from the Toptal project.

[2020-03-04 16:59] #370 closed

[2020-03-04 17:43] johnhbenetech commented on #332
@NeilMBenetech we don't run the matching script to compare your own record's against each other. So definitely possible. I don't have any idea of how common this is.

[2020-03-04 19:48] NeilMBenetech commented on #332
OK, I'll close it because neither of us are hearing it is an issue.

[2020-03-04 19:48] #332 closed

[2020-03-04 19:52] NeilMBenetech commented on #312
Identify ways that partners could communicate with each other generally, or specifically on each resource record, within Service Net. The latter, in particular, is very interesting as you could see people collaborating on the content and structure of individual records in ways that meaningfully improves its data quality. To be explored.

[2020-03-04 19:55] NeilMBenetech commented on #734
I think we shouldn't infer anything like this from partners' data. it will get very specific to each partner in non-scalable ways and also may have unintended consequences. In other words, we should just accept whatever data they are sending us. Closing for now.

[2020-03-04 19:55] #734 closed

[2020-03-04 19:59] johnhbenetech commented on #329
Sounds right. Let us know if you have recommendations on fields and weightings

________________________________
From: Neil <notifications@github.com>
Sent: Wednesday, March 4, 2020 1:58 PM
To: benetech/ServiceNet
Cc: John Higgins; Mention
Subject: Re: [benetech/ServiceNet] "recommended" sorting to refine? (#329)

@johnhbenetech<https://github.com/johnhbenetech> now that we have enhanced the metad

[2020-03-04 20:08] NeilMBenetech opened #858 "UI overhaul using Toptal graphics"
Based on the new UI ideas resulting from the Toptal project John commissioned in 2019, overhaul the look and feel of the Service Net interface.

[2020-03-05 12:08] awalkowiak opened #859 "Add missing front end tests for utils."
This is related to service: ServiceNetGateway.

We have couple of utils and not all are covered with tests. Add jest tests for:
date-utils, schedule-utils, search-utils and single-record-view-utils.

[2020-03-05 12:08] awalkowiak opened #860 "Add missing front end tests for FilterActivity component."
This is related to service: ServiceNetGateway.

Add missing jest tests for FilterActivity component and its reducer.

[2020-03-05 12:08] awalkowiak opened #861 "Add missing front end tests for single, multi and all records components."
This is related to service: ServiceNetGateway.

Add missing jest tests for SingleRecordView, MultipleRecordView, AllRecordsView components.

[2020-03-05 12:08] awalkowiak opened #862 "Add missing front end tests for fields display settings panel."
This is related to service: ServiceNetGateway.

Add missing jest tests for FieldsDisplaySettingsPanel component.

[2020-03-05 13:39] bognasoldev89 commented on #829
I checked this feature and it looks nice in my opinion. I rechecked if it works OK and I haven't found anything wrong.

Design:
![829](https://user-images.githubusercontent.com/51324797/75986851-1aea9f80-5eef-11ea-9f3a-c660eb5446d6.png)

Exemplary usage:
![829 working](https://user-images.githubusercontent.com/51324797/75986884-2b027f00-5eef-11ea-9b28-651239b4da99.gif)

[2020-03-05 13:39] #829 closed

[2020-03-05 14:21] jkondrat opened #863 "Spike: Report test coverage"
Track test coverage percentage after each build. It would be nice to have test coverage in github PRs

[2020-03-05 16:01] kkaczmarczyk commented on #349
@awalkowiak hey could you estimate this story in terms of man-days?

[2020-03-05 16:32] jkondrat opened #864 "Hide unused administration pages"
After migrating to microservice architecture, some of administration pages stopped working. Investigate which endpoints are present in the backend service and switch urls on the front to these. If an endpoint is not available, hide the menu item.

[2020-03-06 14:25] bognasoldev89 commented on #802
**Tested with success**

Tested on Chrome 79.0.3945.130

Test cases checked:
- Filtering Oakland in City filter and looking for LINCOLN Organization as edenuser
- Filtering Hayward in City filter and looking for LINCOLN Organization as edenuser
- Checking Locations for randomly chosen Organizations, filtering checked cities/counties and checking if Organizations are displayed on the homepage

I fi

[2020-03-06 14:25] #802 closed

[2020-03-08 03:18] NeilMBenetech commented on #829
Yes indeed, looks good, thanks @bognasoldev89

[2020-03-10 10:15] abaranowska1 commented on #846
The issue still exist, but now we cannot reinstate the organization after click reinstate button

Steps:
- Log in to the app as Admin
- Go to record with at least one match
- Open all record view ( click Show all matches )
- Dismiss record via "yes, remove this record" button
- Click "View previously removed records"
- Click reinstate button

Actual result: Error occurred when reinstating record p

[2020-03-10 10:49] abaranowska1 opened #867 "The error message is thrown during hiding the records from multi/all record view and from the homepage."
The error message is thrown during hiding the records from multi/all record view and from the homepage.

Steps:

- Open app and log in as Admin
- Find a record with at least one match
- Dismiss record via "Done with this record"  button

![dismiss1](https://user-images.githubusercontent.com/61964176/76305782-1a268480-62c6-11ea-81a4-a3dbc471c29c.gif)
![dismiss3](https://user-images.githubuserconten

[2020-03-10 11:13] abaranowska1 opened #868 "Hide "View Hidden Records" option for Sacramento user"
"View Hidden Records" option can be hidden for Sacramento user because this user is not authorized to access this page.
![viewHiddenRecords](https://user-images.githubusercontent.com/61964176/76307259-cb2e1e80-62c8-11ea-9dac-5d4245ef5df8.png)

[2020-03-10 11:53] kdondziak opened #869 "Investigate performance issue."
QA testers have spotted that app has really bad performance and works really slow after re architecture. The goal is to investigate this issue, find possible cause of it and fix the issue if it is not complex.

[2020-03-10 14:41] johnhbenetech opened #870 "Recommend Approach for documenting API endpoints"
As discussed earlier, ideally we could utilize one of the auto-updating API documentation solutions. It was suggested that JHipster may have something built in.

We should explore solutions, and fully document all endpoints as part of this task.

[2020-03-10 14:52] abaranowska1 opened #871 ""Set my current location" button doesn't work"
"Set my current location" button doesn't work. Nothing happens after click the button.

**Steps:**

- Log in to the app as Admin
- Go to Location chooser tab
- Click "Set my current location" button

![image](https://user-images.githubusercontent.com/61964176/76325961-389d7780-62e8-11ea-868c-c585dc60a795.png)

**Actual result:** Button looks like inactive, nothing happens after click
**Expected re

[2020-03-11 09:21] bognasoldev89 commented on #853
**Tested with success**

Verified on Firefox 73.0.1

Verified cases:
- Browsing login page with console open
- Logging in as an admin and browsing the homepage with console open
- Logging in as a regular user and browsing the homepage with console open
- Logging in as a sacramentouser and browsing the shelter view with console open
- Provoking long requests - showing all records view for 60 matche

[2020-03-11 09:21] #853 closed

[2020-03-11 15:07] bognasoldev89 commented on #688
@johnhbenetech I asked @jkondrat for help with requested details and here's the result: https://github.com/benetech/ServiceNet/wiki/Updating-Organization-matches

Can you review this document?

Moreover, I think this wiki page is outdated: https://github.com/benetech/ServiceNet/wiki/Matching-algorithm-approaches
Is it still needed?

[2020-03-11 18:31] awalkowiak opened #873 "Add a new schema in DB for a Gateway service"
We decided that each new service will have its own db schema. There is need to add a new schema for our second service (ServiceNetGateway).

[2020-03-11 18:37] awalkowiak commented on #785
Note: The feature is finished, but needs to be moved to ServiceNetGateway service. It will be done when we split db schemas for services #873.

[2020-03-12 12:33] abaranowska1 commented on #780
@kdondziak I checked this functionality and I saw that users can manually mark their own Service as matching 0, 1 or many partner Service records and when they are viewing their own Service record, they can quickly navigate to the partner Service records they had previously marked as "matches", but I found two things that can be investigated:

1. In my opinion, after clicking the hyperlink in sect

[2020-03-12 18:16] bognasoldev89 commented on #832
**Tested with success**

Verified on Chrome browser 79.0.3945.130

Verified cases:
- Clicking "Feedback" as a sacramentouser
- Sending message

@johnhbenetech confirmed that message was delivered.
Feedback is not available for different types of users

**Attachments**

![832 1](https://user-images.githubusercontent.com/51324797/76554284-e69a5480-6495-11ea-8277-1942f3f7eb82.png)

![832 2](https://u

[2020-03-12 18:16] #832 closed

[2020-03-12 18:23] johnhbenetech opened #874 "User Registration no longer displaying error when email/username already in use"
tested on staging, try to register a user with same email as existing user or same username as existing user. Registration fails silently, console log:

register/CREATE_ACCOUNT_PENDING
warning.js:33 Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're accessing the method `preventDefault` on a released/nullified synthetic event. This is a no-op function. I

[2020-03-13 15:43] kdondziak commented on #780
@johnhbenetech What do you think about Alicia's idea "In my opinion, after clicking the hyperlink in section "Matches", the page should back to the top" ?

[2020-03-13 15:48] johnhbenetech commented on #780
@NeilMBenetech feel free to chime in here.

I wonder if it's possible to not only go to top, but also expand the location section and switch right to the matching location? Do we have a time estimate on how long that interaction would take?

[2020-03-13 16:00] kdondziak commented on #780
@johnhbenetech If you mean scroll to the top and collapse related location? Or Scroll to location dropdown and open right one?

[2020-03-13 16:01] johnhbenetech commented on #780
sorry, scroll to location and open right one (matching one)

[2020-03-13 16:04] kdondziak commented on #780
I think it would take 1d

[2020-03-13 16:07] johnhbenetech commented on #780
cool, lets go for it then.

@abaranowska1 number 2 should be investigated as well

[2020-03-13 23:07] johnhbenetech opened #875 "Reinstitute free text search"
Correct me if I'm wrong, but with the autocomplete work it appears you can no longer do a free text search (if you don't pick one of the autocomplete options for instance).

It seems like this renders the "search fields" option irrelevant because you can't actually enter text to search.

Is it possible to bring free text search back for when you don't do an autocomplete?

[2020-03-16 12:49] kkaczmarczyk commented on #855
@jkondrat anything left TODO here? If so, I would remove the 'ready for deployment' column from the board, as we no longer need it. cc @johnhbenetech

[2020-03-16 14:26] awalkowiak commented on #873
https://github.com/benetech/ServiceNetGateway/pull/6

[2020-03-16 16:58] alexrcabral opened #876 "Bed Availability Format"
For emails sent from UG, and later from other shelters (with Subject Line reflecting the name of the shelter). Service Net will need to be able to pull from this email format.

Subject Line: UG Update

Upper Bunks: 8
Lower Bunks: 4
Waitlist: 0

[2020-03-17 13:41] jkondrat opened #877 "Create an Authentication service"
* create an OAuth2 authorization service
* modify all the existing microservices to authorize requests using the auth service
* migrate existing users

[2020-03-17 14:38] awalkowiak commented on #873
I'm closing it, as it is resolved now.

[2020-03-17 14:38] #873 closed

[2020-03-17 14:49] awalkowiak commented on #785
@jkondrat Could you confirm that this is working. (excluding the 0x00 issue, which will be resolved in  separate issue)

[2020-03-17 15:12] kkaczmarczyk commented on #870
dev note: consider microservices architecture in this task

[2020-03-17 15:50] awalkowiak opened #878 "Response body in logger has invalid byte sequence"
Fix issue on staging during file upload, with response body contains invalid byte sequence which cant be saved in request logger in Gateway service.

`Caused by: java.sql.BatchUpdateException: Batch entry 0 insert into request_logger (remote_addr, request_body, request_method, request_parameters, request_uri, response_body, response_status, id) values ('172.31.6.28', '', 'POST', '', '/services/ser

[2020-03-17 16:09] jkondrat commented on #855
@kkaczmarczyk : The deployment is working now, so the column can be removed

[2020-03-18 05:58] bognasoldev89 opened #879 "Increase "Upload data" UI performance"

[2020-03-18 06:07] bognasoldev89 commented on #864
@jkondrat I checked which ones stopped working and which ones seem fine.

Fine:
- User Management
- Health
- Configuration
- Scheduler
- Logs
- API

Not available anymore:
- Metrics
- Audits
- Gateway (is not clickable anymore)

[2020-03-18 06:14] bognasoldev89 opened #880 "Regression testing after re-architecture"
After re-architecture of the ServiceNet it is important to check thoroughly if every functionality and feature works as expected.

The regression test suite contains all tests designed for this moment.
Link for test suite:
https://docs.google.com/spreadsheets/d/1VzIrGaAPjOJHqyoaqSFpfaqrB_UGd1wUTQM8YfHHnVU/edit?usp=sharing

**ACC**
- All test cases from the list are performed
- Report is created
-

[2020-03-18 08:34] kdondziak commented on #869
Updated dependencies in https://github.com/benetech/ServiceNetGateway/commit/25a3d92dae5bed3b1dbb3a0c99b2a2b9c617f808

[2020-03-18 08:43] abaranowska1 commented on #869
I confirm that application performance has increased. It's better now and faster.

[2020-03-18 08:43] #869 closed

[2020-03-18 12:45] abaranowska1 opened #881 "Issue with upload data from healthleads and LAAC providers - data didn't update"
During exploration tests, I found a bug related to uploading data. I had an issue with upload healthleads files - metadata.csv file is loading and loading.

![metadata](https://user-images.githubusercontent.com/61964176/76962293-44f48680-691f-11ea-8109-d049ee362ca9.gif)

The issue exists on both browsers Google Chrome Version 80.0.3987.132  and Firefox 74.0
What is more, even if I correctly upload

[2020-03-18 12:58] abaranowska1 commented on #881
During exploration tests, I found a bug related to uploading data. I had an issue with upload healthleads files - metadata.csv file is loading and loading.
![metadata](https://user-images.githubusercontent.com/61964176/76962293-44f48680-691f-11ea-8109-d049ee362ca9.gif)
The issue exists on both browsers Google Chrome Version 80.0.3987.132  and Firefox 74.0
What is more, even if I correctly upload a

[2020-03-18 13:04] abaranowska1 opened #882 "Upload data limit should be increased"
I saw the issue during upload, not OneRecord data. Upload data limit should be increased because services.csv file cannot be uploaded.

![Peek 2020-03-18 14-08](https://user-images.githubusercontent.com/61964176/76963955-2a6fdc80-6922-11ea-8c0c-086f9e4b842e.gif)

![Screenshot from 2020-03-18 14-09-29](https://user-images.githubusercontent.com/61964176/76963970-2e9bfa00-6922-11ea-917a-5b4a18e6242d.

[2020-03-18 13:11] abaranowska1 commented on #882
I saw the issue during upload, not OneRecord data. Upload data limit should be increased because services.csv file cannot be uploaded.

![Peek 2020-03-18 14-08](https://user-images.githubusercontent.com/61964176/76963955-2a6fdc80-6922-11ea-8c0c-086f9e4b842e.gif)

![Screenshot from 2020-03-18 14-09-29](https://user-images.githubusercontent.com/61964176/76963970-2e9bfa00-6922-11ea-917a-5b4a18e6242d.

[2020-03-19 12:29] abaranowska1 commented on #780
Retested and confirmed that after fix the manual record matches functionality works without any issue.
After clicking the hyperlink the page is scrolled to the right matching location/services. The second issue with "See another match" is also fixed.

[2020-03-19 12:34] #780 closed

[2020-03-19 13:27] jkondrat opened #883 "Rotate build directories on dev server"
There is a need to update the deployment script so it rotates build directories in case we run out of disk space

[2020-03-19 13:27] jkondrat opened #884 "Add CI build to SN Gateway and SN Auth repos"
Add CI build to ServiceNetGateway repo. Consider using Travis or Github Actions

[2020-03-19 14:26] jkondrat opened #885 "Bring back ribbon on staging"
Bring back a profile that adds red ribbon to the header and set it on staging

[2020-03-20 09:15] abaranowska1 commented on #874
**Tested with success**

- Confirmed that error message is displayed when email/username is already in use
- Verified on: Google Chrome Version 80.0.3987.149 Browser

![user](https://user-images.githubusercontent.com/61964176/77150186-9887e100-6a93-11ea-9524-88c954cb49f0.gif)

[2020-03-20 10:01] #874 closed

[2020-03-20 22:22] johnhbenetech opened #886 "Ensure all activity filter use cases still working"
Refer to:

https://github.com/benetech/ServiceNet/issues/570

it appears 2 and 3 from that task must have been broken by a recent update.

[2020-03-23 13:00] kdondziak commented on #875
@johnhbenetech I assume that we are discussing only 'Search for organization, leave blank...'
 behaviour. Autocomplete works but it's unintuitive. You can write free text there but if you press enter, the first matching option will be selected (e.g. type 'hospita' -> press enter -> 'Nepa state hospital' is selected). In order to use free text search you need to type something and click apply.
Bogn

[2020-03-23 13:22] johnhbenetech commented on #875
@kdondziak The proposed solution is fine.

I still don't think it works as you describe though. Even after typing in text, the apply button is still grayed out, and therefore can't be clicked. Even if I change a filter to make apply clickable, it doesn't respect the entered text for organization search (nor does it work for all the combinations of organization/service/location search within fields

[2020-03-23 13:24] kdondziak commented on #875
@johnhbenetech "Even after typing in text, the apply button is still grayed out, and therefore can't be clicked" This is another issue that need to be resolved. Can you try type something and click reset button?

[2020-03-23 13:27] johnhbenetech commented on #875
@kdondziak that works for the organization name search, but I can't choose which entity and fields to search since reset always puts it back to org.

So right now there doesn't seem to be a away to do free text searching of anything but org name and alternate name

[2020-03-24 08:56] bognasoldev89 commented on #875
**Tested with success**

Verified on Chrome browser v79.0.3945.130

**Verified cases**
- performing search for popular phrases for default settings
- performing search for Services fields
- performing search for Locations fields
- performing search for no fields
- performing search with auto-suggest for Orgs and Services
- changing search fields after search

**Summary**
Free text search was avail

[2020-03-24 08:56] #875 closed

[2020-03-24 10:11] kdondziak commented on #875
Commit: https://github.com/benetech/ServiceNetGateway/commit/046a96f6a9ccd91acc9338f1a42da9300cbe973d

[2020-03-25 09:07] kdondziak commented on #886
@johnhbenetech I have a question about point 3. Is this how it should look for organizations without matches?
![image](https://user-images.githubusercontent.com/52406204/77519791-66ee8b80-6e80-11ea-8cff-02539bbbaf81.png)

[2020-03-25 13:33] johnhbenetech commented on #886
I would add two things:

Add the partner name under the org name (since this isn't your data)

Some indication in the right side of 'no matches'

[2020-03-26 00:01] alexrcabral commented on #831
@NeilMBenetech
Do we have official copy from press releases or from marketing on how we want to present Service Net as a whole? This is accessed both by Bay Area partners as well as Sacramento partners, so the framing is sensitive.

[2020-03-26 11:09] kdondziak commented on #886
@johnhbenetech How do you like this
1. No matches and it is user's organization:
![image](https://user-images.githubusercontent.com/52406204/77640308-73dfad80-6f5a-11ea-87c9-a95c5efe3650.png)
2. No matches and it's partner organization:
![image](https://user-images.githubusercontent.com/52406204/77640392-970a5d00-6f5a-11ea-9222-da4de8b28de5.png)

[2020-03-26 11:49] johnhbenetech commented on #886
@kdondziak works for me!

[2020-03-26 12:22] kdondziak commented on #886
Gateway commit: https://github.com/benetech/ServiceNetGateway/commit/f86e90c1c7d687fe07bdeb5e6e1ae5d4e90fb75e

[2020-03-26 14:41] abaranowska1 commented on #886
**Verified on:**

- Google Chrome Version 80.0.3987.149,
- Firefox Browser Version 74.0

**Verified cases:**

- Records without matches show as they did previously

![0matches](https://user-images.githubusercontent.com/61964176/77653622-4271dc80-6f70-11ea-86c1-e889227ebcd7.gif)

- Records from a partner system that have no other matches are displayed in a view: single record view only, no side-by-

[2020-03-27 13:22] NeilMBenetech commented on #831
HI @alexrcabral I haven't written any copy for the public website. If you want that web page to be reflective of the Sacramento pilot as well it pretty much needs to be rewritten. Since it is a publc-facing website, I recommend that we do get someone from marketing involved. I can start an email thread with Joel Riciputi - he may delegate or he may say he's fine with us doing our own prose.

[2020-03-27 15:21] abaranowska1 commented on #886
**Tested with success**

**Verified on:**

- Google Chrome Version 80.0.3987.149,
- Firefox Browser Version 74.0

**Verified cases:**

- After login to the app records with 0 matches doesn't show on the top of the list
- Records without matches show as they did previously
- Records from a partner system that have no other matches are displayed in a view: single record view only, no side-by-side
-

[2020-03-27 15:21] #886 closed

[2020-03-27 15:29] abaranowska1 opened #890 "Moving to the empty page is enable on User Management Listing Page"
Moving to the empty page is enable on User Management Listing Page

**Reproduction Steps:**

1. Log in to the app as admin
2. Go to Administration -> User Management
3. Scroll the page down and click right arrow more than 3 times

**Actual result:** You can move to the empty page
**Expected result:** Only pages with data should be visible, paginations should be displayed

![user](https://user-imag

[2020-03-27 15:52] jkondrat opened #891 "The alerts and pagination on user management page are broken"
After saving or deleting a user, an error message pops up stating that "string.match is not a function"
The pagination on that screen doesn't show the total number of pages and allows to indefinitely hit the "next page" button

[2020-03-30 10:38] kdondziak commented on #314
@NeilMBenetech @johnhbenetech My suggestion is to add column on the left of the filter section with table | Partner Name | Last update Date |. How would you like that? See mockup below. Next question is about source of 'last update date'. Since we have 2 methods of updating records (upload files, scheduled jobs), what should be source of 'last update date'? Note that healthleads doesn't have job.

[2020-03-30 12:48] jkondrat commented on #782
@johnhbenetech @NeilMBenetech Since we have a service with OAuth2, I suggest that we use client credentials grant to authorize:
https://tools.ietf.org/html/rfc6749#section-4.4
Each third party would have a client_id and a confidential client_secret, which would allow them to request access tokens. These tokens could be then used to access our APIs.

[2020-03-30 14:01] NeilMBenetech commented on #314
@kdondziak That's a bit too prominent for me. What about another button next to "Saved Filters" called "Imported dates" and then the same table in your screen shot appears? @johnhbenetech any thoughts?

[2020-03-30 14:01] NeilMBenetech commented on #782
@jkondrat Could this be done in such a way that a human does not need to login to refresh the client_secret?

[2020-03-30 14:53] abaranowska1 opened #894 "UI issue on User Management View page"
During regression testing after re-architecture I found UI issue on User Management 'View' Page

**Steps:**
1. Log in as Admin
2. Go to User Management Page
3. Click 'View' button

**Actual result:** ![Selection_085](https://user-images.githubusercontent.com/61964176/77927089-32773700-72a7-11ea-99e1-9c0d0b521a7a.png)
Please move text to the right

[2020-03-30 15:04] abaranowska1 opened #895 "Missing translations"
During regression testing after re-architecture, I found some places with missing translations
1. Administration -> Metrics
![translation](https://user-images.githubusercontent.com/61964176/77928594-e62cf680-72a8-11ea-9286-7ab8640d444c.png)
2. Log in as an invalid user ( deactivated )
![Screenshot from 2020-03-30 11-18-51](https://user-images.githubusercontent.com/61964176/77928840-36a45400-72a9-1

[2020-03-30 16:16] johnhbenetech commented on #782
@NeilMBenetech @jkondrat I'm assuming the flow is a one time key provision. Please correct if I'm wrong

[2020-03-30 16:40] jkondrat commented on #782
@johnhbenetech @NeilMBenetech : that's right, we would provision the secrets once for each third party

[2020-03-30 16:44] johnhbenetech commented on #782
@NeilMBenetech That's seems fine by me/standard for most API systems. Let us know if you disagree

[2020-03-30 17:04] NeilMBenetech commented on #782
Thanks @johnhbenetech for confirming, that's exactly how I see it happening. I've seen a few OAuth2 implementations that require a human login periodically = lame. Zoho.com, the CRM, is a recent example.

[2020-03-30 21:35] johnhbenetech commented on #314
@NeilMBenetech I dont want to overload the main page more than it already is. Could we add a page to the header like 'Data Status' that just leads to a page with the table?

As far as date - yeah we need something that works for the iCarol APIs, ShelterTech API as well as HealthLeads, SMC, and LAAC.

I'm open to suggestions, it might be as simple as MAX(Last updated date), but that's not 100% accu

[2020-03-30 23:46] NeilMBenetech commented on #314
Sure @johnhbenetech that sounds like a good approach.

[2020-03-31 06:33] abaranowska1 commented on #890
Closed because it is a duplicate of https://github.com/benetech/ServiceNet/issues/891

[2020-03-31 06:33] #890 closed

[2020-03-31 07:20] abaranowska1 opened #896 ""Expand All Section" doesn't expand Locations"
During regression testing after re-architecture I met an issue with expanding all sections. After click "Expand all sections" only Services expand.

**Steps:**

1. Open ServiceNet app and log in
2. Click randomly chosen organisation for record list
3. Click “Expand All Sections” under Organization details
4. Open reviewing similar partner records
5. Click “Expand All Sections” placed under Organiz

[2020-03-31 10:18] abaranowska1 commented on #795
During regression testing after re-architecture, I met the same issue once again. Locations are hidden during changing the records and partners organizations
![reopen](https://user-images.githubusercontent.com/61964176/78014426-35763400-7348-11ea-8b87-c60758e83756.gif)
Organization from testing: Mission Neighborhood Health Center (MNHC)

[2020-03-31 11:33] abaranowska1 opened #897 "Checkbox 'Active/Inactive' is broken"
Checkbox 'Active/Inactive' is broken. I cannot click the checkbox.
![checkbox gif](https://user-images.githubusercontent.com/61964176/78022638-95bfa280-7355-11ea-9a2f-b920d89c3f77.gif)

Steps:

1. Log in to the app as Admin
2. Go to random Organization
3. Try to click 'Active' checkbox

Actual result: Checkbox is broken
Expected result: It should be a chance to check the checkbox.

[2020-03-31 13:20] #878 closed

[2020-03-31 16:40] kkaczmarczyk commented on #884
extended the scope to include SN auth repo CI

[2020-03-31 17:18] kkaczmarczyk commented on #884
@johnhbenetech Hi, could you enable TravisCI to run jobs for the Auth and Gateway repos?

https://travis-ci.com/github/benetech/ServiceNetAuth
https://travis-ci.com/github/benetech/ServiceNetGateway

[2020-04-01 06:08] abaranowska1 commented on #894
Now it looks good, I will move this ticket to the Done column
![Selection_093](https://user-images.githubusercontent.com/61964176/78104677-e84d9d00-73ef-11ea-9344-f6d033980d2c.png)

[2020-04-01 06:08] #894 closed

[2020-04-01 06:41] abaranowska1 commented on #867
@awalkowiak Still I see some issue :
1. I can hiding records from the dashboard, but I can't reinstate them after I go to 'Hidden Organization Matches' I see duplicates, for example, "The Q Foundation" and after click reinstate button error pop-up is thrown. When I go back to the dashboard I see this record but in a detailed view, matches are not displayed.
![hid](https://user-images.githubusercon

[2020-04-01 07:30] abaranowska1 opened #898 "An unexpected error has occurred after going to Sessions page"
An unexpected error has occurred after going to the Sessions page

![Screenshot from 2020-04-01 09-12-35](https://user-images.githubusercontent.com/61964176/78110603-88f58a00-73fb-11ea-98e5-33a943ea797c.png)

Actual result: An unexpected error has occurred
![image](https://user-images.githubusercontent.com/61964176/78110716-c5c18100-73fb-11ea-8fad-ebd0892ef787.png)

[2020-04-01 07:42] abaranowska1 opened #899 "User with role SACRAMENTO who is the owner of shelters does not see the tab 'my shelters'"
User with role SACRAMENTO who is the owner of shelters does not see the tab 'my shelters'

**Steps:**

1. Open ServiceNet app and log in as an admin
2. Click “Administration” dropdown list and choose “User management” from it
3. Click “Edit” button next to one of the users with SACRAMENTO role
4. Choose one or more shelters from the list and click “Save” button
5. Log out and log in as a user edit

[2020-04-01 09:02] awalkowiak opened #900 "Fix issue with integration tests in gateway service"
After creating request logger integration tests in gateway are failing due to migration issue:

`[ERROR] org.benetech.servicenet.config.timezone.HibernateTimeZoneIT.storeZoneDateTimeWithUtcConfigShouldBeStoredOnGMTTimeZone  Time elapsed: 0 s  <<< ERROR!
java.lang.IllegalStateException: Failed to load ApplicationContext
Caused by: org.springframework.beans.factory.BeanCreationException: Error creat

[2020-04-01 11:57] bognasoldev89 opened #901 "Locations are not rotated when matched"
After re-architecture an issue with Locations not rotating to each others when matched came back.

**Reproduction**
- Go to Organization (it should have match with matched Location, for example: CALIFORNIA STATE DEPARTMENT OF SOCIAL SERVICES, COMMUNITY CARE LICENSING DIVISION (CCLD))
- Expand Locations section
- Check checkbox with chain icon

**Expected results**
- Matched Locations should rotate

[2020-04-01 12:11] abaranowska1 opened #902 "URL conflict detection is not working as expected"
Currently conflicts are logged for URL even when there are no meaningful differences between values
For example:
1. Here we shouldn't have a conflict
![Selection_102](https://user-images.githubusercontent.com/61964176/78136169-7727dd00-7423-11ea-8a11-91033ff67566.png)
![Screenshot from 2020-04-01 13-49-40](https://user-images.githubusercontent.com/61964176/78136187-7e4eeb00-7423-11ea-82b1-a67f3af0

[2020-04-02 08:58] bognasoldev89 opened #904 "Match Similarities for Locations are not shown"
I uploaded data with Locations that are placed 500-1000m from each other. I'm sure that location similarity should be calculated and shown in Match Similarities entity.

**Reproduction**
- Upload attached data
- Go to Entities -> Match Similarity

**Expected result**
- Location similarity is calculated and displayed in entity

**Actual result**
- Location similarity is absent

**Attachments**
- Fi

[2020-04-02 09:15] abaranowska1 commented on #871
During regression testing after re-architecture, I could set my current location, so it seems like the issue is fixed.

[2020-04-02 09:15] #871 closed

[2020-04-02 09:21] abaranowska1 commented on #376
**Tested with success**

**Verified on:**
- Google Chrome Version 80.0.3987.149,
- Firefox Version 74.0
**Verified cases:**
- possibility to click on the website address and open page in a new tab

[2020-04-02 09:21] #376 closed

[2020-04-02 09:27] abaranowska1 commented on #891
**Tested with success**

Verified on: Google Chrome Version 80.0.3987.149

Verified cases: The alerts and pagination on the user management page work fine now. There is no blank page and no error message.

[2020-04-02 09:27] #891 closed

[2020-04-02 09:35] awalkowiak commented on #876
The commit is not related, I pasted in commit name wrong issue number

[2020-04-02 11:37] abaranowska1 opened #906 "Bring back "View previously removed records" option"
Bring back "View previously removed records" option
![70247870-623f8380-177a-11ea-8ec9-dff5dda8fce4](https://user-images.githubusercontent.com/61964176/78245183-50cb7580-74e7-11ea-94fb-166661b53f00.gif)

Now, this option is disabled and the user cannot reinstate match when all records are dismissed.
![Peek 2020-04-02 13-37](https://user-images.githubusercontent.com/61964176/78245255-76587f00-74e7-

[2020-04-02 12:17] abaranowska1 commented on #846
**Tested with success**
Dismissing and reinstating record works fine now.

- we can reinstate the organization after click reinstate button
- it is possible to dismiss record properly

Tested on Chrome Browser Version 80.0.3987.132 (Official Build) (64-bit)

[2020-04-02 12:18] #846 closed

[2020-04-02 12:24] abaranowska1 commented on #867
**Tested with success**

- Hiding record works fine from multi/all record view and from the homepage
- It is possible to reinstate them after goinng to 'Hidden Organization Matches'

Tested on Chrome Browser Version 80.0.3987.132 (Official Build) (64-bit)

[2020-04-02 12:24] #867 closed

[2020-04-03 08:22] abaranowska1 commented on #895
All missing translations were fixed.

[2020-04-03 08:22] #895 closed

[2020-04-03 15:04] jkondrat opened #912 "Add match similarity tests"
The similarity counters changed quite a bit lately, add missing unit tests

[2020-04-03 15:50] jkondrat opened #913 "Add missing shelter tests"
A field name was changed in the Shelter entity (users -> user profiles) and the shelter repository tests didn't catch it. Add missing tests.

[2020-04-03 15:55] jkondrat opened #915 "Invalid migrations"
The migrations started to fail on the 'dev' profile, investigate and fix the issue

[2020-04-03 15:56] jkondrat commented on #915
@kdondziak could you please verify that the issue is gone?

[2020-04-06 08:18] kdondziak commented on #915
@jkondrat It doesn't throw error but there are no changes in changelog file. I used './mvnw liquibase:diff' command.

[2020-04-06 11:53] abaranowska1 commented on #881
**Tested with success**

**Verified on: **

- Google Chrome Version 80.0.3987.149

**Verified cases:**

- Upload csv changed files for healthleads and LAAC providers
- Upload changed files for all providers
- Check if data update

[2020-04-06 11:53] #881 closed

[2020-04-06 11:56] abaranowska1 commented on #882
**Tested with success**

**Verified on:**

- Google Chrome Version 80.0.3987.149

**Verified cases:**

- Upload changed files for all providers
- Check if data upload and update correctly

[2020-04-06 11:56] #882 closed

[2020-04-06 12:07] abaranowska1 commented on #899
**Tested with success**

**Verified on:**

- Google Chrome Version 80.0.3987.149

**Verified cases:**

- Tab “My Shelters” in the upper panel is displayed
- User with role SACRAMENTO who is the owner of shelters can see his own shelters in the tab "My Shelters"

[2020-04-06 12:07] #899 closed

[2020-04-07 07:50] abaranowska1 commented on #880
**Regression testing status report**
Regression testing on 4 browsers (Google Chrome, Mozilla Firefox, MS Edge, Safari) is finished.
**List of reported issues:**

- https://github.com/benetech/ServiceNet/issues/895 - DONE
- https://github.com/benetech/ServiceNet/issues/894 - DONE
- https://github.com/benetech/ServiceNet/issues/897
- https://github.com/benetech/ServiceNet/issues/795
- https://githu

[2020-04-07 07:50] #880 closed

[2020-04-07 08:24] bognasoldev89 commented on #904
**Tested with success**

Verified on local server

**Verified cases**
- Adding Organizations with confirmed Location matches

**Summary**
I added Organizations places within a few ranges in meters and I got match similarities results I expected.

**Attachment**
- Exemplary screen of Match Similarities entity from local server, including Location matches

![904](https://user-images.githubuserconten

[2020-04-07 08:24] #904 closed

[2020-04-07 16:50] awalkowiak commented on #900
I managed to get rid off the issue from my previous comment. Now tests are running, but 15 out of 45 are failing. Some of them needs fixing and some of them can probably be removed, because are not required anymore. Ill use this issue for further fixes.

[2020-04-08 13:01] awalkowiak commented on #898
This view is no longer supproted after authorization changes. I'll remove it. cc @jkondrat

[2020-04-08 17:43] johnhbenetech opened #917 "Error in prod for UWBA Data Update Job"
During the most recent run of the UWBA job, it seems the data fetching portion went ok, but immediately after there were a few NPEs thrown.

It's weird because after the NPEs there are org matches run - which makes me believe the records are making it to the database, but the Job Status never updates to indicate it has completed

[2020-04-08 17:49] johnhbenetech commented on #917
Let me know if there is something else I can tap into to be helpful. The NPEs are below:

`2020-04-08 17:41:48.309  INFO 8 --- [ryBean_Worker-1] o.b.s.adapter.icarol.RelationManager     : Saving data for ICarol: 85% completed
2020-04-08 17:41:48.313 ERROR 8 --- [ryBean_Worker-1] org.quartz.core.JobRunShell              : Job DEFAULT.UWBA Data Update Job threw an unhandled Exception:

java.lang.Nul

[2020-04-09 07:35] abaranowska1 commented on #896
**Tested with success**
![loc](https://user-images.githubusercontent.com/61964176/78869101-4ad41800-7a44-11ea-8c38-43a0b3ab0858.gif)
Verified on:

- Google Chrome Version 80.0.3987.149

Verified cases:

- After click "Expand all sections" all sections are expanded
- After click "Collapse All Sections" all sections are collapsed

[2020-04-09 07:36] #896 closed

[2020-04-09 07:37] bognasoldev89 commented on #898
**Tested with success**

Verified on Staging environment.

**Verified cases**
- Checking users dropdowns for Sessions
-- admin
-- regular user
-- sacramento user

**Summary**
Sessions are not available for all of the users.

**Attachments**
- Admin view
![898 1](https://user-images.githubusercontent.com/51324797/78869878-8d4a2480-7a45-11ea-9051-aafac65e96d2.png)

- Regular user view
![898 2](https

[2020-04-09 07:37] #898 closed

[2020-04-09 08:06] bognasoldev89 commented on #906
**Tested with success**

Verified on Staging env

**Verified cases**
- Dismissing records from all records view
-- one by one
-- all of them
- Dismissing records from multi records view
-- one by one
-- all of them

**Summary**
View previously removed records is displayed where it should be.

**Attachment**
- Exemplary views
![906 working](https://user-images.githubusercontent.com/51324797/7887257

[2020-04-09 08:06] #906 closed

[2020-04-09 08:07] abaranowska1 commented on #795
**Tested with success**

![loc2](https://user-images.githubusercontent.com/61964176/78872633-df8d4480-7a49-11ea-8634-a5410962cd5b.gif)

I confirm that the bug is fixed. Chosen sections don't disappear anymore.

[2020-04-09 08:07] #795 closed

[2020-04-09 09:23] bognasoldev89 commented on #901
Verified on Staging env

**Verified cases**
- Choosing matched and not matched Locations with checkbox chosen

**Summary**
I checked it on a few Organizations with Location matches and, in general, it works as expected:
- while checkbox is unchecked it doesn't rotate
- while checkbox is checked - it does
I found Location match that is not rotated exactly as it is expected from user's perspective.

[2020-04-09 10:44] kdondziak commented on #901
@johnhbenetech  @NeilMBenetech Bogna is suggesting that if there are more than 1 location that matches then dropdown should rotate to location with higher similarity. Now it's undefined which should chose. Correct me if I am wrong.
cc @bognasoldev89

[2020-04-09 13:59] johnhbenetech commented on #901
@kdondziak that sounds like the right approach

[2020-04-09 14:26] kdondziak commented on #902
@johnhbenetech The issue was caused by some misunderstanding. When uploading data via 'upload data' user my have experience, that after getting success message after clicking upload button, all data are updated. That is true regarding data like organization name, url, but not matches/conflicts. Updating matches/conflicts may take up to couple of minutes. Our suggestion is to add some indicator tha

[2020-04-09 15:38] johnhbenetech commented on #917
i *think* this is also reproducible on staging - so i wonder if it's something in a newly added record from there side that is breaking

[2020-04-09 15:49] johnhbenetech opened #918 "Break out data ingestion and matching into separate microservice"
I'll leave this as a placeholder task for discussion. A few questions I think we can discuss before we decide:

1. Does

[2020-04-09 15:49] johnhbenetech opened #919 "Add option for building out static version of front end"

[2020-04-09 19:50] kkaczmarczyk commented on #902
@kdondziak @johnhbenetech yeah I agree we can consider some kind of progress indication along with spitting out the task/job/compute microservices, though this may not be high priority.

@abaranowska1 can you confirm that the conflict appeared after some time? if so, I think we can close this ticket, and keep an eye for it in future regression tests.

[2020-04-10 06:51] abaranowska1 commented on #902
I confirm that conflict appeared after a few minutes ( 5min ) after upload data.
Just after upload data:
![833](https://user-images.githubusercontent.com/61964176/78969746-03af5b00-7b08-11ea-9c7e-317c5bafaf94.gif)
After 5 minutes after upload data:
![839](https://user-images.githubusercontent.com/61964176/78969787-1b86df00-7b08-11ea-8d21-45c85072fa90.gif)

[2020-04-10 06:51] #902 closed

[2020-04-10 08:41] kdondziak commented on #901
@johnhbenetech I've noticed that on all-record-view rotating mechanism works only for left side organization and first on the right organization and not for the rest. Should it work for all the other organizations?

[2020-04-10 14:33] bognasoldev89 commented on #901
@kdondziak I still have doubts about Locations rotating in the example mentioned by me earlier. Can you please review it again?

Example: https://benetechservicenet.org/#/multi-record-view/dd1b118d-610f-4265-b0fa-1908c0782d13/45a27296-95e8-466a-be01-ce4ff0e8b880
Episcopal Community Services (healthleads) matched with EPISCOPAL COMMUNITY SERVICES OF SAN FRANCISCO (UWBA)

[2020-04-10 14:49] kdondziak commented on #901
@bognasoldev89  I investigated the your doubts. For some reason algorithm counting location similarity gives to both locations 100% similarity. Please see this example:
https://benetechservicenet.org/#/multi-record-view/4902236d-6ccd-4ef7-84c9-f364cc979a4e/0618f647-8ecb-4689-9d35-6f690c062bb3
Matrix measuring similarity for "536 Central Avenue San Francisco"
location name -> similarity
536 Central

[2020-04-10 15:01] kkaczmarczyk commented on #901
@kdondziak thanks for the investigation. That look strange - could you try to debug it?

[2020-04-10 15:37] kkaczmarczyk opened #921 "Spike: Investigate the feasibility of automated unity/integration testing to cover some of the regressions"
After recent microservice re-architecture effort there were several regressions popping up. There was a discussion in which we concluded that some of these issues may be covered with automated tests. This way we will be able to catch such regressions on the CI build level.

- Look at the recent regression tests report.
- Try to group the issues
- Investigate which groups/issues can be covered with

[2020-04-10 16:03] kkaczmarczyk opened #922 "Perform a full dry run of prod deployment"
This ticket is to track the progress of a dry run of production deployment.

[2020-04-10 16:13] awalkowiak commented on #900
@kkaczmarczyk i set this as non-qa, but once the CI is running without any other issues, this can be confirmed as finished and then closed.

[2020-04-14 07:50] bognasoldev89 commented on #877
**Tested with success**

Verified on staging env

**Verified cases**
- Logging in and out as
-- admin
-- regular user
-- Sacramento user
- Checking user management page

**Summary**
I was able to log in and out as any kind of user without any obstacles. Users seem to be migrated correctly.

[2020-04-14 07:50] #877 closed

[2020-04-14 08:36] bognasoldev89 opened #923 ""Internal Server Error" on Client management page"
Client management page is not available due to Internal Server Error.

**Reproduction**
- Log in as an admin
- Click "Administration"
- Click "Client management" from dropdown

**Expected result**
- Client management page is usable

**Actual result**
- Internal Server Error occurs

**Attachment**
![923 internal server error](https://user-images.githubusercontent.com/51324797/79204139-5ce6f980-7e3c

[2020-04-14 08:40] kdondziak commented on #901
@kkaczmarczyk I investigated it and I know why Bogna is confused. Algorithm counting location similarity looks for geocoding results which are not visible to the user. Latitude/longitude visible on compare page are only used when geocoding results are broken/missing. In case Bogna is reporting geocoding result that seems to be not similar at all the distance between them is 58 meters which gives 1

[2020-04-14 09:08] kdondziak commented on #901
@johnhbenetech With team we were discussing that counting similarity using geocoding results that are not visible to the user may be confusing. Can you consider adding task that shows/informs user about which geocoding was used to determine match's similarity? Jakub suggested hidden section with the geocoding.

[2020-04-14 09:28] jkondrat commented on #868
PR: https://github.com/benetech/ServiceNetGateway/pull/41

[2020-04-14 09:54] abaranowska1 commented on #868
**Tested with success**

**Verified on**

- Google Chrome Version 80.0.3987.149

**Verified cases:**

-  "View Hidden Records" option should be hidden from dropdown for Sacramento user
![Selection_125](https://user-images.githubusercontent.com/61964176/79211538-aa686400-7e46-11ea-96c9-ec285c791e38.png)

[2020-04-14 09:55] #868 closed

[2020-04-14 11:01] bognasoldev89 commented on #923
@jkondrat I was able to open Client management page, add client and delete it.

I saw Internal server error while deleting client though. Can you look into this?

![923 another internal](https://user-images.githubusercontent.com/51324797/79217983-008dd500-7e50-11ea-9166-c69f78278c9a.gif)

[2020-04-14 13:59] jkondrat commented on #917
@johnhbenetech : The error indicates that one of the agencies we got from UWBA had no names, I have added a null check in the catch block and will confirm during dry run if the error is gone. I tried running the UWBA data update job locally on an empty database, but couldn't reproduce it

[2020-04-14 14:08] kdondziak commented on #305
@johnhbenetech  @NeilMBenetech My suggestions about changing icon:
https://fontawesome.com/icons/hand-point-left?style=regular
https://fontawesome.com/icons/medapps?style=brands
https://fontawesome.com/icons/exclamation?style=solid
https://fontawesome.com/icons/comment-dots?style=regular
Feel free to add suggestion. Find icons here:
https://fontawesome.com/icons?d=gallery&m=free

[2020-04-14 14:19] bognasoldev89 commented on #923
**Tested with success**

Verified on staging env

**Verified cases**
- opening Client management page
- creating a new client
- editing client
- deleting client

**Summary**
Internal server error doesn't occur anymore on Client management page.

**Attachment**
![923 ok](https://user-images.githubusercontent.com/51324797/79235181-908d4800-7e6b-11ea-960b-ddd7f494894b.gif)

[2020-04-14 14:19] #923 closed

[2020-04-14 14:23] bognasoldev89 commented on #901
**Verified with success**

Verified on staging env

**Verified cases**
- Choosing matched and not matched Locations with checkbox is chosen

**Summary***
I checked it on a few Organizations with Location matches and, in general, it works as expected:
- while checkbox is unchecked it doesn't rotate
- while checkbox is checked - it does

Confusing edge cases will be left for later consideration - ho

[2020-04-14 14:23] #901 closed

[2020-04-14 16:03] johnhbenetech commented on #305
I like the medapps one

[2020-04-15 08:00] kdondziak commented on #305
@johnhbenetech See if it looks good for you:
![image](https://user-images.githubusercontent.com/52406204/79312989-fd522200-7eff-11ea-8213-350764b249dc.png)

[2020-04-15 08:06] kdondziak commented on #305
@johnhbenetech I've found solid lightbulb. Please see if it fits better:
![image](https://user-images.githubusercontent.com/52406204/79313497-b9135180-7f00-11ea-856e-2b3a11859a96.png)

[2020-04-15 12:50] abaranowska1 commented on #782
After sending POST request with proper settings I can get an access_token
![image](https://user-images.githubusercontent.com/61964176/79338282-508b9b00-7f27-11ea-83fe-6761d8c9165d.png)
Also I checked if I can send a request with received access_token and XSRF_TOKEN from staging ui set as cookie and also I get 200 OK status
![image](https://user-images.githubusercontent.com/61964176/79338724-153d9c

[2020-04-15 13:02] kdondziak opened #926 "Fix frontend tests on gateway"
Fix frontend tests on gateway
Acceptance criteria:
- Build is passing
- All test are passing

[2020-04-15 13:04] abaranowska1 commented on #885
**Tested with success**
Red ribbon is displayed on staging
![image](https://user-images.githubusercontent.com/61964176/79340247-533bbf80-7f2a-11ea-8e15-794f099b599a.png)

[2020-04-15 13:04] #885 closed

[2020-04-15 17:25] johnhbenetech commented on #305
@kdondziak I like the outline version. Is it possible to reduce the padding in the Description box so the icon aligns?

[2020-04-16 09:14] abaranowska1 commented on #782
**Tested with success**
Now it looks fine
![image](https://user-images.githubusercontent.com/61964176/79437213-2cd15f00-7fd2-11ea-9999-c1b3bb7a8995.png)

[2020-04-16 09:14] #782 closed

[2020-04-16 09:56] abaranowska1 commented on #305
**Tested with success**
**Verified on:**

- Firefox Version 75.0
- Google Chrome Version 81.0.4044.92
**Verified cases:**

- Question mark icon is changed to medapps icon
![image](https://user-images.githubusercontent.com/61964176/79441724-e0891d80-7fd7-11ea-9ec1-78cba2c995af.png)
- The background of the hover is fully opaque]
![image](https://user-images.githubusercontent.com/61964176/79442048-4f

[2020-04-16 11:24] #305 closed

[2020-04-16 11:24] jkondrat opened #927 "External database initialization - automatically create schemas and extensions"
The initialization is only done for docker db, please have a look at init-db.sql in gateway service.
Perhaps we could have a docker container that starts first and initializes the database?

[2020-04-16 11:25] jkondrat opened #928 "End to end testing"
Investigate the end-to-end testing possibility in the microservice architecture

[2020-04-16 11:39] kkaczmarczyk opened #929 "Investigate issues with jobs taking too more memory"
As the provider's data got much larger, and due to some random issues with memory usage in the past - it should be worthwhile to investigate how much memory data jobs are taking.
We should consider running the jobs with empty-> full DB

Plan:
- initialize empty DB on the staging instance
- try to run each job
- monitor the memory usage
- summarize the results in the comment
- consider guidelines r

[2020-04-16 12:03] kdondziak commented on #314
@johnhbenetech @NeilMBenetech Should It be visible to non admin users?

[2020-04-16 13:04] jkondrat opened #930 "Create a docker-compose config based on docker hub images"
- Create a docker-compose config based on docker hub images
- Test it out
- Figure out proper docker-compose commands and parameters, and show QAs how to use it

[2020-04-16 13:37] johnhbenetech commented on #314
Yes

[2020-04-16 14:31] johnhbenetech opened #931 "Backend work for allowing users to directly contribute records in ServiceNet"
Goal: Allow service providers to contribute information about their own services directly in ServiceNet

The intended approach would NOT involve them “claiming” an existing record, but instead being able to create records from scratch and become “owners” of those records. This is quite similar to the Shelter approach – users create a record, can return to edit it, and also can see other records th

[2020-04-17 01:31] johnhbenetech commented on #314
@kdondziak Can we non show this for non logged-in users on the homepage?

[2020-04-17 01:35] johnhbenetech opened #932 "Push docker images to dockerhub"
So just a note that I set up the following:
https://hub.docker.com/r/johnhbenetech/servicenet
https://hub.docker.com/r/johnhbenetech/servicenetauth
https://hub.docker.com/r/johnhbenetech/servicenetgateway

I tied each of them to commits to dev branch. I tried to put the dockerfile location as 'ServiceNet/src/main/docker/app.yml' but i guess it doesnt do the yml formatted configs and actually wants

[2020-04-17 01:51] johnhbenetech opened #933 "Add development focused 'Getting Started Guide' to main readme once docker hub available"

[2020-04-17 01:52] johnhbenetech opened #934 "Set up memory monitoring/alerts on AWS"
Following something similar to:
https://engageinteractive.co.uk/blog/aws-cloudwatch-reporting-ram-disk-usage-and-more

IAM credentials provided out of band

[2020-04-17 08:58] #900 closed

[2020-04-17 08:58] #785 closed

[2020-04-17 09:19] awalkowiak commented on #162
@abaranowska1, @bognasoldev89 this should be fixed, could you take a look and confirm that it is resolved?

[2020-04-17 09:21] #480 closed

[2020-04-17 09:54] kdondziak opened #936 "Security: PreAuthorize is not checking authorities"
PreAuthorize is not checking authorities so all users have access to resources that should be limited.
Reproduction steps:
1. Login as user with Sacramento authority.
2. Open browser console -> network tab
3. Copy cookie and XSRF-TOKEN
4. Make valid request to resource available to admin in postman e.g. (POST: https://localhost:8080/services/servicenet/api/services)
Body: {
"name": "ServiceName123

[2020-04-17 12:55] kdondziak commented on #783
@johnhbenetech I have a question about details of the endpoint.
1. Should there be one endpoint for (organization, location, services) or one for each of them?
2. Should it accept one id or array of ids?

[2020-04-17 13:45] abaranowska1 commented on #314
**Tested with success**

**Verified on:**

- Google Chrome Version 81.0.4044.92

**Verified cases:**

- Data Status table displays after click Data Status in the upper panel menu
- Provider Name || Date of last update, updates after upload data
- Data Status is displayed for admin and regular user
- Data status is not displayed on the homepage

![image](https://user-images.githubusercontent.com/61

[2020-04-17 14:21] #314 closed

[2020-04-18 15:56] kkaczmarczyk commented on #922
@jkondrat reported that it was done, and went without any issues/

[2020-04-18 15:56] #922 closed

[2020-04-19 20:51] johnhbenetech commented on #783
1. I think we should just start with organizations alone right now. This is the biggest use case by far and I'd rather wait on building anything out for locations or services.

2. Let's just keep it to a single ID

So essentially there is a get organization matches endpoint

It takes in:
* an organization ID (either a ServiceNet ID or one from their system (external_db_id)
* an optional threshold

[2020-04-20 07:58] bognasoldev89 commented on #162
@awalkowiak as far as I am concerned Locations and, in fact, all of the entities are saved and conflicts and matches are created.

[2020-04-20 07:58] #162 closed

[2020-04-20 09:22] bognasoldev89 commented on #738
I retested this issue and while example from OP seems fine now:

![Screenshot from 2020-04-20 11-14-52](https://user-images.githubusercontent.com/51324797/79735646-e133f380-82f8-11ea-9904-27921d28bb8f.png)

I put 99 characters into URL field for the Organization and it looks not well:

![Screenshot from 2020-04-20 11-15-20](https://user-images.githubusercontent.com/51324797/79735727-00cb1c00-82f9-

[2020-04-20 09:25] bognasoldev89 commented on #688
Hi @johnhbenetech
I took a liberty to copy some info from this old wiki page https://github.com/benetech/ServiceNet/wiki/Matching-algorithm-approaches to the one created by me and @jkondrat

@johnhbenetech can you take a quick look if it looks good to you? https://github.com/benetech/ServiceNet/wiki/Updating-Organization-matches

[2020-04-20 09:54] abaranowska1 commented on #936
**Tested with success**

**Verified cases:**
- It has been checked if the sacramento user can send a valid request to a resource only accessible to the admin
![Selection_149](https://user-images.githubusercontent.com/61964176/79738213-c19eca00-82fc-11ea-9857-c6dbc7055016.png)
![Selection_148](https://user-images.githubusercontent.com/61964176/79738218-c2cff700-82fc-11ea-8591-bc504ff6c494.png)
- It

[2020-04-20 09:54] #936 closed

[2020-04-20 10:05] bognasoldev89 opened #938 "When e-mail lacks @ sign Organization is not compared"
I noticed, that conflict is not detected for the Organizations that lack @ sign in e-mail field.

**Reproduction**
- Upload data with string without @ sign in the e-mail field
- Organization should have match

**Expected result**
- Fields should be compared for matches and conflicts

**Actual result**
- Fields are not compared for matches and conflicts

[2020-04-20 10:55] bognasoldev89 commented on #799
I investigated this issue further and it seems that the whole #641 issue needs to be reviewed.

It seems like matching based on URL domain not always work (Organizations are existing in the app for some time):
- "GLIDE" (healthleads) doesn't show a conflict in this situation (and it's correct)
-- https://www.glide.org/
-- https://www.glide.org/program/unconditional-legal-clinic/

- Pacific Gas and

[2020-04-20 11:28] bognasoldev89 commented on #626
@johnhbenetech it seems like this problem doesn't occur anymore and the filter feature is displayed by default. In my opinion, it works fine now.

[2020-04-20 11:28] #626 closed

[2020-04-20 19:21] johnhbenetech opened #940 "New landing page for direct data contributors"

[2020-04-21 21:53] johnhbenetech opened #942 "Map pin based filtering doesn't appear to work anymore"
Steps:

Log in as UWBA

Expand Filter and go to location tab

Put map pin in Africa set distance to 1 mile

Go back to filter tab and hit apply

Result:
Number of results remains unchanged

[2020-04-21 23:55] johnhbenetech opened #943 "Create new landing page for Service Providers"
This is the first task to create the skeleton structure for the new landing page. I'm not sure on the route naming right now, so we can put it at /serviceprovider for now.

I will attempt to break things out into sub-tasks, but feel free to split/combine as you see fit.

The total design will look like:
![fullhome](https://user-images.githubusercontent.com/12927553/79926322-390a5180-8402-11ea-92c2

[2020-04-22 00:04] johnhbenetech opened #944 "Implement card design for record view"
Our central object representing an Organization Entity. This task is to begin to create the skeleton of the object on the home page. Full design:
![image](https://user-images.githubusercontent.com/12927553/79926664-17f63080-8403-11ea-9536-8148235f1b40.png)

Details are as follows:
![image](https://user-images.githubusercontent.com/12927553/79927022-16793800-8404-11ea-86e8-4ec35c1e22d6.png)

Note t

[2020-04-22 00:13] johnhbenetech opened #945 "Display all records from Service Providers"
As part of full design:
![fullhome](https://user-images.githubusercontent.com/12927553/79927299-f0a06300-8404-11ea-890a-cfc6e5af1f9d.jpg)

This task will cover the bottom "all records" section

It will have a record count similar to the classic design.

Card design will be responsive with max three columns, and min width of 1 card with padding.

Sorting/Filtering/row view will be broken out in sep

[2020-04-22 00:14] johnhbenetech opened #946 "Add sorting to all record section"
On the all record view, add preliminary sorting control
![image](https://user-images.githubusercontent.com/12927553/79927436-5f7dbc00-8405-11ea-97b9-6670274a9412.png)

Options should be recently updated, and alphabetical. Recently updated is default sort

[2020-04-22 00:23] johnhbenetech commented on #943
Font is Open Sans

[2020-04-22 10:23] kdondziak commented on #942
@johnhbenetech Have you checked this checkbox?
![image](https://user-images.githubusercontent.com/52406204/79970910-ec6f5680-8493-11ea-8ec8-4992ac125fd7.png)

[2020-04-22 13:48] johnhbenetech commented on #942
Ah yes, that's the problem. I'll close this for now and think about how we might improve the UX there

[2020-04-22 13:48] #942 closed

[2020-04-23 08:47] kkaczmarczyk opened #947 "Add Sentry.io configuration for live error notifications"
Consider adding a free monitoring&alert tool such as Sentry.io. It would send an alert with a stack trace whenever unexpected error happens. It also enables live browsing through the issues, and see trenda about these.

Acceptance Criterias:
- Sentry.io configuration is added and it sends alerts whenever unexpected errors occur on staging/prod

[2020-04-23 08:49] kkaczmarczyk opened #948 "Cover all of the jobs (iCarol, Sheltertech and Taxonomies) with unit tests"
Consider adding tests to thoroughly cover the behavior of each provider jobs. Try to use a large data set in the tests to cover all of the cases

[2020-04-23 13:51] awalkowiak opened #950 "Add avatar image to UserProfile"
On user profile page should be option to choose avatar image (consider redesign of the profile page).

- img field in UserProfile entity
- img selector
- it should be square size (find 'cutting image' library)
- if avatar image is added it should be displayed in avatar placeholder added in #943

[2020-04-23 13:54] awalkowiak commented on #945
@johnhbenetech you want to have here the "Load more" button or the infinite loader like on current home page?

[2020-04-23 14:03] johnhbenetech commented on #945
@awalkowiak Let's go with 'Load More'

[2020-04-23 14:16] #917 closed

[2020-04-23 14:18] awalkowiak commented on #756
@johnhbenetech have you ever encountered this issue again? Or can we close this one?

[2020-04-23 14:18] awalkowiak commented on #926
Build is passing, we can close this one.

[2020-04-23 14:18] #926 closed

[2020-04-23 14:19] johnhbenetech commented on #756
@awalkowiak We can close

[2020-04-23 16:02] #756 closed

[2020-04-24 12:25] abaranowska1 commented on #938
**Tested with success**

- Fields are compared for matches and conflicts after upload data with string without @ sign in the e-mail field

- Fields are compared for matches and conflicts after upload data with @ sign in the e-mail field

![image](https://user-images.githubusercontent.com/61964176/80212218-62f88980-8637-11ea-96f0-f044ae701b34.png)
![image](https://user-images.githubusercontent.com/

[2020-04-24 12:26] #938 closed

[2020-04-24 15:01] johnhbenetech commented on #943
@kdondziak Sorry, I'm gonna change my previous comment.

Font should be Muli:
https://fonts.google.com/specimen/Muli

[2020-04-28 00:12] johnhbenetech opened #954 "Create data entry Page for new record creation"
When a user clicks the 'add a record' option, they will enter into a workflow to collect a reduced set of fields from our full data standard. It will walk them through first adding org details, then locations, then service information.

One new thing is the ability to attach services to locations. We can discuss this in more detail, but refer to: https://openreferral.readthedocs.io/en/latest/hsds/

[2020-04-28 13:54] kkaczmarczyk commented on #954
@johnhbenetech are there any mockups/guidelines/suggestions about how this screen may look on the mobile screens/resolutions? Or should it be more-or-less similar?

[2020-04-28 15:00] awalkowiak opened #956 "Move unique together constraint for organization check from db to import service"
Currently, there is unique  together (external_db_id, account_id) for organization. This should not be checked for new users with the "Service Provider" system account. Remove this constraint from the database and move it to the import service. This should be checked only during the file upload or getting data through external API

(related issue: #931)

[2020-04-28 15:06] awalkowiak opened #957 "Discover matches and conflicts for new Service Provide system account"
Currently, the matches and conflicts for new users with the "Service Provider" system account are discovered between all other external service providers (UWBA, Eden, LAAC, etc).
For the independent user with the "Service Provider" system account type, there should be checking for matches and conflicts with all other users with the same system account type.

(related issue: #931)

[2020-04-28 15:28] johnhbenetech commented on #957
Right now the priority is to make UWBA, Eden, LAAC, etc aware of matching records from the individual accounts.

In the first version of the individual UI I don't plan to include any indication of matching records. Theoretically there shouldn't be any matches between the "Service Provider" records since a user is entering information only about the services they provide.

[2020-04-28 15:34] johnhbenetech commented on #954
1. I'll work on that now. It should be largely the same - the only thing im considering is if the go back/add/finished options would move to a static bottom nav bar. I'm trying to go for a vaguely material design approach.

2. It would be fed from the 'taxonomy' entities. All "Service Provider" records will have the same taxonomy options. I'll provide the list shortly, but it will be ~20 options a

[2020-04-28 20:35] johnhbenetech commented on #954
![image](https://user-images.githubusercontent.com/12927553/80535090-dcf57f00-8965-11ea-949d-618834a98aa3.png)

[2020-04-29 10:55] kdondziak commented on #943
@johnhbenetech Can you give advice/mock-up how mobile header bar would look like? And also what should be visible on menu if menu is necessary?

[2020-04-29 12:16] kdondziak opened #958 "Integrate Card with carousel"
Integrate Card from this issue: https://github.com/benetech/ServiceNet/issues/944, and carousel from this: https://github.com/benetech/ServiceNet/issues/943
Consider adding separate endpoint and mapper method for this

[2020-04-29 12:16] jkondrat commented on #944
The card will be added to the new homepage in a separate ticket

[2020-04-29 12:18] kdondziak commented on #944
Ticket mentioned above: https://github.com/benetech/ServiceNet/issues/958

[2020-04-29 13:20] kdondziak commented on #783
Note for QA:
Test for this issue consists of 2 parts:

1. Creating, reading, updating and deleting client -> see admin menu client management.
2. Getting information from api via postman:
- Create client in mentioned above client management
- Using credentials get auth token just like #782
- Using token prepare request:
* Post: https://benetechservicenet.org//services/servicenet/partner-api/record

[2020-04-29 19:13] johnhbenetech commented on #943
What do you all think of this?

![image](https://user-images.githubusercontent.com/12927553/80635847-17245680-8a22-11ea-80ae-7d3282cd783f.png)

![image](https://user-images.githubusercontent.com/12927553/80636060-708c8580-8a22-11ea-8cdb-d21a938e5b87.png)

The other option:

![image](https://user-images.githubusercontent.com/12927553/80636739-88183e00-8a23-11ea-9255-f6d729663433.png)

We could then

[2020-04-29 22:15] kkaczmarczyk commented on #884
Closing as done - there were no issues with the builds for quite some time.

[2020-04-29 22:15] #884 closed

[2020-04-29 22:16] kkaczmarczyk commented on #932
I have added Github Action for all 3 services. It builds, tags and pushes the Docker images to Docker Hub. It was tested and it works, so let me close this ticket.

[2020-04-29 22:16] #932 closed

[2020-04-29 23:16] johnhbenetech opened #959 "Single record view page"
The following views represent the page after a user clicks on a single record. The mobile version should be pretty straightforward from this design but let me know if there are questions.

Note: For the services section, you are first brought to the card view, clicking an individual card opens the detail view which gives you previous, next service option as well as an 'X' which brings you back to

[2020-04-29 23:18] johnhbenetech commented on #959
Single Record initial View:
![covidsingleorg](https://user-images.githubusercontent.com/12927553/80655994-b1e25c80-8a45-11ea-8a46-4429188b2df7.jpg)

Single record location expanded:
![covidsingleloc](https://user-images.githubusercontent.com/12927553/80656001-b6a71080-8a45-11ea-85f1-fbf03565261b.jpg)

Single record All Services expanded:
![covidsinglesrvs](https://user-images.githubusercontent.com

[2020-04-30 08:18] kdondziak commented on #943
It looks good to me

[2020-04-30 12:00] abaranowska1 commented on #783
Following by @kdondziak  instruction I checked:

1. Creating, reading, updating, and deleting external client, and here I found one small issue :
![ise](https://user-images.githubusercontent.com/61964176/80707308-06d7ae80-8aea-11ea-9b17-26b9e75f88dd.gif)
Internal Server Error is thrown after I want to create a client with the same id
2. Getting information from API via postman - here all works fin

[2020-05-01 16:33] johnhbenetech opened #961 "Allow owner to edit their record"
When a user clicks one of their owned records on the main page they will be brought to a page to edit the existing data in the record.

Org Detail Edits
![baseorgedit](https://user-images.githubusercontent.com/12927553/81006522-4ae1f080-8e15-11ea-85c9-9f021bcfd322.jpg)

All Locations
![covideditlocations](https://user-images.githubusercontent.com/12927553/81006563-5c2afd00-8e15-11ea-832a-105b3892d

[2020-05-04 09:35] awalkowiak commented on #957
@johnhbenetech Got it, then this ticket is redundant since the matching between individual accounts and other providers is working. Do we want to keep this ticket for the future? Or this can be closed for now?

[2020-05-04 15:20] johnhbenetech commented on #957
@awalkowiak ill move it to the backlog in case we need it in the future

[2020-05-04 18:05] jkondrat commented on #954
Hi @johnhbenetech, I have a few questions regarding the inputs:
1. Where should we pull the service types from?
2. What should we put in the 'CA' select?
2. Which location field should be used as a label in the 'Where Is This Service Offered' select?
4. Once another location or service is added, should it be possible to remove it?

[2020-05-04 18:19] johnhbenetech commented on #954
1. We should make a new taxonomy set for the "Service Provider" system account. For now it can copy the ShelterTech values. This should be a mutiselect that hopefully has the type to filter interaction we currently have on our taxonomy filter.

2. This should be the 50 US state abbreviations. These are the USPS column here: https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations but dont in

[2020-05-04 19:35] johnhbenetech opened #963 "Add 'Daily Update' Entity attached to Organizations"
Create a new Entity 'Daily Update' that can attach to an organziation.

The would be a free text value. It will also need a Created datetime as well as a column for 'expiry' datetime

[2020-05-05 09:32] abaranowska1 opened #964 "Regression testing 05-05-2020"
After one month from previous regression testing, it is important to check thoroughly if every functionality and feature works as expected.

The regression test suite contains all tests designed for this moment.

**Link for test suite:**
https://docs.google.com/spreadsheets/d/1Xy0kVocfj-QWxj_vpwuDy0_grjP4WFgqiDMPeJf1njs/edit#gid=0

**ACC**

- All test cases from the list are performed
- Report is

[2020-05-05 11:36] abaranowska1 opened #965 "UI issue with displaying three-digit numbers on the progress bar"
There is a problem with the user interface on the progress bar when displaying three-digit numbers.
**Steps:**

1. Log in to SN app
2. Scroll the home page down

**Actual result:**
![image](https://user-images.githubusercontent.com/61964176/81062007-94921000-8ed5-11ea-8be9-b61fb35f2689.png)
**Expected result:**
![image](https://user-images.githubusercontent.com/61964176/81062071-a5db1c80-8ed5-11ea

[2020-05-06 08:07] bognasoldev89 opened #966 "UI issue with displaying checkboxes on filtering feature for Shelters view"
On Shelters view for sacramento users, checkboxes on filtering feature are displayed not even, especially "Only show beds currently available" one. It's more visible after changing size of the browser.

**Reproduction**
- Open ServiceNet app
- Log in as a sacramento user
- Click "Filter" button

**Expected result**
- Filtering options are displayed in a similar way

**Actual result**
- "Only show

[2020-05-06 09:15] abaranowska1 opened #967 "UI issue with displaying matching records in all-records view"
During regression testing, I found UI issue with displaying matching records in all-records view. When we have only one matching record and we use all, not multi record view, the right table is wider than left.
**All records view:**
![image](https://user-images.githubusercontent.com/61964176/81161526-fc0a9700-8f8b-11ea-8e92-de6f5130f30e.png)
**Multi records view:**
![image](https://user-images.git

[2020-05-06 10:13] bognasoldev89 opened #968 ""Internal server error" while creating user with existing login/email via admin -> user management page"
While testing #874 on "User administration" page toast with "Internal server error" is displayed instead of information about login/email in use. The issue doesn't occur while trying to create an account with existing login/email from the homepage.

**Reproduction**
- Open ServiceNet app and log in as an admin
- Go to Administration -> User management page
- Click "Create a new user" button
- Crea

[2020-05-06 10:25] bognasoldev89 opened #969 "UI issue with removing record dialog"
After clicking "Yes, remove this record" on multi/all record view, confirming dialog appears. Hovering over "Yes, remove this" causes skipping the dialog.

**Reproduction**
- Open ServiceNet app and log in
- Open record view for Organization with matches
- Open multi/all record view
- Click "Yes, remove this record" button below chosen Organization
- Hover over "Yes, remove this" button on dialog

[2020-05-06 12:16] kdondziak commented on #945
@johnhbenetech Should be on the same page as 'user orgs' (mobile)? Or should it be on separate page?

[2020-05-06 12:27] johnhbenetech commented on #945
@kdondziak Same page

[2020-05-06 12:31] kdondziak commented on #945
@johnhbenetech It should be carousel too? Or scrollable list?

[2020-05-06 12:32] johnhbenetech commented on #945
@kdondziak scrollable list with load more

[2020-05-06 12:37] bognasoldev89 opened #971 "Sorting on Shelter view available only in descending order"
Sorting by available beds and distance is not available in ascending order on Shelter view. On the homepage sorting works both ways.

**Reproduction**
- Open ServiceNet app and log in as a sacramento user
- Click "Sort" button and choose "Beds available" a few times
- Click "Sort" button and choose "Distance" a few times

**Expected results**
- Order of presented records should change between asce

[2020-05-06 14:27] abaranowska1 opened #972 "Internal Server Error is thrown during deleting Shelters"
Internal Server Error is thrown during deleting Shelters.

**Steps:**

1. Log in to the app as Admin
2. Go to Entities -> Shelters
3. Try to Delete random Shelter

**Actual result:**
![image](https://user-images.githubusercontent.com/61964176/81189467-e068b600-8fb6-11ea-9e9f-ab5121fa3829.png)
**Expected result:**
It should be possible to delete shelter

[2020-05-06 14:40] abaranowska1 opened #973 "Tags, Languages and Defined Coverage Areas stays after creating a new Shelter"
Tags, Languages and Defined Coverage Areas data stays after creating a new Shelter.
![Peek 2020-05-06 16-35](https://user-images.githubusercontent.com/61964176/81190770-879a1d00-8fb8-11ea-94a8-c608f93e303d.gif)

**Steps:**

1. Log in as Admin
2. Go to Entities and click Create a New Shelter
3. Fill all fields ( Tags, Languages and Defined Coverage Areas too) and Save
4. Click Create a New Shelter

[2020-05-06 14:42] jkondrat opened #974 "Make data entry page responsive and integrate it into the homepage"
Once the homepage is added, we can reuse its styles to make data entry responsive and add missing images (background, headers). We will also need to integrate it into the main view

The mockups can be found here: https://github.com/benetech/ServiceNet/issues/954

[2020-05-07 08:07] abaranowska1 opened #975 "Issue with displaying shelters on the SACRAMENTO_USER homepage"
There is an issue with displaying shelters on the SACRAMENTO_USER homepage and MyShelters listing page. For example, only 20 from 22 records are displayed and I can't load more.
**HOMEPAGE:**
![Peek 2020-05-07 10-01](https://user-images.githubusercontent.com/61964176/81270438-09d32180-904b-11ea-854a-39acec019f38.gif)
**MY SHELTERS:** The spinner icon doesn't disappear.
![Peek 2020-05-07 10-17](htt

[2020-05-07 08:40] abaranowska1 opened #976 ""Cannot read property 'length' of null" pop-up message is thrown after reset filters on Sacramento homepage"
"Cannot read property 'length' of null" pop-up message is thrown after reset filters on Sacramento homepage

![image](https://user-images.githubusercontent.com/61964176/81273616-6df7e480-904f-11ea-96f5-619bd810d679.png)

![Peek 2020-05-07 10-40](https://user-images.githubusercontent.com/61964176/81273622-705a3e80-904f-11ea-8b71-7d61317b3f6e.gif)

**Steps:**

1. Log in as Sacramento User
2. Click t

[2020-05-07 11:01] abaranowska1 opened #978 "Hover feature is disabled"
Hover feature stopped working.
![Peek 2020-05-07 12-51](https://user-images.githubusercontent.com/61964176/81287434-09468500-9063-11ea-9eed-06bda1e398da.gif)

**Steps:**
1. Open ServiceNet app and log in
2. Find an organization with conflicting data.
3. Go to this organization
4. Hover over the light bulb

**Expected result:**
After hover over the light bulb details about the conflict should be vi

[2020-05-07 11:12] abaranowska1 opened #979 "UI issue in the all-records-view"
UI issue in the all-records-view.
![image](https://user-images.githubusercontent.com/61964176/81289093-15801180-9066-11ea-9145-cca6cbd90d9e.png)
![image](https://user-images.githubusercontent.com/61964176/81289151-30eb1c80-9066-11ea-99a2-cd86cb111154.png)

[2020-05-07 14:36] awalkowiak commented on #961
Backend and Frontend will be handled in separate PRs (or at least commits).

[2020-05-07 15:09] jkondrat commented on #974
Hi @johnhbenetech : where can I get the background and heading images from?

[2020-05-07 16:41] awalkowiak commented on #784
@johnhbenetech I want to confirm if I am on the same page. There is a request:
`GET: /record-details/<id>`,
then I look for given <id> in organizations, services and locations for ids and externalDbIds like the one from request, then when I have a result I get an organization from it and return this structure:
`{`
`organization: {`
`allOrganizationFields,`
`services: [ listOfAllServicesObjects ],`

[2020-05-07 19:02] johnhbenetech commented on #974
@jkondrat sent on slack

[2020-05-07 21:31] johnhbenetech commented on #784
@awalkowiak what do you imagine going in listsOfAllOtherObjectsRelatedToThatOrganization

Generally, yes. It would return the full version of "your" record and an array of the full version of any matching records.

I'm wondering if the partnerOrganizations objects should each include something like a matchdetails object as well (so each result would be a tuple of matchDetails and Organization)

Ma

[2020-05-08 08:59] abaranowska1 commented on #979
After fix it looks good.
![image](https://user-images.githubusercontent.com/61964176/81389877-d19b1400-911a-11ea-94b1-edd13ae60175.png)

[2020-05-08 08:59] #979 closed

[2020-05-08 11:12] abaranowska1 commented on #783
**Tested with success**
Internal Server Error is not thrown after I want to create a client with the same id

![test](https://user-images.githubusercontent.com/61964176/81400500-8d653f00-912d-11ea-9d06-276ce31fd500.gif)

Also getting information from API via postman works fine, I can send POST requests and use organization external id in different forms ( with letters, only numbers or with "-"), r

[2020-05-08 11:12] #783 closed

[2020-05-08 12:58] abaranowska1 commented on #978
Hover feature is enabled again
![Screenshot from 2020-05-08 14-51-15](https://user-images.githubusercontent.com/61964176/81407660-15eadc00-913c-11ea-9340-0e9f473370ec.png)

[2020-05-08 12:58] #978 closed

[2020-05-08 13:08] abaranowska1 commented on #965
**Tested with success**
After fix it looks good.
![image](https://user-images.githubusercontent.com/61964176/81408568-bee60680-913d-11ea-9691-d40f1c3d28db.png)

[2020-05-08 13:08] #965 closed

[2020-05-08 13:26] bognasoldev89 opened #980 ""System account" column is empty on User management page"
System account column is empty despite the fact system account is assigned.

**Reproduction**
- Log in as an admin
- Go to Administration -> User management

**Expected result**
- System account column is populated accordingly

**Actual result**
- System account column is empty

**Attachment**
![Screenshot from 2020-05-08 14-36-13](https://user-images.githubusercontent.com/51324797/81410452-091cb7

[2020-05-08 13:47] awalkowiak commented on #784
@johnhbenetech listsOfAllOtherObjectsRelatedToThatOrganization were other remaining relations of organization, in this case: contacts, phones, programs

[2020-05-11 07:05] abaranowska1 commented on #964
Regression testing status report
Regression testing on 4 browsers (Google Chrome, Mozilla Firefox, MS Edge, Safari)  was finished.
List of reported issues:
#965  - DONE
#966
#967
#968
#969
#971
#972
#973
#975
#976
#978  - DONE
#979  - DONE
#980
List of tested fixes/features during regression testing:
#965  - Tested with success
#978  - Tested with success
#979  - Tested with success
Summary:
Execu

[2020-05-11 07:08] #964 closed

[2020-05-11 10:21] abaranowska1 commented on #943
@kdondziak minor issues:
WEB :
1. When I set zoom browser for example for 90% or less, something weird happens with the carousel.
![homepage](https://user-images.githubusercontent.com/61964176/81548391-83d21600-937d-11ea-91db-d7af706ec427.gif)

- Card: "Have more data to contribute?" is not in the center, and the middle card is also not centered
![image](https://user-images.githubusercontent.com/6

[2020-05-11 10:36] bognasoldev89 commented on #954
Verified on staging env

**Verified cases**
- Creating new Organizations via provider
-- on browser
-- on mobile emulators

1. I was able to create a new Organization with needed information

2. Validation is correct
![954 2](https://user-images.githubusercontent.com/51324797/81549756-87669c80-937f-11ea-88db-42d3b91ace15.gif)

3. "Remove" button removes the last entry on Locations and Services pag

[2020-05-11 11:18] bognasoldev89 commented on #976
**Tested with success**

Verified on staging env

**Verified cases**
- Reseting filters as a sacramentouser

**Summary**
The issue doesn't occur anymore.

**Attachment**
![976](https://user-images.githubusercontent.com/51324797/81555997-dd404200-9389-11ea-8e36-104228f39ca6.gif)

[2020-05-11 11:18] #976 closed

[2020-05-11 11:28] abaranowska1 commented on #958
**Tested with success**

Verified on staging env

**Verified cases**

Cards are integrated with the carousel
![image](https://user-images.githubusercontent.com/61964176/81556778-2e9d0100-938b-11ea-935c-b359caea2bdc.png)

[2020-05-11 11:28] #958 closed

[2020-05-11 12:08] abaranowska1 commented on #967
**Tested with success**

The issue with displaying matching records in all-records view doesn't occur anymore. The right table is the same wide as left.

![image](https://user-images.githubusercontent.com/61964176/81559891-9275f880-9390-11ea-90fa-ad1a6261a6f1.png)

[2020-05-11 12:08] #967 closed

[2020-05-11 12:16] bognasoldev89 commented on #974
This issue is tested in the scope of #954 and will be visited again after #954 gets back to QA column.

[2020-05-12 07:57] bognasoldev89 opened #982 "Provider homepage doesn't load after changing provider accounts"
Provider homepage is not fully loaded after changing accounts between providers.

**Reproduction**
- Log in as a 1. provider
- Log out
- Log in as a 2. provider

**Expected result**
- Provider homepage is fully loaded

**Actual result**
- Not all of the homepage elements are loaded, user has to refresh page to gain a full access

**Attachment**
![982 bug](https://user-images.githubusercontent.com/

[2020-05-12 09:02] bognasoldev89 commented on #931
**Tested with success**

Verified on staging env

**Verified cases**
- Creating a new user account
-- Checking from user management how a new account was created
- Creating a new organization as a new user
-- Checking ownership of a newly created organization

**Summary**
Accounts and organizations are created correctly.

[2020-05-12 09:02] #931 closed

[2020-05-12 09:09] bognasoldev89 commented on #688
@johnhbenetech I'll close this ticket for now. Of course, I'll reopen it if needed.

[2020-05-12 09:09] #688 closed

[2020-05-12 13:12] abaranowska1 commented on #975
@kdondziak
During testing this ticket I saw that you fixed the issue from the description, but another bug appeared after fixes and I guess it could be related to your changes.
![sacramento](https://user-images.githubusercontent.com/61964176/81695237-a68a2a80-9462-11ea-933b-7d68b921e70a.gif)
During regression testing, we found an issue with sorting #971 , but now sort doesn't work and progress bar

[2020-05-12 15:35] jkondrat opened #983 "Move common properties from application-dev and -prod to application.yml"

[2020-05-12 15:37] jkondrat opened #984 "Make sure that the user experience is consistent across responsive views"

[2020-05-13 08:00] kdondziak commented on #945
@johnhbenetech Should all records contain 'users records'?

[2020-05-13 09:28] abaranowska1 commented on #975
**Tested with success**
Issues with sorting and displaying records on the progress bar from the previous comment were fixed.

[2020-05-13 09:28] #975 closed

[2020-05-13 11:16] johnhbenetech commented on #945
@kdondziak it's not a house difference either way. My initial thought is no they shouldn't since they will already be showing above, but let me know if that's technically difficult

[2020-05-13 11:26] kdondziak commented on #943
@abaranowska1 I fixed bugs you have found.

[2020-05-13 12:16] abaranowska1 commented on #943
**Tested with success**

Verified on

- Chrome (v.81.0.4044.92)
- Mozilla Firefox (v 75.0) Browsers
- Mobile Device iPhone X ( 1125x2436) and emulator 360x640

Following by issues from the previous comment now:

- The background and the carousel looks fine on 100%,90%,110%, and all zoom browser,
- Blue border in the searcher disappeared
- Avatar view was fixed
- Sign Out option was added to mobile

[2020-05-13 12:16] #943 closed

[2020-05-14 08:54] bognasoldev89 commented on #784
**Tested with success**

Verified on staging env

**Verified cases**
- requesting record detail comparison via Postman

**Summary**
I was able to get record detail comparison via Postman

**Attachments**
Example:

![sn 784 1](https://user-images.githubusercontent.com/51324797/81914087-1e766300-95d1-11ea-90d0-baaa461b224d.png)

![sn 784 2](https://user-images.githubusercontent.com/51324797/81914088

[2020-05-14 08:54] #784 closed

[2020-05-14 09:37] awalkowiak opened #986 "Fix checkstyle plugin and checkstyle fails"
Turned out, that after app regeneration the check style plugin config was overwritten too and checks are passing, despite they should not.

Fix check style config and all fails.

[2020-05-14 11:50] jkondrat commented on #961
@johnhbenetech : How should the daily update field work? Would it create a new entity every time or or update existing one? Should it show the previously entered value? How about expiry date?

[2020-05-14 11:53] johnhbenetech commented on #961
@jkondrat initially it should be populated with the existing value and display the date it was last updated.

If the user changes or updates it, when they hit save:

1. Create a new daily update with the new value and a created date of the current datetime

2. Set the expiry of the old value to the current datetime

In this manner, anywhere daily update is displayed should show the most recent non

[2020-05-14 11:59] abaranowska1 commented on #963
@jkondrat During testing, I found a few minor issues:
1. Could you check which Organizations should display in the dropdown list - I see only a few and I'm not sure if it is correct.
2. Please change "Create or edit a DailyUpdate" to "Create or edit a Daily Update" in the title ( space is missing)
3. I guess that Expiry placeholder should display only mm/dd/yyyy, without time section
4. The expiry

[2020-05-14 12:48] bognasoldev89 commented on #954
I rechecked this issue and all of the raised issues are fixed but one:

![locations counting](https://user-images.githubusercontent.com/51324797/81936058-e3d0f280-95f1-11ea-970e-5ff047350be2.png)

@jkondrat can you look into that?

[2020-05-14 13:34] kdondziak commented on #946
@johnhbenetech How should it look when sort is clicked. I suggest to add expand section on desktop and modal on mobile.

[2020-05-14 13:35] johnhbenetech commented on #946
@kdondziak that works for me

[2020-05-14 17:03] johnhbenetech commented on #945
@kdondziak Sorry this is my fault in the original spec. Can we limit the records displayed to only the 'Service Provider' records. Hopefully this makes sense.

Basically we should ONLY show those records that were created in the new flow and NOT the records from the previous partners (UWBA,Eden, LAAC, healthleads, sheltertech).

I think in the future we may open it up, but we'll start with the lim

[2020-05-15 10:16] bognasoldev89 commented on #945
@kdondziak I took a quick look at this and I have one remark:
can you please make the cursor consistent while hovering over clickable elements?

![Peek 2020-05-15 12-12](https://user-images.githubusercontent.com/51324797/82039751-c3fb0680-96a5-11ea-9f6d-e58bb6ca5ba1.gif)

@johnhbenetech at this moment 6 cards appear after clicking "Load more" button. It seems fine to me but maybe you have some tho

[2020-05-15 10:59] johnhbenetech commented on #945
6 at a time is good for me

[2020-05-15 12:41] awalkowiak commented on #959
@abaranowska1 @bognasoldev89
You can start the QA on that one, but there are couple of things that are missing:
1. Currently, there's missing specific Service Detail (the part with arrow navigation).
2. When there're a bigger amount of services or location, then all are displayed => no collapsing with "+ remaining elements count" or "load more".

[2020-05-15 14:21] abaranowska1 commented on #959
@awalkowiak Plz look at these points :

1. Services without Name and Type could be displayed for example as "No service name provided" and 'Untyped"
![image](https://user-images.githubusercontent.com/61964176/82058149-a38e7480-96c4-11ea-9ba5-8c002fdbf7fc.png)
2. Plz add some space at the bottom of the page, under Services table
![image](https://user-images.githubusercontent.com/61964176/82058645-4

[2020-05-15 15:14] bognasoldev89 commented on #945
@kdondziak I looked at this feature and I think one improvement would be great:

after reaching the end of records by "load more" button, it would be good to deactivate it.

![945 load more button](https://user-images.githubusercontent.com/51324797/82066295-7dba9d00-96cf-11ea-8c6a-6643d644b5f1.gif)

[2020-05-15 21:19] johnhbenetech opened #994 "Staging no longer working on Firefox"
When trying to load staging on Firefox I get a bunch of npm/jhipster messages

sample:
An error has occured :-( Usual error causes You started the application from an IDE and you didn't run npm start or npm run webpack:build. You had a network error while running npm install. If you are behind a corporate proxy, it is likely that this error was caused by your proxy. Have a look at the JHipster err

[2020-05-18 10:24] bognasoldev89 commented on #945
**Tested with success**

Verified on staging  env.

**Verified cases**
- Logging in as a provider users
- Checking if other organizations are from other providers accounts
- Loading more records on the homepage

**Summary**
This feature works correctly
- available records come from the other provider users
- cards load properly
- progress bar reacts properly
- "Load more" button deactivates while

[2020-05-18 10:24] #945 closed

[2020-05-18 12:27] abaranowska1 commented on #959
@awalkowiak Everything works fine, but if you can plz change the font for a little smaller. It will be great if it is the same as in Jakub's edit view
![image](https://user-images.githubusercontent.com/61964176/82212772-64099780-9913-11ea-82bc-ec1d98b3fdd8.png)
![image](https://user-images.githubusercontent.com/61964176/82212784-68ce4b80-9913-11ea-804b-36ab1f4a2de1.png)

[2020-05-18 13:58] abaranowska1 commented on #959
Now it looks good :+1:
![image](https://user-images.githubusercontent.com/61964176/82221264-0e87b780-9920-11ea-94f5-ad23291e786c.png)
![image](https://user-images.githubusercontent.com/61964176/82221274-12b3d500-9920-11ea-99f0-ce360710139a.png)

[2020-05-18 14:12] awalkowiak commented on #959
@abaranowska1 thanks, let's not close it yet because I am still working on the service details. I'll let you know once it can be tested.

[2020-05-18 14:16] abaranowska1 commented on #946
**Tested with success**
**Verified cases:**

- Sorting works without any problems on web and mobile devices.
- It is possible to sort data ascending and descending
- Options are recently updated, and alphabetical
- Recently updated is the default sort
![Peek 2020-05-18 16-05](https://user-images.githubusercontent.com/61964176/82223303-c5853280-9922-11ea-8d09-9399d41ec855.gif)
![Peek 2020-05-18 16-

[2020-05-18 14:16] #946 closed

[2020-05-18 14:31] kdondziak commented on #994
Solution on branch: https://github.com/benetech/ServiceNetGateway/commit/8900932fb4d578a214edf96d0fe49c795229f679

[2020-05-18 14:50] bognasoldev89 commented on #994
**Tested with success**

Verified on staging env, browsers:
- Firefox v76.0.1
- Edge v44.18362.449.0
- Safari v12.03.3

**Verified cases**
- Opening ServiceNet app on mentioned browsers
- Going through the app

**Summary**
Since this error occurred on Edge and Safari as well, I rechecked all of these browsers and went through the app a little. It's fine now.

**Attachment**
- Firefox example
![sn

[2020-05-18 14:50] #994 closed

[2020-05-18 16:03] jkondrat opened #999 "Add missing translations in record-edit.tsx"

[2020-05-19 08:44] abaranowska1 commented on #961
@jkondrat
During testing I found a few issues:

1. I added a new record using "Add a new record" button from Service Provider Homepage and then I go to this Organization. When I want to add some changes and save or deactivate this record, error message: "You are not allowed to edit this shelter" was thrown.

![Peek 2020-05-19 10-30](https://user-images.githubusercontent.com/61964176/82304474-ae931

[2020-05-19 08:59] bognasoldev89 opened #1000 "Unexpected error while loading provider view"
I noticed that provider view sometimes throws unexpected error. It seems like it wants to read something that is not present on the page.

**Reproduction**
- Log out and in between provider accounts

**Expected result**
- Provider homepage is displayed every time

**Actual result**
- Unexpected error is thrown

**Attachment**
![Screenshot from 2020-05-19 10-56-11](https://user-images.githubusercon

[2020-05-19 09:53] bognasoldev89 commented on #1000
Follow up:
From this unexpected error view I signed out and got this view:

![Screenshot from 2020-05-19 11-50-42](https://user-images.githubusercontent.com/51324797/82312417-4eee4080-99c7-11ea-8830-3318d5f6a246.png)

[2020-05-19 10:13] awalkowiak commented on #959
@abaranowska1 I added Service Details after clicking on specific service and I added Autosizer on header card (the most top one) for service pills and locations.

[2020-05-19 11:44] kdondziak commented on #982
@bognasoldev89 Can you confirm that issue is still there since https://github.com/benetech/ServiceNet/issues/1000 is solved?

[2020-05-19 13:41] bognasoldev89 commented on #1000
**Tested with success**

Verified on staging env.

**Verified cases**
- Logging in and out for different provider accounts

**Summary**
This error doesn't occur anymore

[2020-05-19 13:41] #1000 closed

[2020-05-19 13:43] bognasoldev89 commented on #982
@kdondziak I confirm that this issue doesn't occur anymore. I tried logging in and out numerous times to different provider accounts and always got full provider view.

[2020-05-19 13:43] #982 closed

[2020-05-19 14:19] abaranowska1 commented on #959
**Tested with success**

Verified on:

- Chrome Browser v.81.0.4044.92
- Firefox Browser v.75.0
- Mobile Device 360x640 and iPhone X

Verified cases:

- Single Record initial View:
![image](https://user-images.githubusercontent.com/61964176/82336952-7bb44f00-99eb-11ea-91ba-93a06f9d90d9.png)

- Single record location expanded:
![image](https://user-images.githubusercontent.com/61964176/82336993-896

[2020-05-19 14:20] #959 closed

[2020-05-19 14:47] bognasoldev89 commented on #980
**Tested with success**

Verified on staging env.

**Verified cases**
- Opening user management
- Comparing randomly chosen accounts details to the user list

**Summary**
The system account column is populated properly again.

**Attachment**
![sn 980](https://user-images.githubusercontent.com/51324797/82341206-65f55880-99f0-11ea-8b81-77258d749751.png)

[2020-05-19 14:47] #980 closed

[2020-05-19 14:48] abaranowska1 commented on #961
**Tested with success**

Verified on:

- Chrome Browser v.81.0.4044.92
- Firefox Browser v.75.0
- Mobile Device 360x640 and iPhone X

Verified cases:

- All four issues from the previous comment were fixed
- When a user clicks one of their owned records on the main page they will be brought to a page to edit the existing data in the record
- Org Detail Edits:
![image](https://user-images.githubuse

[2020-05-19 14:48] #961 closed

[2020-05-19 15:37] jkondrat opened #1003 "The staging instance is running out of disk space - clean it up after a build"
The staging instance is running out of disk space a couple of days after cleaning it up. We should automatically remove all the build outputs, except for the docker image and logs

[2020-05-19 15:38] jkondrat commented on #1003
@kkaczmarczyk The build is now outputting a single log file which can be found at ~/deployment/deployments
Could you please confirm?

[2020-05-19 16:22] jkondrat commented on #963
@abaranowska1
1. Done, showing all organizations.
2. Done
3. The expiry is a datetime so it should show both sections. It will be automatically populated once a new daily update is added through provider's edit record form, no need for convenience here
4. It's only saved if both date and time are present

[2020-05-19 17:14] johnhbenetech opened #1004 "Daily Update on single record view is returning ALL daily updates, no datetime"
So two issues here:

Issue 1: Steps to reproduce:
* Create a new provider records
* Add a daily update
* Add a second daily update
* View that record's single-record view

Result:
ALL daily updates are returned

It seems the API returns all the results and the frontend displays all of them as well. It should only display the most recent, non-expired daily update. I'll leave it up to you whether th

[2020-05-19 18:38] johnhbenetech opened #1005 "Ensure hamburger menu links work"
Currently the hamburger/header links aren't working. i.e. About, Contact, etc

[2020-05-19 21:52] johnhbenetech opened #1006 "Hook up search in service provider view"
This task's purpose is to make the search bar on mobile and desktop functional.

I believe the top "your records" should NOT be affected by the search i.e. all of your records should always show regardless of search/filter settings.

To start lets just have it search Org Name, Org Description, and Service Name by default. We will likely have which fields to search to be set by the user at some poi

[2020-05-19 21:59] johnhbenetech opened #1007 "Add filtering to all records section"
This task involves setting up the initial filtering infrastructure on the homepage. Similar to #1006 these filters should NOT affect the top "your records" portion.

This filter shade should slide in from the right on desktop (responsively flexing the cards so that none are hidden by the shade). On mobile it should appear in a modal similar to how sort appears.

For the first iteration we will inc

[2020-05-20 07:58] kdondziak commented on #1005
@johnhbenetech As far as I know, we never had Contact page. On about us page there is contact section. Can you give details about these pages?

[2020-05-20 08:12] kdondziak commented on #1007
@johnhbenetech I want to confirm. After clicking on filter button, cards should width should decrease or they should change their position to make place for filter section?

[2020-05-20 09:09] kdondziak commented on #1007
@johnhbenetech On mock zip is text input and on old app there is select(dropdown) with zip codes. Which one it should be?

[2020-05-20 10:59] johnhbenetech commented on #1007
@kdondziak for positioning, option 2. Let me know if that's particularly difficult and we can discuss.

And zip should be a drop-down

Also just to confirm, are we currently running geocoding on these records, or will I need to make another task for that as well?

[2020-05-20 11:03] johnhbenetech commented on #1005
@kdondziak contact should be a mailto: like on the footer of the current homepage

[2020-05-20 11:11] kdondziak commented on #1007
@johnhbenetech No, I believe geocoding is not involved, if you are asking whether geocoding is used to select which records should be shown.

[2020-05-20 11:20] johnhbenetech opened #1008 "Hook up Service Provider records to geocoding process on both record creation and update (if address added/changed)"
Service Provider records should be processed by the geocoding scripts and corresponding geocoded entries should be saved to the database.

This process should run on every record creation as well as any record updates that involve location changes.

[2020-05-20 11:22] johnhbenetech opened #1009 "Hook up Service Provider records to matching process on both record creation and update"
Service Provider records should run through the matching algorithm upon creation and edit.

We will not surface any information from these matches in the Service Provider view.

These matches should show up to the other partners in classic SN

[2020-05-20 11:24] johnhbenetech opened #1010 "Visually distinguish matches from Service Provider on classic SN view"
In #1009, if a match exists in classic SN view - we should visually distinguish when a matching record is from a Service Provider record. The organization title should appear with a star next to it everywhere it's displayed.

[2020-05-20 11:27] johnhbenetech commented on #1007
@kdondziak ok I've made #1008 so that geocode data can be made available for these records in the future.

[2020-05-20 11:38] abaranowska1 commented on #963
**Tested with success**

- New Entity - 'Daily Updated' was added
- After a daily meeting, we decided that only Service Provider's  Organizations should be displayed in Organization dropdown list
- Title is fixed
- All dates are saved
- All updates from the Service Provider Hompage are saved in new entity

![image](https://user-images.githubusercontent.com/61964176/82441932-06a25180-9a9f-11ea-85ab

[2020-05-20 11:41] #963 closed

[2020-05-20 12:18] kdondziak commented on #1007
@johnhbenetech What is service type? Is that taxonomy? I see that service has type filed, but almost every service have type 'program'.

[2020-05-20 12:20] johnhbenetech commented on #1007
@kdondziak it's taxonomy

[2020-05-20 13:05] bognasoldev89 commented on #954
**Tested with success**

Verified on staging env
Used resolutions:
- 1920 x 1080
- 360 x 640

**Verified cases**
- Creating new Organizations via provider
-- on browser
-- on mobile emulators

**Summary**
All of the issues are resolved, this feature works correctly and elements look as expected.

**Attachment**
Fixed Locations count on Services page:
![locations counting 2](https://user-images.git

[2020-05-20 13:05] #954 closed

[2020-05-20 13:07] bognasoldev89 commented on #974
**Tested with success**

Verified in the scope of #954 issue.

**Summary**
The data entry page is responsive and integrated into the homepage. It was open on different resolutions and every element was presented as expected.

[2020-05-20 13:07] #974 closed

[2020-05-20 16:17] johnhbenetech opened #1011 "Adjust last updated by info on Service Provider records to reflect user first+last name"
Once #1012 is completed we should change the 'last updated by information' to display the following

1. First Name Last Name (if not null)
2. Email if names are null

In the case where names are available, hovering on the name should display the email in a tooltip

[2020-05-20 16:17] johnhbenetech opened #1012 "Add First/Last Name to user registration page"
I'm pretty sure the user model already supports this on the backend, so we should add these fields as a non-required fields on the registration page (is it a required field in the database?)

This will be used in #1011

[2020-05-20 16:25] johnhbenetech opened #1013 "Hook up account menu links on Service Provider view"
Connect settings and password links on Service Provider view

[2020-05-20 16:29] johnhbenetech opened #1014 "Change button fonts on buttons in new/edit views to match fonts and camel case"
Buttons on new/edit pages should match the font used everywhere else. Should also not be uppercase but rather camel case i.e. Discard Changes

[2020-05-20 16:37] jkondrat commented on #1003
@awalkowiak : since Krzysztof is OOO, could you please have a look?

[2020-05-21 07:51] abaranowska1 commented on #1004
@awalkowiak
1. Split a text into two lines ( on smaller screens and mobile devices it doesn't look good )
![image](https://user-images.githubusercontent.com/61964176/82535528-43298800-9b47-11ea-85a9-b8657a9d38be.png)
2. The second issue, in my opinion, was resolved, I can see only last update, not all updates.
![up](https://user-images.githubusercontent.com/61964176/82536062-2e99bf80-9b48-11ea-80a

[2020-05-21 07:53] abaranowska1 opened #1015 "UI issue when displaying long service names"
I met UI issues with displaying long service names:

1. Once I met such view
![image](https://user-images.githubusercontent.com/61964176/82537841-ff388200-9b4a-11ea-84a8-1a0c6939ebe9.png)
2. The same organization with a long Service Name.
![image](https://user-images.githubusercontent.com/61964176/82537960-3ad34c00-9b4b-11ea-88a3-663db121495c.png)
![image](https://user-images.githubusercontent.com

[2020-05-21 08:48] awalkowiak commented on #1003
Yup, logs are there.

[2020-05-21 08:48] #1003 closed

[2020-05-21 09:26] abaranowska1 commented on #1005
@jkondrat I found one issue with hamburger links. When I click links in order: Home, About, Contact, Settings, Password, Sign Out I have a problem with displaying Password page ( Homepage is displayed instead of Password ), the same issue exists when I want to go from Password to Settings. It is possible only when I click for example About, Settings, About, Password.
![Peek 2020-05-21 11-08](https

[2020-05-21 09:48] abaranowska1 commented on #1004
**Tested with success**
- Creation Datetime is displayed for Daily Update
![image](https://user-images.githubusercontent.com/61964176/82546441-601a8700-9b58-11ea-94f8-d7c98d1a22bf.png)
- Only last update is visible
![up](https://user-images.githubusercontent.com/61964176/82546711-d5865780-9b58-11ea-8104-f89b34a33e12.gif)

[2020-05-21 09:48] #1004 closed

[2020-05-21 11:27] abaranowska1 commented on #1013
**Tested with success**

**Tested on:**
- Chrome Browser v. 81.0.4044.92
- Firefox v. 75.0

**Verified cases:**
- Connect settings and password links on Service Provider view

![Peek 2020-05-21 12-58](https://user-images.githubusercontent.com/61964176/82554704-bc84a300-9b66-11ea-9a54-e0582ee255f4.gif)

[2020-05-21 11:27] #1013 closed

[2020-05-21 11:30] awalkowiak commented on #944
Since it was non-QA and is in done for 22 days, I'm closing this one.

[2020-05-21 11:30] #944 closed

[2020-05-21 13:14] abaranowska1 opened #1016 "Add missing translation in Organization Entities"
Add missing translation in Organization Entities

**Steps:**

1. Log in as Admin
2. Go to Entities -> Organization
3. Click Create a New Organization button

**Actual result:**
![image](https://user-images.githubusercontent.com/61964176/82562587-d083d100-9b75-11ea-97ed-c514719ee6c6.png)
**Expected result:**
Provider Name

[2020-05-21 14:33] abaranowska1 commented on #1016
**Tested with success**
Works fine
![image](https://user-images.githubusercontent.com/61964176/82569607-c3201400-9b80-11ea-8731-aecb9978a905.png)

[2020-05-21 14:33] #1016 closed

[2020-05-22 07:22] abaranowska1 commented on #1009
**Tested with success**

**Verified cases:**

- Service Provider records run through the matching algorithm upon creation and edit.
![image](https://user-images.githubusercontent.com/61964176/82642139-c1e8f880-9c0d-11ea-8871-795c3f7e1f73.png)
- We do not surface any information from these matches in the Service Provider view.
![image](https://user-images.githubusercontent.com/61964176/82642163-c87

[2020-05-22 07:23] #1009 closed

[2020-05-22 08:15] abaranowska1 commented on #1005
**Tested with success**

**Verified cases:**

- All links work without any problems on mobile view.
![Peek 2020-05-22 09-46](https://user-images.githubusercontent.com/61964176/82645483-3a05ed00-9c13-11ea-872f-b078de13704b.gif)

[2020-05-22 08:15] #1005 closed

[2020-05-22 08:59] bognasoldev89 opened #1017 "Create the way to upload ShelterTech taxonomies to Service Provider view"
I stomped upon this issue while trying to upload ShelterTech taxonomies on the local server.
In the scope of this ticket investigation and creation of easier way of uploading taxonomies to the Service Provider view should be resolved.

[2020-05-22 09:02] abaranowska1 commented on #999
All labels are in the same place, I didn't observe anything to change.

[2020-05-22 09:02] #999 closed

[2020-05-22 12:24] kdondziak commented on #1010
@johnhbenetech How it should look. Our suggestions are:
- star icon: https://fontawesome.com/icons/star?style=solid
- asterisk '*'
- asterisk icon: https://fontawesome.com/icons/asterisk?style=solid

[2020-05-22 12:25] johnhbenetech commented on #1010
@kdondziak gold start icon

[2020-05-22 14:47] kdondziak commented on #1010
@johnhbenetech Regarding comparing view (all-record, multi-record) should I add start to org name in details? See picture below:
![image](https://user-images.githubusercontent.com/52406204/82679973-f11e5a80-9c4b-11ea-9b39-81fb7fc27b4b.png)

[2020-05-22 14:51] kdondziak commented on #1010
@johnhbenetech I think that star may by a little confusing. What do you think about adding tooltip?

[2020-05-22 17:27] johnhbenetech commented on #1010
@kdondziak What do you think about either of these? We can have tooltip that says "This record is maintained by the service provider".

![image](https://user-images.githubusercontent.com/12927553/82691565-bef90280-9c23-11ea-8175-c8b4cfdab9cd.png)

![image](https://user-images.githubusercontent.com/12927553/82692189-dedcf600-9c24-11ea-8c7d-4ce10284be18.png)

![image](https://user-images.githubuserc

[2020-05-22 17:28] johnhbenetech commented on #1010
I'm leaning towards the checkbox personally

[2020-05-25 08:03] kdondziak commented on #1010
@johnhbenetech I think green icon with two people would be best.

[2020-05-25 08:32] abaranowska1 commented on #1007
@kdondziak
I found one issue and I have one question
1. After click "Load more" button and use filters - data are not displayed
![Peek 2020-05-25 09-53](https://user-images.githubusercontent.com/61964176/82793739-b564da00-9e71-11ea-9113-2e28782b58c8.gif)
@johnhbenetech
2. On Create Organization Page, in Location section, we can see the shortcuts of states
![Screenshot from 2020-05-25 10-02-26](htt

[2020-05-25 08:57] bognasoldev89 opened #1021 "Location saved from Service Provider user created over 400 geocoding records"
While going through Geocoding results I noticed that _loc one, sshshs, 45, CA_ is displayed too much. It seems that in database 432 geocoding results were created for this address.

[2020-05-25 09:07] bognasoldev89 commented on #1008
**Tested with success**

Verified on staging env

**Verified cases**
- Creating an organization with location
- Editing location
- Checking for both of those in Geocoding result entity

**Summary**
Addresses go through geocoding process and are results are saved.

**Attachments**
- Results for locations
![sn 1008 1](https://user-images.githubusercontent.com/51324797/82797752-d7f9f180-9e77-11ea-8c6

[2020-05-25 09:07] #1008 closed

[2020-05-25 09:31] bognasoldev89 opened #1022 "State dropdown while editing location as Service Provider set to CA by default"
I noticed that on edit mode for locations, the state dropdown is always set to CA, even if the original state was different.

**Reproduction**
- Create an organization as a Service Provider
-- remember to change state for location
- Edit location for this organization

**Expected result**
- The state dropdown shows previously chosen state

**Actual result**
- The state dropdown shows CA

**Attachm

[2020-05-25 11:04] abaranowska1 commented on #1006
@jkondrat
1. Plz delete one of this "x"
![image](https://user-images.githubusercontent.com/61964176/82807232-a5f08b80-9e87-11ea-8bfe-875d040633ec.png)
2. On mobile devices, the placeholder is too long, maybe we can add "..." when it is going to the end of the field
![image](https://user-images.githubusercontent.com/61964176/82807407-fd8ef700-9e87-11ea-95a4-d0f12516cbab.png)
![7C93D523-E4DD-4C8E-8E

[2020-05-25 12:48] johnhbenetech commented on #1007
@abaranowska1 my assumption is that geocoding runs in record creation. The geocoding fills in missing information (such as county)

[2020-05-25 14:31] abaranowska1 commented on #1010
@kdondziak
Few changes to the new icon will be needed :
1. The new tooltip should be a little bit smaller on the home page and a little bigger and a few pixels higher in details view, in my opinion, it should be similar to the mock.
![image](https://user-images.githubusercontent.com/61964176/82821373-4a80c680-9ea4-11ea-8f77-0410868b48e6.png)
![image](https://user-images.githubusercontent.com/61964

[2020-05-26 03:16] johnhbenetech opened #1025 "'Unsaved updates' error on leaving edit page if changes not saved/discarded"
On new/edit view, if user attempts to navigate away from page with unsaved data, they should be prompted with alert.

"You have unsaved data, are you sure you want to leave?"

Discard Changes/Save Changes

[2020-05-26 03:19] johnhbenetech opened #1026 "Allow for reactivation of records"
A new option should appear under the user menu 'Deactivated Records'. It should bring the user to a simple page where it lists any deactivated records (org Name, last updated date, deactivated date) and then a button 'Activate'

Clicking activate should allow record to appear again on main view

[2020-05-26 03:27] johnhbenetech opened #1027 "Filter choices should only list options with corresponding records"
Similar to on classic view, the filter options that populate (service type, zip county, etc) should only reflect options that actually exist in the record collection.

For instance, if a Service Provider record doesnt exist eith a location in Albany - Albany shouldnt appear in the filter dropdown

[2020-05-26 07:52] bognasoldev89 commented on #968
**Tested with success**

Verified on staging env

**Verified cases**
- Creating new account
-- with the same login
-- with the same e-mail
- from
-- user management page
-- the homepage

**Summary**
"Internal server error" doesn't occur anymore. In both cases, the right information is displayed (Login/E-mail already in use).

**Attachments**
![968 login working](https://user-images.githubuserconte

[2020-05-26 07:52] #968 closed

[2020-05-26 08:43] abaranowska1 commented on #1007
**Tested with success**
**Verified cases:**
- Add filter options (City, County, Zip, Service Type)
- Filter window displays as @kdondziak mock and also works on mobile without issues
- After click "Load more" button and use filters - data are displayed
- These filters didn't affect the top "your records" portion

![Peek 2020-05-26 10-18](https://user-images.githubusercontent.com/61964176/82879735-

[2020-05-26 08:43] #1007 closed

[2020-05-26 09:05] #1006 closed

[2020-05-26 11:32] abaranowska1 commented on #1010
**Tested with success**

Verified cases:
- Service Provider Organization are marked with a tooltip
- Visually distinguish is done when a matching record is from a Service Provider record
- UI issues were fixed
![image](https://user-images.githubusercontent.com/61964176/82895893-482a7500-9f55-11ea-8333-f264f4093a33.png)

![image](https://user-images.githubusercontent.com/61964176/82895896-4bbdfc00-

[2020-05-26 11:32] #1010 closed

[2020-05-26 12:11] abaranowska1 commented on #1006
**Tested with success**
**Verified cases:**

- one "x" was deleted
- "..." is added to the placeholder
-  the top "your records" are not affected by the search
-  search Org Name, Org Description, and Service Name by default.
-  'search' icon was moved to the left side of the input
-  'x' icon was added on the right side to clear the search

**Verified on:**

- Google Chrome v. 83.0.4103.61
- Fire

[2020-05-26 12:19] bognasoldev89 commented on #1012
**Tested with success**

Verified on staging env

**Verified cases**
- Registering a new user from the register page
- Registering a new user from the admin user management view
- Editing an existing account

**Summary**
First/Last name fields are added to all of the mentioned pages. I was able to register and edit accounts without interruptions.

**Attachments**
![sn 1012 1](https://user-images.g

[2020-05-26 12:19] #1012 closed

[2020-05-26 13:15] bognasoldev89 commented on #1022
**Tested with success**

Verified on staging env

**Verified cases**
- Creating an organization with locations in different states
- Editing those locations

**Summary**
State dropdown shows previously chosen state while editing location.

**Attachment**
![sn 1022](https://user-images.githubusercontent.com/51324797/82905077-ad856280-9f63-11ea-9276-e5075a2803fc.gif)

[2020-05-26 13:15] #1022 closed

[2020-05-26 14:09] abaranowska1 commented on #1014
**Tested with success**
- Button fonts on buttons in new/edit view is changed to camel case
![image](https://user-images.githubusercontent.com/61964176/82910543-09071e80-9f6b-11ea-94e1-ebfbab52743b.png)
![image](https://user-images.githubusercontent.com/61964176/82910560-0efcff80-9f6b-11ea-8a5f-7b40549bc640.png)
![image](https://user-images.githubusercontent.com/61964176/82910575-13c1b380-9f6b-11e

[2020-05-26 14:09] #1014 closed

[2020-05-26 14:18] bognasoldev89 commented on #1021
**Tested with success**

Verified on staging env.

**Verified cases**
- Checking if every created location is geocoded once
-- location from this issue
-- newly created locations

**Summary**
I confirmed with @kdondziak that locations have only one geocoding result now and additional records are removed.

[2020-05-26 14:18] #1021 closed

[2020-05-27 08:05] kdondziak commented on #1026
@johnhbenetech On desktop link be there:
![image](https://user-images.githubusercontent.com/52406204/82993837-85e4d780-a001-11ea-90dc-2fb62f9ed45f.png) And on mobile view in side menu. Am I right?

[2020-05-27 08:33] abaranowska1 commented on #966
**Tested with success**
**Verified cases:**
- Checkboxes on filtering feature are displayed in a similar way
![image](https://user-images.githubusercontent.com/61964176/82996545-68197180-a005-11ea-872d-01f1ea31bb89.png)
![image](https://user-images.githubusercontent.com/61964176/82996556-6b146200-a005-11ea-958f-c28f8231249c.png)

[2020-05-27 08:33] #966 closed

[2020-05-27 10:26] johnhbenetech commented on #1026
@kdondziak yes that's right. Let's use the font awesome clipboard-list icon

[2020-05-27 11:39] bognasoldev89 commented on #956
**Tested with success**

Verified on staging env

**Verified cases**
- adding organization via Service Provider user
- checking this organization on Organization entity
- comparing this to "classic" organization record

**Attachment**
- Organization entity view
![sn 956 1](https://user-images.githubusercontent.com/51324797/83014614-547b0480-a01f-11ea-8924-fa82be43f5d6.gif)

- Organization added vi

[2020-05-27 11:39] #956 closed

[2020-05-27 11:40] abaranowska1 commented on #972
**Tested with success**
Internal Server Error didn't occur anymore during the deleting Shelter.
![shelters](https://user-images.githubusercontent.com/61964176/83014809-a7ed5280-a01f-11ea-8461-ed2d687f7eb4.gif)

[2020-05-27 11:40] #972 closed

[2020-05-27 12:39] bognasoldev89 commented on #1011
**Tested with success**

Verified on staging env

**Verified cases**
- Creating an organization as
-- user with first and/or last name
-- user without first/last name
- Checking for mail tooltip if name not provided

**Summary**
This feature works as expected.

**Attachment**
![sn 1011](https://user-images.githubusercontent.com/51324797/83019767-c8210f80-a027-11ea-9c06-112b508b5e3e.gif)

[2020-05-27 12:39] #1011 closed

[2020-05-27 13:18] bognasoldev89 commented on #1015
@abaranowska1 I spotted this on staging env:

![Screenshot from 2020-05-27 14-32-32](https://user-images.githubusercontent.com/51324797/83023399-269cbc80-a02d-11ea-9b5d-641207816e66.png)

I don't think it looks good.

Chrome v80.0.3987.149
1920 x 1080

[2020-05-27 13:54] abaranowska1 commented on #1015
@bognasoldev89 @jkondrat
Verified on Google Chrome v. 83.0.4103.61
![image](https://user-images.githubusercontent.com/61964176/83024247-63b57e80-a02e-11ea-93d9-33e60013f8f4.png)

1. I found one thing on Single Record View :
![image](https://user-images.githubusercontent.com/61964176/83024357-91022c80-a02e-11ea-93b5-23b403d0cca6.png)
![image](https://user-images.githubusercontent.com/61964176/83024

[2020-05-27 17:34] jkondrat commented on #1025
@johnhbenetech is it okay for the alert to have the standard "cancel" and "ok" options? I'm using the standard react-router's Prompt to show it, and it's only possible to customize the message - no callbacks or button names

[2020-05-27 17:36] johnhbenetech commented on #1025
@jkondrat yes that's fine

[2020-05-27 17:48] jkondrat commented on #1015
@abaranowska1 : You're right, it turned out that buttons were using pills' css - I separated them

[2020-05-27 21:33] johnhbenetech opened #1031 "Investigate issues with ShelterTech Job not creating locations"
Steps:

I was creating a new ServiceNet instance from scratch (empty database)

Upon starting I launched the ShelterTech data job and waited until it was complete. After the job completed, organization, services, etc were created - but locations were NOT created.

Please investigate what might have caused this and necessary remediations.

[2020-05-27 21:46] johnhbenetech opened #1032 "Research/recommend approaches for a multi tenant system"
Please split this out into related tasks as needed based on recommended approach.

Goal: Allow for creation of separate silos of the ServiceProvider view (for different regions as an example).

* A user entity should be associated with a specific silo
* When a user creates/edits a record, it should be associated with the silo
* Any users on that silo should only see records from other users in the

[2020-05-28 08:09] abaranowska1 commented on #1026
@kdondziak I found a few minor issues:
1. After click "Activate" button nothing happened, I saw only 500 error in the console
![image](https://user-images.githubusercontent.com/61964176/83114567-687b4080-a0c9-11ea-9560-7116b83cae65.png)
![Peek 2020-05-28 09-35](https://user-images.githubusercontent.com/61964176/83114574-6ca75e00-a0c9-11ea-97c0-5d8012fb47d2.gif)
@johnhbenetech
2. I noticed that Org

[2020-05-28 08:37] bognasoldev89 commented on #973
**Tested with success**

Verified on staging env

**Verified cases**
- creating a new shelter
- creating another shelter with looking up mentioned fields

**Summary**
Values provided for the previous shelter are not available for the next shelter.

**Attachment**
![sn 973](https://user-images.githubusercontent.com/51324797/83118842-2f45cf00-a0cf-11ea-87ad-2f56bc4d574b.gif)

[2020-05-28 08:37] #973 closed

[2020-05-28 09:34] abaranowska1 commented on #1015
**Tested with success**
- Long service names are displayed correctly
- Buttons are fixed
- "+..." feature is added to Single Record View
- UI looks good on Chrome, Firefox and mobile device

[2020-05-28 09:34] #1015 closed

[2020-05-28 10:54] johnhbenetech commented on #1026
Deactivated records should NOT show to other users.

[2020-05-28 11:39] kdondziak commented on #1026
@johnhbenetech On deactivated page, should there be any deactivated records even those that not belong to current user? If yes, then should user have ability to reactivate records that not belong to current user?

[2020-05-28 11:50] johnhbenetech commented on #1026
@kdondziak Only the logged in user's deactivated records should show.

Basically this flow allows a record creator to remobe a record for when they no longer want others to see it (and reactivate if they change their mind)

[2020-05-28 12:07] abaranowska1 commented on #1025
**Tested with success**
- "You have unsaved data, are you sure you want to leave?" alert is displayed on new/edit view if the user attempts to navigate away from the page with unsaved data
![Selection_012](https://user-images.githubusercontent.com/61964176/83137063-ca976e00-a0e8-11ea-8e3c-d2237a400e7b.png)
![Selection_013](https://user-images.githubusercontent.com/61964176/83137064-cb300480-a0e8-1

[2020-05-28 12:08] #1025 closed

[2020-05-28 14:00] awalkowiak commented on #986
@jkondrat could you confirm that everything is working as expected?

[2020-05-28 14:30] kkaczmarczyk opened #1033 "Allow for creation of separate silos of the ServiceProvider view (for different regions as an example)."
* A user entity should be associated with a specific silo
* Admin users should be able to create new named silos, that can later be used to assign users

dev note: consider using jhipster auto-generated views

[2020-05-28 14:32] kkaczmarczyk opened #1034 "Associate silos with Service Provider records"
* When a user creates/edits a record, it should be associated with the silo
* Any users on that silo should only see records from other users in their silo

[2020-05-28 14:57] kkaczmarczyk commented on #1032
@johnhbenetech I've extracted 4 bullet points from the Goal as they are clear and I put them into #1034 and #1033. We can use this task for research on future considerations topics. In short: both are doable. We've also story-pointed all of the issues.
I might have messed up the order of priority in Up next column though - let me know or feel free to change the priorities

[2020-05-28 15:25] johnhbenetech opened #1036 "Update classic view to show first and last name for matching records instead of ServiceProvider"
Similar to the new view, wherever a ServiceProvider record appears (side by side, compare, single record,  main page) on the classic page - First Name Last Name should appear instead of "ServiceProvider"

[2020-05-29 09:53] abaranowska1 commented on #1026
**Tested with success**

**Verified cases:**
- A new option appears under the user menu 'Deactivated Records'
- After clicking 'Deactivated Records' it brings the user to a simple page where it lists any deactivated records (org Name, last updated date, deactivated date) and then a button 'Activate'
- Deactivated records are not shown to other users
- Only the logged in user's deactivated records

[2020-05-29 09:53] #1026 closed

[2020-05-29 12:12] kdondziak commented on #969
QA note: These changes have impact on all buttons across the app

[2020-06-01 06:37] bognasoldev89 opened #1037 "Regression testing 06-01-2020"
After one month from previous regression testing, it is important to check thoroughly if every functionality and feature works as expected.

The regression test suite contains all tests designed for this moment.

**Link to the test suite:**
https://docs.google.com/spreadsheets/d/1Lw_bDDwgaEAQXLUHMQ4bn2homCGbVMqEH3e3nPq8dYQ/edit?usp=sharing

**ACC**
- All test cases from the list are performed
- Re

[2020-06-01 11:05] kdondziak commented on #1031
@johnhbenetech This is my guess but there is possibility that you haven't set GOOGLE_API_KEY

[2020-06-01 11:32] kdondziak commented on #1036
@johnhbenetech I guess that it should works same as on new view. I mean if there is no first name and last name then it should show email. And if there is first name or last name then mail should be inside tooltip. Am I right?

[2020-06-01 12:20] johnhbenetech commented on #1036
Yes

[2020-06-01 12:22] johnhbenetech commented on #1031
@kdondziak I believe I have. Other providers add their locations fine, just sheltertech doesn't work.

Also this isn't just the geocode results, but the actually Location entity doesn't get created

[2020-06-02 08:58] bognasoldev89 opened #1039 "Searching feature on entities pages is missing records per page options"
Entities chosen in #199 should have pagination feature, and this included records per page option. Now it's missing.

**ACC**
- Chosing records per page option is brought back

**Attachment**
![Peek 2020-06-02 10-32](https://user-images.githubusercontent.com/51324797/83501282-32223480-a4c0-11ea-928e-3833ee9ce7e0.gif)

[2020-06-02 11:01] bognasoldev89 opened #1041 "Filtering feature on Shelter view is disabled after viewing shelter's details page"
**Reproduction**
- Log in as a sacramentouser
- Apply filters
- View details page of one of the shelters
- Go back to Shelter's view

**Expected result**
- Filtering feature works

**Actual result**
- Filtering feature is disabled (user has to refresh the page)

**Attachments**
![shelter filtering feature disabled](https://user-images.githubusercontent.com/51324797/83513064-7964f100-a4d1-11ea-9567

[2020-06-02 11:04] bognasoldev89 opened #1042 "Filtering on Shelter view shows doubled records"
Despite of doubling records on the shelter view I noticed strange behavior of the progress bar: though the list filtered 0 records, progress bar showed 0/1.
I have to mention that filters set by me should show at least one shelter on the list.

**Reproduction**
- Log in as a sacramentouser
- Set filters. I used:
-- County: Yolo, Solano
-- Only show shelters that: Accessible
- Apply them

**Expecte

[2020-06-02 13:08] kdondziak commented on #1034
@johnhbenetech What should happen when user doesn't have silo?

[2020-06-02 13:19] johnhbenetech commented on #1034
Can we display something like. "Your account has not been configured. Please contact servicenet@benetech.org to complete set-up"

[2020-06-02 22:31] johnhbenetech opened #1043 "Auto-generate separate registration pages per each silo created"
Ideal Workflow:

1. Admin creates a new silo, let's call it "Chicago" for example

2. Our app automatically generates the required configuration to support a custom registration endpoint that automatically associates that user with the intended endpoint.

3. A prospective user visits this new endpoint, let's say:
https://servicenet.benetech.org/#/register/Chicago
or maybe
https://servicenet.benete

[2020-06-02 22:50] johnhbenetech opened #1044 "Change bookmark icon color based on age of Daily Update"
This is regarding the bookmark icon to the left of the org name

* If daily update within last 24h, color = 6AB9A4

* If daily update within last 48h, color = FAB28C

* If daily update older - current grey color - 808080

* If no daily update - no icon (still keep org name in current location)

[2020-06-02 22:57] johnhbenetech opened #1045 "Create a setting that allows certain silos to expose a public facing list of records"
In the silo admin page, create a setting that allows for a public (unauthenticated) view of the records. There will be silos with this setting off, and off should be the default.

This view will be very similar to the current page, but just will not have the 'Your record' section at the top (therefore no ability to add records). Once again this is a 'read-only' view.

If possible this should autom

[2020-06-03 11:08] #986 closed

[2020-06-03 12:12] abaranowska1 opened #1048 "Error messages are thrown during signing out from Service Provider view"
Error messages are thrown during signing out from the Service Provider view.
![image](https://user-images.githubusercontent.com/61964176/83635539-b352f780-a5a4-11ea-9a26-c00bb13b698a.png)

![Peek 2020-06-03 14-27](https://user-images.githubusercontent.com/61964176/83636506-5fe1a900-a5a6-11ea-9752-dbabd9091668.gif)

Actual result: During signing out from the Service Provider view, page blink/flash/

[2020-06-03 14:07] abaranowska1 commented on #1042
@kdondziak Still I can see doubled records, plz verify this issue once again
![image](https://user-images.githubusercontent.com/61964176/83646495-fe283b80-a5b3-11ea-8e5b-956ba05faa19.png)

[2020-06-03 14:26] abaranowska1 commented on #969
@kdondziak I found some places with button issues :
![buttons10](https://user-images.githubusercontent.com/61964176/83648807-ca9ae080-a5b6-11ea-952a-ba526752ddca.gif)
![buttons9](https://user-images.githubusercontent.com/61964176/83648813-cb337700-a5b6-11ea-95a1-73bbedc8a394.gif)
![buttons8](https://user-images.githubusercontent.com/61964176/83648818-cc64a400-a5b6-11ea-9335-b8eee005ee30.gif)
![but

[2020-06-03 14:29] abaranowska1 commented on #1037
Regression testing status report

Regression testing on 4 browsers (Google Chrome, Mozilla Firefox, MS Edge, Safari), and the mobile device was finished.

List of reported issues:

https://github.com/benetech/ServiceNet/issues/1039

https://github.com/benetech/ServiceNet/issues/1041

https://github.com/benetech/ServiceNet/issues/1042

https://github.com/benetech/ServiceNet/issues/1048

All issues

[2020-06-03 14:29] #1037 closed

[2020-06-03 16:32] jkondrat commented on #1031
@johnhbenetech it turned out that the response from ShelterTech has changed - we now have a list of addresses instead of a single address

[2020-06-04 14:21] kdondziak opened #1054 "Add 'public' option to silo and allow admin to set it"

[2020-06-04 14:22] kdondziak commented on #1045
Creating public option will be handled in https://github.com/benetech/ServiceNet/issues/1054

[2020-06-04 14:26] kdondziak commented on #1045
@johnhbenetech Should unauthorized user have access to single record view (when clicking on link on record card)?

[2020-06-04 14:27] johnhbenetech commented on #1045
Yes

________________________________
From: kdondziak <notifications@github.com>
Sent: Thursday, June 4, 2020 9:26 AM
To: benetech/ServiceNet
Cc: John Higgins; Mention
Subject: Re: [benetech/ServiceNet] Create a setting that allows certain silos to expose a public facing list of records (#1045)

@johnhbenetech<https://github.com/johnhbenetech> Should unauthorized user have access to single record

[2020-06-04 14:32] kdondziak commented on #1044
@johnhbenetech Do you mean bookmark on record card?
![image](https://user-images.githubusercontent.com/52406204/83770091-f1bde480-a680-11ea-9ee2-d9821f073c75.png)

[2020-06-04 14:33] johnhbenetech commented on #1044
Yes the grey icon in the upper left

[2020-06-04 14:42] #934 closed

[2020-06-05 07:40] bognasoldev89 commented on #1031
**Tested with success**

Verified on local env

**Verified cases**
- Firing ShelterTech update job on empty db

**Summary**
Location entity was populated after firing ShelterTech job on empty db

**Attachment**
![sn 1031](https://user-images.githubusercontent.com/51324797/83850055-a18e6300-a710-11ea-9cfc-bcb606c84a5a.png)

[2020-06-05 07:40] #1031 closed

[2020-06-05 10:27] kdondziak commented on #1034
@johnhbenetech Team suggested that user might be assigned to default silo. Would you like to do it?

[2020-06-05 10:48] bognasoldev89 commented on #1036
**Tested with success**

Verified on staging env

**Verified cases**
- checking organizations provided by service providers on the "classic" view
-- Service Provider with first and/or last name
-- Service Provider without first and last name

**Summary**
First and/or last name is displayed if provided. While hovering over it, the e-mail is displayed. If name is not provided, the e-mail is displaye

[2020-06-05 10:48] #1036 closed

[2020-06-05 11:36] abaranowska1 commented on #969
**Tested with success**
I checked all places with buttons that I listed above and now after fix buttons don't "jump"
Example :
![Peek 2020-06-05 13-35](https://user-images.githubusercontent.com/61964176/83872028-7e27e000-a731-11ea-89fb-2d641fd9d5c8.gif)
![Peek 2020-06-05 13-33](https://user-images.githubusercontent.com/61964176/83872032-7ff1a380-a731-11ea-8578-1fdb69ef88ca.gif)

[2020-06-05 11:36] #969 closed

[2020-06-05 11:43] abaranowska1 commented on #1042
**Tested with success**
**Verified cases:**

- Applicable shelters are filtered and displayed
- The filtered shelter is doubled on the list - now it is displayed correctly
![image](https://user-images.githubusercontent.com/61964176/83872480-60a74600-a732-11ea-8b49-b006375c36f3.png)
- The issue with 0/1 on the progress bar - I can't reproduce this issue anymore
![image](https://user-images.githubus

[2020-06-05 11:43] #1042 closed

[2020-06-05 13:07] johnhbenetech commented on #1034
I would still like a message to display and them.not to have the ability to add records per my previous column. Is that difficult to do?

So either they don't get added to a solo and unsiloed users see that message or they get assigned to default silo but anyone on default silo sees only that message

[2020-06-08 08:32] abaranowska1 commented on #1033
@kdondziak
Please verify and fix these cases:

1. Missing translations in Silo Entity:
Create, Update, Delete

![image](https://user-images.githubusercontent.com/61964176/84007906-58891980-a971-11ea-9356-2132d40f17d6.png)
![image](https://user-images.githubusercontent.com/61964176/84007916-5b840a00-a971-11ea-9e87-ac2a6fc52852.png)e
![image](https://user-images.githubusercontent.com/61964176/840079