[2021-01-08 21:35] EnriqueCorado opened #1568 "Map Align center clicked ping"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

AS a user I want to clearly see which ping I have selected on the map so I can visually which record I am currently looking at

Description:

On the new map view when a user clicks on a ping - the ping should be center-aligned in the top half so the user can see which one h

[2021-01-08 23:41] meenupant commented on #1411
@abaranowska1 it is not working for all the websites. Please check again. For example, when I click the the record for "**AMERICAN CIVIL LIBERTIES UNION OF NORTHERN CALIFORNIA (ACLU-NC)**" and I click on their website link "**www.aclunc.org**", it takes me to "**https://benetechservicenet.org/www.aclunc.org**" with an error message "**Your request cannot be processed**"

[2021-01-11 08:19] abaranowska1 commented on #1430
@jkondrat In reference to the comment above please make the "First name" and the "Last name" required as well. Also "Organization name(s)" should stay required, but "If the record(s) not found on the above dropdown, enter below" was changed to non required which is good.
![Selection_784](https://user-images.githubusercontent.com/61964176/104158663-12f06b80-53ee-11eb-9a78-78af27b0125c.png)

[2021-01-11 08:55] abaranowska1 commented on #1399
**Tested**
- The hover feature was added to the Grid View and Map icon
![Peek 2021-01-11 09-27](https://user-images.githubusercontent.com/61964176/104159260-57303b80-53ef-11eb-97a0-8766db244bb1.gif)

[2021-01-11 09:19] kdondziak commented on #1321
@EnriqueCorado If "Do you offer only online Services" is toggled (yes), should the user be able to add another location?

[2021-01-11 09:37] abaranowska1 commented on #1412
**Tested**
@jkondrat
1. The search bar doesn't work on mobile
![Peek 2021-01-11 10-15](https://user-images.githubusercontent.com/61964176/104164203-e04b7080-53f7-11eb-9908-c9730a6547b8.gif)

2. Please remove the unnecessary text above the search bar and center the buttons.
NOW:
![Selection_787](https://user-images.githubusercontent.com/61964176/104164239-ec373280-53f7-11eb-804b-d17f8e87f767.png)
!

[2021-01-11 10:21] abaranowska1 opened #1571 "Make the "First Name" and "Last Name" fields required"
Description:
We can add a red box on the first name and last name as well. That is required information and users should always fill it in.
Related task: #1430
![image](https://user-images.githubusercontent.com/61964176/104168707-c06b7b00-53fe-11eb-9b56-c879b1ce33ea.png)

Acceptance Criteria:
* Please make the "First Name" and "Last Name" fields

Dev Signoffs (remove items if not applicable to thi

[2021-01-11 11:06] jkondrat commented on #1411
@meenupant there's no way to control how the browser opens new links - we can either open it in the current tab or open a new tab and switch to it

[2021-01-11 11:15] jkondrat commented on #1412
@kdondziak it seems that the search bar was broken in #1529 : the exception is:
[code]

[2021-01-11 11:17] jkondrat commented on #1412
@kdondziak It turned out to be a one liner, I will fix it as a part of this issue

[2021-01-11 12:01] abaranowska1 commented on #1536
**Tested**
- check box with the text "Open 24/7" was added to the current hours in locations
- if the user clicks this, there is no need to need to show the time and day hour fill in
![image](https://user-images.githubusercontent.com/61964176/104172686-eeec5
![image](https://user-images.githubusercontent.com/61964176/104172939-54404580-5405-11eb-9f90-e7406c22b411.png)
480-5404-11eb-8d0d-48ca8ae0fa

[2021-01-11 12:16] abaranowska1 commented on #1525
**Tested with success**
I cannot reproduce this bug anymore, everytime when I unclaim the record, the organization disappeared.
![Peek 2021-01-11 13-13](https://user-images.githubusercontent.com/61964176/104181538-4263a000-540f-11eb-91f8-69459ca82501.gif)

[2021-01-11 12:41] abaranowska1 commented on #1529
@kdondziak please fix the search bar position when there is no/ one record searched.
![Selection_805](https://user-images.githubusercontent.com/61964176/104182979-8fe10c80-5411-11eb-82bb-d2744117d2b9.png)
![Selection_804](https://user-images.githubusercontent.com/61964176/104182982-91123980-5411-11eb-8816-0045e7b8d83b.png)
![Selection_803](https://user-images.githubusercontent.com/61964176/1041829

[2021-01-11 13:12] abaranowska1 commented on #1528
**Tested**
@kdondziak
1. Please make sure that the back button is in the one line with the title and in my opinion it should be moved a little bit to the right
![image](https://user-images.githubusercontent.com/61964176/104185910-ec462b00-5415-11eb-9e4f-df9f1e030ff8.png)
2. UI issue with displaying a progress bar on the services page
![image](https://user-images.githubusercontent.com/61964176/1041

[2021-01-11 13:43] abaranowska1 commented on #1442
**Tested**
@kdondziak
1. I think we should use the same phone number format/validation as in beneficiary/referral/registration pages.
![Selection_816](https://user-images.githubusercontent.com/61964176/104189153-93c55c80-541a-11eb-9653-69abacaffade.png)
![image](https://user-images.githubusercontent.com/61964176/104189274-be171a00-541a-11eb-81c1-930ab5e92afd.png)
![image](https://user-images.githu

[2021-01-11 13:55] kdondziak commented on #1321
@EnriqueCorado If "Do you offer only online Services" is toggled (yes), should the user be able to add another location?

[2021-01-11 15:22] EnriqueCorado commented on #1321
@kdondziak no, theres the toggle button to state that the service is completely online and there's a check box after the location if the org also offers an online service

[2021-01-11 15:54] EnriqueCorado commented on #1525
@abaranowska1 can you check my account for this issue. My account still isn't able to unclaim records
username - enriquecorado
ps: Benetech!

[2021-01-11 16:01] meenupant commented on #1411
@jkondrat Ok. Please keep the current behavior, open a link in a new tab and switch to it. Thanks

[2021-01-11 16:04] jkondrat commented on #1412
@abaranowska1 I'm going to keep the current button layout as it's consistent with the desktop view

[2021-01-11 16:47] johnhbenetech commented on #382
@kdondziak @jkondrat I may be missing something, but is it possible there is something messed up here with prod vs. dev spring profiles and .env?

Basically here's what im experiencing:
* put in .env "REGISTRATION_SENDER_ADDRESS=servicenetaccounts@benetech.org'
* set spring profile to prod,swagger

Result:
* Password reset emails do NOT send and no obvious logs are produced - no activity logged in

[2021-01-11 18:36] abaranowska1 commented on #1525
@EnriqueCorado Actually there is a problem with Organization Lawyers' Committee for Civil Rights (LCCR), @kdondziak could you please check this edge case?
Organization: Lawyers' Committee for Civil Rights (LCCR)
![Selection_827](https://user-images.githubusercontent.com/61964176/104223626-2af2da00-5444-11eb-8b4d-95e5f176baee.png)
![Selection_826](https://user-images.githubusercontent.com/61964176/

[2021-01-11 18:39] EnriqueCorado commented on #1525
@abaranowska1 @kdondziak there is also an issue with the second record I owned
Mayor's Office of Housing & Community Development (MOHCD)

[2021-01-11 18:50] abaranowska1 commented on #1411
I checked the Organization which threw the error message and now I cannot reproduce this issue anymore, I tried also with another links and it all work for me.
![Peek 2021-01-11 19-47](https://user-images.githubusercontent.com/61964176/104224923-ed8f4c00-5445-11eb-8fe9-27cf5b191a11.gif)

[2021-01-11 21:37] EnriqueCorado opened #1573 "Facebook Pixel"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

https://developers.facebook.com/docs/facebook-pixel/

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [

[2021-01-11 22:34] EnriqueCorado opened #1574 "Cookie Policy Pop Up"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a user, I would like to know if cookies are being used when I am using the Service Net page and be able to decline

Description:

Add a pop up to the bottom of the public page and the landing page to sign in to the SP page
- Pop up with the following context "We use cook

[2021-01-11 22:35] EnriqueCorado opened #1575 "Logged In User Cookie Policy"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-11 22:39] EnriqueCorado opened #1576 "Cookie Policy Page"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a user, I would like to go to the Cookie Policy Page in order to read the guidelines

Description:

Add "Cookie Policy" to the bottom next to About us on desktop
- same font size as About is and add a vertical line between them

Add the Cookie Policy to the hamburger men

[2021-01-12 08:32] abaranowska1 opened #1577 "The "Required Documents" are displayed even if the field is empty"
**Bug description**
I found some Organizations that display the "Required Documents" even if this field is empty. According to #1407 this field shouldn't be displayed.

For example:
- Lawyers' Committee for Civil Rights (LCCR)
- AlaProv1 test4
- covid-19 test

![image](https://user-images.githubusercontent.com/61964176/104288660-64fdc380-54b8-11eb-89cf-1f4ca05df782.png)

**Expected behavior**
If "

[2021-01-12 08:50] abaranowska1 commented on #1535
**Tested with success**
All look fine. The new field "COVID 19 Protocols" was added to the Create, Single, Edit View Page. New field is not displayed to non-record owners if it's blank.
![Selection_832](https://user-images.githubusercontent.com/61964176/104291109-6e3c5f80-54bb-11eb-8a4b-3388ae03eec8.png)
![Selection_830](https://user-images.githubusercontent.com/61964176/104291127-709eb980-54bb-11

[2021-01-12 09:29] awalkowiak commented on #1525
@abaranowska1, @EnriqueCorado Issue the last two organizations you both mentioned are related to this: https://github.com/benetech/ServiceNet/issues/1523#issuecomment-750018305

cc @kdondziak

[2021-01-12 09:35] awalkowiak commented on #1523
@EnriqueCorado the same is happening for "Lawyers' Comittee for Civil Rights (LCCR)" from #1567.
Let's keep it consistent and if you will have any other issues with uncaliming, please mention the organization name in this issue.

@meenupant any news about the list of similar situations and how we'd like to handle it?

[2021-01-12 09:37] awalkowiak commented on #1567
@EnriqueCorado this is the same issue as mentioned here https://github.com/benetech/ServiceNet/issues/1523#issuecomment-750018305. Let's keep it consistent and the board clean. If you will have other issues with unclaiming please report the organization name in #1523.

[2021-01-12 09:37] #1567 closed

[2021-01-12 09:44] abaranowska1 commented on #1412
**Tested with success**
- SN Public and SP Filter Changes were added to the desktop view and fixed on the mobile view,
- Grid view is the only state, the List view was removed,
- All filters are in the one line on the web view
- All UI issues were fixed and now the whole page looks good
- The last issues from mobile were fixed and the search bar is working now
- Apply and Clear buttons work as exp

[2021-01-12 10:13] abaranowska1 commented on #1399
Thanks @jkondrat, now all record cards have the same width.
![Peek 2021-01-12 11-11](https://user-images.githubusercontent.com/61964176/104300758-2cb1b180-54c7-11eb-964a-a84656ff2ece.gif)

[2021-01-12 10:25] abaranowska1 commented on #382
**Tested**
I can reset the password on dev env without any issue, also the suggestions from the previous comment were added, the blu fame is smaller and after reset password, user goes to the home login page. @kdondziak please check the @johnhbenetech issue from the comment above.
![Peek 2021-01-12 10-47](https://user-images.githubusercontent.com/61964176/104301936-823a8e00-54c8-11eb-96f0-fd97daa5

[2021-01-12 10:29] abaranowska1 commented on #1536
**Tested with success**
- The last issue with the remaining state was fixed. Now during creating a new Organization we always see the default view with opening hours.
![Peek 2021-01-12 11-27](https://user-images.githubusercontent.com/61964176/104302724-6f748900-54c9-11eb-8b92-c92e7fc48373.gif)
- check box with the text "Open 24/7" was added to the current hours in locations
- if the user clicks th

[2021-01-12 10:37] abaranowska1 commented on #1476
**Tested with success**
The popup message was replaced by the communicate "Enter the email address you used to register" on the blue rectangle
![Peek 2021-01-12 11-36](https://user-images.githubusercontent.com/61964176/104303495-70f28100-54ca-11eb-82b6-dea5cc7d6995.gif)

[2021-01-12 12:03] abaranowska1 commented on #1449
**Tested with success**
- "Fees" field was added under "Required Documents" under service details
- It is free text, non required
- This field is not displayed to non-record owners if its blank ( Single Record View)
- Added to web and mobile
![image](https://user-images.githubusercontent.com/61964176/104311585-b0729a80-54d5-11eb-8a81-5102fe25d309.png)
![image](https://user-images.githubusercontent

[2021-01-12 12:31] kdondziak commented on #1525
closing this since mentioned bugs will be solved in #1523

[2021-01-12 13:21] kdondziak commented on #382
@johnhbenetech Is it possible that you have tried to reset your password for the deactivated user because I can see in the code that this is forbidden? The second idea is that maybe you forgot to rebuild the auth service or the auth service didn't build properly.

[2021-01-12 15:42] EnriqueCorado opened #1578 "Set Up events in JS for Google Analytics"
User Story (encompasses persona, purpose, value):

As a benetech employee and admin I want to have a reliable way to see which features users are using in the SP and public view. This way, I will be able to see if any features are not used or which ones need improvement.

Description:

Add JS code to every event action (user clicks row c) in order to track efficiently what the user clicks and if i

[2021-01-12 16:05] EnriqueCorado commented on #1535
@abaranowska1 "COVID-19 Protocols"

[2021-01-12 16:07] meenupant commented on #1523
@awalkowiak how to handle the edge case situations have been explained in the SN Glossary spreadsheet

[2021-01-12 16:17] EnriqueCorado commented on #1523
related task #1544 to edge case

[2021-01-12 16:55] kdondziak opened #1579 "Improve phone number creation"
Currently, on record create, edit, view (provider) phone is displayed as the first record in the relation.  Use a single field in its dto and handle mapping on the backend. As it is now, it can be problematic when records from the old view with more than 1 phone number are loaded to the provider view.

Acceptance criteria (includes edge cases):
* In the dto phone number is represented as a single

[2021-01-12 16:57] EnriqueCorado opened #1580 "Linking Site Search on Google Analytics"
User Story (encompasses persona, purpose, value):

As a benetech employee, I want to know to what extent do the users take advantage of the search functionality, which search terms they entered, and how effectively the search results created deeper engagement with your site.

Description:
Site search google documentation: https://support.google.com/analytics/answer/1012264?hl=en
- goal: track all

[2021-01-12 16:57] EnriqueCorado opened #1581 "Unclaimed referred/check in history"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-12 19:13] EnriqueCorado opened #1582 "WellSky To Do"
We are making progress engaging with WellSky. They are the software provider (based in Shreveport, LA) for the 211 service in Kansas City and other parts of the country.

While we work with them to ingest work out the ingestion of 211 data using their API, here is what is required from a front-end perspective:

- [x] A portal similar to what we currently provide the Bay Area 211 services - Eden I&

[2021-01-13 12:48] abaranowska1 commented on #1535
**Tested with success**
![image](https://user-images.githubusercontent.com/61964176/104454323-f72fc580-55a5-11eb-969c-5bb5cd95446f.png)

[2021-01-13 13:21] abaranowska1 opened #1583 "Internet Tab Resizing - Claim modal UI issue"
**Bug description**
When starting with a smaller internet tab size and enlarging it we can see the UI issues with displaying cards and Claim button on the Claim modal.

**Actual result**
![Selection_872](https://user-images.githubusercontent.com/61964176/104457607-8fc84480-55aa-11eb-8ebe-9b46d60e1a3e.png)
![Selection_871](https://user-images.githubusercontent.com/61964176/104457614-922a9e80-55aa-1

[2021-01-13 13:39] abaranowska1 commented on #1529
**Tested with success**
The search bar position was fixed.
![Selection_872](https://user-images.githubusercontent.com/61964176/104458893-40831380-55ac-11eb-871a-d5df4f4599c4.png)
![Selection_871](https://user-images.githubusercontent.com/61964176/104458897-42e56d80-55ac-11eb-87b0-1fc3322354d2.png)
![Selection_868](https://user-images.githubusercontent.com/61964176/104458903-44af3100-55ac-11eb-869f

[2021-01-13 15:01] abaranowska1 commented on #1442
**Tested with success**
Confirmed that the phone number format is consistent to +1 NXX-NXX-XXXX N=digits 2–9, X=digits 0–9
![Peek 2021-01-13 15-48](https://user-images.githubusercontent.com/61964176/104468824-32d38b00-55b8-11eb-9812-ed9283f61e0c.gif)

[2021-01-13 17:57] #1582 closed

[2021-01-13 18:14] awalkowiak commented on #1544
@EnriqueCorado What do you understand by "new table with this information to keep track of"? Does it mimic the current Referral model? What should I keep as referred to the organization in that case? I can't set there the claimed record id that is being unclaimed (I could use the name of the organization).

Perhaps the easiest solution here would be to temporary replace the refer to organization i

[2021-01-13 19:05] EnriqueCorado commented on #1544
@awalkowiak let's go with your approach thank you for giving this some thought

[2021-01-13 19:17] EnriqueCorado opened #1584 "Referral Agency View Landing Page Changes (Desktop)"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a user I when I first log in I want to know clearly what the back button is for since I just logged in. When I sign in the back button should be "Public View" as that is where I land

Description:

When the user logs in remove the back button
- add "Public View" menu opt

[2021-01-13 19:17] EnriqueCorado opened #1585 "Referral Agency View Landing Page Changes (Mobile)"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-13 19:17] EnriqueCorado opened #1586 "Referral Agency View Landing Page Changes (mobile)"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-13 19:18] EnriqueCorado opened #1587 "As a [persona] i want to be able to [purpose] so that I can [value]"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-13 19:19] #1585 closed

[2021-01-13 20:49] meenupant commented on #1412
@jkondrat @abaranowska1 For the Location filter fields (City, County, Zip Code) can you please include the "X" on each field to clear the choices just like you do it for Org Name and Service Type. Currently, the user has to click the "Clear" button to reset the fields to blank. This clears up all the fields, if someone wants to clear just the location fields but keep the Org Name and Service Type

[2021-01-13 21:00] EnriqueCorado opened #1588 "Referral Agency View: New Record Highlight Green"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-13 21:04] meenupant commented on #1399
@jkondrat @abaranowska1 I searched for "American" and on clicked "Apply", it displayed the "American Civil..." record, and when I clicked this record I can see the details of this Organization. And when I click "Back to All Records" button on top left, I see only this "American Civil..." card/record and not the other records. The search field where I had put "American" is also blank. The only way

[2021-01-13 21:06] meenupant commented on #1412
@jkondrat @abaranowska1 I searched for "American" and on clicked "Apply", it displayed the "American Civil..." record, and when I clicked this record I can see the details of this Organization. And when I click "Back to All Records" button on top left, I see only this "American Civil..." card/record and not the other records. The search field where I had put "American" is also blank. The only way

[2021-01-13 22:00] EnriqueCorado opened #1589 "Referral Agency View: Update filter look"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-13 22:50] EnriqueCorado opened #1590 "As a [persona] i want to be able to [purpose] so that I can [value]"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:
- remove
<img width="166" alt="Screenshot 2021-01-13 144728" src="https://user-images.githubusercontent.com/65787629/104519460-4d086b80-55ae-11eb-8259-68d7d2816a52.png">
- always show all fields

Scope (includes UI mockups, user flow, and out of scope):

Curren

[2021-01-13 23:20] EnriqueCorado opened #1591 "Referral Agency View: Red box around non matching fields"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a Referral Agency going through records, I want to easily see which fields do not match

Description:

- Update the current blue border box around the mismatch fields to a red border
- the only fields that will be matched and highlighted red if the fields don't match are

[2021-01-13 23:41] EnriqueCorado opened #1592 "Mobile View of filters"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

For mobile view, make filters a modal pop up similar to below
<img width="189" alt="Screenshot 2021-01-13 154329" src="https://user-images.githubusercontent.com/65787629/104525947-2817f680-55b6-11eb-9b1d-d50fbb1b0339.png">

Scope (includes UI mockups, user flo

[2021-01-14 09:28] abaranowska1 commented on #1530
**Tested with success**
- When we clicked Deactivate Record button on the claimed organization we can see the updated pop-up message.
![Selection_873](https://user-images.githubusercontent.com/61964176/104570396-256adf00-5652-11eb-80ea-e8d6be1755dd.png)
- It is still possible to deactivate record and activate ( claimed and nonclaimed )
- For nonclaimed records, the pop-up message looks the same as

[2021-01-14 13:51] abaranowska1 commented on #1412
@meenupant Please create new tasks for these two cases that you mentioned above, thanks.

[2021-01-14 16:01] meenupant commented on #1412
@abaranowska1 Sure @EnriqueCorado please note. Thanks

[2021-01-14 16:04] EnriqueCorado opened #1593 "As a [persona] i want to be able to [purpose] so that I can [value]"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

I searched for "American" and on clicked "Apply", it displayed the "American Civil..." record, and when I clicked this record I can see the details of this Organization. And when I click "Back to All Records" button on top left, I see only this "American Civil

[2021-01-14 16:04] EnriqueCorado opened #1594 "sdgf"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

I searched for "American" and on clicked "Apply", it displayed the "American Civil..." record, and when I clicked this record I can see the details of this Organization. And when I click "Back to All Records" button on top left, I see only this "American Civil

[2021-01-14 16:04] EnriqueCorado opened #1595 "As a [persona] i want to be able to [purpose] so that I can [value]"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

For the Location filter fields (City, County, Zip Code) can you please include the "X" on each field to clear the choices just like you do it for Org Name and Service Type. Currently, the user has to click the "Clear" button to reset the fields to blank. This

[2021-01-14 16:05] #1593 closed

[2021-01-14 16:34] #1594 closed

[2021-01-14 16:38] EnriqueCorado opened #1596 "Service Provider View: Keep search text on search bar until cleared"
**Bug description**

I searched for "American" and on clicked "Apply", it displayed the "American Civil..." record, and when I clicked this record I can see the details of this Organization. And when I click "Back to All Records" button on top left, I see only this "American Civil..." card/record and not the other records. The search field where I had put "American" is also blank. The only way I c

[2021-01-14 17:22] EnriqueCorado opened #1597 "As a [persona] i want to be able to [purpose] so that I can [value]"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

<img width="887" alt="Screenshot 2021-01-14 091030" src="https://user-images.githubusercontent.com/65787629/104624436-6958e680-5648-11eb-9087-291965e14035.png">

Acceptance criteria (includes edge case

[2021-01-14 17:58] EnriqueCorado opened #1598 "Referral Agency: Show all records side by side button"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:
- remove the section on the panel in the record view in the referral agency view that says "All matches"
- add a button that says "Show all matches side by side"
- hex color of button #E78859
- on the compare panel, remove the scroll bar since we always want to

[2021-01-14 17:58] EnriqueCorado opened #1599 "Referral"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:
- remove the section on the panel in the record view in the referral agency view that says "All matches"
- add a button that says "Show all matches side by side"
- hex color of button #E78859
- on the compare panel, remove the scroll bar since we always want to

[2021-01-14 18:08] meenupant commented on #1449
@abaranowska1 Is the Fee field added in the database as well? Or shall we create a separate task for this?

[2021-01-14 18:10] EnriqueCorado opened #1600 "As a [persona] i want to be able to [purpose] so that I can [value]"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a user when I go to record view, I want to easily distinguish record titles from the rest of the text

Description:
- in the record view make the compare heading name black
- update every name of matching organizations to be black and bold to make it clearer for user to

[2021-01-14 18:10] EnriqueCorado opened #1601 "Referral Agency:"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a user when I go to record view, I want to easily distinguish record titles from the rest of the text

Description:
- in the record view make the compare heading name black
- update every name of matching organizations to be black and bold to make it clearer for user to

[2021-01-14 18:14] EnriqueCorado opened #1602 "Referral Agency: Ability to Pick fields and update "Your record" from matching record fields"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-14 18:51] #1600 closed

[2021-01-14 23:10] EnriqueCorado opened #1604 "LinkforCare Import"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-14 23:12] EnriqueCorado commented on #1604
@meenupant we can use this task to outline changes (e.g. random semicolons)

[2021-01-14 23:52] EnriqueCorado opened #1605 "LinkforCare add rule for covid field to remove semi colon"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-15 00:33] meenupant opened #1606 "LinkForCare Column Name Mapping to Service Description"
**Bug description**

The rule mapping the following column names to Service Description on Service Net (If TRUE, write column name after removing _ and C at the end, AND add "available") does not work

IN_CENTER_HEMODIALYSIS__C,
IN_CENTER_NOCTURNAL_DIALYSIS__C,
IN_HOME_NON_MEDICAL_SERVICES__C,
IN_UNIT_WASHER_AND_DRYER__C,

MUST_SCHEDULE_24_HRS_OR_MORE_IN_ADVANCE__C
MUST_SCHEDULE_48_HRS_OR_MORE_IN_

[2021-01-15 00:46] #1605 closed

[2021-01-15 01:07] meenupant opened #1607 "LinkForCare Column Name mapping with Service Description (when not blank)"
**Bug description**

The following column names
SATOP_CLASSES__C
SERVICES_PROVIDED_INHOME_NONMED_FORMULA__C

are mapped to Service Description on Service Net with the rule (When NOT blank, Add "Services Provided" in front of the column contents), however some records for these columns not blank and have FALSE, we do not want to write "Services Provided: FALSE". Please change the rule to

"**When N

[2021-01-15 01:24] meenupant opened #1608 "LinkForCare Service Available 24/7"
**Bug description**

For the column
SERVICE_AVAILABLE_24_7__C
The rule is: Check 24/7 if "YES"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the record "Metropolitan Organization to Counter Sexual Assault (MOCSA)"
2. Their SERVICE_AVAILABLE_24_7__C says "YES"
3. However, it is not mapped to Service Net and 24 / 7 Opening checkbox is not checked in Opening Hours (task #1536)

Dev Sign

[2021-01-15 08:53] abaranowska1 commented on #1449
@meenupant Yes, the Fee field is in the database as well.

[2021-01-15 10:27] jkondrat opened #1609 "Uploading original LinkForCare spreadsheet fails because of MongoDB storage limit"
Uploading the full mapping file (2400 records) fails - we are trying to save a JSON representation of the data and it exceeds MongoDB 16MB storage limit.

[2021-01-15 10:35] jkondrat opened #1610 "When claiming a record, include the new fields used by LinkForCare import"
Make sure that all the fields are copied when claiming a record

[2021-01-15 10:38] jkondrat opened #1611 "Include the last update field in LinkForCare import"
The last update shows the date of the import on SP view. It should show the value from the imported spreadsheet

[2021-01-15 12:16] abaranowska1 opened #1613 "Records disappeared from silo public view after update record by upload data."
**Bug description**
We added some records to the LinkForCare Silo https://benetechservicenet.org/#/public/LinkForCare. There was "Seasons Day Services Program, LLC" Organization and I updated this record by upload changed xlsx file to ServiceNet Old view. After succeded data upload when I want to check the update, the record disappeared from Silo. I can also replicate this issue for another provid

[2021-01-15 14:31] abaranowska1 commented on #1606
It seems that now after fix the column names appear in the service description and add "available" if the values are TRUE.
![Selection_893](https://user-images.githubusercontent.com/61964176/104739198-bc18c800-5746-11eb-965f-8779538c3c75.png)

[2021-01-15 15:17] jkondrat commented on #1610
@abaranowska1 It seems that all the (existing) fields are already included, could you please confirm?

@kdondziak when adding remote service checkbox (#1321) please remember to verify that it works with claiming

[2021-01-15 15:20] jkondrat commented on #1537
@kdondziak  please import the online/remote service option as a part of #1321

[2021-01-15 15:26] jkondrat opened #1619 "Refactor LinkForCareDataMapper"
Once a final version of the importer is established, refactor the mapper and data model - split org, service and location sections into separate models and inherit, use constants/enums where possible, remove unnecessary code from XLSX2CSV module.

[2021-01-15 16:11] abaranowska1 commented on #1613
Confirmed I can update record via upload data and nothing disappear.
For example, I update the Organization Name.
![Selection_898](https://user-images.githubusercontent.com/61964176/104750664-b0cc9900-5754-11eb-8fce-a7e4147459e5.png)

[2021-01-15 16:16] abaranowska1 commented on #1608
@jkondrat If we change only SERVICE_AVAILABLE_24_7__C for YES the checkbox is not updated.
`2021-01-15 16:13:11.157  INFO 1 --- [ XNIO-1 task-15] o.b.s.s.i.OrganizationImportServiceImpl  : Organization Northland Adult Day Center TEST1 didn't change, skipping`

[2021-01-15 16:35] abaranowska1 commented on #1608
@jkondrat Thanks for a quick fix. Now after change SERVICE_AVAILABLE_24_7__C for YES the checkbox is displayed.
![Selection_898](https://user-images.githubusercontent.com/61964176/104753262-0787a200-5758-11eb-8911-d8845228084a.png)

[2021-01-15 16:49] meenupant commented on #1606
@abaranowska1 @jkondrat Could you please remove the word "available". It is getting repeated too often. Thanks

[2021-01-15 19:48] johnhbenetech opened #1623 "Investigate memory issues with LinkForCare import job"
Steps to reproduce:
* Attempted to upload entire dataset (2400 records) - seems to have added ~300 ish record then servicenet container crashed with jvm out of memory

* Attempted to split the whole file into 200 records chunks, waiting for log 'job completed' after first chunk. Attempted to upload second chunk and also hit JVM out of memory

Not sure if this is expected (you indicated it might be

[2021-01-15 22:57] meenupant opened #1624 "LinkForCare Service Description Mapping (adding FALSE to the rule)"
**Bug description**

The current rule mapping the following column names to Service Description on Service Net (When NOT Blank, include the column description and Add "available" at the end). Please change the rule for these columns to
**When NOT Blank, include the column description, and if FALSE do not write anything**. Please note that I have removed the requirement to add "available" and when

[2021-01-15 23:04] meenupant opened #1625 "LinkForCare Service Type Mapping (adding FALSE to the previous rule)"
**Bug description**

**NEW RULE: Map the following Link For Care columns to Service Net Service Type field (If TRUE use column name as Service Type after removing_ and C at the end, AND if FALSE do not write anything)**

OTHER_TYPES_OF_CARE_PROVIDED__C
RENAL_DIALYSIS__C
RESIDENTIAL_HEALTH_CARE__C
RESPIRATORY_THERAPISTS__C
RESPITE_CARE__C
SKILLED_NURSING_AND_THERAPY_SERVICES__C
TRANSPORTATION__C
VE

[2021-01-15 23:09] meenupant opened #1626 "LinkForCare NEW RULE for Service Description (Adding FALSE)"
**Bug description**

NEW RULE to Map the following Link For Care Columns to the Service Net Service Description Field
**"If TRUE use column name and remove _ and C at the end, AND if FALSE do not write anything"**

MUST_SCHEDULE_24_HRS_OR_MORE_IN_ADVANCE__C
MUST_SCHEDULE_48_HRS_OR_MORE_IN_ADVANCE__C

Dev Signoffs
- [ ] Unit test added for the core business features at the minimum
- [ ] Code review

[2021-01-15 23:14] meenupant opened #1627 "LinkForCare Eligibility Criteria Mapping new rule (Adding FALSE)"
**Bug description**

New Rule to MAP the following Link For Care Columns to the Service Net **Eligibility Criteria** field:
**"If TRUE use column name and remove _ and C at the end, AND if FALSE do not write anything"**

MUST_BE_AMBULATORY__C
MUST_MEET_AGE_GUIDELINES__C
MUST_MEET_DISABILITY_GUIDELINES__C
MUST_MEET_INCOME_GUIDELINES__C
MUST_BE_A_VETERAN__C

Dev Signoffs
- [ ] Unit test added for th

[2021-01-18 08:12] abaranowska1 commented on #1606
@jkondrat Please removed the word "available" at the end. "If TRUE, write column name after removing _ and C at the end, if FALSE do not write anything"

[2021-01-18 09:46] abaranowska1 commented on #1610
@jkondrat it seems that not every fields are included after claim.
PRIMARY_CONTACT_PHONE__C, "Which Locations Offer This Service?" (location in the service is not selected)
![image](https://user-images.githubusercontent.com/61964176/104898575-19e12600-597a-11eb-8752-4cf86cc5bb59.png)
![image](https://user-images.githubusercontent.com/61964176/104898609-25345180-597a-11eb-86fb-f5f72b9c8132.png)

[2021-01-18 09:49] abaranowska1 commented on #1611
The LASTMODIFIEDDATE is included during import data from the spreadsheet. On SP view we show the LASTMODIFIEDDATE
![image](https://user-images.githubusercontent.com/61964176/104898956-8a884280-597a-11eb-9828-4bc566ec14a2.png)
![image](https://user-images.githubusercontent.com/61964176/104898972-8fe58d00-597a-11eb-956f-f5014f6b3e2a.png)

[2021-01-18 10:10] abaranowska1 commented on #1606
Now the rule is changed to "If TRUE, write column name after removing _ and C at the end, if FALSE do not write anything"
![image](https://user-images.githubusercontent.com/61964176/104901509-c2dd5000-597d-11eb-8cba-0ee43b89fbdb.png)

[2021-01-18 10:25] abaranowska1 commented on #1607
**Tested with success**

The following column names:

- SATOP_CLASSES__C
- SERVICES_PROVIDED_INHOME_NONMED_FORMULA__C

are mapped with the following rule: "When NOT blank and when the column content does NOT say "FALSE", Add "Services Provided" in front of the column contents"
![image](https://user-images.githubusercontent.com/61964176/104902973-b2c67000-597f-11eb-8c61-f504b77e6077.png)

[2021-01-18 10:57] abaranowska1 commented on #1465
**Tested**
All looks fine, following by acc:

- After the beneficiary gets a referral, and the user clicks send, the following pop up is displayed
- If the user provided a phone number, then show that phone number
- If the user provided a service net ID, then display that service net id

@awalkowiak One small issue: On mobile 360x640 in Referral Pop up the text shouldn't be broken.

![image](https

[2021-01-18 11:34] kdondziak commented on #1321
@EnriqueCorado Should this section be on the 'headquarter' form?
![image](https://user-images.githubusercontent.com/52406204/104910346-7992fd80-5989-11eb-9c83-2cbf959d0721.png)

[2021-01-18 12:29] abaranowska1 commented on #1528
**Tested with success**
Confirmed that all four points are fixed.
- UI issues are not displayed,
- 24/7 checkbox is available if checked,
- iOS UI claim modal issues are resolved.
![Selection_919](https://user-images.githubusercontent.com/61964176/104915482-0097a400-5991-11eb-88df-843629dd4619.png)
![Selection_920](https://user-images.githubusercontent.com/61964176/104915489-02616780-5991-11eb-8b3

[2021-01-18 14:50] kdondziak commented on #1321
@EnriqueCorado Can you also tell me where should "Do you offer only online Services" checkbox be placed on the edit page?

[2021-01-18 16:18] EnriqueCorado commented on #1321
@kdondziak please add the section to the 'headquarter' form
-
<img width="900" alt="Screenshot 2021-01-18 081753" src="https://user-images.githubusercontent.com/65787629/104939757-acc39580-5965-11eb-83e0-d60ca8f29fd9.png">

[2021-01-18 17:02] meenupant commented on #1606
@jkondrat @abaranowska1 The Assisted Transportation record still shows Laundry Services, Licensed Practical Nurses, Licensed Professional Counselor, Licensed Staff on Duty 24/7 although its FALSE.

[2021-01-18 18:49] jkondrat opened #1631 "Matching takes extremely long"
Investigate issues with matching taking extremely long - up to 30 (!) minutes per organization

dev note: for some reason finding/removing location matches takes much longer than it used to after moving away from TransactionSynchronizationManager.afterCommit

[2021-01-19 09:01] abaranowska1 commented on #1465
**Tested with success**
Thanks for the changes, now it looks fine.
![image](https://user-images.githubusercontent.com/61964176/105011353-25e1ec00-5a3d-11eb-9a7e-944b0292c677.png)

- After the beneficiary gets a referral, and the user clicks send, the following pop up is displayed
- If the user provided a phone number, then show that phone number
- If the user provided a service net ID, then displa

[2021-01-19 10:40] abaranowska1 commented on #1606
@meenupant The rule mapping for the following column names to Service Description on Service Net was (When NOT Blank, Add Column name remove _ and C at the end + "available") I guess that you want to change it for "When NOT Blank, Add Column name remove _ and C at the end, if FALSE do not write anything"

LAUNDRY_SERVICES__C
LICENSED_PRACTICAL_NURSES__C
LICENSED_PROFESSIONAL_COUNSELOR__C
LICENSED_

[2021-01-19 11:22] jkondrat commented on #1627
Closing as we're already doing nothing for FALSE (and any value other than TRUE)

[2021-01-19 11:22] #1627 closed

[2021-01-19 11:22] jkondrat commented on #1626
Closing as we're already doing nothing for FALSE (and any value other than TRUE)

[2021-01-19 11:22] #1626 closed

[2021-01-19 11:22] jkondrat commented on #1625
Closing as we're already doing nothing for FALSE (and any value other than TRUE)

[2021-01-19 11:22] #1625 closed

[2021-01-19 12:10] abaranowska1 commented on #1624
The rule for these columns is  **"When NOT Blank, include the column description, and if FALSE do not write anything."**
LAUNDRY_SERVICES__C
LENGTH_OF_CARE_SERVICE_FORMULA__C
LICENSED_PRACTICAL_NURSES__C
LICENSED_PROFESSIONAL_COUNSELOR__C
LICENSED_STAFF_ON_DUTY_24_7__C
LIGHT_HOUSEKEEPING__C
LIVE_IN_CARE__C
MEALS_SERVED_FORMULA__C
![image](https://user-images.githubusercontent.com/61964176/10503283

[2021-01-19 12:21] abaranowska1 commented on #1623
Looking to the Data Import Report it seems that now we are able to upload for example 2400 records.
![image](https://user-images.githubusercontent.com/61964176/105034082-4ddf4880-5a59-11eb-885f-16e09dbfd667.png)

[2021-01-19 12:39] abaranowska1 commented on #1537
**Tested**
The following tasks are done and the import via job UI is possible. The whole mapping rules were added to the SN and now we can upload data via UI for new LinkForCare provider. For small bugs found during testing this ticket, we were created new tasks.
- COVID 19 Protocols (task #1535)
- Service Fee (task #1449)
- Phone Number (task #1442)
- 24 / 7 Opening checkbox in Opening Hours (tas

[2021-01-19 14:07] kdondziak commented on #1321
@EnriqueCorado Should the location remote field be visible on the single record page? If yes can you give some mockup?
![image](https://user-images.githubusercontent.com/52406204/105045266-06ac8400-5a68-11eb-9626-b52ef4d5a39a.png)

[2021-01-19 15:46] EnriqueCorado commented on #1321
@kdondziak yes!

- always show if services offered online first, then below the 24/7 checkbox
- if the service is 24/7 and not offered online then keep the check box at the top right as you have
thanks!

<img width="900" alt="Screenshot 2021-01-19 074202" src="https://user-images.githubusercontent.com/65787629/105057381-05f4fd00-5a2a-11eb-98a3-392b5ad03bdd.png">

<img width="263" alt="Screenshot 2

[2021-01-19 16:11] EnriqueCorado opened #1638 "LinkforCare: Comma showing instead of address"
**Bug description**

In public dev env the below screenshot shows some records with no address but a comma

records which show this
- DCF Fraud Hotline Kansas
- DCF Fraud Hotline Missouri

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Actual result**

**Expected behavior**

**Screenshots/gifs**
<img width="960" alt="Screenshot 2021-01-19 081002" src="https://user-images.githubuserc

[2021-01-19 16:17] EnriqueCorado commented on #1638
I noticed a good amount of those records with no address are hotlines. Instead of showing locations for those "hotlines" with a comma as an address could we hide the location address fields?

[2021-01-19 17:08] meenupant commented on #1606
@abaranowska1 can you please check why Services Provided: 0 in "Assisted Transportation" record. This should not be written. Where is the 0 coming from?Just FYI, Services Provided is mapped to only two columns
SATOP_CLASSES__C
SERVICES_PROVIDED_INHOME_NONMED_FORMULA__C
and both are blank in this record. Thanks

[2021-01-19 17:33] EnriqueCorado opened #1640 "Max API Calls per *time period tbd*"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-20 14:13] abaranowska1 commented on #1610
**Tested with success**
"Which Locations Offer This Service?"  and "Phone number" fields are copied after claim.
![image](https://user-images.githubusercontent.com/61964176/105186362-ecd77380-5b31-11eb-8550-d38bed377637.png)
Note: I should update the record via import firstly.

[2021-01-20 14:52] abaranowska1 commented on #1606
@meenupant It should work now.

[2021-01-20 16:07] jkondrat opened #1645 "Disable saving json files to MongoDB (LinkForCare)"
Converting the whole json to a file creates a spike in memory usage

[2021-01-20 16:36] meenupant commented on #1606
Thanks @abaranowska1

[2021-01-20 21:24] johnhbenetech opened #1646 "Plan the architecture for the new microservice for data ingestion/imports and conflict detection/matching"
Consider communication - data transfer, database usage between microservices
consider how the queueing of tasks will look like:
-- look into if and how quartz scheduler can handle such situations
-- look into using Redis queue (if quartz scheduler solution is not enough)
-- support scaling of the microservice - it should be easy to scale the number of containers from 1 to 10

[2021-01-20 21:24] johnhbenetech opened #1647 "Look for optimizations in transaction handling in matching process (e.g. transactionSynchronizationManager)"

[2021-01-20 21:25] johnhbenetech opened #1648 "remove saving JSON files to mongodb"
Consider saving only original source files (.xls .csv) in mongodb instead of JSON. This may be a bottleneck - it may be the reason for slowness of server in case of big imports, as it provokes spikes in memory usage

[2021-01-20 21:26] johnhbenetech opened #1649 "Use the approach to LinkforCare imports for other providers as well."
Stream record by record from the temporary JSON file. This saves a lot of memory.

Note: Not all imports can be done this way. Some of the files from providers have complex relationships between rows in .csv

[2021-01-20 21:28] johnhbenetech opened #1650 "Investigate if we can simplify the domain"
there are lots of complex relationships but also lots of trivial ones that can be replaced by a string

[2021-01-21 09:11] abaranowska1 commented on #1638
@EnriqueCorado Now when the Organization has no address we are hiding the location address fields.
![Selection_943](https://user-images.githubusercontent.com/61964176/105326699-51e0a700-5bce-11eb-942e-8eb74ab003e4.png)
![image](https://user-images.githubusercontent.com/61964176/105327075-c61b4a80-5bce-11eb-9de6-fc0f11326d05.png)

[2021-01-21 09:57] awalkowiak commented on #1544
@abaranowska1 I slightly modified the popup labels accordingly to what we agreed at the meeting.
If only check-ins:
`You have checked in {{ checkInsCount }} time(s). Are you sure you want to unclaim this record?`
If only referrals:
`You have {{ referralsCount }} referral(s) connected to this organization. Are you sure you want to unclaim this record?`
If check-ins and referrals:
`You have checked

[2021-01-21 13:27] jkondrat commented on #1645
@johnhbenetech @awalkowiak:
It seems that the memory usage has been greatly reduced - this shows a spike in memory usage after uploading the full LinkForCare spreadsheet:
before
![Screenshot from 2021-01-21 12-19-09](https://user-images.githubusercontent.com/5969801/105357117-a1d26480-5bf4-11eb-93f1-905769c82d28.png)

after
![Screenshot from 2021-01-21 12-47-18](https://user-images.githubuserconte

[2021-01-21 14:29] abaranowska1 commented on #1523
**Tested**
@EnriqueCorado I can unclaim
"Lawyers' Comittee for Civil Rights (LCCR)" ,
"Mayor's Office of Housing & Community Development (MOHCD)" and other previously referred organizations.

[2021-01-21 15:20] abaranowska1 commented on #1544
**Tested with success**
**Verified cases:**
- Pop up changes :
1.  If only check-ins:
`You have checked in {{ checkInsCount }} time(s). Are you sure you want to unclaim this record?`
2. If only referrals:
`You have {{ referralsCount }} referral(s) connected to this organization. Are you sure you want to unclaim this record?`
3. If check-ins and referrals:
`You have checked in {{ checkInsCount }} t

[2021-01-21 15:51] kkaczmarczyk opened #1653 "Migrate PR build from Travis CI to GitHub Actions"
Migrate PR build from Travis CI to GitHub Actions.

Since Travis introduced quite harsh limitations in build credits for the open-source projects we would like to migrate to the Github Actions where we already have most of the CI/CD pipelines

TODO:
- migrate Travis build for PRs to Github Actions on each of the 3 services

[2021-01-21 16:03] johnhbenetech opened #1654 "Check whether caching is working as expected"
we are using Spring Boot's built-in Cache annotation on domain classes; in theory it should reduce the number of database queries. This cache is managed by Hazelcast (a part of jHipster's stack). I wonder how it affects core's memory usage

[2021-01-21 18:41] EnriqueCorado opened #1655 "RP Admin - Referral Providers Notification of a denied update"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a partner organization such as Eden, UWBA, LAAC, health leads, shelter tech I want to know when CBO admins reject an update as they are the main front of the most up to date information and I want to be able to get a notification in order to know if I, Eden for this exam

[2021-01-21 18:50] #1592 closed

[2021-01-21 18:52] #1602 closed

[2021-01-22 09:45] abaranowska1 commented on #1564
**Tested with success**
- After going through all the steps in claiming a record i didn't see another window (the claim a record modal) pop up for a split second, I have a smooth transition into the home page.

[2021-01-22 11:34] kdondziak commented on #1321
@EnriqueCorado Can you add a mockup of how to visualize that "Do you offer only online Services?" is true on the single record view?

[2021-01-22 15:49] EnriqueCorado commented on #1321
@kdondziak
- only show this label in a single record view if either one or all services are offered online

<img width="881" alt="Screenshot 2021-01-22 074848" src="https://user-images.githubusercontent.com/65787629/105512714-4fda1f00-5c86-11eb-8cab-8601b8762607.png">
<img width="174" alt="Screenshot 2021-01-22 074859" src="https://user-images.githubusercontent.com/65787629/105512717-4fda1f00-5c86

[2021-01-22 21:47] EnriqueCorado opened #1657 "Connect SN to Wordpress"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-22 22:13] EnriqueCorado opened #1658 "Referring to Hotlines"
**Bug description**

On issue #1638 it was noticed that hotline records had no address. When trying to refer to a hotline since it has no address the referral get stuck as you cant send the referral since the address field is empty

Solution: referrals to hotlines or records without addresses fro example records that are entirely online or remote don't include the location select dropdown for refe

[2021-01-22 22:41] johnhbenetech opened #1659 "Investigate possible issue with phone number mapping in LinkForCare"
This may be nothing or maybe a result of multiple repeated uploads with different versions of the import job - but i wanted to call it out:

https://benetechservicenet.org/services/servicenet/public-api/provider-organization/a0d62187-f1b3-4555-af4d-5de525b13f4f?siloName=LinkForCare

In the above response, there are multiple phone entities in the response (all with different IDs).

I've also caught

[2021-01-25 18:03] EnriqueCorado opened #1661 "North Carolina: Social Media Links + Icons"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a service provider, I want to be able to have a place where I can add links to my social media and display them on my record with their icons accordingly

Description:

- add three new fields to edit record view and creating new record view under organization details
- t

[2021-01-25 19:29] EnriqueCorado opened #1662 "North Carolina: New Insurance, Checkboxes, and Undocumented fields"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a user, I want to be able to specify which insurance is accepted via check boxes as well as a text entry field to specify even further requirements

As well as have a field where I, a service provider can specify if these services are safe for undocumented individuals

D

[2021-01-25 19:33] #1576 closed

[2021-01-25 20:49] EnriqueCorado opened #1663 "Site Wide Remove hands icon from single record view"
Description:

Remove the hand's icon from all records from every view, public, Service Provider

<img width="959" alt="Screenshot 2021-01-25 124501" src="https://user-images.githubusercontent.com/65787629/105763981-3b5a8880-5f0b-11eb-8de2-97d3f1b693db.png">

Acceptance Criteria:
*

Dev Signoffs (remove items if not applicable to this issue)
- [ ] Unit test added for the core business features at t

[2021-01-25 22:09] johnhbenetech opened #1664 "Requirement Bug: Should claiming a record cross-silo be allowed?"
**Bug description**
Currently the claim a record flow includes ALL records from service net. So for example someone in Bay Area could claim a record from across the country. Should this be the intended interaction? Should it be limited to only those records linked to a silo? If so, what should happen if there are no records linked to the silo (or those that are have already been claimed)?

**To Re

[2021-01-25 22:09] johnhbenetech commented on #1664
@EnriqueCorado what do you think about this?

[2021-01-25 22:30] johnhbenetech opened #1665 "Claim a record search issue"
**Bug description**
I'm noticing inconsistencies with the search functionality in the claim a record dialogue.  Subsequent searches (after the first) don't seem to work unless you close out and reopen the dialogue. Search terms also do not persist if you search, click into a record, then go back to the search (it starts you from the beginning).

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-01-25 22:30] johnhbenetech commented on #1665
@abaranowska1 can you confirm this?

[2021-01-26 11:37] abaranowska1 commented on #1665
@johnhbenetech I cannot reproduce the subsequent search issue, but I confirm that the search terms don't stay after going back from the detail view.
![Peek 2021-01-26 12-05](https://user-images.githubusercontent.com/61964176/105837426-f861e900-5fce-11eb-8cc9-f9ba49044819.gif)
![Peek 2021-01-26 12-03](https://user-images.githubusercontent.com/61964176/105837436-fc8e0680-5fce-11eb-83a3-34c0902d1544.

[2021-01-26 14:09] jkondrat commented on #1580
In order to turn on reporting on GA, turn on Site search Tracking under Site Search Settings and add the 'query' Query parameter
![Screenshot from 2021-01-26 15-03-39](https://user-images.githubusercontent.com/5969801/105855351-47684800-5fe8-11eb-8c6d-93453188dedc.png)

[2021-01-26 14:17] jkondrat commented on #1659
Hi @johnhbenetech : There are multiple phone entities in the response as one belongs to the Organization entity and each LinkForCare Service has the same phone number. Should we remove the phone number from either org or services?

[2021-01-26 14:28] johnhbenetech commented on #1580
@jkondrat tracking is now enabled

[2021-01-26 14:55] jkondrat commented on #1580
@johnhbenetech please let us know once you see data in the behavior -> site search tab (it can take some time)

[2021-01-26 14:59] johnhbenetech commented on #1580
@jkondrat yeah it's not showing up yet, but i was waiting a little. the site search settings are as follows:
![image](https://user-images.githubusercontent.com/12927553/105861590-8086c500-5fb4-11eb-97f2-04ef90543695.png)

I can see the page views being received:
![image](https://user-images.githubusercontent.com/12927553/105861815-bc218f00-5fb4-11eb-9616-27d37ae3e4a4.png)

But the Site Search page

[2021-01-26 15:16] abaranowska1 commented on #1321
Going through the description and all comments and found some things that need to be fixed or I had questions:

1. @kdondziak @EnriqueCorado
I think about this new functionality and I understand that after mark Checkbox "Do you offer only online Services?" we are moved to the first location and we can edit the main company address but in this situation, the second, third location are removed. Shou

[2021-01-26 15:33] abaranowska1 commented on #1524
**Tested with success**
The Beneficiary History page was moved to the header
![image](https://user-images.githubusercontent.com/61964176/105866283-1f7ee180-5ff4-11eb-9b83-347ae882592c.png)
**Verified on:**
- Ubuntu 20.04
- Google Chrome Browser Version 85.0.4183.83

[2021-01-26 16:06] EnriqueCorado commented on #1321
@abaranowska1 @kdondziak
1. yes, bring back the second and third locations. We want the user to be able to add another location for non-online services/services also offered online
2. Goal is to be able to tie a service to its location whether it is offered online or has a location or has a location and also offer online services

[2021-01-26 16:12] johnhbenetech commented on #1659
@jkondrat I dont know that that's what is happening here. That response has multiple phone entities none of which have a tie to serviceID, but rather to orgid. Additionally this record only has one service, so not sure why it would have six phone entities to begin with

[2021-01-27 12:37] abaranowska1 commented on #1665
**Tested with success**
- The search term is retained after navigating back
![Peek 2021-01-27 13-07](https://user-images.githubusercontent.com/61964176/105991209-ce2e2b00-60a3-11eb-8c9b-05cbe379db49.gif)

- I checked also the search functionality on our homepage and public view and I think it should work the same as in the claim modal @johnhbenetech @EnriqueCorado what do you think
![Peek 2021-01-

[2021-01-27 13:12] johnhbenetech commented on #1665
@abaranowska1 #1596 will handle that

[2021-01-27 13:54] jkondrat commented on #1401
I don't think that using a URL shortener is a good idea unless we create one on our own. We would be dependent on an external service for creating the URLs and redirecting. If we want that, I would use Google's one, but I'm not sure if it has a public API or if it has any limits.
What do you think @johnhbenetech @kkaczmarczyk @EnriqueCorado ?

[2021-01-27 13:56] johnhbenetech commented on #1401
@EnriqueCorado do we still want a link? Why would we link to the bay area silo?

[2021-01-27 14:21] jkondrat commented on #1451
@kkaczmarczyk @awalkowiak @kdondziak it seems that this issue has changed since we estimated it - there's admin approval and more emails to send out, perhaps we should re-estimate it/

[2021-01-27 15:28] EnriqueCorado commented on #1401
@jkondrat @johnhbenetech let's not include a link to Service Net

[2021-01-27 15:34] johnhbenetech commented on #1401
@EnriqueCorado please update the task description to match the desired end state

[2021-01-27 15:49] kdondziak commented on #1321
@abaranowska1
Point 1: will be fixed soon.
Point 2: The location that you have seen is an empty template for adding a new location in case there is no location in the edited organization. I have not changed this.
Point 3: Unfortunately I can't reproduce this. We need to observe this to find a way to narrow it.

[2021-01-27 15:56] #1653 closed

[2021-01-27 16:09] EnriqueCorado opened #1667 "Claim a record modal: inconsistent fixed placement of record"
**Bug description**

**To Reproduce**
Steps to reproduce the behavior:
1. Log into a silo where you can claim records
2. Search Weston
3. Click on "Weston Housing Authority" record, the placement of the top of the record is lower than normal
4. go back
5. click on  "The farmer's House - Downtown Weston" for a split second it loads in a lower placement and then corrects itself (need to reproduce th

[2021-01-27 16:20] meenupant commented on #1665
@abaranowska1 I checked on safari Version 13.1.3 (15609.4.1) on Mac the search term is cleared out after returning with back button.

https://user-images.githubusercontent.com/74263963/106020254-6adad380-6078-11eb-828e-04f048d5c8e2.mov

[2021-01-27 16:42] EnriqueCorado opened #1668 "Claim modal: Add cancel button & update "done" to "Done Claiming""
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-27 17:24] jkondrat commented on #1401
@EnriqueCorado should we also shorten addresses with an ellipsis?

[2021-01-27 20:43] EnriqueCorado opened #1671 "Click on Login directs to username typing"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-27 21:09] EnriqueCorado opened #1672 "SP: Search bar move to show the entire text within it (desktop)"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-27 21:49] #1561 closed

[2021-01-27 23:46] #1551 closed

[2021-01-28 00:06] #1552 closed

[2021-01-28 08:07] abaranowska1 commented on #1665
@meenupant
I checked on Mac OS Mojave, Safari 12.1
![Peek 2021-01-28 09-01](https://user-images.githubusercontent.com/61964176/106107940-df307800-6147-11eb-9374-7934992a9fd2.gif)
and also on Mac OS Catalina, Safari 13.1
![Peek 2021-01-28 09-03](https://user-images.githubusercontent.com/61964176/106108003-f53e3880-6147-11eb-8fca-542d4ce7a204.gif)
and I cannot reproduce it, but I used a BrowserStack

[2021-01-28 10:13] jkondrat commented on #1451
@EnriqueCorado @johnhbenetech
* the approval should be done on the 'User management' admin screen, right?
* could you please provide us with the logo used in these emails?

[2021-01-28 10:15] jkondrat commented on #1661
@EnriqueCorado  could you provide us with these icons?

[2021-01-28 10:29] jkondrat commented on #1473
@EnriqueCorado @meenupant  what other permissions should Benetech Admin have compared to the existing 'Super Admin'?

[2021-01-28 10:38] jkondrat commented on #1604
@EnriqueCorado should we center the map on public view only, or would we do that depending on the user's silo too?

[2021-01-28 10:51] jkondrat commented on #1565
dev note: think about how we handle clicking on the top tabs (ex. if a user wants to skip to the last tab)

[2021-01-28 11:05] jkondrat commented on #1538
dev note: instead of scrolling to the previous position, we can simply hide the list view when a record is opened and restore it on back button click

[2021-01-28 11:15] awalkowiak commented on #1538
additional dev note: make sure, that the 'back' button does not 'freeze' the list loading.

[2021-01-28 11:16] kkaczmarczyk commented on #1473
@EnriqueCorado @meenupant would it be a good idea to add the background image which is used in the Service Net to the email content? We could also stylize the email template to have content in a kinda similar manner as we have cards on SP view.

![image](https://user-images.githubusercontent.com/3207119/106131171-a225af00-6162-11eb-8f33-2d5f0403c646.png)

[2021-01-28 11:22] jkondrat opened #1673 "Opening claim records modal takes long time when there were a couple of pages loaded"
Description:
After loading a couple of pages of records and closing the modal, opening it again takes a long time. This also happens when opening the detail view and clicking on the back button.

Acceptance Criteria:
* The modal is responsive and renders quickly even after loading a couple of pages of records

Dev Signoffs (remove items if not applicable to this issue)
- [x] Code review passed
- [

[2021-01-28 11:52] abaranowska1 opened #1674 "Duplicated records in the Claim modal"
**Bug description**
I found a duplicated record example: "National Suicide Prevention Lifeline". What is more, when I click the Claim button it Claimed two records

**Screenshots/gifs**
![Peek 2021-01-28 12-35](https://user-images.githubusercontent.com/61964176/106134029-4c530600-6166-11eb-8ede-fdea545e6218.gif)
![image](https://user-images.githubusercontent.com/61964176/106134465-db601e00-6166-11

[2021-01-28 12:13] abaranowska1 commented on #1658
@EnriqueCorado please update the description, because due to #1401 I'm not sure what should be sent in the SMS message.
For this moment when I did a referral to hotlines I see:
![Selection_973](https://user-images.githubusercontent.com/61964176/106137079-81f9ee00-616a-11eb-9629-809185e283d8.png)
![Selection_971](https://user-images.githubusercontent.com/61964176/106137096-84f4de80-616a-11eb-87bc-c

[2021-01-28 12:35] abaranowska1 commented on #1401
Check-in message
![image](https://user-images.githubusercontent.com/61964176/106137855-9b4f6a00-616b-11eb-9e34-0d047e82a4aa.png)
Referral message
![image](https://user-images.githubusercontent.com/61964176/106138106-fed99780-616b-11eb-884c-adaba3953f99.png)
![image](https://user-images.githubusercontent.com/61964176/106138134-0a2cc300-616c-11eb-860c-b1c6b842a1f6.png)
![image](https://user-images.g

[2021-01-28 13:24] abaranowska1 commented on #1659
**Tested with success**
Only the one phone number belongs to the Organization

![image](https://user-images.githubusercontent.com/61964176/106143874-adcda180-6173-11eb-973c-d6873c2caffa.png)

[2021-01-28 15:20] EnriqueCorado commented on #1451
@jkondrat
- correct: approval in user management admin screen
- ![benetech-logo (2)](https://user-images.githubusercontent.com/65787629/106159034-3d099380-6139-11eb-8678-d5ace42d34d0.png)

[2021-01-28 15:24] EnriqueCorado commented on #1661
@jkondrat updated ticket description with logos

[2021-01-28 15:26] EnriqueCorado commented on #1604
@jkondrat
- do it for SP and public view depending on the users silo

[2021-01-28 15:34] EnriqueCorado commented on #1473
@jkondrat give the "Benetech Admin" the same permissions as 'Super Admin' for now while the permissions of 'Benetech Admin' get scoped more

@kkaczmarczyk please add the background image and style the email template to have the content in a similar way as the record cards in SP view

[2021-01-28 15:37] kdondziak opened #1675 "Deleting locations doesn't delete referals to that location"
**Bug description**
https://benetechservicenet.org/#/record/5fe152b5-9a59-4b9b-817a-b621cabedf13/edit throws Internal server error

**To Reproduce**
Steps to reproduce the behavior:
1. Create organization A with 1 or more location
2. Refer to this location
3. Open this Organization and delete that location
4. On edit error is thrown

**Actual result**
500 Error is thrown

**Expected behavior**
Err

[2021-01-28 15:39] johnhbenetech commented on #1604
@jkondrat check out my percentile approach. If we try this we can kinda ignore specific silos entirely.

I also dont know if google maps API has something similar of 'fitting' the view to the pins

[2021-01-28 15:41] johnhbenetech commented on #1473
@jkondrat @EnriqueCorado Can we just not do Benetech Admin right now? Since there is no difference from admin i'd rather wait until we have actual differences to code. This will be a small number of users so it wont be a bug deal to flip them over to a new role if/when we need it

[2021-01-28 15:41] EnriqueCorado commented on #1658
@abaranowska1 this looks good
- as long as we have the if statement to send these SMS when a record doesn't have an address

[2021-01-28 15:43] EnriqueCorado commented on #1473
@jkondrat @johnhbenetech sounds good.

[2021-01-28 15:44] johnhbenetech commented on #1473
@EnriqueCorado please update description accordingly

[2021-01-28 15:47] EnriqueCorado commented on #1473
Note: description updated

[2021-01-28 15:49] meenupant commented on #1473
@kkaczmarczyk Yes, good idea. Please do that. Thanks

[2021-01-28 15:53] meenupant commented on #1401
@abaranowska1 I have made a minor change in the SMS content and changed this line **"Please provide this ID or your phone number to any service provider you go to."** I hope its okay to change now. I will change the top description too.

**Check-In**
-----------------------------------------------
Thank you for coming to _**John's test**_.
Here is your Service Net ID: **000h**
Please provide this

[2021-01-28 15:59] meenupant commented on #1658
@abaranowska1 Please change the SMS text message to **"Please provide this ID or your phone number to any service provider you go to."** where it says "Please provide instead of your phone number...."

[2021-01-28 16:03] #1659 closed

[2021-01-28 16:27] #318 closed

[2021-01-28 16:27] #858 closed

[2021-01-28 17:45] EnriqueCorado commented on #1321
creating new records, clicking on "Do you only offer online services" defaulting state to CA
- please add a condition when a user clicks on "Do you only offer online services" to not set a default state to any state, leave it blank unless state picked by user

<img width="674" alt="Screenshot 2021-01-28 094136" src="https://user-images.githubusercontent.com/65787629/106177377-4ac91400-614d-11eb-80

[2021-01-28 17:47] EnriqueCorado opened #1676 "Online Services check box not default to state"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-28 21:54] johnhbenetech commented on #1604
also @jkondrat if you use the percentile approach it occurred to me that my SQL wouldn't include records created by ServiceProviders - so youll need to include those in addition to silo_organizations records

[2021-01-28 22:02] EnriqueCorado opened #1677 "Admin: Claim off flow off from silos"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-01-28 23:28] EnriqueCorado commented on #1664
@meenupant

[2021-01-28 23:29] #313 closed

[2021-01-28 23:29] #699 closed

[2021-01-28 23:30] #444 closed

[2021-01-28 23:30] #299 closed

[2021-01-28 23:30] #315 closed

[2021-01-28 23:31] #957 closed

[2021-01-28 23:31] #634 closed

[2021-01-29 12:22] abaranowska1 commented on #1321
**Tested**
@EnriqueCorado
1. After unmark the Checkbox "Do you offer only online Services?" for the Organization with more than one location it is possible to see more than 1 in the edit mode. After we save the changes it is not possible to bring back previous locations, is it okay for you ?
![Peek 2021-01-29 13-00](https://user-images.githubusercontent.com/61964176/106273104-63f7c080-6232-11eb-89

[2021-01-29 16:01] EnriqueCorado commented on #1321
@abaranowska1 updated description. mock up under  only show this label in a single record view if either one or all services are offered online

1. After unmark the Checkbox "Do you offer only online Services?" for the Organization with more than one location it is possible to see more than 1 in the edit mode. After we save the changes it is not possible to bring back previous locations, is it oka

[2021-01-29 16:10] jkondrat commented on #1674
@abaranowska1 I'm no longer able to reproduce this issue, are there any additional steps I should take to see the duplicate?

[2021-01-29 16:14] jkondrat commented on #1674
@abaranowska1 I discovered that this is probably an issue with pagination - when I scrolled down to see more records and searched for something, records were appended to the existing list

[2021-01-29 18:45] meenupant opened #1680 "New Registration Form to create an account on Service Net"
As a new user I want to be able to register on Service Net so that I can get approved to add and update my CBO information

Description:
When a new user registers on Service Net, the information collected from this registration form will help the SN Admin to
A. Approve this account
B. Allocate a proper silo
C. Present relevant records to claim during first login

Replace the old registration form

[2021-01-29 19:06] meenupant commented on #1473
We may change the registration fields and the email sent to Service Net Admin should include all the registration fields in the email body except password (if any). I will update the description with this change.

[2021-02-01 07:40] abaranowska1 commented on #1321
@kdondziak please change the single record view if either one or all services are offered online, mock ups are in the updated description

[2021-02-01 08:16] abaranowska1 commented on #1665
@meenupant It works fine on my Safari simulator, please check if it works on your Mac OS

[2021-02-01 10:54] abaranowska1 commented on #1658
**Tested with success**
The SMS text message was changed to "Please provide this ID or your phone number to any service provider you go to."
![Selection_989](https://user-images.githubusercontent.com/61964176/106448636-571ddb80-6483-11eb-9345-6fbe25c9ed10.png)
![Selection_988](https://user-images.githubusercontent.com/61964176/106448637-571ddb80-6483-11eb-828c-6189d5a6102b.png)

[2021-02-01 12:06] abaranowska1 commented on #1674
@jakeab
Still, we can see duplicated records.
![Selection_994](https://user-images.githubusercontent.com/61964176/106456713-3313c780-648e-11eb-8db6-1bd86f576076.png)
![Selection_993](https://user-images.githubusercontent.com/61964176/106456718-33ac5e00-648e-11eb-9133-eca01fdf9ef3.png)

[2021-02-01 12:11] jkondrat commented on #1674
@abaranowska1 it turns out that there's another issue with the backend endpoint, it returns the same records on different pages; I'm on it

[2021-02-01 12:37] abaranowska1 commented on #1401
**Tested with success**
The SMS text message was changed to "Please provide this ID or your phone number to any service provider you go to."
![Selection_992](https://user-images.githubusercontent.com/61964176/106459711-8ee04f80-6492-11eb-8e6b-97992905e7eb.png)
![Selection_991](https://user-images.githubusercontent.com/61964176/106459713-8f78e600-6492-11eb-8a38-43ddf67b8eab.png)
![Selection_990](ht

[2021-02-01 14:41] abaranowska1 commented on #1451
@jkondrat
Please fix the verification link in the first email
![Selection_996](https://user-images.githubusercontent.com/61964176/106473323-f3f07100-64a3-11eb-9be1-3a3c063078c0.png)

[2021-02-01 16:00] EnriqueCorado commented on #1658
@abaranowska1 can we include the hotline phone number or website?
- if both phone number and website on record, send the phone number
- if only the website provided send website

Body for phone number
"Here are the recommended referrals:
National Suicide Prev...
For more info call
(111)1111-111

Body
Here is your Service Net ID: 00k
Please provide this ID or your phone number to any service provid

[2021-02-01 18:06] awalkowiak commented on #1414
@EnriqueCorado I shared an example of this feature on the slack channel. Let me know what do you think.

[2021-02-02 09:46] abaranowska1 commented on #1673
**Tested with success**
The modal is responsive and renders quickly even after loading a couple of pages of records. The performance is better.
![Peek 2021-02-02 10-35](https://user-images.githubusercontent.com/61964176/106580900-8f382380-6542-11eb-848d-43d9aea76d43.gif)

[2021-02-02 10:19] abaranowska1 commented on #1675
**Tested with success**
- The 500 ISE is not thrown after we remove all locations from the referred organization
![Peek 2021-02-02 10-15](https://user-images.githubusercontent.com/61964176/106586121-5d29c000-6548-11eb-9519-d05d251ffc27.gif)

[2021-02-02 13:12] abaranowska1 commented on #1674
**Tested with success**
I cannot reproduce it anymore. It seems that all duplicated records were fixed.

[2021-02-02 13:36] abaranowska1 commented on #1451
**Tested with success**
Now registration process looks like this:
- after registration, the user should verify the email
![Selection_999(004)](https://user-images.githubusercontent.com/61964176/106607466-9f142f80-6563-11eb-919f-176aac36e717.png)
- after clicking the link the email is verified
![Selection_999(005)](https://user-images.githubusercontent.com/61964176/106607508-adfae200-6563-11eb-97ea

[2021-02-02 16:18] EnriqueCorado commented on #1414
looks good. can we add an arrow like the example above so users can cycle through the records easier
<img width="165" alt="Screenshot 2021-02-01 102319" src="https://user-images.githubusercontent.com/65787629/106628956-2dba8980-652f-11eb-8f8d-6e850fd144ca.png">

[2021-02-02 18:03] EnriqueCorado opened #1685 "Remove Registration Org Dropdown"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-02-03 09:22] abaranowska1 opened #1686 "Internal server error is thrown after we go to the Beneficiary History Page"
**Bug description**
Internal server error is thrown after we go to the Beneficiary History Page
error:
{type: "https://www.jhipster.tech/problem/problemwithmessage", title: "Internal Server Error",…}
detail: "Unable to find org.benetech.servicenet.domain.Location with id 38170397-221e-4dda-af6d-47e355900067; nested exception is javax.persistence.EntityNotFoundException: Unable to find org.benetech

[2021-02-03 09:32] abaranowska1 opened #1687 "The internal Server error is thrown after login to the app and scroll the homepage"
**Bug description**

The internal Server error is thrown after login to the app and scroll the homepage

![Selection_999(013)](https://user-images.githubusercontent.com/61964176/106726020-3cc23a00-660a-11eb-8a89-b77c56eb5465.png)
![Selection_999(012)](https://user-images.githubusercontent.com/61964176/106726026-3e8bfd80-660a-11eb-9ba4-970669968433.png)

{type: "https://www.jhipster.tech/problem/pr

[2021-02-03 10:16] kdondziak commented on #1648
Dev note: Save only original files and not parsed JSONs.

[2021-02-03 11:00] jkondrat commented on #1687
@johnhbenetech Is it okay to disable the task that removes auth users afters 3 days without activation?
It seems that one of the users got deactivated and the task picked him up for removal. The issue is that it only removes users from auth service and the user profile is still there causing ISE.
If we still want it, we can move it to the core service

[2021-02-03 11:05] abaranowska1 commented on #1414
@awalkowiak
I noticed few issues and I have one suggestion maybe for a new task
1. Please add a bottom margin under the service details pop up
![image](https://user-images.githubusercontent.com/61964176/106735348-654f3180-6614-11eb-9d2d-3d0ffa97f90b.png)
![image](https://user-images.githubusercontent.com/61964176/106735359-697b4f00-6614-11eb-8cdc-ad2107f84b45.png)

2. When we have more services th

[2021-02-03 11:08] abaranowska1 commented on #1321
@kdondziak I cannot see the last changes.

[2021-02-03 11:24] jkondrat commented on #1686
The root cause was fixed recently (#1675) but it seems that there were a couple of referrals with non-existent locations in the dev database.
Fixed it by running the following query (no need to add a migration as #1675  wasn't released yet):
[code]

[2021-02-03 11:33] johnhbenetech commented on #1687
@jkondrat I'm not sure which task you are talking about? Is it basically just the session timeout?

[2021-02-03 11:45] jkondrat commented on #1687
@johnhbenetech there was no task for it, but the users that haven't verified their email are removed after 3 days by default (in JHIpster's generated UserService)

[2021-02-03 11:46] johnhbenetech commented on #1687
@jkondrat ok. Yes it's fine to keep users

[2021-02-03 12:02] abaranowska1 commented on #1686
**Tested with success**
Internal Server error is not thrown.
![image](https://user-images.githubusercontent.com/61964176/106744420-042d5b00-6620-11eb-8119-615d942ecefc.png)

[2021-02-03 12:17] abaranowska1 commented on #1687
**Tested with success**
After login and quickly scrolling the page down the internal server error is not thrown.

[2021-02-03 16:01] EnriqueCorado commented on #1414
@abaranowska1 great suggestion: should I breakout a different task to highlight the service tab? or can it be added in this task

[2021-02-03 16:15] awalkowiak commented on #1414
@EnriqueCorado I guess it can be moved out to a separate task

[2021-02-03 16:21] EnriqueCorado opened #1689 "Details Pop up Highlight"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a user, I want to be able to know where the pop up is on the page easily visible so I know what to be looking at

Description:

- add on and suggestion from #1414
- "Suggestion: I was thinking about the feature of highlighting service tabs when watching popups like here

[2021-02-03 16:35] EnriqueCorado commented on #1414
breakout task #1689 for the service tab highlight

[2021-02-03 18:41] EnriqueCorado opened #1690 "SP: Inbound Referral History Arrived CheckBox"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

As a SP I want to be able to have the inbound referral history tab open and be able to simply check in people in if they were referred to us

Description:

On the inbound referral history tab (building on from #1468) add a column called "Arrived" and checkboxes next to thos

[2021-02-03 21:41] EnriqueCorado opened #1691 "Customizable SMS Content"
User Story (encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

Description:

Scope (includes UI mockups, user flow, and out of scope):

Acceptance criteria (includes edge cases):
*

Dependencies (links to other related tasks):
*

Any required analytics for task:
*

Dev Signoffs
- [ ] Unit test added for the core business features at th

[2021-02-04 08:51] kdondziak commented on #1321
@EnriqueCorado
Should this label be displayed on 'your records'?
![image_2021_02_04T08_48_15_103Z](https://user-images.githubusercontent.com/52406204/106867915-7197c500-66ce-11eb-8241-810cd2ca2972.png)

[2021-02-04 08:57] abaranowska1 commented on #1321
@kdondziak
1. Plz fix displaying long Organization Names on cards
![Selection_999(027)](https://user-images.githubusercontent.com/61964176/106868520-26ca7d00-66cf-11eb-857f-7c8f838c1492.png)

2. I think that the font should be a little smaller, not 16px but 14px .

[2021-02-04 15:42] EnriqueCorado commented on #1321
@kdondziak yes, display on owned records as well

[2021-02-04 16:29] EnriqueCorado commented on #1538
updated dev notes to task

[2021-02-04 16:51] EnriqueCorado opened #1692 "As a [persona] i want to be able to [purpose] so that I can [value]"
**User Story**
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description:**

**Scope**
(includes UI mockups, user flow, and out of scope) :

**Acceptance criteria**
(includes edge cases) - e.g. Given I am [user] I want to [action] so that [goal of task]:
*

**Dependencies**
(links to other related tasks):
*

Any required **anal

[2021-02-04 16:53] #1692 closed

[2021-02-04 17:19] EnriqueCorado commented on #1473
task updated

[2021-02-04 17:34] EnriqueCorado opened #1693 "SP: Notification of SMS not delivered to landline"
**User Story**\
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description:**

**Scope**\
(includes UI mockups, user flow, and out of scope):\

**Acceptance criteria**\
(includes edge cases)  - e.g. Given I am [user] I want to [action] so that [goal of task]:\
*

**Dependencies**\
(links to other related tasks):\
*

Any required

[2021-02-04 18:30] #1640 closed

[2021-02-04 18:31] #1499 closed

[2021-02-04 18:33] #1680 closed

[2021-02-04 20:46] EnriqueCorado opened #1694 "Add Hours of Operation to view"
**User Story**\
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description:**

**Scope**\
(includes UI mockups, user flow, and out of scope):\

**Acceptance criteria**\
(includes edge cases)  - e.g. Given I am [user] I want to [action] so that [goal of task]:\
*

**Dependencies**\
(links to other related tasks):\
*

Any required

[2021-02-04 21:04] EnriqueCorado opened #1695 "Service Provider/Public: Service Details Pop Up Enhances"
**User Story**

As a user it will be very intuitive if there's only one service and no scrolling arrows as there is no other service to scroll to

**Description**
- add the following condition to the SP/Public Service details pop up
- 1. If there is only one service: don't show the arrows to scroll through

During the first load of the pop-up, the webpage doesn't automatically scroll me down to se

[2021-02-04 21:47] EnriqueCorado opened #1696 "SP: Limit Service Taxonomy per silo on"
**Bug description**
Currently, the service type subset dropdown from the main SP page is not matching with the service type dropdown from the "adding a new record" services tab as well as while editing the record

Login to account to see:
username: northcarolina_user
password: Benetech

**To Reproduce**
Steps to reproduce the behavior:
1. Login to account
2. look at service types in SP main page
3

[2021-02-04 23:30] EnriqueCorado opened #1697 "Service Type Dropdown Alphabetized"
Description:

Alphabetized all service type dropdowns in public view, SP main home page, in the adding a new record flow, in editing a record on all silos system wide

<img width="396" alt="Screenshot 2021-02-04 152700" src="https://user-images.githubusercontent.com/65787629/106968381-8dff2600-66fd-11eb-9b1e-2d87ea3869d8.png">

Acceptance Criteria:
*Given I am a user I want to see the service type

[2021-02-05 12:49] abaranowska1 commented on #1321
**Tested with success**
Last changes to this feature were made. All records view :
![image](https://user-images.githubusercontent.com/61964176/107033767-0fb28a80-67b6-11eb-8981-e39f79f100bf.png)
![image](https://user-images.githubusercontent.com/61964176/107033753-09bca980-67b6-11eb-8337-cfa7fc93aa88.png)

[2021-02-05 15:07] abaranowska1 commented on #1661
**Tested with success**

- three new fields( "Facebook URL", "Twitter URL", "Instagram URL" ) were added to edit record view and creating new record view under organization details
![image](https://user-images.githubusercontent.com/61964176/107050218-434bdf80-67cb-11eb-9cde-75e46330b8f3.png)
- if user only inputs a facebook URL, it shows that icon
- if user inputs all three URLs, it shows all thre

[2021-02-05 15:17] abaranowska1 commented on #1662
**Tested**

- new checkboxes ("Medicare Accepted", "Medicaid Accepted", "Uninsured Individuals Accepted") were added on service edit pages
- new text entry field for "insurance information details" and "Safe for undocumented individuals?" also were added
- it only displays the checked checkboxes when a user who doesn't own the record is looking at the record
![image](https://user-images.githubuser

[2021-02-05 16:19] EnriqueCorado opened #1699 "Duplication of Updated Record"
**Bug description**
For the NC pilot, I am adding the social media links, and once I save, on the homepage I see two of the sam record. Tried to edit a different record, added social media links, and record shows up twice in the own section panel

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Actual result**
<img width="960" alt="Screenshot 2021-02-05 081748" src="https://user-imag

[2021-02-05 16:26] johnhbenetech commented on #1699
Dev note: these users are part of a 'User group' so are potentially looking at records from other users in their group.

My gut says it's a bug with how records are returned from the user group ties since the IDs of the two records are the same

[2021-02-05 16:33] EnriqueCorado commented on #1699
updated comment on task

[2021-02-05 16:38] EnriqueCorado opened #1700 "SP: Update the banner after an update to owned record"
**User Story**

As a SP I want to have a notification/confirmation on what I just did, in this case, know that my record update was successful by having the confirmation banner show me the org name I updated instead of a random long string

**Description:**
Goal: after any update to an owned record, instead of showing the org identifier in the banner show the org name
- Update the jhypster banner

[2021-02-05 16:51] EnriqueCorado opened #1702 "SP: Social Media Links URL Validation"
**User Story**

As a SP I want to be able to have a visual cue if I typed my Instagram URL in the Twitter URL field by mistake

**Description:**
- Currently in the social media fields, if I insert my Instagram URL in the Twitter URL field, I am allowed to save and the Twitter icon would take me to the Instagram URL
- need to add validation on the three social media fields so users know that the fi

[2021-02-05 17:16] awalkowiak commented on #1699
@johnhbenetech, @EnriqueCorado Yup seems like the issue here is the user group. The same record is returned from two different users within the same group (I managed to reproduce this locally). However, I don't have a quick fix for that one. I thought that adding distinct would help here, but turns out it is not enough. How urgent this bug is? Can this wait till Monday?

[2021-02-05 17:20] EnriqueCorado commented on #1699
@awalkowiak it can wait till Monday. thank you for taking a look so quickly

[2021-02-05 17:39] jkondrat opened #1703 "Reconcile of updates from UWBA/211/Service Provider - add remaining fields"
Description:
Continuation of #1452

Acceptance Criteria:
* Detect and apply updates from all relations, not just Organization fields
* Improve the looks of the modal

Dev Signoffs (remove items if not applicable to this issue)
- [ ] Unit test added for the core business features at the minimum
- [ ] Code review passed
- [ ] CI passed successfully
- [ ] CodeQL scan for vulnerabilities in code has p

[2021-02-05 17:43] jkondrat commented on #1452
As a part of this task:
* The conflicts between original and claimed organizations are detected (no relations yet)
* It's possible to apply or discard updates
* A crude version of the modal is added to the UI

[2021-02-05 21:19] EnriqueCorado opened #1704 "Blast Email to all SP Admins For New features"
**User Story**\
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description:**

**Scope**\
(includes UI mockups, user flow, and out of scope):\

**Acceptance criteria**\
(includes edge cases)  - e.g. Given I am [user] I want to [action] so that [goal of task]:\
*

**Dependencies**\
(links to other related tasks):\
*

Any required

[2021-02-05 21:22] EnriqueCorado opened #1705 "SN: Loading Spinners for actions > 2 seconds"
**User Story**\
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description:**

**Scope**\
(includes UI mockups, user flow, and out of scope):\

**Acceptance criteria**\
(includes edge cases)  - e.g. Given I am [user] I want to [action] so that [goal of task]:\
*

**Dependencies**\
(links to other related tasks):\
*

Any required

[2021-02-06 13:47] #382 closed

[2021-02-06 13:47] #1578 closed

[2021-02-06 13:47] #1580 closed

[2021-02-06 13:52] johnhbenetech opened #1708 "Password Reset Email Signature Missing String"
**Bug description**
When a user receives a password reset email (from prod) the email signature isn't rendering correctly due to what appears to be an unsupplied translation string

**To Reproduce**
Steps to reproduce the behavior:
1. Send password reset email

**Actual result**
email ends with:
Regards,
??email.signature_en??

**Expected behavior**
Email should end with:

Regards,
Benetech Servic

[2021-02-08 10:07] abaranowska1 commented on #1662
**Tested with success**

- new checkboxes ("Medicare Accepted", "Medicaid Accepted", "Uninsured Individuals Accepted") were added on service edit pages
- new text entry field for "insurance information details" and "Safe for undocumented individuals?" also were added
- it only displays the checked checkboxes when a user who doesn't own the record is looking at the record
- "Safe for undocumented i

[2021-02-08 16:14] EnriqueCorado opened #1709 "As a [persona] i want to be able to [purpose] so that I can [value]"
**User Story**

As a SP only using Service Net to update 10+ records, I don't want to scroll through all the records in the my own records section. I want to have a button to display them under the search bar so that I can find the records faster

**Description**

- create a new user role profile: "ROLE_ADMIN_RECORD_UPDATE_ONLY"
- this user will have the same clearance as the "ROLE_USER"
- the dif

[2021-02-08 19:07] EnriqueCorado opened #1710 "SP: Referral History Network Map"
**User Story**
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description**

Possible Sources
https://github.com/cytoscape/cytoscape.js-edgehandles
https://otm.github.io/networkmap.js/

**Scope**
(includes UI mockups, user flow, and out of scope):\

**Acceptance criteria**
(includes edge cases)  - e.g. Given I am [user] I want t

[2021-02-08 19:33] EnriqueCorado opened #1711 "SP: Beneficiary History-> Number of referrals table change"
**User Story**

As a SP I want to also have a numeric summary of where the referrals are coming from so that I can quickly gage my service capacity doing a certain timeframe

**Description**

Add a section mimicking "All referrals made to history" under that panel
goal: provide a summary of where referrals are coming from just like the summary/count of where the referrals are being made to
- updat

[2021-02-08 20:39] EnriqueCorado opened #1712 "As a [persona] i want to be able to [purpose] so that I can [value]"
**User Story**
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description**
- add a new user role "ROLE_NETWORK_USER"
- same access as ROLE_USER
-

**Scope**
(includes UI mockups, user flow, and out of scope):\

**Acceptance criteria**
(includes edge cases)  - e.g. Given I am [user] I want to [action] so that [goal of task]:\
*

[2021-02-08 21:44] EnriqueCorado opened #1714 "API Tracking Usage & Rate Limiting"
**User Story**
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description**

**Scope**
(includes UI mockups, user flow, and out of scope):

**Acceptance criteria**
(includes edge cases)  - e.g. Given I am [user] I want to [action] so that [goal of task]:
*

**Dependencies**
(links to other related tasks):
*

Any required **Analy

[2021-02-08 23:17] EnriqueCorado opened #1715 "SP: Check In-> scheduled appointment"
**User Story**
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description**

**Scope**
(includes UI mockups, user flow, and out of scope):

**Acceptance criteria**
(includes edge cases)  - e.g. Given I am [user] I want to [action] so that [goal of task]:
*

**Dependencies**
(links to other related tasks):
*

Any required **Analy

[2021-02-09 09:45] abaranowska1 commented on #1708
**Tested with success**
When a user receives a password reset email the email signature is rendering correctly.
![image](https://user-images.githubusercontent.com/61964176/107342502-90c49700-6ac0-11eb-83ca-53df1c0ac9a0.png)

[2021-02-09 15:19] EnriqueCorado commented on #1414
#1689 will handle service highlight and the out of frame issue when clicking on the pop up for services

[2021-02-09 15:41] EnriqueCorado opened #1718 "SP View: White Labeling"
**User Story**

As a SP I want to be able to update the background scheme colors and adding an organizations logo so that someone visiting the database immediately gets the sense that this si a database/UI associated with their main brand

**Description**

**Scope**
(includes UI mockups, user flow, and out of scope):

**Acceptance criteria**
(includes edge cases)  - e.g. Given I am [user] I want t

[2021-02-09 15:48] johnhbenetech commented on #1414
ok so I will move this task out of in progress since the scope of this task is now completed

[2021-02-09 20:11] awalkowiak commented on #1699
Turns out that this is a bit more complex issue. That is related to our architectural decisions related to the User Profile - Organization linkage.

If a user does update to not his record (but from his User Group), then this user is also added/assigned to this specific record - organization (user is added to the user_profile_organizations table). Because we are pulling records for a provider that

[2021-02-09 20:28] jkondrat commented on #1604
@johnhbenetech is it okay to initially get X closest records to this percentile point? I think we then could fit the map to show all of them

[2021-02-09 20:42] johnhbenetech commented on #1604
@jkondrat yes thats fine

[2021-02-10 10:24] kdondziak commented on #1690
Suggestion form dev team: Instead of adding a new column with updated pill a whole record can be hightlighted. Also the save button may be in fixed position e.g. (on top of page) . Can you provide mock for the mobile view? Current estimation doesn't count for mobile view.

[2021-02-10 10:40] kkaczmarczyk commented on #1709
@EnriqueCorado dev suggestion: since the role is more of the editor one, we may consider changing the title for the role.
e.g.
ROLE_ADMIN_RECORD_UPDATE_ONLY -> ROLE_USER_RECORD_UPDATE_ONLY or
ROLE_ADMIN_RECORD_UPDATE_ONLY -> ROLE_EDITOR_RECORD_UPDATE_ONLY

[2021-02-10 10:55] kkaczmarczyk commented on #1550
@EnriqueCorado Should the styling of the "Beneficiary Check-in" and "Refer Elsewhere" buttons in the header stay as these are now or more resemble the "Feedback" which is currently in the header?

[2021-02-10 14:45] abaranowska1 commented on #1577
**Tested with success**
If "Required Documents" are empty then this field is displayed in the Single Record View.
Organization: "covid-19 test"
![Selection_999(062)](https://user-images.githubusercontent.com/61964176/107525175-dbc0d600-6bb6-11eb-83b9-5b467606bed3.png)

[2021-02-10 14:50] abaranowska1 commented on #1595
**Tested with success**
- It is possible to clear Location fields with an "x"
![image](https://user-images.githubusercontent.com/61964176/107525701-63a6e000-6bb7-11eb-862b-2a8739551685.png)
![image](https://user-images.githubusercontent.com/61964176/107525709-66a1d080-6bb7-11eb-966b-4facc65677f1.png)

[2021-02-10 15:19] #1477 closed

[2021-02-10 15:19] kkaczmarczyk commented on #1477
Doing a clean-up of the project board. I am closing the issues which were released

[2021-02-10 15:20] #1149 closed

[2021-02-10 15:20] #1333 closed

[2021-02-10 15:20] #1490 closed

[2021-02-10 15:20] #1494 closed

[2021-02-10 15:20] #1446 closed

[2021-02-10 15:20] #1413 closed

[2021-02-10 15:20] #1516 closed

[2021-02-10 15:20] #1493 closed

[2021-02-10 15:20] #1511 closed

[2021-02-10 15:20] #1507 closed

[2021-02-10 15:20] #1491 closed

[2021-02-10 15:20] #1506 closed

[2021-02-10 15:20] #1408 closed

[2021-02-10 15:20] #1526 closed

[2021-02-10 15:20] #1520 closed

[2021-02-10 15:20] #1407 closed

[2021-02-10 15:20] #1535 closed

[2021-02-10 15:20] #1631 closed

[2021-02-10 15:21] #1495 closed

[2021-02-10 15:21] #1527 closed

[2021-02-10 15:22] #1409 closed

[2021-02-10 15:22] #1430 closed

[2021-02-10 15:22] #1442 closed

[2021-02-10 15:22] #1411 closed

[2021-02-10 15:22] #1412 closed

[2021-02-10 15:22] #1399 closed

[2021-02-10 15:22] #1536 closed

[2021-02-10 15:23] #1476 closed

[2021-02-10 15:23] #1525 closed

[2021-02-10 15:23] #1529 closed

[2021-02-10 15:23] #1530 closed

[2021-02-10 15:23] #1449 closed

[2021-02-10 15:23] #1613 closed

[2021-02-10 15:23] #1608 closed

[2021-02-10 15:23] #1607 closed

[2021-02-10 15:23] #1611 closed

[2021-02-10 15:23] #1609 closed

[2021-02-10 15:23] #1528 closed

[2021-02-10 15:24] #1465 closed

[2021-02-10 15:24] #1624 closed

[2021-02-10 15:24] #1537 closed

[2021-02-10 15:25] #1623 closed

[2021-02-10 15:25] #1610 closed

[2021-02-10 15:25] #1638 closed

[2021-02-10 15:25] #1606 closed

[2021-02-10 15:25] #1523 closed

[2021-02-10 15:25] #1544 closed

[2021-02-10 15:25] #1564 closed

[2021-02-10 15:25] #1524 closed

[2021-02-10 15:25] #1665 closed

[2021-02-10 15:25] #1401 closed

[2021-02-10 15:25] #1673 closed

[2021-02-10 15:25] #1451 closed

[2021-02-10 15:26] #1674 closed

[2021-02-10 15:26] #1675 closed

[2021-02-10 15:26] #1687 closed

[2021-02-10 15:26] #1686 closed

[2021-02-10 15:26] #1321 closed

[2021-02-10 15:26] #1661 closed

[2021-02-10 15:46] EnriqueCorado commented on #1709
great suggestion. updated task description

[2021-02-10 15:48] EnriqueCorado commented on #1550
keep them as they are now so the user can familiarize those buttons and their change in position

[2021-02-10 16:45] EnriqueCorado commented on #1690
@kdondziak task description updated and mockups for mobile. ready for re-estimation

[2021-02-10 17:35] jkondrat commented on #1699
@awalkowiak sound good to me, unless _updatedBy_ is sufficient, we can also add the 'creator' or 'owner' field to the Organization

[2021-02-10 20:25] jkondrat commented on #1473
@EnriqueCorado is it okay to include just the basic info like first and last name, email, username and skip the organization stuff? The user doesn't contain that information and in order to include that in the email, we would have to move verification to the core service (where UserProfile exists) which would add to the complexity of this task. II'd say this would 1-2 more story points.

[2021-02-10 20:28] EnriqueCorado commented on #1473
@jkondrat yeah, just include basic info like first and last name, email, username in the email. the rest we will be able to see in the user profile

[2021-02-10 20:29] jkondrat commented on #1473
@EnriqueCorado thank you!

[2021-02-10 20:30] EnriqueCorado opened #1722 "Adding organization details to registration email to benetech staff?"
**User Story**
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description**
is it okay to include just the basic info like first and last name, email, username and skip (or split out) the organization stuff? The user entity doesn't have that information and in order to include it in the email, we would have to move verification

[2021-02-10 21:26] jkondrat opened #1723 "Improve the styling of emails"
Description:
Add the background image which is used in the Service Net to the email content and style template to have content in a kinda similar manner as we have cards on SP view.
![image](https://user-images.githubusercontent.com/5969801/107574387-f151f200-6bee-11eb-85a3-55ababdad87a.png)

Acceptance Criteria:
* All sent out emails resemble the cards on SP view
* The background image is added t

[2021-02-10 22:31] EnriqueCorado opened #1724 "CA Marin SMS reply"
**User Story**
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description**

**Scope**
(includes UI mockups, user flow, and out of scope):

**Acceptance criteria**
(includes edge cases)  - e.g. Given I am [user] I want to [action] so that [goal of task]:
*

**Dependencies**
(links to other related tasks):
*

Any required **Analy

[2021-02-11 10:31] abaranowska1 commented on #1604
@jkondrat
During testing, I encountered an issue that after the second click "map view" button the user saw a different map, we were moved to the SanFrancisco view.
![Peek 2021-02-11 11-16](https://user-images.githubusercontent.com/61964176/107624821-b2a65100-6c5b-11eb-8a78-2a0c4a9017f8.gif)

[2021-02-11 14:03] abaranowska1 commented on #1604
**Tested with success**
Now in different silos, the map is center appropriately in order to ensure and avoid user confusion as to where the map loads.
![Selection_999(074)](https://user-images.githubusercontent.com/61964176/107646213-0031b680-6c7a-11eb-809d-78cbc26658ed.png)
![Selection_999(073)](https://user-images.githubusercontent.com/61964176/107646223-02941080-6c7a-11eb-8cde-d061546db42d.png)

[2021-02-11 17:38] #1695 closed

[2021-02-11 18:12] EnriqueCorado opened #1727 "SMS Content Control Audio file recording upload"
**User Story**
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description**

**Scope**
(includes UI mockups, user flow, and out of scope):

**Acceptance criteria**
(includes edge cases)  - e.g. Given I am [user] I want to [action] so that [goal of task]:
*

**Dependencies**
(links to other related tasks):
*

Any required **Analy

[2021-02-12 10:32] abaranowska1 commented on #1468
**Tested**
- the Inbounded Referral History tab was added and Referral History was renamed  to Outbound Referral History
- if the SP only owns one record, we don't show the referred from in the outbound/ inbound tab
![Selection_999(083)](https://user-images.githubusercontent.com/61964176/107750674-a504d000-6d1c-11eb-8db7-f6df17157991.png)
![Selection_999(082)](https://user-images.githubusercontent

[2021-02-12 10:59] abaranowska1 opened #1728 "Internal server error is thrown after we go to the Outbound Referral History Page"
**Bug description**
When we log in as user: One1, password: benetech and go the Beneficiary History Page the Internal server Error is displayed.

![Selection_999(085)](https://user-images.githubusercontent.com/61964176/107760210-aee10000-6d29-11eb-909e-3bae11a51bfc.png)

Dev Signoffs
- [ ] Unit test added for the core business features at the minimum
- [ ] Code review passed
- [ ] CI passed succes

[2021-02-12 13:09] abaranowska1 commented on #1728
**Tested with success**
Internal Server Error is not displayed anymore.
![image](https://user-images.githubusercontent.com/61964176/107772006-e8bb0200-6d3b-11eb-9ddf-22b8e12b6fcb.png)

[2021-02-12 13:31] abaranowska1 opened #1731 "Investigate why after upload (onerecord file) data we can see empty taxonomies."
Description:
After upload data for example from the UWBA provider, we can see empty taxonomies on the SP view. It could be something wrong with the file, but plz investigate what is the reason for this issue.

![Selection_999(087)](https://user-images.githubusercontent.com/61964176/107774062-d2627580-6d3e-11eb-9c6f-62fe44c2c9f3.png)

Dev Signoffs (remove items if not applicable to this issue)
- [

[2021-02-12 13:49] abaranowska1 commented on #1473
**Tested with success**
Email notification is sent when the user registers to Service Net. We include just the basic info like first and last name, email, username
![Selection_999(092)](https://user-images.githubusercontent.com/61964176/107775806-16567a00-6d41-11eb-9b8b-40ee09a2f586.png)
![Selection_999(091)](https://user-images.githubusercontent.com/61964176/107775810-1787a700-6d41-11eb-9bc9-df53

[2021-02-12 14:12] abaranowska1 commented on #1452
**Tested**
- the user is notified via a pop-up/modal about the latest updates
- the pop-up show what currently stands in the field for example UWBA made and an update to and what the SP currently has
- SP hass the option to update their record via that update or choose not to
- the pop up is displayed after few minutes or few hours, it depends on how much data are actually matched
- it detects upd

[2021-02-12 14:13] abaranowska1 commented on #1703
Tested together with #1452

[2021-02-12 14:51] abaranowska1 commented on #1468
**Tested with success**
- Mobile view tabs are fixed
- There is no duplicated records after referring organizations
![Selection_999(095)](https://user-images.githubusercontent.com/61964176/107783089-26268c00-6d4a-11eb-89c5-f040e648e47f.png)
![Selection_999(096)](https://user-images.githubusercontent.com/61964176/107783095-2757b900-6d4a-11eb-860e-e2f7fbb62cf0.png)

[2021-02-12 16:15] EnriqueCorado opened #1733 "SP: Update jhipster banner after activating a record from the deactivated section"
**User Story**
As a SP I want to be able to know clearly what I did on the banner after reactivating a record so that I can know I reactivated the right one

**Description**
Update the banner to "**org name** record has been successfully reactivated."

**Scope**
<img width="1901" alt="Screenshot 2021-02-12 081253" src="https://user-images.githubusercontent.com/65787629/107792695-459dc480-6d0a-11eb

[2021-02-12 16:21] EnriqueCorado opened #1734 "SP: Only show inbound and outbound history to owned records"
**User Story**
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:
As a user I want to see my history

**Description**

**Scope**
(includes UI mockups, user flow, and out of scope):

**Acceptance criteria**
(includes edge cases)  - e.g. Given I am [user] I want to [action] so that [goal of task]:
*

**Dependencies**
(links to other rela

[2021-02-15 07:43] abaranowska1 commented on #1596
**Tested with success**
Confirmed that after each log out the search term is removed.

[2021-02-15 12:53] jkondrat opened #1739 "Disable or make the consul health checks less aggresive"
Since the services can now automatically re-register, we should make consul health checks less aggressive or disable them completely

see app.yml and app-docker-registry.yml in ServiceNetGateway

[2021-02-15 13:21] abaranowska1 commented on #1583
**Tested with success**
After resizing the internet tab, there are no claim modal UI issues.
![Peek 2021-02-15 14-09](https://user-images.githubusercontent.com/61964176/107951415-94f92480-6f98-11eb-9c9e-7121eef646ca.gif)

[2021-02-15 13:56] abaranowska1 commented on #1668
@kdondziak
I met one small issue, plz take a look for it. After we open the claim modal after click the Exit button we shouldn't see the previous detail page.
![Peek 2021-02-15 14-12](https://user-images.githubusercontent.com/61964176/107955232-d7713000-6f9d-11eb-8d3a-44b42b5fba54.gif)

[2021-02-16 10:34] kdondziak commented on #1538
@EnriqueCorado There is a problem with the browser back button. It's impossible to override the behavior of that button. With the approach from the dev note, there will be a problem with linking the organization single record view since it is the same page. e.g. on the homepage scroll down, click organization, single record view is displayed, but the link has not changed and therefore it can't be

[2021-02-16 13:59] abaranowska1 commented on #1668
**Tested with success**
- Issue from the comment was fixed.
- An "Exit" button was added to claim modal in order to exit out of the claim flow
- An x icon was added on the top right corner
- A pop up was added in order to confirm if the user wants to exit

[2021-02-16 15:23] abaranowska1 commented on #1699
**Tested with success**
- We only show the record updated not a duplicate

[2021-02-16 15:45] EnriqueCorado commented on #1699
@abaranowska1 why are we not showing all records owned also under the search bar?

<img width="1919" alt="Screenshot 2021-02-16 074314" src="https://user-images.githubusercontent.com/65787629/108085882-a559df80-702a-11eb-9ab7-20dc78a41adb.png">

[2021-02-16 15:52] johnhbenetech commented on #1699
@EnriqueCorado that's never been how the functionality worked.

Records where you = owner appear above search

Records where owner = anyone else appear below search

Prior to this change we erroneously allowed for more than one owner, so in those cases a record would show in both places. Now that we limit the record to 1 owner the functionality works as specified.

If we would like to change the l

[2021-02-16 19:12] johnhbenetech opened #1740 "Investigate ISE on public view on dev"
ISE on:
https://benetechservicenet.org/#/public/LinkForCare
https://benetechservicenet.org/#/public/Oakland

[2021-02-16 19:42] EnriqueCorado opened #1741 "SP: Color Changes"
**User Story**
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description**
- Under "Upload Logo" add a 4 color palette, default to our current colors on the background SVG
- when the user hovers/clicks on it, a pop up with the hex color change will popup so the user can update those colors

**Scope**
(includes UI mockups, user

[2021-02-16 19:51] johnhbenetech commented on #1741
dev note: we can ccomplish this through replacement of the fill values in the text definition of the SVG itself

[2021-02-17 10:13] kkaczmarczyk commented on #1718
@EnriqueCorado the title of the ticket contains info about color changes in the silo, but the description not. Should it be in the scope of this ticket or in a separate one?

[2021-02-17 10:23] kkaczmarczyk commented on #1724
@EnriqueCorado
What about validation before saving the particular Silo with edited SMS template content - should we
- not allow empty templates
- require the {0} and {1} indexes in the template??

Estimation breakdown:
- 3 SP for the functionality alone
- 2 SP for potential edge cases and thorough testing

[2021-02-17 14:09] abaranowska1 commented on #1740
**Tested with sucess**
There is no ISE on public view.
![Selection_999(114)](https://user-images.githubusercontent.com/61964176/108215629-d3761700-7131-11eb-9974-29b845e02590.png)
![Selection_999(113)](https://user-images.githubusercontent.com/61964176/108215635-d4a74400-7131-11eb-9da1-cc4696e8279f.png)

[2021-02-17 14:41] abaranowska1 commented on #1538
**Tested with success**
Users went back to the place they had scrolled to. We can use only the Back to all record button and here it works fine without any issue.
![Peek 2021-02-17 15-24](https://user-images.githubusercontent.com/61964176/108218898-70867f00-7135-11eb-89a3-4b70dfd4d6c6.gif)
![Peek 2021-02-17 15-23](https://user-images.githubusercontent.com/61964176/108218917-767c6000-7135-11eb-9fda

[2021-02-17 15:33] EnriqueCorado commented on #1718
@kkaczmarczyk the section of the color schema has been moved to the product board. Not in the scope of this task

[2021-02-17 15:37] EnriqueCorado commented on #1724
@kkaczmarczyk
Don't allow for empty templates
- do not make indexes  required as we ran into an issue with our pilot CA Marin of them not wanting to include the Service Net ID SMS during piloting

[2021-02-18 09:59] kkaczmarczyk commented on #1658
@EnriqueCorado Is this ticket still valid, since the https://github.com/benetech/ServiceNet/issues/1724 adds customization of messages?

[2021-02-18 10:48] abaranowska1 commented on #1731
**Tested with success**
**Verified cases:**
- After uploading for example UWBA one record file there is no empty taxonomies, all works fine after upload.

![Selection_999(121)](https://user-images.githubusercontent.com/61964176/108345492-9ddb3780-71de-11eb-8fd6-
2b0541370357.png)

[2021-02-18 11:05] abaranowska1 commented on #1546
**Tested with success**
**Verified cases**
- "Discard Changes" button was added and only shows when the user has typed/changed at least one thing in any field of the three pages of adding a new record
- when the user clicks on "Discard Changes" in the first tab of adding a new record "Organization" tab have the following text in the pop-up
"Are you sure you want to discard changes on this page?"
-

[2021-02-18 14:58] EnriqueCorado commented on #1658
@kkaczmarczyk no longer valid

[2021-02-19 10:01] abaranowska1 opened #1745 "Regression tests 02-19-2021"
After one month from previous regression testing, it is important to check thoroughly if every functionality and feature works as expected.

The regression test suite contains all tests designed for this moment.

Link to the test suite:
https://docs.google.com/spreadsheets/d/1uTsoQm7UlTbXNRnM1PgM0TzibxuQcBJdj20GHMJ51wo/edit#gid=0

[2021-02-19 12:12] abaranowska1 commented on #1718
@kdondziak Only one small issue, please add text : "Upload Logo" near the choose file button.
![Selection_999(133)](https://user-images.githubusercontent.com/61964176/108503106-1cee6f80-72b4-11eb-95f1-ec32ed54c385.png)
mock :
![Selection_999(135)](https://user-images.githubusercontent.com/61964176/108503119-237ce700-72b4-11eb-8edf-cc365a2df6b1.png)

[2021-02-19 13:39] abaranowska1 opened #1746 "Deactivated-records page doesn't work properly on mobile"

[2021-02-19 16:59] EnriqueCorado opened #1747 "Logo: Add Powered By: Benetech"
**User Story**
(encompasses persona, purpose, value) - e.g. As a [persona] i want to be able to [purpose] so that I can [value]:

**Description**

**Scope**
(includes UI mockups, user flow, and out of scope):

**Acceptance criteria**
(includes edge cases)  - e.g. Given I am [user] I want to [action] so that [goal of task]:
*

**Dependencies**
(links to other related tasks):
*

Any required **Analy

[2021-02-22 09:28] abaranowska1 opened #1749 "UI issue with cards displayed on the map"
UI issue with cards displayed on the map, in my opinion when the Organization has the Facebook, Instagram, Twitter links the "x" icon should be moved to the top right corner.
![Selection_999(143)](https://user-images.githubusercontent.com/61964176/108689211-18ff5f00-74f9-11eb-8812-60d1b17941ec.png)
![Selection_999(142)](https://user-images.githubusercontent.com/61964176/108689215-1a308c00-74f9-11e

[2021-02-22 10:48] abaranowska1 commented on #1718
**Tested with success**
"Upload Logo" text was added.
![Selection_999(145)](https://user-images.githubusercontent.com/61964176/108697635-6680c980-7503-11eb-93ec-02ae13c471d4.png)
![Selection_999(146)](https://user-images.githubusercontent.com/61964176/108697628-654f9c80-7503-11eb-890a-078de53ab88d.png)

[2021-02-22 12:21] abaranowska1 opened #1750 "ISE is thrown on the Claim Records Details page."
**Bug description**
ISE is thrown on the Claim Records Details page.
`{type: "https://www.jhipster.tech/problem/problemwithmessage", title: "Internal Server Error",…}
detail: "Unable to find org.benetech.servicenet.domain.Phone with id 55dd09b6-4323-49ad-9dd7-72dcf13ed512"
message: "error.http.500"
path: "/api/provider-organization/0652e0dc-b787-4e61-986a-1dc92be5c5a0"
status: 500
title: "Internal

[2021-02-22 12:36] abaranowska1 opened #1751 "Sorting is not working on the Beneficiary History listing page"
**Bug description**
Sorting is not working on the Inbound Referral History and Outbound Referral History. ISE is thrown after click sort arrows on each column.
![Selection_999(149)](https://user-images.githubusercontent.com/61964176/108709061-853a8c80-7512-11eb-9a2d-664ce5251149.png)

**To Reproduce**
Steps to reproduce the behavior:
1.  Go to the Beneficiary History ( eg. provider)
2. Click Sort

[2021-02-22 13:03] abaranowska1 opened #1752 "Investigate why the feedback e-mails do not come to the set mail."
**Bug description**
According to #1133 after sending a feedback email it should be delivered. During regression, I asked @johnhbenetech and he confirmed that he didn't get an email. Please investigate why.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Feedback page in the header
2. Send a message.

Dev Signoffs
- [x] Unit test added for the core business features at the minimum
-

[2021-02-22 13:19] abaranowska1 opened #1753 "Staying in place of the last viewed record does not work on Firefox browser"
**Bug description**
According to #1538, this feature - staying in place of the last viewed record, does not work on the Firefox browser

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SP or Public view Firefox browser
2. Scroll down
3. Click on a record
4. Click "Back to all records" button
5. Once SN loads, you will be back at the top of the page

**Actual result**
Firefox Version 80.

[2021-02-22 13:47] abaranowska1 opened #1754 "It is possible to open public view without Silo"
**Bug description**
It is possible to open public view without Silo https://benetechservicenet.org/#/public. After opening this page, I can see claim or refer buttons and also the first 6 records of previously logged user. I think that we shouldn't have this view, correct me if I'm wrong. @johnhbenetech @EnriqueCorado

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as provider
2. Log

[2021-02-22 14:05] abaranowska1 opened #1755 "If I would like to claim more records, previously marked organizations are unmarked"
**Bug description**
If I would like to claim more records, previously marked organizations are unmarked
![Peek 2021-02-22 14-56](https://user-images.githubusercontent.com/61964176/108718729-09930c80-751f-11eb-8047-44dcf4bfb737.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Click Claim button
2. Claim some organizations
3. Click Done Claiming
4. Click Yes
5. Previously marked organizati

[2021-02-22 15:44] EnriqueCorado commented on #1754
@abaranowska1 correct, we do not want to have this view

[2021-02-23 13:10] abaranowska1 opened #1756 "ISE is thrown during sorting by Referral enabled on the Silo entity page"
**Bug description**

ISE is thrown during sorting by Referral enabled on the Silo entity page

`{type: "https://www.jhipster.tech/problem/problemwithmessage", title: "Internal Server Error",…}
detail: "Unable to locate Attribute  with the the given name [referralEnabled] on this ManagedType [org.benetech.servicenet.domain.Silo]; nested exception is java.lang.IllegalArgumentException: Unable to loc

[2021-02-23 15:57] jkondrat commented on #1752
@johnhbenetech it seems that it's no longer allowed to set 'from' address when sending out emails with Sendgrid (it still returns code 202, the error message can probably be found in the Sengrid app). I will try setting 'Reply-to' header, if that doesn't work perhaps we can include something like 'Please reply to user@thatsentfeedback.net' in the body of the message?

[2021-02-23 15:58] jkondrat commented on #1752
@johnhbenetech as per docs - the sender identity has to be verified https://sendgrid.com/docs/for-developers/sending-email/sender-identity/

[2021-02-23 16:12] johnhbenetech commented on #1752
@jkondrat

Yes, let's just include it in the body, The from address can be 'feedback@benetech.org'

[2021-02-23 16:40] EnriqueCorado opened #1759 "Empty Records cant be unclaimed or clicked on"
Description:
Empty records can not be clicked on
<img width="960" alt="Screenshot 2021-02-23 083846" src="https://user-images.githubusercontent.com/65787629/108876176-cda98700-75b2-11eb-9b0b-0c0a6fe37771.png">

Acceptance Criteria:
*

Dev Signoffs (remove items if not applicable to this issue)
- [ ] Unit test added for the core business features at the minimum
- [ ] Code review passed
- [ ] CI pas

[2021-02-23 16:42] EnriqueCorado opened #1760 "Decrease the space from title to record in claim modal"
Description:
<img width="956" alt="Screenshot 2021-02-23 084134" src="https://user-images.githubusercontent.com/65787629/108876376-ffbae900-75b2-11eb-81c0-44e7f9d33f52.png">

Acceptance Criteria:
*

Dev Signoffs (remove items if not applicable to this issue)
- [ ] Unit test added for the core business features at the minimum
- [ ] Code review passed
- [ ] CI passed successfully
- [ ] CodeQL scan f

[2021-02-23 16:46] EnriqueCorado opened #1761 "Claimed records not appearing in the beginning but at the end of owned records"
**Bug description**
Claimed records not appearing in the beginning but at the end of owned records

**To Reproduce**
Steps to reproduce the behavior:
1. claim two records
2. claimed records appear at the end of owned records

**Actual result**
Claimed records not appearing in the beginning but at the end of owned records

**Expected behavior**
have the newly claimed records appear first to avoid u

[2021-02-23 17:56] jkondrat commented on #1752
@johnhbenetech I was able to use reply-to header, is this sufficient? the delivered email looks like this:
![Screenshot from 2021-02-23 18-55-38](https://user-images.githubusercontent.com/5969801/108886054-cf9e3500-7608-11eb-8ab5-1d4d6d4bacc8.png)
![Screenshot from 2021-02-23 18-54-31](https://user-images.githubusercontent.com/5969801/108886159-ec3a6d00-7608-11eb-8832-ee5ea2eee87d.png)

[2021-02-23 18:00] johnhbenetech commented on #1752
@jkondrat looks good

[2021-02-24 10:03] abaranowska1 commented on #1750
**Tested with success**
After Claim and Unclaim the record, ISE is not displayed anymore on the details organization page
![image](https://user-images.githubusercontent.com/61964176/108984186-ed62ad00-768f-11eb-8dbd-fbdd3c72eed1.png)

[2021-02-24 12:10] abaranowska1 commented on #1747
**Tested with success**
- a section called "Grey-Labeling" was added
- this text box is not required
- text is shown under the logo
![Selection_999(169)](https://user-images.githubusercontent.com/61964176/108998510-4ab32a00-76a1-11eb-95b7-10d83fee3d42.png)
![Selection_999(168)](https://user-images.githubusercontent.com/61964176/108998512-4be45700-76a1-11eb-9449-96ac6905820f.png)

[2021-02-24 13:37] abaranowska1 commented on #1752
Feedback emails are sent properly once again.

[2021-02-24 15:35] EnriqueCorado opened #1763 "Inconsistent placement of banner in claim modal"
Description:
Have the exit pop up be fixed at the same position as the "Would you like to claim more records?"

<img width="1916" alt="Screenshot 2021-02-24 073332" src="https://user-images.githubusercontent.com/65787629/109024462-a87c4d80-7672-11eb-990d-f938cdd6f257.png">
<img width="1920" alt="Screenshot 2021-02-24 073417" src="https://user-images.githubusercontent.com/65787629/109024522-b631d30

[2021-02-24 15:39] EnriqueCorado commented on #1747
When uploading a PNG with white background, the background turns black
![benetech-logo](https://user-images.githubusercontent.com/65787629/109025204-5ee03280-7673-11eb-853d-68a44e010562.png)
<img width="306" alt="Screenshot 2021-02-24 073831" src="https://user-images.githubusercontent.com/65787629/109025212-60a9f600-7673-11eb-8afa-fca3d86e94d5.png">
<img width="538" alt="Screenshot 2021-02-24 0739

[2021-02-25 07:11] abaranowska1 commented on #1747
Now it works also for .png images. The transparency is supported when uploading a logo.
![image](https://user-images.githubusercontent.com/61964176/109116545-07a89380-7741-11eb-9d30-2a6cc2125ea0.png)

[2021-02-25 07:14] abaranowska1 commented on #1751
**Tested with success**
ISE is not displayed when sorting on the Beneficiary History List page.
![Peek 2021-02-25 08-12](https://user-images.githubusercontent.com/61964176/109116751-53f3d380-7741-11eb-9590-675f13e9a68f.gif)

[2021-02-25 08:44] abaranowska1 commented on #1745
Regression testing on 3 browsers ( mostly Google Chrome, Firefox, Safari) , Ubuntu 20.04 OS, some cases on Mojave macOS and the mobile device ( iPhone X ) was finished.

**Bugs from regression:**
- #1746  | Deactivated-records page doesn't work properly on mobile | 19.02.2021 | BACKLOG
- #1749  | UI issue with cards displayed on the map | 22.02.2021 | BACKLOG
- #1750  | ISE is thrown on the Claim

[2021-02-26 21:10] jkondrat opened #1765 "Get all records endpoint for external clients"
Create an endpoint for external clients that gets all organizations from their silo and system account.

[2021-04-30 16:44] pbonnell opened #1767 "Publish repository License"
**User Story**\
As a social service organization developer I want to be able to implement a ServiceNet solution for a curently active resource repository.

**Description:**
The social service software space is crowded, competitive, and occasionally aggressive.
Is a given opportunity a clear path to sharing data in the open light of our utopian dream, or a veiled attempt to further encircle the com

[2021-05-02 19:34] greggish commented on #1767
I agree, there should be a license! Would suggest Apache 2.0 although curious to hear if someone has other opinions.