[2019-05-30 15:40] pmuchowski commented on #450
@johnhbenetech the logging in the conflict detection was not changed. The conflict detection was updated, so the conflicts are only recreated if the organization was changed, but it should start on every import, so you should have the "Searching for conflicts between ..." in the logs.

The issue with "last update" date is described in #359.

[2019-05-30 15:49] pmuchowski commented on #359
@johnhbenetech the Most Recent Sort is no the conflict creation date, but the update date of the partner organization (which is stored in conflict).
When we start detecting conflicts for location and services it will include those entities in the 'last update' date.
I'm not sure if I understand correctly the ''last update date" should be the update date from the partner organization event if this

[2019-05-30 15:55] johnhbenetech commented on #450
@pmuchowski  Well for example I just ran all three API jobs - all of which had created/updated organizations - none of which triggered any conflict logging.

so for example a ShleterTech Job - after finishing had no conflict logging even after waiting several minutes:

`2019-05-30 15:46:13.388  INFO 8 --- [ryBean_Worker-4] o.b.s.s.ShelterTechDataUpdateJob         : ShelterTech Data Update Job is b

[2019-05-30 15:58] pmuchowski commented on #450
@johnhbenetech the exception from Google Maps API is breaking the organization matching, so the match is not created and conflict detection is done for matches.

[2019-05-30 16:00] johnhbenetech commented on #450
@pmuchowski But for UWBA and Eden jobs for example, I do not get the google maps error, orgs are created/updated, and there still isnt conflict logging

[2019-05-30 16:03] pmuchowski commented on #450
@johnhbenetech are there any matches for those organizations?

[2019-05-30 16:06] johnhbenetech commented on #450
@pmuchowski Yes, I see 3 new pairs in organization_match after the job completed.

Does the matching algorithm run anytime an org is updated? Or only when an org is added?

[2019-05-30 16:10] pmuchowski commented on #450
@johnhbenetech yes, it's done for every update, but only for active organizations. If the organization is active, even if there are no matches you should have the "Searching for conflicts took ..." in the logs, unless there are some exceptions.

[2019-05-30 16:13] johnhbenetech opened #458 "Investigate ShelterTech Google API Error"
I continuously get this error only for sheltertech jobs.

[2019-05-30 16:27] johnhbenetech commented on #450
@pmuchowski

Well I dont see them after trying several different jobs with new orgs and new matches.

I wonder if it just takes a really long time, is that possible? For instance, go onto dev and view the app logs.

A healthleads data import was kicked off at 2019-05-28 17:18:45
A SMC import was kicked off 2019-05-28 17:22:27

No other jobs were kicked off since then (i just did one now but it's i

[2019-05-30 16:38] pmuchowski commented on #450
@johnhbenetech I don't think it should take that long. The match searching is logging the time, can you find the "Searching for conflicts took ..." in the logs before this conflict detection?

[2019-05-30 16:59] johnhbenetech commented on #450
@pmuchowski Yes, sorry when i said 'conflict logging' i meant "searching for conflicts took..." messages

They all report times under a second, so nothing too weird there. But yeah there's like no data related logging/data uploads for days and then suddenly a bunch of 'searching for conflicts' appear.

[2019-05-30 19:27] johnhbenetech commented on #359
@pmuchowski Yeah I guess we could prioritize the work to add conflict detection to all entities higher. I just worry it's a lot of work for little gain.

There are so many records in a user's database (1000s) that we have two goals:

1. Allow a user to find specific records they know they want to look at. This is where searching and filtering come in to help them isolate specific orgs or specific

[2019-05-30 22:28] johnhbenetech opened #459 "Add google analytics events to Geo/Partner filter"
Add event 'Clicked Filter' and "Applied Filter' to the corresponding elements.

Both should pass in the username dimension as with other GA events

[2019-05-31 09:54] awalkowiak commented on #327
https://github.com/benetech/ServiceNet/pull/460

[2019-05-31 11:38] awalkowiak opened #461 "Investigate and fix issue with sorting by recently updated activities"
There is some kind of issue with sorting by recently updated on Home page. This needs to be fixed.

[2019-05-31 14:55] kkaczmarczyk opened #463 "Sort out the liquibase migrations in pom.xml"
Currently, there is an issue with pom.xml configuration which results in Liquibase being not functional. We need to parametrize DB settings for Liquibase in a different properties file (YAML format preferably) and hook it to pom.xml along with Liquibase configuration.

[2019-06-03 09:09] kkrawczyk123 commented on #403
Confirmed that issue has been fixed. However, the conflicts are not updated immediately but with a little delay.

[2019-06-03 09:09] #403 closed

[2019-06-03 09:50] kkrawczyk123 commented on #417
Fixing confirmed. I am not able to reproduce the issue.

[2019-06-03 09:50] #417 closed

[2019-06-03 10:05] kkrawczyk123 opened #464 "Progress bar doesn't recognize the number of results on the page."
A progress bar always displays the same number of results on the page. Screenshots of examples attached:
![Screenshot from 2019-06-03 11-47-02](https://user-images.githubusercontent.com/33342488/58794026-8ff31680-85f7-11e9-8eaf-2ea6c359629d.png)
![Screenshot from 2019-06-03 11-46-19](https://user-images.githubusercontent.com/33342488/58794027-8ff31680-85f7-11e9-829b-48f0aa1094f9.png)

It used to w

[2019-06-03 11:25] kkrawczyk123 opened #465 "Weekdays are not sorted after uploading opening hours data."
After uploading opening hours data by csv import. Weekdays are not sorted in the correct order in the week they are displayed like randomly, screenshot attached:
![Screenshot from 2019-06-03 13-19-18](https://user-images.githubusercontent.com/33342488/58798352-b23e6180-8602-11e9-9a5f-2e05546ec302.png)
It would be more user-friendly and readable when days will be sorted in the week order.

[2019-06-03 22:25] johnhbenetech commented on #387
@awalkowiak can we fix some small issues with mobile responsiveness? I know the whole app isn't necessarily responsive, but i'd like the home page to be.

1. I think it should be pretty easy. The icon and "connecting..." text should move below the hero image on mobile.

2. The sign in button text overflows and doesnt display accurately

3. the body text overflows out side of div

![image](https://

[2019-06-04 08:50] awalkowiak commented on #387
@johnhbenetech I was not thinking about the mobile responsiveness as at beginning of project there was said, that we don't need it. But ofc I'll fix this today :)

[2019-06-04 11:47] kkrawczyk123 commented on #405
@awalkowiak I have noticed that uploading an organization name longer than 255 letters is not working. I was checking on LAAC data.

[2019-06-04 12:15] awalkowiak commented on #405
@kkrawczyk123 I managed to reproduce this bug. However the issue here is not related to Organization name, but to Location name. For LAAC we take the org name and add " - Location" to it and then we save this in db. Unfortunately, location name can not be longer than 255, hence the issue. All other providers should work fine (I'll fix the LAAC, but you should be able to check other providers).
@jo

[2019-06-04 14:07] kkrawczyk123 commented on #405
@awalkowiak small update: I have also checked other providers. Uploading an organization name longer than 255 letters worked for healthleads and SMC. It doesn't work for LAAC, Eden and UWBA. ShelterTech file upload failed for me. Do you have any ideas why?

[2019-06-04 14:19] awalkowiak commented on #405
@kkrawczyk123 I have no idea why ShelterTech failed, will investigate that.
Locally I also checked iCarol name longer that 255 and no update was made and there was no exception/error. I need to investigate this further.

[2019-06-04 15:28] awalkowiak commented on #387
@awalkowiak remember to fix issue related to links in header:
![Selection_299](https://user-images.githubusercontent.com/12113312/58892208-17bb4c80-86ee-11e9-89f4-ee8d48bc8b29.png)

[2019-06-04 23:43] laurabenetech commented on #437
@johnhbenetech Here are visuals for improved Search that include Agency description and Service descriptions. @CloVasco keeping you in the loop but cc:ing John since you are on vacation.
Visual 1 shows changes to page with new Search Options button
<img width="663" alt="Search button prompt title" src="https://user-images.githubusercontent.com/48697326/58920558-a1b3e700-86e7-11e9-95e2-88e281444ee1

[2019-06-04 23:44] laurabenetech commented on #437
@johnhbenetech Here are visuals for improved Search that include Agency description and Service descriptions. @CloVasco keeping you in the loop but cc:ing John since you are on vacation.
Visual 2 shows what happens when the user clicks the Search Options button:
<img width="750" alt="Search options" src="https://user-images.githubusercontent.com/48697326/58920635-ffe0ca00-86e7-11e9-9a92-e10ff82aab

[2019-06-04 23:45] laurabenetech commented on #437
@johnhbenetech Here are visuals for improved Search that include Agency description and Service descriptions. @CloVasco keeping you in the loop but cc:ing John since you are on vacation.
Visual 3 describes Search behavior when user checks a box:
<img width="657" alt="Search w checkbox selected" src="https://user-images.githubusercontent.com/48697326/58920670-21da4c80-86e8-11e9-96ca-d2caff4ce779.pn

[2019-06-05 06:46] kkaczmarczyk commented on #360
Regarding the investigation of how geocoding currently works - we run Google API to fetch coordinates (longitude and latitude) during an import of Organization data when Locations are being created.
Conditions are:
1) its Location latitude or longitude are nulls or 0s
2) its Physical Address data is not empty.

If both of these are true then Google API is invoked using a concatenation of almost al

[2019-06-05 08:09] bognasoldev89 commented on #334
Confirmed that columns are titled and it's clear what's in them

[2019-06-05 08:10] #334 closed

[2019-06-05 08:16] bognasoldev89 commented on #353
Confirm that "Other tabs" button is not visible on details page

[2019-06-05 08:16] #353 closed

[2019-06-05 09:00] kkrawczyk123 commented on #138
@awalkowiak Unfortunately, I might not be able to test it right now according to an issue connected with uploading of iCarol records. Could you please investigate?

[2019-06-05 09:52] pmuchowski opened #469 "Get the Last Updated date from the Metadata instead of Conflict"
On the home page the Last Updated date should be the most recent update date from Organization and all related entities. We can get this date from the Metadata entity. When conflict detection will be added to all entities related to the Organization this should be changed, so the Conflict offeredValueDate is used again.

[2019-06-05 09:59] pmuchowski commented on #359
@johnhbenetech I created and issue #469 to change the Last Updated date.

[2019-06-05 11:05] bognasoldev89 commented on #404
Hi @johnbenetech, "import" button works only on Firefox and Chrome, on Edge and Safari it's visible but it doesn't work. What do You think should be done about it? Should it be fixed now or issued in another ticket for later?

[2019-06-05 11:25] johnhbenetech commented on #404
@bognasoldev89 let's fix it as part of this task. We can move this task back to the top of up next column

[2019-06-05 13:12] bognasoldev89 commented on #327
Confirmed that "About us" page is accessible from every page on the app for every user

[2019-06-05 13:12] #327 closed

[2019-06-05 15:25] awalkowiak opened #472 "Investigate iCarol API issues"
When i was downloading data via API for Eden and UWBA (on empty db) I got this error:
![Selection_301](https://user-images.githubusercontent.com/12113312/58968634-a5fb0580-87b6-11e9-90e9-b338780a9141.png)
Similar error occurs for sheltertech during json upload (from ServiceNetData)
This needs investigation.

[2019-06-05 15:28] awalkowiak commented on #405
@kkrawczyk123 I fixed LAAC (iCarol and sheltertech still needs more investigation, see: https://github.com/benetech/ServiceNet/issues/472). I'll let you know once LAAC fix is deployed.

[2019-06-05 15:34] johnhbenetech opened #473 "Break out phone numbers into related entitiy"

[2019-06-05 15:38] johnhbenetech opened #474 "Investigate long delays before conflict detection starts after data upload"

[2019-06-05 15:42] johnhbenetech opened #475 "Improve URL conflict detection"
Currently conflicts are logged for URL even when there are no meaningful differences between values - such as:

* http vs no http
* www vs no www
* http vs https
* trailing / vs no trailing /

Make URL conflict detection smarter so it only detects meaningful difference.

For right now we should still log a conflict for different directory/pages on the same domain, e.g.:
* google.com vs google.com/

[2019-06-05 15:50] awalkowiak commented on #475
Dev note: Wwe could use regex groups to cleanup site and compare only that part

[2019-06-06 10:08] bognasoldev89 commented on #361
Confirmed that there are "left arrows" moving to previous pages in places mentioned in the issue

[2019-06-06 10:08] #361 closed

[2019-06-06 11:30] awalkowiak commented on #387
@johnhbenetech it is hard to use provided images for backgrounds on mobile (readability is very low). I can set the background color as blue and light grey (taken from provided images) are you ok with this solution? Here is how it looks like:
![Selection_308](https://user-images.githubusercontent.com/12113312/59029696-44db3c80-885f-11e9-98b2-99b77a9c667e.png)

[2019-06-06 11:56] bognasoldev89 opened #476 "Add "reset" button"
I think filtering feature would use “reset” or "clear" button that would clear all filtering fields at once beside original way: “unclicking” every field and confirming it by “Apply”

@johnhbenetech  what do You think?

[2019-06-06 12:51] johnhbenetech commented on #387
Yes, looks fine!

________________________________
From: awalkowiak <notifications@github.com>
Sent: Thursday, June 6, 2019 6:31 AM
To: benetech/ServiceNet
Cc: John Higgins; Mention
Subject: Re: [benetech/ServiceNet] Marketing - super nice well designed home page (#387)

@johnhbenetech<https://github.com/johnhbenetech> it is hard to use provided images for backgrounds on mobile (readability is ver

[2019-06-06 14:47] bognasoldev89 commented on #344
Confirmed that filtering engine is up and running

[2019-06-06 14:47] #344 closed

[2019-06-06 14:53] johnhbenetech opened #479 "Store more structured fields from geocoding response"
Currently I believe we are only storing the total address string.

If possible I would like to store the structured fields as well (as returned from the API). We can keep the total string to use as a "ID" still if needed.

         "address_components" : [
            {
               "long_name" : "1600",
               "short_name" : "1600",
               "types" : [ "street_number" ]

[2019-06-06 15:16] johnhbenetech opened #480 "Refactor geocoding process"
See #360 for additional details. @kkaczmarczyk seems to indicate an API call isn't made if a result record already exists for that total address value, please confirm.

I think there are a few tasks here:

1. Perform a test to confirm accuracy of iCarol provider GPS coordinates. Pull ~50-100 random addresses + coords from iCarol records. Run those same addresses through the google api. Calculate t

[2019-06-06 15:29] johnhbenetech opened #481 "Create basic structure for main shelter view"
Please see mockup available at: https://h0pkya.axshare.com/page_1.html

note that the 'more info' link is an accordion. We do not yet have the design for which fields will be listed in the accordion - so that will be handled in a separate task.

Additionally, the search and filtering side bar content/functionality will be handled in other tasks. But we will need a visual placeholder in the structu

[2019-06-07 11:23] bognasoldev89 opened #483 ""Document upload" in admin mode -> Entities menu is doubled"

[2019-06-07 12:24] bognasoldev89 commented on #387
@johnhbenetech I was exploring the homepage on my mobile phone and I have a few issues about it. I think it would be better to adjust the upper panel that logo would be in the middle of it, making place for menu icon in the same line. For now it slightly overlaps the content of the app. It's ready to use, it just could look better. Just look:
![Screenshot_2019-06-07-14-04-03](https://user-images.g

[2019-06-07 12:26] bognasoldev89 opened #484 "Hiding menu on the homepage (mobile)"

[2019-06-07 12:33] awalkowiak commented on #387
@johnhbenetech is it ok for hiding "version - SNAPSHOT" on mobile? This simple change would easily fix the issue with header.

[2019-06-07 13:11] johnhbenetech commented on #387
@awalkowiak We can hide that throughout

[2019-06-10 07:48] bognasoldev89 commented on #339
Confirmed that everything looks ok, users can remove and reinstate records.

[2019-06-10 07:48] #339 closed

[2019-06-10 09:44] bognasoldev89 opened #486 "Filters don't clear after logging out and logging in as a different user"
After applying filters on homepage, logging out and logging in as a different user, filter settings are still as they were in previous user account.

[2019-06-10 12:52] bognasoldev89 commented on #428
Creating a shelter entity works fine and looks good, as well as editing it. One thing I couldn't do was to delete a record. ServiceNet shows Internal Server Error.

I also have a small suggestion: that on the page with the list of shelters, from side to side slider was not on the bottom. Later, with a huge list of shelters, it will be inconvenient to scroll down to it every time the user wants to

[2019-06-10 13:20] bognasoldev89 commented on #461
Confirm that sorting works correctly now

[2019-06-10 13:20] #461 closed

[2019-06-11 08:11] bognasoldev89 commented on #442
Confirmed that admin can add and edit shelters

[2019-06-11 08:11] #442 closed

[2019-06-11 10:12] pmuchowski commented on #457
Dependencies was updated

[2019-06-11 10:12] #457 closed

[2019-06-11 12:37] bognasoldev89 commented on #431
Confirmed that admin can associate a user with Sacramento profile

[2019-06-11 12:37] #431 closed

[2019-06-11 12:49] awalkowiak commented on #459
@johnhbenetech by "Clicked Filter" you mean toggling on and off the filter panel? In other words, clicking this button:
![Selection_317](https://user-images.githubusercontent.com/12113312/59273283-193dc500-8c58-11e9-8ee6-b884c9a154be.png)
?

[2019-06-11 12:52] bognasoldev89 commented on #432
Confirmed that placeholder page for the main view is displayed when logged in as "Sacramento" user.

[2019-06-11 12:52] #432 closed

[2019-06-11 12:53] awalkowiak commented on #352
@CloVasco I will remove this for non admin users. Are you ok with that?

[2019-06-11 13:04] bognasoldev89 commented on #387
Confirmed that issues from comment are resolved, homepage looks great

[2019-06-11 13:04] #387 closed

[2019-06-11 13:15] johnhbenetech commented on #352
Yeah that's fine!

________________________________
From: awalkowiak <notifications@github.com>
Sent: Tuesday, June 11, 2019 7:53 AM
To: benetech/ServiceNet
Cc: Subscribed
Subject: Re: [benetech/ServiceNet] User dropdown list to clean - "session" (#352)

@CloVasco<https://github.com/CloVasco> I will remove this for non admin users. Are you ok with that?

—
You are receiving this because you are su

[2019-06-11 13:18] johnhbenetech commented on #459
Yes one event for that and one event for clicking apply

[2019-06-11 13:51] bognasoldev89 commented on #428
Confirmed that Shelter Entity is created

[2019-06-11 13:51] #428 closed

[2019-06-11 16:24] johnhbenetech opened #492 "Error during build"
ERROR in /home/ec2-user/SN611/ServiceNet/src/main/webapp/app/modules/account/index.tsx(15,6):
[INFO] TS2322: Type '{ path: string; component: ComponentClass<Pick<ISessionsProps, never>, any> & { WrappedComponent: ComponentType<ISessionsProps>; }; hasAnyAuthorities: string[]; }' is not assignable to type 'Readonly<Pick<IPrivateRouteProps, "path" | "exact" | "strict" | "children" | "location" | "com

[2019-06-11 16:27] #380 closed

[2019-06-11 16:27] #21 closed

[2019-06-11 16:27] #159 closed

[2019-06-11 16:28] #46 closed

[2019-06-11 16:42] johnhbenetech commented on #352
@awalkowiak I think #492 is related to this

[2019-06-11 16:45] awalkowiak commented on #352
@johnhbenetech fixed

[2019-06-11 16:45] awalkowiak commented on #492
@johnhbenetech fixed

[2019-06-12 10:18] bognasoldev89 commented on #419
Confirmed multiple locations are allowed to multiple services. Uploading data works as well.

[2019-06-12 10:18] #419 closed

[2019-06-12 12:43] bognasoldev89 commented on #404
Confirmed that "import" works on Safari now, but still not on Edge.

[2019-06-12 14:07] bognasoldev89 commented on #352
Confirmed that users don't see Sessions in dropdown list.

[2019-06-12 14:07] #352 closed

[2019-06-12 22:25] johnhbenetech opened #495 "Add map view to Shelter detail page"
As seen in:
![image](https://user-images.githubusercontent.com/12927553/59390519-267db100-8d37-11e9-9457-f7f49de186ec.png)

add a map of the shelter address (if available)

I'll leave it up to you how best to implement. We can probably use the existing google api key - but let me know if you recommend a different approach

[2019-06-12 22:38] johnhbenetech opened #496 "Restrict locations shown for UWBA records (both in self and partner views)"
For UWBA records we do not want to show any Location entities where the county is in the following:

* San Benito
* Santa Cruz

I'll leave it up to you how best to implement this. Some clarifications:

* The overall record should still show, just not that location records
* Other non San Benito/Santa Cruz locations should still show
* This is only for UWBA records and not for other partners
* Thes

[2019-06-13 10:43] bognasoldev89 commented on #464
Confirmed that issue is fixed

[2019-06-13 10:43] #464 closed

[2019-06-13 14:24] johnhbenetech commented on #469
As discussed on call:

Home page:
* Change 'Last Updated' to 'Last Partner Update'
* This date is the most recent metadata date from all matching partner records

Side by side:
* For 'your' record (the record on the left) it should be the most recent metadata date associated with that record
* For matching partner records (the record on the right) it should be the most recent metadata date associa

[2019-06-13 14:24] johnhbenetech commented on #359
@pmuchowski i updated #469 with what we discussed today

[2019-06-14 09:38] mariaogryczak commented on #476
What the button label should be - "clear" or "reset" or different?

[2019-06-14 09:58] bognasoldev89 commented on #405
@johnhbenetech I was trying to upload a small number of records with services e-mail longer than required (as an admin, healthleads data). In this upload I also wanted to change organization name. The app ignored the whole upload because of that e-mail. Shouldn't it skip this error and upload the rest of the data? Or inform user of this error at least?

[2019-06-14 10:08] mariaogryczak commented on #476
@johnhbenetech What the button label should be - "clear" or "reset" or different? Do you want to have message send to Google Analytics like it is while applying filters?

[2019-06-14 11:48] johnhbenetech commented on #476
Reset is fine
________________________________
From: mariaogryczak <notifications@github.com>
Sent: Friday, June 14, 2019 4:38 AM
To: benetech/ServiceNet
Cc: John Higgins; Mention
Subject: Re: [benetech/ServiceNet] Add "reset" button (#476)

What the button label should be - "clear" or "reset" or different?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2019-06-14 11:50] johnhbenetech commented on #405
@bognasoldev89 yes, that's the whole point of this task. Any data provider should be able to upload data even if a few records/sub entities run into errors. There errors should be logged (to standard out as well as data import report) but the rest of the data should be uploaded

[2019-06-14 11:52] johnhbenetech commented on #476
@mariaogryczak reset I fine for label. Yes send a Google analytics event called 'filter reset' (make sure to send username dimension as with other GA events)

[2019-06-14 11:59] bognasoldev89 commented on #405
@johnhbenetech well it's not working for Healthleads and ShelterTech for sure. I'm still tesitng the other organizations.
There is another problem with ShelterTech upload data. After uploading the app shows information that data couldn't be uploaded, while, in fact, it is.

[2019-06-14 12:02] johnhbenetech commented on #405
@bognasoldev89 yeah it sounds like this needs to go back to development :)

I've seen the error before, I think the frontend process just has a timeout - so if it's a long running upload you see those red error boxes. I'm fine dealing with that as long as the data actually gets into the app!

[2019-06-14 13:32] bognasoldev89 commented on #475
Unfortunately, this issue needs more work, I found a few examples like this one:
![Uploading Screenshot from 2019-06-14 14-46-00.png…]()

[2019-06-14 13:49] pmuchowski commented on #475
@bognasoldev89 did you uploaded this organization or just looked through the existing records?
I'm not sure if you aware of this, but you need to update an organization for it's conflicts to be updated. There might still exist some old incorrect URL conflicts, because those was detected before this code was merged.

[2019-06-14 13:52] bognasoldev89 commented on #475
@pmuchowski I was not aware actually, I am gonna check it further then. Thanks for the advice.

[2019-06-17 10:03] awalkowiak commented on #405
@johnhbenetech @bognasoldev89 I'll investigate issues described here

[2019-06-17 14:53] bognasoldev89 commented on #475
After uploading data I've found that after uploading data as Healthleads (differences mentioned in the first comment) the app still sees conflicts. I've also tried ShelterTech data and I've found that some of these works (Trauma Recovery Center).

[2019-06-18 09:33] awalkowiak commented on #492
@johnhbenetech  i am closing this issue, since this error does not occur anymore

[2019-06-18 09:33] #492 closed

[2019-06-18 12:54] bognasoldev89 commented on #426
Confirmed, that records on the homepage are loading visibly faster

[2019-06-18 12:54] #426 closed

[2019-06-18 13:18] bognasoldev89 opened #500 ""Phones" in "Services" don't have "left arrow""
I found field (only in International Institute of the Bay Area details page so far, but I'm sure there's gonna be much more organizations with more phones) where mentioned in #361 "left arrow" was not applied.

![phones](https://user-images.githubusercontent.com/51324797/59685453-7ac3dd80-91dc-11e9-9316-d2cb2562d41e.gif)

[2019-06-18 14:10] bognasoldev89 commented on #404
Now it's working on Edge but not on the latest Chrome (ver 75.0.3770.80)

[2019-06-18 14:34] bognasoldev89 commented on #288
@johnhbenetech I am not sure if we are talking about the same case, but logged as hluser I was trying to find International Institute of the Bay Area (IIBA) and search couldn't find it (with 0/6 on progress bar). I found this organisation manually by scrolling down though, so it's on the list for sure.

![Screenshot from 2019-06-18 16-33-49](https://user-images.githubusercontent.com/51324797/59693

[2019-06-18 14:35] johnhbenetech commented on #288
Yes that's the same, if you try sorting I believe it should then show correctly.

If this is still happening after the query refactor, then I think it has to be on the frontend

[2019-06-19 10:05] bognasoldev89 commented on #138
@awalkowiak during upload of iCarol records I hit a few obstacles:
ShelterTech data shows that files weren't uploaded, but in fact, they were
Eden data shows that files were uploaded, but in fact, they weren't
UWBA shows that files weren't uploaded and that is true.

Could You investigate those issues?

[2019-06-19 13:37] bognasoldev89 commented on #476
Confirmed that "reset" button is working

[2019-06-19 13:37] #476 closed

[2019-06-19 16:22] laurabenetech commented on #459
@johnhbenetech Just checking the status of analytics on Filtering.  Is there any way this can be implemented this week? It would be great to see if/when partners start using Filtering since we're surveying them and I'm hoping to do followup calls too about it. Thanks, Laura

[2019-06-19 16:44] johnhbenetech commented on #459
@laurabenetech yeah i can push it live by EOW

[2019-06-19 16:50] laurabenetech commented on #459
@johnhbenetech Great--thanks, John!

[2019-06-20 16:39] johnhbenetech opened #507 "Update swagger-ui version"
In response to vulnerability report

[2019-06-21 08:14] mariaogryczak commented on #345
I additionally corrected the form of sentences:
partners has conflicting data -> partners have conflicting data (in the same field as 'updated on')
partner have similar records -> partner has similar record (on the right, under 'Compare')

[2019-06-21 09:36] awalkowiak commented on #138
@bognasoldev89 this is not related to this issue, please create new issue for mentioned stuff (and link it here). Someone will take a look.

[2019-06-22 10:05] awalkowiak commented on #346
@johnhbenetech / @CloVasco

Who are "them"? What "stage"?

What "idea"? Which "tab"?

[2019-06-22 10:06] johnhbenetech commented on #346
this task is to hide the upload data header option for non-admin users

________________________________
From: awalkowiak <notifications@github.com>
Sent: Saturday, June 22, 2019 5:05 AM
To: benetech/ServiceNet
Cc: John Higgins; Mention
Subject: Re: [benetech/ServiceNet] why do we enable them to upload data at that stage? (Clotilde's question) (#346)

@johnhbenetech<https://github.com/johnhbenetec

[2019-06-22 10:10] awalkowiak commented on #346
Yeah, that's what i thought. Does this pilot stage has any mean here? Or can I just hide it for non admins and not care about any other circumstances?

[2019-06-22 10:11] johnhbenetech commented on #346
Yeah you can just hide it for non admins.

If I ever need it put back, I will make another task

________________________________
From: awalkowiak <notifications@github.com>
Sent: Saturday, June 22, 2019 5:10 AM
To: benetech/ServiceNet
Cc: John Higgins; Mention
Subject: Re: [benetech/ServiceNet] why do we enable them to upload data at that stage? (Clotilde's question) (#346)

Yeah, that's what i t

[2019-06-24 07:15] bognasoldev89 opened #510 "iCarol issues"
During upload of iCarol records I hit a few obstacles:
ShelterTech data shows that files weren't uploaded, but in fact, they were
Eden data shows that files were uploaded, but in fact, they weren't
UWBA shows that files weren't uploaded and that is true.

Could You investigate those issues?

[2019-06-24 07:20] bognasoldev89 commented on #138
#510

[2019-06-24 07:21] bognasoldev89 commented on #138
@awalkowiak I made #510 issue in Backlog

[2019-06-24 09:22] bognasoldev89 commented on #481
Confirmed that basic structure is created

[2019-06-24 09:22] #481 closed

[2019-06-24 11:27] bognasoldev89 commented on #429
Confirmed that the menu can be expanded and all required info is displayed

[2019-06-24 11:27] #429 closed

[2019-06-24 11:41] awalkowiak commented on #507
@johnhbenetech i bumped up the version of swagger. Now we don't have 2 swaggers vulnerabilities, but we have new moderate vulnerability with swagger-ui's dependency. However I looked into their github and I found this issue:
https://github.com/swagger-api/swagger-ui/issues/5152

[2019-06-24 13:42] bognasoldev89 commented on #496
Confirmed that locations are restricted for UWBA records

[2019-06-24 13:42] #496 closed

[2019-06-25 10:49] bognasoldev89 commented on #345
Confirmed that changes are visible

[2019-06-25 10:49] #345 closed

[2019-06-25 11:43] bognasoldev89 commented on #404
Confirmed that button works on four tested browsers.

[2019-06-25 11:43] #404 closed

[2019-06-25 12:24] pmuchowski opened #512 "Add externalDbId to HealthleadsServiceTaxonomy"
When ServiceTaxonomy is saved service externalDbId is used instead of it's own external id (it's available in the csv, but not mapped). In most cases service has only one taxonomy, so it's working fine, but if there will be multiple taxonomies for the service only one will be saved.

[2019-06-25 12:28] pmuchowski opened #513 "Investigate home page rendering"
When loading the home page it's taking a while before the request to get the records is send. We will need to look into this.

[2019-06-25 13:52] #359 closed

[2019-06-25 13:52] #450 closed

[2019-06-26 06:43] mariaogryczak commented on #367
@johnhbenetech
Do you have any specific requirements connected with this button? I mean:
after how much scrolling should it appear?
how fast should it scroll up to the top?

Moreover, is the "side by side view" the "multi record view" or is it something else?

[2019-06-26 12:18] johnhbenetech commented on #367
@mariaogryczak

Yes side-by-side = multi record view

With regards to behavior. This library seems to perform how I would want it:
https://www.npmjs.com/package/react-scroll-up-button

Button appears after a small amount of scrolling. Clicking button smooth scrolls back to top. We would just need to replace the button with the design from above.

[2019-06-26 15:08] kkaczmarczyk commented on #456
I have fixed 4/5 of these requests and pop-ups are no longer being displayed. The last request (getSession)  being sent seems to be covered by #233 ticket.

It requires a bit more work and refactoring, as part of the code relies on trying to getSession (after logging out, it results in 401) and sets state based on this in Home component. This only happens in the console and there is no impact on U

[2019-06-27 13:31] kkaczmarczyk commented on #486
@johnhbenetech would you like filters to work similarly to searching and sorting in terms of caching?

[2019-06-27 13:33] johnhbenetech commented on #486
They should persist within a session (until cleared) but should be cleared when logging out/session time out. They certainly shouldn't persist across users

[2019-06-27 14:13] johnhbenetech opened #520 "Metadata IDs are stored as text and not UUID"

[2019-06-27 15:50] kkaczmarczyk commented on #233
It appears getSession request is being sent in JHipster this way so that CSRF token is fetched and set with 'set-cookie' header in the response. That way there is no need to refresh the whole webpage to set CSRF token (as it is done on initial load), but it can be done asynchronously. This requires further investigation for the workaround.

[2019-06-27 15:52] bognasoldev89 commented on #456
Confirmed that logging out goes smoothly

[2019-06-27 15:52] #456 closed

[2019-06-27 15:57] bognasoldev89 commented on #469
The ticket is blocked until the pagination issue is resolved ( #199 ). Metadata entity stops browser.

[2019-06-28 13:12] bognasoldev89 commented on #510
Issue resolved

[2019-06-28 13:12] #510 closed

[2019-06-28 13:15] awalkowiak commented on #472
Closing for now, since it was probably caused by API being temporary down. Works fine now.

[2019-06-28 13:15] #472 closed

[2019-06-28 13:22] bognasoldev89 commented on #138
Confirmed that iCarol records with status Inactive are not displayed

[2019-06-28 13:22] #138 closed

[2019-06-28 16:39] NeilMBenetech commented on #425
This could be a bug in iCarol. What specific data format are you consuming - iCarol (native) CSV, iCarol HSDS CSV, iCarol API (native) or iCarol API using HSDS 1.x ?

The HSDS formats (both CSV and API) were introduced in early 2018 and may not have had as thorough testing as the "native" formats that have been in use for years.

Also it would be unusual to de-activate an Organization (in iCarol =

[2019-06-28 16:41] NeilMBenetech commented on #388
Yes all the fields should line up side-by-side. Things like a longer organizational name at the very top that wraps to second line are pushing down the rest of the column, causing fields to misalign and making it more difficult to do the comparison. This is happening in either column.

Example, logged in as "hluser" and viewing this record: https://servicenet.benetech.org/#/multi-record-view/dd602

[2019-06-28 16:43] NeilMBenetech commented on #368
Having them all open by default might be even better. I would think when you first go into a record you are scanning for differences in all fields.

[2019-06-28 16:45] NeilMBenetech commented on #384
I like this. And yes, Address Line 1 plus City Name would be perfect to use in case Location has no name. If it has these neither, have a default value like "Unnamed Location 1" and increment for multiple unnamed.

[2019-06-28 16:57] johnhbenetech commented on #425
@NeilMBenetech

we are using the native endpoints (ex api.icarol.com/v1/Resource) and pulling 'status' from:

resourceDetail{"status"}

[2019-06-28 17:10] kkaczmarczyk commented on #480
1. I've taken 101 records from dev server DB (I think all that have coordinates given by Eden provider) exported them to CSV, and ran them through my Python script leveraging solution from SO. This resulted in the CSV file with the coordinates, org names, and distances.

[2019-06-28 18:48] NeilMBenetech commented on #349
Organization records do seem to have this now with the blue question mark, but I'm not seeing it on Service or Location records' fields.

[2019-06-28 18:54] NeilMBenetech commented on #319
It's possible the partners themselves might want to maintain the "crosswalk" from their own taxonomy systems' to their various partners'. It would be a big task but even when using the standard AIRS taxonomy, each agency tends to highly customize which terms they use - it is common for them to de-activate up to 90% of the 10,000 taxonomy terms, for example, in ways that are very specific to their

[2019-06-28 18:57] johnhbenetech commented on #319
@NeilMBenetech We also had some questions/concerns about the licensing requirements on the AIRS side. i.e. What are we as a third party consumer allowed to do/see/display with regards to specific terms. I'm assuming you'd have some clarity on that.

[2019-06-28 18:58] NeilMBenetech commented on #315
I can very much see the utility of this. Once in place we'd also want to refine how to find Organizations so that you could choose to exclude (by default) Organizations you've marked that you've already reviewed it, until perhaps a new change gets imported into SN.

[2019-06-28 19:07] NeilMBenetech commented on #319
@johnhbenetech We'd likely need to get our own license as a vendor, from 2-1-1 Los Angeles (the owners). They differentiate between licenses for software vendors (can't currently find link or info on their website) and licenses/subscriptions for "consumers" of the taxonomy. https://211taxonomy.org/ . The vendor licenses used to be $2,500 per year. When ready we can enquire with them.

Relatedly th

[2019-06-28 19:13] NeilMBenetech commented on #308
We should also consider the ability to dismiss at the Service and Location level, independently of the Organization. But if the Organization is dismissed, all child records should be considered Dismissed too.

[2019-06-28 19:21] NeilMBenetech opened #523 "Rendering on mobile phones"
The detailed comparison screen renders to a single column on a mobile phone with the user's record first and then the comparison record below it. That makes a visual comparison between fields almost very scroll-intensive. Consider alternative ways to render (putting each second/comparison field directly below its twin initial field?) , although this is probably a very low-frequency use case.

[2019-06-28 19:27] greggish commented on #319
i agree with neil that there may not be a 'one size fits all' taxonomy, but if by 'rosetta stone' you mean 'translation interface that can make it easier to create and maintain taxonomy crosswalks,' that would be extremely valuable.

[The Joined-up Data Standards project prototyped a code translation tool](http://www.joinedupdata.org/en/spreadsheet/), i think, that may provide some of this initial

[2019-07-01 07:33] bognasoldev89 commented on #430
Confirmed that filtering feature works fine

[2019-07-01 07:33] #430 closed

[2019-07-01 09:09] bognasoldev89 commented on #441
Confirmed that details page for shelters is created with all fields demanded in this issue.

[2019-07-01 09:09] #441 closed

[2019-07-01 17:13] NeilMBenetech commented on #437
In addition, we should consider the ability to search on the Service name and description, the Location name and description, and the categorization (taxonomy in HSDS).

As well, an Autosuggest would be a huge hit, especially if it only autosuggests items that are being included in the "Search option" filters at the time.

[2019-07-01 17:43] NeilMBenetech commented on #340
Also by taxonomy / category names - possibly more useful as they are trying to discover new services they don't currently have.

[2019-07-01 17:52] NeilMBenetech commented on #329
Hi @CloVasco would you kindly clarify what "recommendation sorting" is?

[2019-07-01 17:55] NeilMBenetech commented on #311
Is this a duplicate of 312?

[2019-07-01 18:02] CloVasco commented on #329
@NeilMBenetech when you are on the landing page, you can sort by either "recently updated" (default) or recommended. that's what I meant by recommendation sorting. I think the way it works for the moment is: the more partners and conflicting info there are, the higher it will be when you sort that way.

[2019-07-01 18:03] johnhbenetech commented on #329
@NeilMBenetech ill add to @CloVasco

"Recent" - purely based on last update date for any matching partner records. Intending to prioritize any recently updated record

"Recommended" - this is our 'smart' sort that we had hoped to improved over time. some of the thinking:

- Some fields are more important than others. An update to something like 'legal status' or 'funding' or something is probably

[2019-07-02 06:50] mariaogryczak commented on #199
@johnhbenetech
How many results should be on one page?
Do you have any requirements to displaying page numbers? Here are some suggestions:
http://vayser.github.io/react-js-pagination/

[2019-07-02 09:53] bognasoldev89 commented on #469
@pmuchowski proposed a different approach to test this issue and it confirmes that issue is solved.

[2019-07-02 09:53] #469 closed

[2019-07-02 13:28] awalkowiak commented on #347
@CloVasco should this work in the same way as a browser's back button?

[2019-07-02 13:33] johnhbenetech commented on #199
@mariaogryczak I *think* jhipster actually has this built in in some way - it may just need to be enabled:

https://www.jhipster.tech/creating-an-entity/#pagination

If not, the default styling is fine and we can do 100 items per page

[2019-07-02 17:14] CloVasco commented on #347
Yes, that is the idea.
I'll let you follow up with @johnhbenetech going forward as my position recently changed within Benetech and I'm not working on the Service Net roadmap anymore. Thanks!

[2019-07-03 06:37] bognasoldev89 commented on #486
Confirmed that filters are cleared after changing users.

[2019-07-03 06:37] #486 closed

[2019-07-03 09:36] bognasoldev89 commented on #475
Confirmed that URL conflict detection is improved  and ignores not meaningful differences between values

[2019-07-03 10:10] bognasoldev89 commented on #367
Confirmed that button exists and works perfectly fine

[2019-07-03 10:10] #367 closed

[2019-07-03 16:08] kkaczmarczyk commented on #475
The solution is not null-safe. Moving ticket back.

![image](https://user-images.githubusercontent.com/3207119/60607393-77744880-9dbd-11e9-944c-84a69d7a3d40.png)

[2019-07-03 16:31] #512 closed

[2019-07-04 07:47] bognasoldev89 commented on #346
Confirmed that "Upload data" menu item is hidden from non-admin users

[2019-07-04 07:47] #346 closed

[2019-07-04 14:32] johnhbenetech opened #531 "Filter search results by service type / taxonomy"
As always, I'm open to suggestions on how we might most efficiently and elegantly achieve this.

The goal for this task is to introduce an additional filtering option similar to the geo filtering we already have. This filter will allow the user to segment organizations that have services in a specific 'service type' or 'service taxonomy'. For example - show me housing related resources in Oakland,

[2019-07-04 16:30] kkaczmarczyk commented on #475
@mariaogryczak make sure to include a test for null case please.

[2019-07-05 13:01] mariaogryczak opened #536 "Add scroll bar to entity menu"
On the smaller screen not all of the entities are visible. There should be a scroll bar in this menu, so that you could see and choose all of them.

[2019-07-05 13:11] bognasoldev89 commented on #347
Confirmed that "back" button is on every page available and is working

[2019-07-05 13:11] #347 closed

[2019-07-08 07:30] bognasoldev89 commented on #500
Confirmed added navigation arrows for phone entities on single/multiple view

[2019-07-08 07:30] #500 closed

[2019-07-08 08:25] bognasoldev89 commented on #465
Confirmed that weekdays are sorted after uploading opening hours data

[2019-07-08 08:25] #465 closed

[2019-07-08 11:14] bognasoldev89 commented on #458
Confirmed that this error no longer occurs

[2019-07-08 11:14] #458 closed

[2019-07-08 11:23] bognasoldev89 opened #538 "Correct spelling errors on Administration -> Scheduler details page"
I spotted a minor bug on this page, a couple of spelling errors:
- administation - should be "administration"
- thought - in all of the descriptions, should be "through"

![Screenshot from 2019-07-08 13-20-36](https://user-images.githubusercontent.com/51324797/60806578-a99df580-a183-11e9-981d-07be76e46b38.png)

[2019-07-08 13:28] bognasoldev89 commented on #513
Confirmed that there's no additional request during loading homepage.

[2019-07-08 13:28] #513 closed

[2019-07-08 15:27] jkondrat opened #539 "Investigate performance issues"
The dev server has slowed down significantly, main view, searching, filtering, single record view, and side by side are very slow.

[2019-07-08 17:32] johnhbenetech opened #541 "Hide 'Home' header link for sacramento users"

[2019-07-08 17:32] #438 closed

[2019-07-08 23:48] johnhbenetech commented on #531
The first component of this task is to make sure the various taxonomies and their corresponding terms (like their text description not just ID) are available to the application. This may require an additional table, but ill leave that up to you.

The second component is just to add a multiselect filter (similar to the county/city filters) that pulls the logged in accounts corresponding taxonomy te

[2019-07-08 23:51] johnhbenetech opened #542 "Recommendations for improving matching algorithm"
Would love someone to do a deep dive on the matching algorithm and come up with recommendations especially after any work with improving geocoding and service taxonomy.

[2019-07-09 00:01] johnhbenetech commented on #378
Seems to just be Eligibility thats needs the expanding text box added for now

[2019-07-09 09:13] awalkowiak commented on #459
@johnhbenetech can we close this one or there is need to add something more?

[2019-07-09 09:20] awalkowiak commented on #365
@johnhbenetech I think this is the same feature as this one: https://github.com/benetech/ServiceNet/issues/317

[2019-07-09 11:03] #520 closed

[2019-07-09 12:16] bognasoldev89 commented on #405
As far as I am concerned, issues brought up above are resolved.

[2019-07-09 12:16] #405 closed

[2019-07-09 13:33] johnhbenetech commented on #365
@awalkowiak #317 is for adding expand all and contract all buttons.

This task (if we choose to do it) is to expand the location on the right side record when the location on the left side record is expanded.

[2019-07-10 20:47] NeilMBenetech commented on #542
Duplicate to https://github.com/benetech/ServiceNet/issues/323 ? This has a little more detail, noting prerequisite tasks, so maybe delete the other one ?

[2019-07-10 21:40] #323 closed

[2019-07-10 21:41] johnhbenetech commented on #542
@NeilMBenetech yep i closed the other, thanks

[2019-07-11 16:49] NeilMBenetech commented on #298
@CloVasco  is this a duplicate to https://github.com/benetech/ServiceNet/issues/440 and should we therefore delete this one, #298?

[2019-07-11 16:51] CloVasco commented on #298
@NeilMBenetech you are right. Go ahead and delete this one!

[2019-07-11 16:53] #298 closed

[2019-07-11 16:55] NeilMBenetech commented on #384
To clarify, this should apply to Services and Locations in both the left column ("my" records) and the right column (comparison record).

[2019-07-11 17:00] NeilMBenetech commented on #531
I suspect the Taxonomy "rosetta stone is a prerequisite for this task. https://github.com/benetech/ServiceNet/issues/319

[2019-07-11 17:05] johnhbenetech commented on #531
We can put it on the main view without #319 - since we are only filtering their own records using their own vocabulary.

Once discovery is in place (without taxonomy filtering) we would do that translation work and then add it in.

We can certainly get a start on our side of #319 (the nasty manual parts :D )

[2019-07-11 17:08] NeilMBenetech commented on #357
I'm going to modify this task somewhat for clarity.. I propose it should be:

Be able to filter results for those either located within, or serving, a designated location. Also be able to sort results by proximity to that designated location.

That location ideally could be either a Lat/Long coordinate (selected on a map?) or just a specified county, city/town or zip code. If the latter (which is

[2019-07-11 17:11] johnhbenetech opened #554 "Use new geocode structured data in geofilters"
Once the geocode work is completed we should switch the city, county, zip to use the structured results to provide more normalization and reduce typos, etc.

[2019-07-11 17:12] NeilMBenetech commented on #343
Hey @CloVasco can you clarify this one please? Are you saying searches should not operate on partial words, so if you search for "heal" it will not match on "health" but just the full word "heal", for example ?

[2019-07-11 17:13] NeilMBenetech commented on #341
Hi @CloVasco , if you agree with my modifications to https://github.com/benetech/ServiceNet/issues/357 can this one be closed and discarded?

[2019-07-11 17:16] johnhbenetech opened #555 "Use new geocode structured data in matching algorithm"
Once the new structured geocode results are populated, we should switch the matching algorithm to take the coords from that data for all partners.

Another thing to consider along with #542 is whether we should also look at using the structured city, county, zip, address, etc in the matching algorithm. So for instance if we don't have a high confidence coord result do we fall back to the other fie

[2019-07-11 17:17] NeilMBenetech commented on #301
I'm going to refine this one just to focus on the timeframe. I've also refined https://github.com/benetech/ServiceNet/issues/357 to focus on filtering/sorting by address/location.

So this one now becomes :
Enable users to filter search results by timeframe of last updated date, and choose to sort in chronological or reverse-chronological order.
User should be able to choose timeframes from a drop

[2019-07-11 17:19] NeilMBenetech commented on #297
Hi @CloVasco , can this one be closed/discarded because it is a duplicate of this one https://github.com/benetech/ServiceNet/issues/531 , which has more detail in it?

[2019-07-11 17:24] johnhbenetech opened #556 "Hook up beds available sort"
Doesn't seem to be working in dev. I know we still need to figure out 'distance' as well

[2019-07-11 17:26] johnhbenetech opened #557 "Upper left back button doesn't work as expected on shelter detail view"
https://drive.google.com/file/d/13eC4NG-Zy4cY_ih0z64BBygdSibMm180/view

[2019-07-11 17:29] johnhbenetech commented on #557
if logged in as admin you get sent to the shelter admin screen

if logged in as user you get sent to the other main page with no results (since you are a sacramento user not a system account user).

In either case it should just send you back to the main shelter list view.

[2019-07-11 17:56] johnhbenetech commented on #357
Unsurprisingly service area isn't readily available in other sets.

Re: geography

We already have filtering based on the physical location of the org (by city, county, zip) but obv that doesnt get at 'distance from a specific place' or could be confusing if the agency doesnt offer services in the area they are located.

Re: distance

Yeah i have no problem with a map based approach, or address en

[2019-07-11 19:40] NeilMBenetech commented on #531
I've incorporated some of this thinking in the Vision doc I just shared with you. You'll see I'm suggesting that Discovery really is just a component of Search and that taxonomy filtering is something I think that should exist no matter what kind of Search one is doing. Let's debate that thinking in that "bigger picture" document first and then come back to this item to figure out the ramification

[2019-07-11 19:43] NeilMBenetech commented on #357
I think a linear calculation of distance will suffice for a long time to come. Travel distance and time based on routing, transit etc is much more relevant when one is making referrals to a help seeker. But when you're just doing data updates, linear distance is good enough and hence calculatable in code without hammering the Google API hundreds of time per search.

[2019-07-12 08:56] bognasoldev89 commented on #495
Confirmed that map view is added to shelter detail page (if the address is available)

[2019-07-12 08:56] #495 closed

[2019-07-12 09:18] bognasoldev89 commented on #557
@johnhbenetech I spotted this too, back button, in this case, seems to skip main shelters view and sends a user to page displayed before it

[2019-07-12 10:00] bognasoldev89 opened #559 "Investigate error occurring during going through shelters detail pages"
During going through numerous shelters detail pages, an error occurs and user is not able to see those pages

![Screenshot from 2019-07-12 10-20-11](https://user-images.githubusercontent.com/51324797/61120221-bfb9f780-a49c-11e9-9deb-237adf683a52.png)

[2019-07-12 14:07] bognasoldev89 commented on #147
Confirmed that extension exists and works

[2019-07-12 14:07] #147 closed

[2019-07-12 15:15] kkaczmarczyk commented on #479
@johnhbenetech just fyi google structured data lives in 'geocoding_table'. New fields are for address components as well as location_type, address_type and partial_match. There could be many results returned for a single (provider-given) address, usually in case if it is a partial match.
Moreover, there are a lot of address components types in google (ex. like 5 administrative political levels), b

[2019-07-12 15:21] kkaczmarczyk commented on #480
2. it is currently a case, that if any DB records exist for a particular physical address in 'geocoding table', new request to Google API isn't being sent. In case of some address change in particular org, it wouldn't exist in DB, hence new request would be send.

For the longer term, I think we should consider a caching mechanism for it. The Geocoding data such as addresses (for particular coords

[2019-07-12 19:42] johnhbenetech opened #563 "Shelter map view doesn't recenter across different results"
To produce:

Click on shelter 1 with location 1. See map centered accurately

Go back, click shelter 2 with location 2. Map is still centered to location 1

Video: https://drive.google.com/file/d/1KPp8nu5_ucyY_Mw42Wds9XL-5dSWgQrD/view

[2019-07-15 09:55] bognasoldev89 commented on #538
Confirmed that mentioned errors are corrected

[2019-07-15 09:55] #538 closed

[2019-07-15 12:02] bognasoldev89 commented on #559
Seems like issue is fixed, I was not able to reproduce this error anymore

[2019-07-15 12:02] #559 closed

[2019-07-16 00:19] CloVasco commented on #297
@NeilMBenetech yes. you are right

[2019-07-16 00:20] CloVasco commented on #341
@NeilMBenetech both are covering the same purpose and #357 is more detailed. so feel free to close this one

[2019-07-16 00:26] CloVasco commented on #343
@NeilMBenetech I was copying an idea from our UI/UX contractor, Laura. Here is the full explanation she gave me at the time: "Ability to be very targeted by including words in quotes. For example: “health” in quotes wouldn’t include heal, but health without quotes would"

[2019-07-16 08:02] bognasoldev89 commented on #202
Confirmed that entity "Match Similarities" is created and storing demanded info.

[2019-07-16 08:02] #202 closed

[2019-07-16 08:34] bognasoldev89 commented on #563
Confirmed that bug is fixed

[2019-07-16 08:35] #563 closed

[2019-07-16 09:38] bognasoldev89 commented on #557
Confirmed that "Back" button on shelter detail view is fixed and works as expected

[2019-07-16 09:38] #557 closed

[2019-07-16 09:43] bognasoldev89 commented on #541
@johnhbenetech I noticed that when logged in as an admin with sacramento role, "Home" header link is hidden too. Is it supposed to be like this?

[2019-07-16 12:24] bognasoldev89 commented on #140
Confirmed that Holiday Schedule can make relations ManyToOne with Locations and Services

[2019-07-16 12:24] #140 closed

[2019-07-16 13:06] kkaczmarczyk commented on #480
3. Overall I think that for the longer term we should do that not only for the geocoding process but for matching&conflict finding as well. I think it would be best to refactor all of these actions at once, looking at the big picture.

[2019-07-16 13:56] bognasoldev89 commented on #541
Header looks like discussed during meeting, confirmed that "Home" link is hidden for sacramento users

[2019-07-16 13:56] #541 closed

[2019-07-16 14:48] johnhbenetech opened #568 "ServiceNet Logo should go to shelter view for sacramento users"
I realized this as part of #541, but any 'home' concept for sacramento users should go to shelter view - including the logo link.

So this gets back to if we have a user with both sacramento and system account set. My gut says just let Sacramento overrule anything else.

Then for internal testing we should just make a separate sacramento user for testing

[2019-07-16 21:07] NeilMBenetech commented on #297
Closed as a duplicate.

[2019-07-16 21:07] #297 closed

[2019-07-16 21:07] NeilMBenetech commented on #341
Closed as a duplicate.

[2019-07-16 21:07] #341 closed

[2019-07-16 21:09] NeilMBenetech commented on #343
Thanks Clotilde. I'm going to close this one for now but  I've captured the concept in my overall "big picture" document. I'll reintroduce this idea when the time comes.

[2019-07-16 21:09] #343 closed

[2019-07-16 22:41] johnhbenetech opened #570 "Investigate approach for displaying records without a match to your records"
We need to start giving users the ability to see records 'owned' by another system account even if they don't have a match to one of their records.

I'm looking to get an understanding of the difficulty of various approaches and how we might handle it most efficiently.

I think the most direct approach might be to add a multi-select filter that allows a user to 'see records for the selected accoun

[2019-07-16 22:42] johnhbenetech opened #571 "Investigate approach for expanding search to 'like' searching to deal with mispellings, etc"
Interested in hearing some proposals about how we might improve our text-based search to be a little more flexible around related terms or mispellings.

I don't think we should spend a bunch of time dealing with things like Solr/ElasticSearch/etc - but let me know if thats the best approach.

In some quick reading I've seem some postgres specific approaches that can outperform solr in certain use

[2019-07-16 22:46] johnhbenetech opened #572 "Add filters option for returning records that have locations 'within X miles' of a user-entered location"
We will need this logic for both the bay are and sacramento projects.

We would like for a user to be able to enter a location (wither by entering an address or potentially clicking a pin on a map).

After getting a GPS for the entered location - a user should be able to ask to return records that have locations within a set distance (5 mi, 10mi, 15 mi for example).

I'm not clear how quickly we w

[2019-07-18 09:54] jkondrat commented on #474
@johnhbenetech It turned out that the delay is caused by poor performance of conflict detection. I have improved logging in organization match service, we have two async methods - the first one being createOrUpdateOrganizationMatches (for each uploaded organization, I believe we have around 2000 of them in ShelterTech). At the end of this method, it calls another Async method that detects conflict

[2019-07-18 14:48] johnhbenetech commented on #474
@jkondrat Yes I think focusing on #542 is the right choice here. It's just good to know that the matching algorithm is the largest driver of the delay at this point.

You probably know way more than me at this point, but my understanding was the geo matching was one of the largest drivers of poor performance in the matching algorithm. You might already be aware of this, but check out this commit:

[2019-07-18 14:51] johnhbenetech commented on #317
on call we decided to show both buttons all the time for each record

[2019-07-19 07:04] bognasoldev89 commented on #568
Unfortunately ServiceNet Logo doesn't work for sacramento users as supposed

[2019-07-19 07:20] bognasoldev89 commented on #556
Confirmed that user can sort shelters by available beds

[2019-07-19 07:20] #556 closed

[2019-07-19 12:11] mariaogryczak opened #578 "Investigate mapping of 'Phone' field"
On the record view the "Phones" section is under "Service" section, although it looks like it should be displayed independently.
It might be connected to mapping (or its lack) and relations may be incorrect.

[2019-07-19 12:23] awalkowiak commented on #578
Example: phones file for SMC has relations to location, service, organization or contact. Please confirm that everything is mapped properly.

[2019-07-22 09:42] bognasoldev89 opened #580 "Investigate why ShelterTech doesn't map "Phones" in single record view"
ShelterTech data doesn't display "Phones" entity in single record view at all.
This issue is connected with #578

[2019-07-22 11:43] awalkowiak commented on #578
Also make sure, that phones are properly displayed in Single Record View.

[2019-07-22 11:46] awalkowiak commented on #580
Closing as we don't need separate issue for this. This will be handled in #578

[2019-07-22 11:46] #580 closed

[2019-07-22 11:56] awalkowiak opened #581 "Check all entity tables for proper column displaying"
In some entity table there is mismatch between column name and cell value. Make sure that all entity columns are properly displayed.

Example:
Required documents -> Column names = srvc | External Db ID | Provider Name -> Cell values =  External Db ID | Provider Name | srvc

![Selection_047](https://user-images.githubusercontent.com/12113312/61630608-6f0a8180-ac88-11e9-8988-bfe83a3c4c19.png)

[2019-07-22 13:22] mariaogryczak opened #582 "Fix spelling errors in titles of entities"
There are some errors in entity titles generated by JHipster.
Example: Payment Accepteds, but should be Payments Accepted.

[2019-07-22 14:11] bognasoldev89 commented on #439
Confirmed that Opening schedule adding and mapping is improved and Address_2 path is added

[2019-07-22 14:11] #439 closed

[2019-07-22 14:38] bognasoldev89 commented on #475
Confirmed that URL conflict detection is improved, ignores not meaningful differences between values and is null-safe.

[2019-07-22 14:38] #475 closed

[2019-07-22 15:39] NeilMBenetech commented on #440
@johnhbenetech Might I suggest a simplification for this one that would be consistent with other filtering options we have in mind for the short- and medium-term.

On the current main search page, let's allow a user to indicate which partner database(s) they are targeting for their search, with the default being their own database.  But they have the ability to target any other partners' database,

[2019-07-22 15:55] NeilMBenetech commented on #340
@johnhbenetech For improved clarity on this item, the user should be able to filter by any of the three major record types : Organization, Service and Location. I propose that every search should target exactly one of these, hence the UI element should be either a set of 3 radio buttons or a drop-down list. The default should be Organization and then any selection made by the user should be persis

[2019-07-22 17:25] johnhbenetech opened #583 "Accessibility data persists at Site but not Agency"

[2019-07-23 01:04] NeilMBenetech opened #584 "Search - Autosuggest on search box"
As user types, search box auto-suggests search words and phrases. Clicking on an auto-suggested item performs the search immediately. All filters as currently selected are enforced in that search.

Initially the autosuggested items are the names of the selected record type for this search for the target partner database selected, as described in https://github.com/benetech/ServiceNet/issues/440 .

[2019-07-23 01:10] NeilMBenetech opened #585 "Search - retain user filter and sorting settings across searches and sessions"
Whenever a user changes any of the filtering and sorting options on the main Search page, persist those settings and automatically apply them when they return to the search page. (Do not retain the free text in the search box though, that should be newly added each time the initiate a search).

Secondarily, allow the user to save different named sets of settings so they could quickly choose one fr

[2019-07-23 03:06] NeilMBenetech commented on #437
Please ignore my previous comment on this one from circa July 2nd. I have refined these into their own separate items.

For this one I propose another filter in a drop-down box containing the list of all searchable fields for the selected record type as described here https://github.com/benetech/ServiceNet/issues/340 .

Once the user selects a target field, the search will apply all other selected

[2019-07-23 20:40] johnhbenetech commented on #440
@NeilMBenetech
Any thoughts on UI for the partner selector? I assume you're thinking it wouldnt be under the filter accordion, but rather at the top level?

Any suggestions for how we might visually differentiate the 'not your' records in the list display?

If we decide to allow for looking at multiple partners simultaneously:
In the case where lets say 3 other partners have a record you dont have

[2019-07-23 20:43] johnhbenetech commented on #308
@NeilMBenetech if a previously dismissed record receives an update, should it still remain dismissed?

should we ever automatically redisplay a record? or the only way is to manually reinstate?

[2019-07-23 20:52] johnhbenetech commented on #340
@NeilMBenetech

Which fields are you talking about specifically for services? There are a lot of fields, so let me know which you feel should be covered in the search scope.

The geography filtering already allows you to segment by city, zip, county. Are you talking about allowing them to search by street address as well?

[2019-07-23 20:56] johnhbenetech commented on #585
@NeilMBenetech Do you have a UI suggestions for the 'Save Search' and Search Select features?

[2019-07-23 20:58] johnhbenetech commented on #585
In the mean time we can go ahead with persisting the filters between record views,

[2019-07-24 09:01] bognasoldev89 opened #589 "Remove additional "Back" button on dismissed records details page"
After adding "Back" button for the whole app, the one added on that page is not needed anymore

[2019-07-24 14:21] NeilMBenetech commented on #440
@johnhbenetech we should think through all the various filters we're considering to put in place. Given the currently implemented motif, it would probably make sense to put them in the Filter accordion. The filter for category/taxonomy will likely take up a bit of real estate if we allow a browse-able hierarchical tree. It might need its own accordion especially to render well on a mobile device.

[2019-07-24 14:23] NeilMBenetech commented on #308
@johnhbenetech  I'm thinking that upon any new change to the record, subsequent to the user dismissing it, it once again appears in the feed. For that reason we should consider making the onhover or button text itself more descriptive: "Dismiss until new changes" or something like that.

[2019-07-24 14:27] NeilMBenetech commented on #340
@johnhbenetech For now we should be consistent with the existing search, which is on Name and Alternate Name (correct?) of the targeted record type.

When we implement https://github.com/benetech/ServiceNet/issues/437 though, the intention there is that any text field in that record type is searchable. We could start though with a subset of fields that we agree are most interesting. But users will

[2019-07-24 14:29] NeilMBenetech commented on #340
@johnhbenetech And yes, street address can also be a great field to search on. "I'm looking for a homeless shelter in San Francisco on Market Street. I don't remember the name." This would use four different filters in combination : taxonomy, geography, record type and targeted search field (last one is this workitem).

[2019-07-24 14:32] NeilMBenetech commented on #585
@johnhbenetech It probably warrants its own accordion named "Saved searches". Then upon expansion the user has a text box where they can type a new name (must be unique) and click a Save button. Below that is the list of that particular user's previously saved searches. When they click on any of them it applies it's filter settings and does the search automatically.

[2019-07-24 16:16] johnhbenetech commented on #340
@NeilMBenetech
Ok. Location Name is poorly populated. In many cases we artificially populate it using street address. So lets proceed with name, alt name, and street address for locations.

With regards to UI. Four options (or others if you have a suggestion). A. top level radio (only can search one type), B. top level checkbox (to search multiple types), move either A or B below into filter.

A:

[2019-07-24 16:19] johnhbenetech commented on #440
@NeilMBenetech The current rec is to move it into a sidebar

![image](https://user-images.githubusercontent.com/12927553/61810423-d51c1380-ae04-11e9-857f-902be4118c01.png)

[2019-07-24 16:46] johnhbenetech commented on #440
@NeilMBenetech

One thing to look at is the current 'Partner Sources' filter. What it does is allow a user to only show records that have a match to the partners you selected.

Does the discovery feature obviate/complicate this filter? Should we just change that filter into the discovery feature with a different title like "Include Partner Records"

Yeah lets start with single partner and go from

[2019-07-24 17:00] NeilMBenetech commented on #340
@johnhbenetech I think option A (radio) and yes move into Filter accordion.

[2019-07-24 17:08] NeilMBenetech commented on #440
Ooo I like the Partner Sources selector. But it's currently serving a slightly different function ("show me matching records from these particular partners") than this new Discovery ("show me records I don't have from this/these particular partner(s)").

If we retain this one and add a new one it may be confusing, right? So perhaps we should rename "Partner Sources" to "Show matching records from.

[2019-07-24 18:07] johnhbenetech commented on #440
@NeilMBenetech I guess I don't necessarily buy the need for "show me matching records from these particular partners". It's not being used, and i think it's weirdly anti-trust.

If we retain both it breaks down quickly. Like you need to add a bunch of extra logic and it become very confusing.

For instance: Show me records from UWBA that only have matches to UWBA? So to prevent this we have to cha

[2019-07-24 18:08] johnhbenetech commented on #340
so we'll go with this

![image](https://user-images.githubusercontent.com/12927553/61817409-18ca4980-ae14-11e9-8e94-96299e603c70.png)

[2019-07-25 09:40] mariaogryczak commented on #199
@johnhbenetech
Taking into consideration, how many records are now displayed in each entity, I suggest to divide it like this:
Pagination:
Shelter
Beds
Option
Organization
Service
Document Upload
Contact
Service at Location
Location
Physical Address
Postal Address
Phones
Regular Schedule
Holiday Schedule
Funding
Eligibility
Required Documents
Language
Accessibility for Disabilities
Service Taxonom

[2019-07-26 15:16] pmuchowski opened #597 "Add separate matches for services and locations"
Add separate match entity for service and location. We should look for service and location matches only between matched organizations.
Split the organization and services/locations update, so we can check if the organization was changed and only then do the update and look for the matches.
Next we should check every location and service, update it and look for matches if needed.

[2019-07-26 15:23] jkondrat opened #598 "Search for matches and conflicts only if the organization has changed"
Right now we are looking for matches for every organizaiton, even if it didn't change. Add a deep equal to check if Organization and its locations or services have changed.

[2019-07-26 18:01] johnhbenetech commented on #199
The pagination group you outlined seems to be the right list, lets start with those

[2019-07-29 07:28] bognasoldev89 commented on #568
Confirmed that ServiceNet logo button work properly now.

[2019-07-29 07:28] #568 closed

[2019-07-29 12:12] bognasoldev89 commented on #582
Confirmed that mentioned spelling errors are fixed

[2019-07-29 12:12] #582 closed

[2019-07-29 14:09] bognasoldev89 opened #599 "Investigate displaying Location entity for UWBA user"
Locations of organisations are not displayed in multi-record view when logged as UWBA user.

[2019-07-29 14:51] pmuchowski commented on #599
@johnhbenetech It's a small issue with excluded locations filtering, easy to fix.

[2019-07-29 15:45] awalkowiak commented on #308
@NeilMBenetech / @johnhbenetech / @laurabenetech
What in case if there are multiple organization matches on card on home page? Should all be hidden (dismissed) at once?

![Selection_064](https://user-images.githubusercontent.com/12113312/62062065-99c87d00-b228-11e9-9d87-7ca5c4c6db07.png)

[2019-07-29 19:59] johnhbenetech commented on #308
@awalkowiak Yes, the intent would be to hide that entire set of matches (essentially hide that whole card). Let me know if you come across an edge case we arent thinking of

[2019-07-30 08:24] awalkowiak commented on #308
@johnhbenetech ok cool, no edge cases so far.

But on the side by side view "hide" would be applied only to the currently visible match?

[2019-07-30 08:38] bognasoldev89 commented on #317
Confirmed that button works on both single record view and multi-record view. User is able to browse matches with an expanded view.

[2019-07-30 08:38] #317 closed

[2019-07-30 11:23] bognasoldev89 opened #601 "Investigate expanding text areas on Microsoft Edge"

[2019-07-30 11:38] bognasoldev89 commented on #378
The issue was tested on Chrome and Mozilla Firefox and works on both browsers.

Screenshots below show fields fixed in this issue and earlier on FF:
![Screenshot from 2019-07-30 13-32-51](https://user-images.githubusercontent.com/51324797/62125909-bdde9980-b2ce-11e9-8f8c-588d48decfa1.png)

And Chrome:
![Screenshot from 2019-07-30 13-35-58](https://user-images.githubusercontent.com/51324797/6212599

[2019-07-30 11:38] #378 closed

[2019-07-30 12:27] bognasoldev89 commented on #340
Confirmed that search for Services and Locations is now possible .

[2019-07-30 12:27] #340 closed

[2019-07-30 14:20] bognasoldev89 commented on #531
Confirmed that filtering by taxonomy works for admin and other users.

[2019-07-30 14:20] #531 closed

[2019-07-30 14:31] johnhbenetech commented on #301
Per call. For the dropdown lets start with: Last 7 Days, Last 30 Days

[2019-07-30 19:29] johnhbenetech opened #602 "Store scheduler config in DB to prevent auto schedule on every deploy"

[2019-07-30 19:29] johnhbenetech commented on #570
this is just more thought for #440

[2019-07-30 22:28] johnhbenetech opened #603 "Investigate potential applications of ML/AI for processing large, unstructured text elements"

[2019-07-31 09:54] bognasoldev89 commented on #134
Confirmed that x_schedule content is mapped correctly to ServiceNet.

![Screenshot from 2019-07-31 11-48-45](https://user-images.githubusercontent.com/51324797/62202325-63564380-b389-11e9-87ab-3191fe3434a0.png)

![Screenshot from 2019-07-31 11-54-11](https://user-images.githubusercontent.com/51324797/62202646-f2635b80-b389-11e9-9a91-169210415936.png)

[2019-07-31 09:54] #134 closed

[2019-07-31 10:14] awalkowiak commented on #570
@johnhbenetech regarding 3. and 4. and showing it on home page. If users don't want to have it in separate page, maybe we could separate it to two tabs. I think this should be easier to implement (looking for overall work required), beacause we can focus on OrganizationMatch on one tab and on Organization on second tab. Something like this:

![Selection_067](https://user-images.githubusercontent.c

[2019-07-31 12:45] pmuchowski commented on #570
@awalkowiak it looks fine to me

[2019-07-31 14:28] jkondrat commented on #570
@awalkowiak : It looks good, but I don't think that displaying records in a separate tab will make this much easier

[2019-07-31 14:35] awalkowiak commented on #570
@jkondrat I guess this gives us option to work only on one endpoint at the time. Either OrganizationMatch or Organization. Do you see any other solution that could be helpful here?

[2019-07-31 14:46] johnhbenetech commented on #570
For 3, how would that case be possible by just looking at organizationmatch? Does organizationmatch also have rows for organizations with no matches?

[2019-07-31 17:25] kkaczmarczyk commented on #554
@johnhbenetech a few questions:

1. should the geocoding filters also hit the partial matches (and/or not ROOFTOP accurate) geocoding results? this depends on how 'strictly' we would like to filter results, I think you may have a better idea about users' perspective.
2. if not - should geo filters hit the provider-given data? (as it is now, but likely with the addition of whitespace trimming of DB

[2019-07-31 19:28] johnhbenetech commented on #554
1. Yes also partial. So like if only city is detected it would still find that

2. Keep it geocode table only

3. Yes only those that exist in table

[2019-08-01 07:00] awalkowiak commented on #570
No, but I guess that we could add those orgs during activity info building. However then for hiding there would need to add relation to organization.

[2019-08-01 11:28] bognasoldev89 commented on #301
Confirmed that filtering feature designed for timeframe works as it is supposed to work.

![Screenshot from 2019-08-01 13-26-17](https://user-images.githubusercontent.com/51324797/62289838-11342180-b460-11e9-8bb7-875195fa19c4.png)

[2019-08-01 11:28] #301 closed

[2019-08-01 12:03] bognasoldev89 commented on #599
Confirmed that issue is fixed.

[2019-08-01 12:03] #599 closed

[2019-08-01 12:46] bognasoldev89 opened #607 "Reset pagination when filters changed"
On the homepage, after scrolling down to the second page and then applying filters again, the first page is not displayed.

Steps to reproduce:
- add filters on the homepage (I noticed his issue while Update date -> Last 30 Days filter was on)
- click apply and scroll down (back and forth) till the app won't show all of record it's supposed to show

[2019-08-01 13:16] bognasoldev89 opened #608 "Add date picker in Safari"
While using Safari (v12.03.3), date picker is not available at all (Homepage -> Filtering feature -> Update date -> Date range).
For Chrome, Firefox and Edge date pickers work just fine.

[2019-08-01 15:56] kkaczmarczyk commented on #554
@johnhbenetech Geocoding results are only fetched for Physical Addresses. Nevertheless, Should the geo-filters also run against Postal Address?

[2019-08-01 16:23] johnhbenetech commented on #554
Let's stick with just physical

[2019-08-02 11:41] mariaogryczak commented on #603
@johnhbenetech
Is there available a testing database with pairs of texts and their expected similarity ratio? I would like to test my ideas to see how they behave with these data.

[2019-08-02 13:35] johnhbenetech commented on #603
Unfortunately not for our dataset.

Two ideas:

1. There may exist a labeled dataset for generic ML training out there. I found this: Wikipedia and arXiv similarity triplets
http://cs.stanford.edu/~quocle/triplets-data.tar.gz

2. This might not work, but: from our DB take org description triplets - two from a pair defined in organizationmatch and 1 from a random org. Theoretically I would expect t

[2019-08-06 13:18] jkondrat opened #614 "Exception when uploading LAAC data"
There are lots of exceptions when uploading LAAC data on staging. It looks that "findOneWithEagerAssociationsByExternalDbIdAndProviderName" method in ServiceRepository returns multiple results where it should only return one.

[2019-08-06 15:41] jkondrat commented on #614
While investigating non unique result exceptions on data upload, I noticed that we have duplicate organizations, services and locations on staging (the same external_db_id and provider_name/account_id)
I'm about to create a constraint on the database which would prevent such cases, but we will need to confirm if there are any duplicates on production, if so we will have to review and remove them

[2019-08-07 10:09] bognasoldev89 opened #616 "Create QA approach for testing different user types document"
Document is important for using defined user roles/types/personas for future testing strategy.

Goal:

- Understand different roles (defined or not) in the system.
- Understand business goal of these users, their purpose.
- Use this knowledge to define future testing approaches.

[2019-08-07 11:00] bognasoldev89 opened #617 "Create Testing Strategy document"
Team (especially testers) needs set of guidelines that explain test design and determines how testing needs to be done.
Testing Strategy document comments on general approach to the ServiceNet app testing.

[2019-08-07 18:21] johnhbenetech opened #618 "Set up travis CI"
Let me know if there's anything I should do to set up an account or cofigure github, etc.

[2019-08-07 18:28] johnhbenetech opened #619 "Cycle and Move jhipster app key to DB/env var"

[2019-08-07 18:31] johnhbenetech opened #620 "Increase log-in session expiry"
Increase jhipster session expiry to 2h

[2019-08-07 19:08] johnhbenetech commented on #602
@kkaczmarczyk As part of this task can you confirm one thing.

if i disable a job I would expect it to not run at all until I manually fire it again. I've noticed sometimes where I know i disabled it, but then it seems to run a week later. It's possible it was redeployed in the inbetween, but i think there was a few times in prod where i know i didnt redeploy. I could be mistaken though :)

[2019-08-08 11:53] bognasoldev89 opened #621 "Fix errors while creating new elements of entities"
This error occurs when user is logged as an admin and tries to add a new element of entity. Example:

![Peek 2019-08-08 13-44](https://user-images.githubusercontent.com/51324797/62701261-1fe08280-b9e4-11e9-9ec6-d9be77e788e0.gif)

List of entities where issue occurs:
Shelter
Beds
Organization
Service
Service At Location
Location
Physical Address
Postal Address
Phone
Contact
Regular Schedule
Holiday

[2019-08-08 18:44] johnhbenetech opened #623 "Come up with proper approach for populating taxonomy filter dropdown"
So this is my current understanding of how taxonomy filter dropdown is populated:

* Taxonomies are pulled from various partner systems, either through pulling values from CSV uploads, or by hitting specific taxonomy API

* The dropdown then shows all taxonomies from all partners

So this can get complicated for a few reasons:

1. There exist taxonomies in the dropdown that have no records associa

[2019-08-09 09:00] bognasoldev89 commented on #199
Back buttons (browser's and application's) don't work after changing number of items per page.
Examples:

![pagination back button doesn't work](https://user-images.githubusercontent.com/51324797/62767201-74dbd180-ba94-11e9-938e-4cb9412ce7d4.gif)

![pagination back button from details](https://user-images.githubusercontent.com/51324797/62767399-ddc34980-ba94-11e9-8fe6-fdd846645a32.gif)

[2019-08-09 11:31] bognasoldev89 opened #625 "Adjust placeholder in search feature to search settings"
Placeholder text in search feature reacts to "Search On" radio buttons but not to Search fields.

![Screenshot from 2019-08-09 13-12-37](https://user-images.githubusercontent.com/51324797/62776200-2df8d680-baaa-11e9-9f85-f0ea35858cc7.png)
![Screenshot from 2019-08-09 13-13-24](https://user-images.githubusercontent.com/51324797/62776201-2e916d00-baaa-11e9-9716-a48eee30d956.png)
![Screenshot from 20

[2019-08-09 11:45] johnhbenetech commented on #623
yes

________________________________
From: Krzysztof Kaczmarczyk <notifications@github.com>
Sent: Friday, August 9, 2019 4:02 AM
To: benetech/ServiceNet
Cc: John Higgins; Mention
Subject: Re: [benetech/ServiceNet] Only load service types related to the logged in user's taxonomy/records (#623)

@johnhbenetech<https://github.com/johnhbenetech> Is this for the taxonomy filters?

—
You are receiving

[2019-08-09 11:52] johnhbenetech opened #626 "when go back to main view, filter shade expanded even when default filter"

[2019-08-09 12:40] bognasoldev89 commented on #437
Confirmed that search engine works for fields chosen by user:

![search expand working](https://user-images.githubusercontent.com/51324797/62779467-9d26f880-bab3-11e9-9bad-d8044daf333d.gif)
![search expand working 2](https://user-images.githubusercontent.com/51324797/62779468-9d26f880-bab3-11e9-8647-a91ae94c019f.gif)

[2019-08-09 12:40] #437 closed

[2019-08-09 12:41] bognasoldev89 commented on #626
Filter feature seems to behave a little erratic - sometimes it is expanded and sometimes it is not. I was not able to reproduce or spot anything specific.

I recorded this gif, after clicking "Sign out" and before user is logged out filtering feature expands for a moment:
![filter visibility log out and in](https://user-images.githubusercontent.com/51324797/62779073-6bf9f880-bab2-11e9-9e33-0845dea

[2019-08-09 13:08] kkaczmarczyk commented on #570
@johnhbenetech Actually, does it make sense to display all of the 'filter-matched' Organization Matches that do not belong to your account? This way there won't be a need to randomly (or by some other way) choose one of the matches as the 'main' one. The clicked one would be the 'main' record.

[2019-08-09 13:12] johnhbenetech commented on #570
So for 4, if we had a cluster of 5 records from other systems - each of the 5 records would appear as a row on the main view. Clicking any of those records would allow you to view the other 4 records in the cluster with the clicked record as 'main'?

[2019-08-09 13:21] kkaczmarczyk commented on #570
Correct. What are the downsides?

[2019-08-09 13:22] johnhbenetech commented on #570
I think that sounds like a good approach

[2019-08-09 14:11] kkaczmarczyk commented on #440
Update per Slack discussion:

- add the checkbox filter option "only show matching" somewhere near Partner selection.
- It should be checked by default
- checked: would work as it is now - displaying Org with Org Matches within user's account
- by unchecking it and clicking 'Filter' button, user would trigger displaying Org with Org Matches unrelated with user's account (without a match to user's

[2019-08-09 14:11] kkaczmarczyk commented on #570
Update per Slack discussion:

- add the checkbox filter option "only show matching" somewhere near Partner selection.
- It should be checked by default
- checked: would work as it is now - displaying Org with Org Matches within user's account
- by unchecking it and clicking 'Filter' button, user would trigger displaying Org with Org Matches unrelated with user's account (without a match to user's

[2019-08-12 11:33] bognasoldev89 commented on #308
@johnhbenetech is viewing dissmissed records supposed to be possible only for admin users?

[2019-08-12 13:08] mariaogryczak commented on #603
@ Here is a short summary of my findings about text similarity (first part of the task)

To determine whether two texts have similar meaning, the SiameseMaLSTM artificial neural network might be used. Here’s a brief summary of it:
https://towardsdatascience.com/text-matching-with-deep-learning-e6aa05333399
The result is on the background of used words, their order etc.

A database to teach her con

[2019-08-12 16:24] johnhbenetech commented on #308
it should be for any user

[2019-08-12 17:11] kkaczmarczyk commented on #614
@jkondrat anything else concerning this task? Can QA test it?

[2019-08-13 09:11] bognasoldev89 commented on #621
Confirmed that errors occur no more.

Examples:
![621 working 1](https://user-images.githubusercontent.com/51324797/62929559-03b15c80-bdbb-11e9-9889-a8887c3dba82.gif)
![621 working 2](https://user-images.githubusercontent.com/51324797/62929561-03b15c80-bdbb-11e9-99b6-44fb5c115f99.gif)

[2019-08-13 09:11] #621 closed

[2019-08-13 09:43] bognasoldev89 commented on #308
I noticed a few things that need fixing:
1. Viewing dismissed records is possible only for admin users:

| | | |
| --- | --- | --- |
| ![308 bug 1](https://user-images.githubusercontent.com/51324797/62931037-e631c200-bdbd-11e9-82ff-95efae9f6fd7.png) | ![308 bug 2](https://user-images.githubusercontent.com/51324797/62931051-ef229380-bdbd-11e9-922d-f3073d80f627.png) | ![308 admin dropdown](https://u

[2019-08-13 09:48] bognasoldev89 commented on #308
@johnhbenetech I have one more question. Is dismissing at Service and Location level in the scope of this task? It was mentioned but it is not clear if it was an idea to improve this feature.

[2019-08-13 11:53] johnhbenetech commented on #308
No. That will be a separate task if we decide to do it

________________________________
From: bognasoldev89 <notifications@github.com>
Sent: Tuesday, August 13, 2019 4:48 AM
To: benetech/ServiceNet
Cc: John Higgins; Mention
Subject: Re: [benetech/ServiceNet] Ability to dismiss records when done (#308)

@johnhbenetech<https://github.com/johnhbenetech> I have one more question. Is dismissing at Ser

[2019-08-14 09:59] bognasoldev89 opened #628 "Add sorting to all of the entities"
I noticed that some of the entities detail pages can be sorted and some of them cannot. It would be consistent to add sorting to every entity detail page.

![Screenshot from 2019-08-14 11-21-06](https://user-images.githubusercontent.com/51324797/63012779-1dba7000-be8b-11e9-906d-8f94aeddc272.png)
![Screenshot from 2019-08-14 11-21-24](https://user-images.githubusercontent.com/51324797/63012780-1dba

[2019-08-14 14:17] kkaczmarczyk commented on #554
I've did an additional quick test on old staging.
Previously: cities filters were taken from Physical address parsed from Provider's data (screenshot 1+2)
![image](https://user-images.githubusercontent.com/3207119/63028334-eb226e80-beae-11e9-938e-d796b2901cdd.png)
![image](https://user-images.githubusercontent.com/3207119/63028340-ed84c880-beae-11e9-9f99-00489f0e1cb0.png)

Now: cities filters are

[2019-08-14 14:20] kkaczmarczyk opened #629 "Leverage BigDecimal classes for decimals calculations"
Decimals calculation should use Big Decimals instead of plain floats, especially in case of multiplications. Precision is being lost as a result of using floats for such operations.

I've seen it is mostly being done in OrganizationSimiliarityCounter

[2019-08-14 14:21] kkaczmarczyk commented on #629
@johnhbenetech I think this should be done asap

[2019-08-14 22:04] johnhbenetech opened #631 "Document database migration steps for migrating old QA to servicenet-qa.benetech.org"
As we continue to experience issues running the application on the new host, we would like to ensure we are taking the appropriate steps to migrate data between environments.

We have already attempted to increase memory/CPU for both the app containers as well as the RDS instance - but are still running into performance issues.

We would like to try a fresh database migration but need the followin

[2019-08-14 22:05] johnhbenetech commented on #631
@rkeiii will be working on this from the benetech side

[2019-08-14 22:12] johnhbenetech commented on #631
As we are trying to do this on an RDS instance - it would be best if you could test your process on an RDS to ensure it will work as intended (as there may be RDS specific requirements for privilages that arent applicable in a local env)

we previously tried using these commands:

pg_dump --host RDSHOSTNAME --no-owner -U USERNAME -W -F custom ServiceNet > ServiceNet_custom.dump

pg_restore --usern

[2019-08-17 00:17] kkaczmarczyk opened #632 "Update OrganizationMatches when Org has changed (after upload)"
It would make sense to update existing Organization Matches in case if Org has changed, since the previous upload.

[2019-08-17 21:57] NeilMBenetech commented on #340
@johnhbenetech The basic search is working properly but we will likely need further refinements to improve the user experience. Please let me know if this should be made into a new workitem.

When searching on a Location or Service, it is correctly finding those records BUT the search results are listing the parent Organization. Then you have to go into the Organization and manually cycle through

[2019-08-17 22:00] NeilMBenetech commented on #531
@johnhbenetech This appears to be working but I can't fully confirm because the "Service Taxonomy" field in Service records is blank in the numerous ones I looked at.

Also, similar to my feedback today on https://github.com/benetech/ServiceNet/issues/340 , the search results should list the Services that matched for the taxonomy filter, not the parent Organization. And when you click on a Service

[2019-08-17 22:03] johnhbenetech commented on #340
@neilmbenetech please break each discrete feature into a new ticket. Include any user stories or wireframes you may have for specific user flows.

[2019-08-17 22:07] NeilMBenetech commented on #301
@johnhbenetech Seems to be working with some minor feedback. 1. Please have calendar popups on date pickers, unless you feel strongly the current "up/down" arrows are better. 2. Prevent the "from" date from being later than the "until" date. 3. Appears to correctly be working on the targeted record type (Organization, Service, Location), not just Organization, which is great. Hard / laborious to c

[2019-08-17 22:15] NeilMBenetech commented on #437
@johnhbenetech I like how the auto-suggested list represents fields found in the selected target record type (Org, Serv, Loc).

I targeted Service record types and the field Application Process, and searched for "form". Amongst the search results was this Organization.

http://benetechservicenet.org/#/single-record-view/ade47647-0483-48c8-adee-e5a1f70aed18

I cycled through all five of its Service

[2019-08-18 14:08] NeilMBenetech opened #634 "Search results reflect record type, taxonomy and geography filters"
When searching on a Location or Service, it is correctly finding those records BUT the search results are listing the parent Organizations. Then you have to go into the Organization and manually cycle through all the Services (or Locations) via Next/Previous to find the one you searched for. This is laborious.

Instead we should consider returning the Service(s) or Location(s) that matched the sea

[2019-08-19 19:24] johnhbenetech commented on #437
@NeilMBenetech wrt "form" we do partial matching so what happened is that "inFORMation" matched:
![image](https://user-images.githubusercontent.com/12927553/63293131-ea158680-c28c-11e9-99db-de8675c429ef.png)

Can you do the field gap analysis? I don't think we actually want an exhaustive list and would rather you find specific fields you feel users would like

[2019-08-19 19:26] johnhbenetech commented on #301
For 1, Are you using safari by chance? We have #608 to deal with that. Should work in other browsers.

2. Can you break out a separate task for that (unless you think this is a release blocking requirement)

[2019-08-20 13:22] kkaczmarczyk commented on #618
@johnhbenetech any objections against using Github Actions CI instead?

[2019-08-20 13:30] johnhbenetech commented on #618
@kkaczmarczyk No objections, just I think it's a closed beta right now. I signed up but there seems to be a waiting list.

[2019-08-20 23:25] NeilMBenetech commented on #437
Sure @johnhbenetech .

Organization : Name, AlternateName, Description, Email, Phone, Contact.Name, Contact.Phone
Service: Name, AlternateName, Description, Email, ApplicationProcess, Fees, Eligibility, RequiredDocument, Language, Phone, Contact.Name, Contact.Phone
Location : PhysicalAddress.Address1, PostalAddress.Address1 (Geo filters can handle the rest of the address fields), Accessibility, Ph

[2019-08-20 23:27] NeilMBenetech commented on #301
@johnhbenetech
I was using Chrome on Windows.
I'll add new task for from/until validation. It was specified in my July 11 req's on this task but no need to have it block the deployment.

[2019-08-20 23:28] NeilMBenetech commented on #340
@johnhbenetech Done, created new task : https://github.com/benetech/ServiceNet/issues/634

This one can indeed be considered "closed".

[2019-08-20 23:30] NeilMBenetech opened #637 "Search filter on "Updated date" - select range validation"
As a follow-up to this task : https://github.com/benetech/ServiceNet/issues/301 please enforce validation so that the "from" date must be before the "until" date.

[2019-08-20 23:32] NeilMBenetech commented on #531
@johnhbenetech since the search appears to be working, we can consider this item closed. I'll create a new item to address the "Service Taxonomy" being blank when viewing details of a record.

I have also created a new task for displaying search results at the Service level.

[2019-08-20 23:40] NeilMBenetech opened #638 "Service Taxonomy is not showing in detailed view of records"
As a follow-on to this task : https://github.com/benetech/ServiceNet/issues/531

When I do a search in the Staging environment, logged in as hluser, specifying "The" (without quotes) as the search term, and "Clothing" as the Taxonomy filter, I get two results. Then viewing the details of one http://benetechservicenet.org/#/single-record-view/a2e6500b-f8a0-4d4e-84bd-c1f47f3cf39f , I scroll down to

[2019-08-20 23:43] NeilMBenetech commented on #299
Renamed this item to be more specifically focused on misspellings and exact phrases. "Wildcard search" I'll split into its own task. "Other info such as phone numbers" already incorporated into another task.

[2019-08-20 23:53] NeilMBenetech opened #639 "Search by wildcard in the free text box"
Now that we have several different ways to filter, the user should be able to conduct a search that ignores the free text component of the search and returns all records that match the criteria set in the filters. This would allow them to discover records for which they may not know the name or alternate name. For example : Rent Payment Assistance (taxonomy) in Santa Clara County (geography).

Our

[2019-08-21 00:18] NeilMBenetech opened #640 "Staging environment not secured with SSL/TLS"
Please configure http://benetechservicenet.org with a valid SSL/TLS certificate as sensitive information is being transmitted to/from that site....user passwords, records from our pilot partners, etc. Once configured please also "require secure connection" so that HTTPS is always in use and HTTP cannot be used.

[2019-08-21 00:54] johnhbenetech commented on #640
@neilmbenetech should be good now. The certificate was in place for everything but manually hardcoded http/www requests. Those should now be enforced to Https. Let me know if you confirm from your side.

[2019-08-21 00:59] NeilMBenetech commented on #640
@johnhbenetech Yep, works now, that was fast!

[2019-08-21 00:59] #640 closed

[2019-08-21 09:56] kkaczmarczyk commented on #631
@jkondrat Feel free to take it on once finished with Service Discovery

[2019-08-21 14:21] jkondrat commented on #631
@johnhbenetech @kkaczmarczyk I was able to completely copy the ServiceNet database with the following commands:
/usr/bin/pg_dump --host RDSHOSTNAME --port 5432 --username "USERNAME" --format custom --blobs --verbose --file "ServiceNet.backup" "ServiceNet"

/usr/bin/createdb --host RDSHOSTNAME --username "USERNAME" -W "ServiceNetCopy"

/usr/bin/pg_restore --host RDSHOSTNAME --port 5432 --username "

[2019-08-21 17:20] kkaczmarczyk commented on #401
@johnhbenetech In terms of Jenkins CD build speed up below could help:
- adding prod profile to the maven command on Jenkins `-Pprod`
- as each build runs in a new docker container, we could try to change the build workflow a bit and cache maven dependencies as described at https://medium.com/@nieldw/caching-maven-dependencies-in-a-docker-build-dca6ca7ad612

Could we see how much it improves the b

[2019-08-21 21:16] NeilMBenetech opened #641 "Match on domain name only of website not full URL"
When the matching algorithm considers the "website" field in comparing two records, only use the domain name to decide if it is a match or not. Don't use the full URL (which could point to different pages on the same website).

For example, these website addresses should be considered equivalent for purposes of determining if two organizational records match:

www.bobsfoodpantry.org/home/about
www

[2019-08-22 14:26] johnhbenetech commented on #440
@jkondrat Getting a lot of JS console errors:
![image](https://user-images.githubusercontent.com/12927553/63522977-ecf7bd80-c4be-11e9-9728-643b454b1716.png)

[2019-08-22 15:12] pmuchowski commented on #440
@johnhbenetech I fixed this issue in my PR

[2019-08-23 13:30] jkondrat commented on #571
@johnhbenetech @kkaczmarczyk : It seems that Postgres's built in full text search would suffice, but we would need to create a table or a materialized view with all the searchable fields broken into lexemes. We would also need pg_trgm extension to deal with mispellings. We will most likely need to add indexes on each field (using pg_trgm) to improve performance.
Since we are using CriteriaBuilder,

[2019-08-23 14:27] kkaczmarczyk commented on #571
@jkondrat  thanks for investigation!
@johnhbenetech do you think we should do it soon?

[2019-08-26 00:42] johnhbenetech commented on #571
@kkaczmarczyk Can you help me understand if the installations of extensions is something handled by liquibase? or would it require manual installation at the database level?

[2019-08-26 00:49] johnhbenetech opened #647 "Add additional fields to 'search by field' options"
See #437 for more details. This task is to add additional fields that are able to be searched on,

From Neil's note on #437

Organization : Name, AlternateName, Description, Email, Phone, Contact.Name, Contact.Phone
Service: Name, AlternateName, Description, Email, ApplicationProcess, Fees, Eligibility, RequiredDocument, Language, Phone, Contact.Name, Contact.Phone
Location : PhysicalAddress.Addre

[2019-08-26 07:14] rkeiii commented on #631
Hi @johnhbenetech and @jkondrat,

I tried that dump command using my account and it failed. Here's the output:
[code]
Am I doing something wrong?

[2019-08-26 09:32] bognasoldev89 opened #648 ""Back" button on shelter view when logged as a sacramentouser sends to homepage"
As far as I know, sacramentouser should not have access to the homepage (that's why "Home" was removed from the header and ServiceNet logo sends user to shelter view). I noticed, that "Back" button sends user to the homepage.

![sacramentouser homepage access](https://user-images.githubusercontent.com/51324797/63681174-88f23380-c7f5-11e9-8360-1e3b5d1195a4.gif)

[2019-08-26 14:50] jkondrat commented on #571
@johnhbenetech : The extension can be installed by running:
`CREATE EXTENSION IF NOT EXISTS pg_trgm with schema pg_catalog;`
I think we can also do that with liquibase

[2019-08-26 14:56] jkondrat commented on #631
@rkeiii It looks that your account is missing SELECT permissions for the table _databasechangeloglock_

[2019-08-26 23:52] NeilMBenetech opened #651 "Consistently apply plurals to record type search; rename slightly."
Organization needs to be plural for consistency with Services and Locations. While we’re in there please change “Search On: “ to “Search For: “.

![Capture](https://user-images.githubusercontent.com/52297301/63730842-d2f10e80-c821-11e9-8456-deabe4d46560.PNG)

[2019-08-27 08:08] jkondrat commented on #584
@johnhbenetech I just realized that currently the records are filtered and shown as user types which makes autosuggest pointless. Does it make sense to disable that auto-search and only show a couple of suggestions? We could then perform full search when user selects one of them or clicks enter/some button on the page. I imagine this would decrease the database load especially when there are lots

[2019-08-27 08:28] awalkowiak commented on #584
@jkondrat @johnhbenetech personally I think, that having autosuggest together with automatic filtering seems a bad approach. The solution that Jakub suggested is a bit better version of that feature.

[2019-08-27 08:40] jkondrat commented on #542
Hi @johnhbenetech : have you noticed any weird matches on staging since the old ones were removed? Do you think the algorithm could still be improved?
cc: @kkaczmarczyk

[2019-08-27 09:46] jkondrat commented on #631
@johnhbenetech I ran the commands under the account "johnhbenetech" on staging and didn't have to add any permissions manually

[2019-08-27 10:07] kkaczmarczyk commented on #602
@johnhbenetech  there shouldn't be any issues with disabled tasks now

[2019-08-27 12:22] kkaczmarczyk commented on #401
Additionally, about ~92000 out of 95000 lines in build log are just information about the progress of dependencies download. If we update to maven 3.6.1 we could use a parameter `--no-transfer-progress` with the command to skip this info. Anyhow, dependency caching would also alleviate this issue.
I think we can keep the tests which are being run on the build. The **Maven** build total time is 4.5

[2019-08-27 14:27] bognasoldev89 commented on #199
I checked pagination feature again and it works fine now. Example of back/forward action:

![pagination back-forward works good](https://user-images.githubusercontent.com/51324797/63779826-84a64300-c8e7-11e9-8d43-2e05fe8c8839.gif)

[2019-08-27 14:27] #199 closed

[2019-08-27 14:35] bognasoldev89 opened #654 "Adjust "Back" buttons on entities details pages"

[2019-08-27 14:56] bognasoldev89 commented on #607
Confirmed that list of records remains untouched now after reproducing steps.

[2019-08-27 14:56] #607 closed

[2019-08-27 16:25] kkaczmarczyk commented on #618
@johnhbenetech I am almost finished with Travis CI setup. Can you authorize Travis CI to run builds on SN PRs? It's just a few clicks. vide https://docs.travis-ci.com/user/tutorial/#prerequisites

Let me know in case of questions.

[2019-08-28 07:48] mariaogryczak commented on #603
@johnhbenetech
Here is a short summary of my findings about key word extraction (second and third part of the task) and recommendations about tasks.

In my opinion good idea about searching is by using extracted keywords. They have the most important information about each organization.

There are two ways to extract keywords that I found interesting and I would recommend to combine them together.

[2019-08-28 08:58] mariaogryczak commented on #641
@NeilMBenetech
In the website field should be displayed the URL only with domain name or the original one with URL to different pages?

[2019-08-28 09:03] jkondrat commented on #647
@johnhbenetech : Should we also remove fields that are not listed, for example: URL, tax status, external db id?

[2019-08-28 09:23] jkondrat commented on #647
@johnhbenetech : Location is not related with Contact, so it's not possible to add contact name and phone there

[2019-08-28 12:06] bognasoldev89 commented on #585
I checked this new feature and it works just fine.
Below some simple examples of retaining filters and saving filters:

![retain filters log out working](https://user-images.githubusercontent.com/51324797/63854228-fdb3a200-c99c-11e9-9b79-758d94a0ea55.gif)

![saving filters working](https://user-images.githubusercontent.com/51324797/63854109-a7defa00-c99c-11e9-9e45-0329161243c3.gif)

[2019-08-28 12:14] bognasoldev89 commented on #308
I tested this issue again and all mistakes are fixed.
I noticed another issue though: is one regular user supposed to see and reinstate records dismissed by another regular user? It doesn't seem safe. Screenshot for example:

![hidden matches view regular user](https://user-images.githubusercontent.com/51324797/63854526-9fd38a00-c99d-11e9-825d-c3deb3abfc31.png)

@johnhbenetech what do you think? L

[2019-08-28 12:21] bognasoldev89 commented on #308
Of course, I will!
And I'm closing this issue, as I said, mistakes are fixed and feature works well.

[2019-08-28 12:21] #308 closed

[2019-08-28 12:23] bognasoldev89 opened #657 "Restrain viewing dismissed records from another regular user"
As I noticed during testing #308 one regular user can view and reinstate record dismissed by another regular user. It is not a safe solution.

![hidden matches view regular user](https://user-images.githubusercontent.com/51324797/63855498-d4e0dc00-c99f-11e9-8584-d7231070b5fb.png)

[2019-08-28 12:58] jkondrat commented on #625
@johnhbenetech @bognasoldev89 @kkaczmarczyk :
Maybe it would be enough to remove fields from that placeholder? It would get too long when someone selects lots of them.
I did this in the PR for #639 https://github.com/benetech/ServiceNet/blob/e54b699d390b2a83152d362c90d25e6d1069720d/src/main/webapp/i18n/en/activity.json#L66

[2019-08-28 13:28] awalkowiak commented on #654
@bognasoldev89 maybe rename of blue back button to match its behavior? "Back to list" or "Go to Entity List" or something like that would be enough here?

[2019-08-28 15:02] bognasoldev89 commented on #440
Feature works as expected, I tested a few configurations.

Below some examples
- Another provider records searched by name:

![discovery feature by name](https://user-images.githubusercontent.com/51324797/63866845-2eeb9c80-c9b4-11e9-907e-fe8cf11b2276.png)

- Another provider record found by taxonomy:

![discovery feature by taxonomy](https://user-images.githubusercontent.com/51324797/63866907-4b87

[2019-08-28 15:02] #440 closed

[2019-08-28 15:13] bognasoldev89 commented on #654
@awalkowiak sounds good for me

[2019-08-28 21:31] NeilMBenetech commented on #625
@johnhbenetech I'm not understanding the issue. Is it that the "Search Fields" text box has no placeholder text? If so, we could get away with some generic text such as : "Choose in which fields you want to search."

[2019-08-28 21:43] johnhbenetech commented on #625
@neilmbenetech this is for the generic top level search bar. currently the placeholder text says search on name or alternate name, but with the changes we made to allow to search on additional fields that placeholder doesn't make sense anymore.

one suggestion was to dynamically switch out the placeholder text based on which fields youve selected. But if you select lots of fields that could get qu

[2019-08-28 21:49] NeilMBenetech opened #661 "Issues with Search - using Taxonomy and Geography filters together"
When I set the fields with Taxonomy = Food Pantries and click apply, I get 25 results, the first one being the "San Francisco - Marin Food Bank" (which has multiple locations in both the city of San Francisco and the county of Marin. If I add a geographic filter either for City of San Francisco, County of San Francisco, or County of Marin, and hit Apply Filters, I get no results returned.

The sam

[2019-08-28 21:52] NeilMBenetech commented on #585
It appears to be working for me too, thank you. I did find a some other issues but will open new tasks for those.

[2019-08-28 21:55] NeilMBenetech opened #662 "Save new "search filter" should clear name textbox once saved"
When you click "Save Filter" to save the combination of filters as you currently have them set, the handy confirmation message does appear from the top left, but the text box retains whatever name you gave to the filter. Instead it should be cleared out after a successful save so the user can change the filters and save them with a new name.

[2019-08-28 21:57] NeilMBenetech opened #663 "Saved Filters - need a way to delete from list"
Over time, a Saved Filters entry may become irrelevant or the list may get too big to be manageable. Please provide a way for the user to delete any of their Saved Filters. If possible I would recommend a red "x" to the right of the name, but spaced at least 10 pixels away from the text to reduce the likelihood of an accidental click there.

When the X is clicked, please give the user a Javascript

[2019-08-28 21:59] NeilMBenetech opened #664 "Saved Filters list - sort alphabetically by name"
It appears the entries in the Saved Filters list are being sorted by creation date. Please sort them alphabetically by name instead. This will make them easier to find and allow users to cluster similar entries together.

[2019-08-28 22:02] NeilMBenetech commented on #625
@johnhbenetech Ah that makes sense. Yes I think it is a good idea to just use the more simple placeholders you propose above.

[2019-08-28 22:18] NeilMBenetech opened #665 "Issue with Discovery feature - records not in your own database"
This item https://github.com/benetech/ServiceNet/issues/440 appears to work really well, I just found a weird edge case that I think is an issue.

Sign in with the uwbauser account. Search for the organization "Housing Authority of the County of Contra Costa" and ensure the "Only show matching" is checked and you will get no results.

If you uncheck the "Only show matching" box, you do get results

[2019-08-28 22:26] johnhbenetech commented on #661
@bognasoldev89 Can you look into this?

[2019-08-28 22:31] johnhbenetech commented on #665
@bognasoldev89 Can you look into this one as well

[2019-08-28 23:40] johnhbenetech commented on #665
Copying comments from an email chain:

Just a hunch, but I’m guessing:

•	You search for your record name if ‘only show matching’ is checked
•	If ‘only show matching’ is unchecked, you can now search for records **not already matching** one of your records.

Therefore any partner record you already have a match with is invisible to the search and filter, because your version of the record takes pr

[2019-08-29 07:25] bognasoldev89 commented on #661
Of course.

[2019-08-29 12:48] bognasoldev89 commented on #665
@johnhbenetech @NeilMBenetech
I'm not sure I fully understand this case.

I found mentioned record and, as far as I understand how searching and filtering features work, it is displayed correctly in my opinion.

UWBA record matched to healthleads record has a different name hence it won't show after searching for "Housing Authority of the County of Contra Costa" while Only show matching is checked

[2019-08-29 13:00] johnhbenetech commented on #665
The crux of the issue is try searching for "commoncounty". Nothing shows up even when you uncheck only show matching (despite us knowing the record exists because we see it in the side by side view).

My understanding is that the reason it doesn't show up is because it already matches one of your records, and so your version on the record takes priority in search and filtering.

Neil's request is

[2019-08-29 13:35] bognasoldev89 commented on #665
@johnhbenetech I searched for "commoncounty" and I see results, with and without Only show matching checkbox. It is what you were looking for, right?

![Screenshot from 2019-08-29 15-30-24](https://user-images.githubusercontent.com/51324797/63944682-4d17d200-ca72-11e9-8a8f-c457a3bd786c.png)
![Screenshot from 2019-08-29 15-30-36](https://user-images.githubusercontent.com/51324797/63944683-4db06880-

[2019-08-29 14:44] bognasoldev89 commented on #661
@NeilMBenetech @johnhbenetech I reproduced those steps and Taxonomy filter is irrelevant in this issue.
I'm moving this ticket to Up next column and I believe @kkaczmarczyk will look into it.

[2019-08-29 15:00] johnhbenetech commented on #665
I removed previous comments for clarity (i gave a bad example!) Here is a better example hopefully:

Log in as healthleads user, search for 'Senior Coastsider' with 'only show matching' on:
![image](https://user-images.githubusercontent.com/12927553/63951487-74a37600-ca43-11e9-944a-0a67bebdcf70.png)

When you click in and flip the side-by-side you see this record from SMC:
![image](https://user-im

[2019-08-29 15:18] johnhbenetech opened #668 "Change taxonomy filter to 'OR' instead of 'AND' logic"
Let me know if i misunderstood what was discussed on the call today.

Ideally the taxonomy filter would function as an OR - meaning any organizations with services that match ANY of the defined taxonomies would return.

@NeilMBenetech please confirm that you agree with this.

[2019-08-29 15:36] NeilMBenetech commented on #668
@johnhbenetech Yes that's what makes most sense to me. Especially because there are variations in categories you must be getting from the partners. For example the official taxonomy has a base term called "Food Pantries" but the auto-suggest also returns "Food Pantry". So by OR'ing these together you can get all of them.

When/if we decide to implement more complex handling of the taxonomy we'll p

[2019-08-29 15:42] NeilMBenetech opened #670 "Search - searches sometimes yield zero results, sometimes yield expected results just minutes later"
"Food Pantries" is one of the most commonly used taxonomy terms and is auto-suggested in the taxonomy filter. However when I do a search with no other filters in place, I get zero results. Unless those records were excluded from the exports provided by the 2-1-1's (UWBA and Eden), this sounds like a bug. This would be a common search in Service Net, especially combined with Discovery mode where yo

[2019-08-29 15:51] jkondrat commented on #665
Hi @johnhbenetech : I think that both of proposed solutions would work well, but the first one in fact could cause confusion and it's worth checking if there's a performance hit. The question is, would it be a problem for the users if a record appears twice, once at the top and once as a partner's match?

[2019-08-29 15:55] NeilMBenetech opened #671 "Health Leads should be written this way, not healthleads"
I've heard them ask for this correction several times. Please modify wherever it may appear, such as the search result page, the details view, the comparison view, etc.

![Capture](https://user-images.githubusercontent.com/52297301/63956164-c72c6480-ca3a-11e9-8894-ab54b9851cf9.PNG)

[2019-08-29 15:58] johnhbenetech commented on #671
Should be good, just updated in prod

[2019-08-29 15:58] #671 closed

[2019-08-29 15:59] johnhbenetech commented on #665
@NeilMBenetech Would the record showing twice be ok to start? I think you may have had a slightly different recommendation

[2019-08-29 16:00] NeilMBenetech commented on #670
Note that "Food Pantry" is also auto-suggested and does return search results, but only from non-2-1-1 partners (SMC, ShelterTech) so that must be one of their category names. But there are no results showing from UWBA or Eden when searching either on "Food Pantry" or "Food Pantries", the latter being the one I would expect to return results for UWBA and Eden.

[2019-08-29 16:03] NeilMBenetech commented on #670
There's something weird going on. 20 minutes later I do the same search and now I am getting results.

I had the same problem this morning on a completely different search. Here's the search from this task, now working. What could be causing this?

![Capture](https://user-images.githubusercontent.com/52297301/63956715-d3fd8800-ca3b-11e9-81f4-8d514a309e53.PNG)

[2019-08-29 16:07] NeilMBenetech commented on #670
Less than 5 minutes later, we're back to zero results.

![Capture](https://user-images.githubusercontent.com/52297301/63956987-6736bd80-ca3c-11e9-84f8-633e1723924e.PNG)

[2019-08-29 16:17] kkaczmarczyk commented on #618
@johnhbenetech Travis CI build is set up at PR. Once reviewed here we'll merge it.

One thing we could do is to disable running builds on branches and keep it only in PRs. Can you set it in configuration at Travis site?

![image](https://user-images.githubusercontent.com/3207119/63957699-30d35f80-ca89-11e9-9d0c-4e581310a3bc.png)

[2019-08-29 16:19] NeilMBenetech commented on #623
@johnhbenetech I think the only way to solve this is via the Taxonomy Rosetta Stone. https://github.com/benetech/ServiceNet/issues/319

It is an important issue and for the reasons you note above, it can cause confusion for our users leading to less trust in the system.

[2019-08-29 16:25] NeilMBenetech opened #672 "Visually differentiate the staging environment from production"
It can get confusing to keep track of which browser tab is production vs staging, since the only difference is the URL. A common practice I've seen is to add a banner or colored text to the top of a staging environment. Something like this in bold red : **Staging environment - for testing only**

[2019-08-29 16:34] johnhbenetech commented on #618
Seems to be how it's set up from my side already
![image](https://user-images.githubusercontent.com/12927553/63959041-ecc46880-ca50-11e9-9055-4b7d77963915.png)

[2019-08-29 16:37] NeilMBenetech commented on #623
@johnhbenetech Oh and absolutely, we should not show taxonomy terms in the auto-suggest / filter that do not have any records associated with them.

It would be ideal if the other filters could also be applied to what gets autosuggested in the taxonomy filter. For example "There are no Food Pantries in Marin County" so don't auto-suggest Food Pantries when Marin County is in the geo filter...and s

[2019-08-29 22:11] NeilMBenetech commented on #665
Thanks for asking @johnhbenetech . Yes here's my alternative idea, what do you think? What if, where we note the conflicts, we indicate the name that was hit by the search, when it is different than the “base” record’s name? A little more cognitive load but at least the users should readily know to look over there when the main name doesn’t match.

[2019-08-29 23:22] johnhbenetech commented on #639
@NeilMBenetech I'm out on PTO until wednesday. Can you work with the team on this issue?
@jkondrat Can you @ Neil once this has been pushed to staging?

Neil per your definition above, a blank search bar is considered a wildcard. You also said a wildcard requires at least 2 filters. As a result on first load - no records show up, because the search box is empty and no filters have been set.

I'm n

[2019-08-30 00:10] NeilMBenetech commented on #639
Thanks @johnhbenetech . I only realized today that a blank text box is a wildcard search. The "minimum two filters chosen" is simply to keep load down on the searches because I would assume every filter added, adds complexity to the database queries = slower. If that is not the case then we don't need the "minimum two filters". Then this simply becomes modifying the placeholder text by appending :

[2019-08-30 00:14] johnhbenetech commented on #639
@neilmbenetech Can you leave a comment rewriting your three desired interactions from the original scoping with your updated thoughts. I'm still unclear on how blank, *, and minimum filters interplay

[2019-08-30 00:17] NeilMBenetech commented on #639
@johnhbenetech This fully collapses to simply this: Please append to the placeholder text in the search textbox the following phrase : "Leave blank to search all records."

[2019-08-30 00:21] johnhbenetech commented on #639
@neilmbenetech wasn't the impetus of this task allow for asterisk based searching?

Of your 3 original scoped pieces of work, both 2 and 3 required code changes above and beyond simply copy change.

Do you still want the ability to search by asterisk?

Do you still want the checkbox described in your point 3?

If you no longer want minimum filter requirements, should we undo all those code changes

[2019-08-30 09:39] bognasoldev89 commented on #648
I check this behavior and now sacramento user is not able to reach homepage by clicking "Back" button.

![shelter back working](https://user-images.githubusercontent.com/51324797/64010823-ca971d00-cb1a-11e9-8ff9-75b859725064.gif)

[2019-08-30 09:39] #648 closed

[2019-08-30 10:33] bognasoldev89 commented on #651
Confirmed that issue is resolved.

![651 fixed](https://user-images.githubusercontent.com/51324797/64014406-4fd20000-cb22-11e9-956c-5a31f46d90c8.png)

[2019-08-30 10:33] #651 closed

[2019-08-30 12:15] bognasoldev89 commented on #625
Placeholder looks neat right now. It is consistent and clear.
Some examples:

![placeholder1](https://user-images.githubusercontent.com/51324797/64019860-8747a900-cb30-11e9-8685-861697c0d463.png)
![placeholder2](https://user-images.githubusercontent.com/51324797/64019861-8747a900-cb30-11e9-8848-d617853fdfd1.png)
![placeholder3](https://user-images.githubusercontent.com/51324797/64019862-8747a900-c

[2019-08-30 12:15] #625 closed

[2019-08-30 14:51] bognasoldev89 commented on #664
I saved a few filters in random order and they are sorted alphabetically on the dropdown list. Saved filters from other tasks are sorted too.

Example from testing this issue:
![ServiceNet - Mozilla Firefox_003](https://user-images.githubusercontent.com/51324797/64030200-6427f400-cb46-11e9-89fa-d8a846ad58af.png)

[2019-08-30 14:51] #664 closed

[2019-08-30 15:20] bognasoldev89 commented on #585
Unfortunately I have to reopen this issue. I found that user can't save filter with "Partner Sources" filter set up.

[2019-08-30 16:14] kkaczmarczyk commented on #618
@johnhbenetech weird, but it seems like build is still running both on PR and a branch as displayed on the below screenshot. Can you check and un-check the setting for branch once again?

![image](https://user-images.githubusercontent.com/3207119/64035795-f5509800-cb51-11e9-9c9d-f89dc29dea81.png)

[2019-08-30 19:37] johnhbenetech commented on #618
I flipped it on and off again. Let me know if it's still weird and I can try something more aggressive

[2019-08-30 19:44] johnhbenetech commented on #618
I also see some references to controlling this via the y'all with something like:

if: type = pull_request

[2019-09-02 07:47] bognasoldev89 commented on #638
I checked a few combinations for filtering with Taxonomy filter and I also checked if taxonomies are visible in side-by-side view.
Here some examples showing that Service taxonomy field is now filled:

![638 1 working](https://user-images.githubusercontent.com/51324797/64097926-c874ce80-cd65-11e9-97bd-79c1a1a5c4bd.gif)

![638 2 working](https://user-images.githubusercontent.com/51324797/64098155-6

[2019-09-02 07:47] #638 closed

[2019-09-02 12:49] bognasoldev89 commented on #585
User can save filter with "Partner Sources" now - bug is fixed and the issue can be closed.

![585 partner sources working](https://user-images.githubusercontent.com/51324797/64115814-e0ae1300-cd90-11e9-8c7f-cbf209e36b7d.gif)

[2019-09-02 12:49] #585 closed

[2019-09-02 14:15] bognasoldev89 commented on #629
Similarity values are now displayed correctly in Match Similarities entity.

[2019-09-02 14:15] #629 closed

[2019-09-02 15:00] bognasoldev89 commented on #637
I confirm that date range validation is enforced

![637 1 working](https://user-images.githubusercontent.com/51324797/64122890-3095d580-cda3-11e9-8800-c4e7961962aa.gif)
![637 2 working](https://user-images.githubusercontent.com/51324797/64122891-3095d580-cda3-11e9-97e3-84d1b9730fc3.gif)

[2019-09-02 15:00] #637 closed

[2019-09-03 09:26] bognasoldev89 commented on #620
Confirmed that log-in session lasts 2h.

[2019-09-03 09:26] #620 closed

[2019-09-03 12:25] jkondrat commented on #668
Hi @johnhbenetech : it looks that the taxonomy filter already works this way - I selected "Money management" and "Childcare" and got results that had either of those.

[2019-09-03 12:50] bognasoldev89 commented on #647
I checked fields in search engine and all fields discussed in this issue are added and working. I didn't stumble on any obstacles. I've checked addresses fields carefully and it looks like search engine doesn't make mistakes during searching them.

Here some examples:
![647 1](https://user-images.githubusercontent.com/51324797/64174566-d73cad80-ce59-11e9-9577-80a63bd4a0c1.png)
![647 2](https://use

[2019-09-03 12:50] #647 closed

[2019-09-03 13:21] jkondrat commented on #571
Hi @johnhbenetech: is it okay to close this ticket? Should we create a new one for implementing this  feature?

[2019-09-03 13:24] bognasoldev89 commented on #639
I confirm that this issue with option 1 chosen works good, but I have to be honest, I am not entirely sure it is exactly what you wanted. I see a lot of unanswered questions and I want to be sure before closing this issue. The first load remains "empty" at this moment. @NeilMBenetech @johnhbenetech can you confirm, that option 1 from the first comment is the resolution for this issue?

[2019-09-03 15:16] bognasoldev89 commented on #668
I have to agree with @jkondrat, it looks like it is OR filter.

[2019-09-03 15:16] #668 closed

[2019-09-03 17:03] NeilMBenetech commented on #639
@johnhbenetech and @bognasoldev89, sorry I thought I was clear in my last response. Yes I hadn't previously caught that a blank text box was a wildcard search so it is fine to leave it that way. I no longer see a need to require a minimum of 2 filters to be set if you don't think having just zero or one filter set is a performance challenge. And for both of these reasons we no longer need the chec

[2019-09-03 17:14] NeilMBenetech opened #675 "Search filter on "updated date" validate date range and include message"
As a follow-up to this item https://github.com/benetech/ServiceNet/issues/637 I would like to provide the user with message when the From date and Until date do not define a valid date range. Currently it just seems to clear out one of the erroneous dates. Instead please do the following.

When "Date Range is specified in the filter for Update Date and the Apply button is clicked, show an error me

[2019-09-03 17:26] NeilMBenetech commented on #319
Hi @johnhbenetech , let's explore internally whatever approach we want to take with 211 LA about a mutually beneficial relationship between them and Benetech for Service Net to have a license to the taxonomy.

[2019-09-04 12:58] kkaczmarczyk commented on #618
@johnhbenetech While working on making it run PRs programmatically (#678 ) it I discovered something peculiar - it looks like two Travis CI instances are set up to run builds on PRs.

Per https://devops.stackexchange.com/questions/1201/whats-the-difference-between-travis-ci-org-and-travis-ci-com

I thought we ought to use travis-ci.**org** as opposed to travis-ci.**com**, since SN is open source,

[2019-09-04 13:04] bognasoldev89 commented on #639
I'm moving this ticket back to "In progress" column to refine.

[2019-09-04 15:22] kkaczmarczyk opened #679 "Fix randomly failing test - OptionResourceIntTest"
It seems like OptionResourceIntTest tends to fail randomly sometimes - be it on Travis or CD.

Logs:

[2019-09-04 16:06] johnhbenetech commented on #639
Ok, it sounds like we should back out all this code. placeholders should be of the form:

"Search for organizations, leave blank to search all records"

[2019-09-05 23:02] NeilMBenetech opened #680 "Show more information about last updated"
When viewing your own record, whether or not you are comparing to a partner's "matched" record or not, please change the user interface. For any record that lacks one of these data elements, just put "unknown" as the value for items 1 through 4 below.

1. Organization records : For those data exports that are giving us valid data about the most recent "Complete Review" (in iCarol it is called "Las

[2019-09-05 23:06] NeilMBenetech opened #681 "Matching - show most recent "complete review" record first"
This is related to https://github.com/benetech/ServiceNet/issues/680 .

In the details view of an Organization, please sequence the partner's record who has the most recent "complete review" date to be the first one that appears, and if there are additional records those should be sequenced in descending order of "complete review" date. If any records do not have a "complete review" date, the sort

[2019-09-05 23:08] NeilMBenetech opened #682 "Display link to partner's updating policies and processes in the details of each record."
Related to https://github.com/benetech/ServiceNet/issues/680

Once we have all of these materials from partners, please create a link to appear below the "Last partial update" information at the Organization, Location and Service records that says "Partner's updating policies and processes" that opens a new tab to the destination URL.

[2019-09-09 18:07] johnhbenetech opened #683 "Inaccessible Edit Title Functionality"
When editing or creating a problem set, an icon follows the main level 1 heading which allows the problem set to be renamed when clicked.  This is critical functionality for content creators, who will want their problem sets to have more descriptive titles than the default (the date on which the set was added).  The functionality is completely inaccessible to screen reader users, who won’t even be

[2019-09-09 18:07] #683 closed

[2019-09-16 07:43] bognasoldev89 commented on #662
Confirmed that "Filter Name" field in saving filters engine clears out after saving a new filter.

Example of how it works:
![662 working](https://user-images.githubusercontent.com/51324797/64941248-62f50780-d866-11e9-9bc9-b96c4ea19ce0.gif)

[2019-09-16 07:43] #662 closed

[2019-09-16 12:03] bognasoldev89 commented on #641
So I tested this issue and it looks good.
The ServiceNet app doen't show URL conflict based on domain anymore:

![641 example1](https://user-images.githubusercontent.com/51324797/64956057-0acffc80-d88a-11e9-8b3c-e14bef1d953e.png)

![641 example2](https://user-images.githubusercontent.com/51324797/64956058-0acffc80-d88a-11e9-9db2-b9ec7f983229.png)

All links are clickable and long ones are shown li

[2019-09-16 12:03] #641 closed

[2019-09-17 13:16] bognasoldev89 commented on #663
I confirm that deleting filters works just fine. After adding and deleting filters I was checking Activity filters entity for the presence of those filters and everything went as expected (saved filters were there, deleted not).

Here an example of issue working:

![663 working](https://user-images.githubusercontent.com/51324797/65044884-1260d580-d95e-11e9-912a-8dee5375e3fb.gif)

![663 working 2](

[2019-09-17 13:16] #663 closed

[2019-09-18 13:26] bognasoldev89 opened #686 "Investigate "Dismiss date" in Organization Matches entity"
I noticed that in detail pages Dismiss date is present, even if match was not dismissed ("Dismissed" -> false). Moreover, it seems like it is the exact date and time of opening those pages.

![Screenshot from 2019-09-18 15-03-11](https://user-images.githubusercontent.com/51324797/65152938-2e7d7900-da29-11e9-90ad-da7618932dd3.png)

![Screenshot from 2019-09-18 15-29-48](https://user-images.githubus

[2019-09-19 12:20] bognasoldev89 commented on #632
I managed to "unmatch" and "rematch" organizations and also change them - all of these actions had an impact on OrganizationMatches ("unmatching" took a while though).

Here some examples of Organization Match before "unmatching", rematched and changed (ID of matches is different and Timestamp is changed):

![632 changed org name](https://user-images.githubusercontent.com/51324797/65243349-7911fa8

[2019-09-19 12:20] #632 closed

[2019-09-19 13:30] bognasoldev89 commented on #675
Maybe to be consistent it would be good to apply point 5 to dates too far in the future as well?
User can input dates like that and, of course, it is not applied, but toast is saying "Bad request" and date picker is not highlighted.

![Screenshot from 2019-09-19 15-29-21](https://user-images.githubusercontent.com/51324797/65248375-5edd1a00-daf2-11e9-9b11-3cae319fde6f.png)

[2019-09-19 14:13] kkaczmarczyk commented on #679
Seems legit, the test should be fixed. Let's reopen this issue if it happens once again.

[2019-09-19 14:23] kkaczmarczyk commented on #632
@johnhbenetech would like to have some more documentation regarding this issue and its cases in the Wiki or is that pretty clear?

[2019-09-19 14:29] johnhbenetech commented on #632
@kkaczmarczyk I think it would be helpful

[2019-09-19 18:08] johnhbenetech commented on #680
So @NeilMBenetech looking at the various data we have access to:

----

**LAAC:** Only field I see is a date field called "changed". All of those dates occur in the last 2 months so I'm not sure if this constitutes anything related to 'verification'.

**Recommended Action:** Pull nothing right now

---

**SMC:** No obvious data element present for verification/updates sent in the HSDS

**Recommend

[2019-09-19 20:45] NeilMBenetech commented on #675
@bognasoldev89 I suppose future dates in the "Until" picker are not too harmful because the underlying data would never have a future date, but future dates in the "From" picker should yield an error message. I'm not sure if you are suggesting the toast should say "Bad request" or if that is just what is happening when you put in a future date? Either way, "Bad request" is not a desired message we

[2019-09-19 20:50] NeilMBenetech commented on #680
@johnhbenetech Thanks for the analysis, I agree with everything you have proposed. There might have been a decision to exclude LastVerifiedBy from the iCarol API years ago but I can't recall the logic in that now.

I have not had any response to my email to partners specifying the new data in their exports - I'm hoping at least to get clarifying questions or loose timelines soon. I'm also hopeful

[2019-09-20 07:52] bognasoldev89 commented on #675
@NeilMBenetech yes, I'm suggesting that toast should say to specify valid date, not "Bad request", that's all.

@jkondrat can you look into this? It happens when year value has more than 4 characters, so I think that's the core of this issue.
Can you also add "n" to the toast from point 3, so it would say "Please specify an Until date."?

[2019-09-20 09:14] kkaczmarczyk opened #688 "Add Wiki documentation about all of the cases for the updating Organization matches"
As per discussion #632, it would be helpful to document cases (what happens with Organization matches) when uploading updated organizations.

[2019-09-20 10:02] kkaczmarczyk commented on #618
closing as done - no issues found for more than 2+ weeks

[2019-09-20 11:12] bognasoldev89 commented on #639
I think this issue just became this one: #625.
The first load shows a full list of records, one filter is enough to narrow down the search, information “To ensure your search returns a manageable quantity of results, please set at least 2 of the filters below” under search field is no longer visible.
Placeholder adjusts to Search for checkboxes (Organizations, Services and Locations)

Forms of pla

[2019-09-20 11:12] #639 closed

[2019-09-20 16:00] kkaczmarczyk commented on #661
I have investigated this a bit - seems like sometimes the relation between location and geocoding result is not being saved ('location_geocoding_results' db table) at times.
The records in geocoding_results are being saved properly. This may be related with server restarts before letting the organization import finish. If that's a case, there should be some fall-back mechanism.
@jkondrat Can you i

[2019-09-25 13:39] bognasoldev89 opened #689 "Investigate Location Match Similarity when the distance between organizations < 100m"
I noticed that location similarity for these two organizations was calculated as 0.36 and I'm sure that it is too distant for those coordinates. Something weird is going on.
Please, investigate this geocoding issue.

I'm attaching files that gave mentioned results:
https://drive.google.com/drive/folders/19vpWGpiNCRBvHs1wBS1bf-sNOiupmdQW?usp=sharing

[2019-09-30 09:03] bognasoldev89 commented on #608
I checked date picker and it works fine. I just noticed one aesthetic thing: From and To fields are not on even level anymore. I checked Safari, Chrome, Firefox and Edge: only the last one has those fields in the right places.

Safari example:
![safari datepicker](https://user-images.githubusercontent.com/51324797/65864213-c9534d00-e371-11e9-8913-f506d17e95f6.png)

[2019-09-30 09:57] bognasoldev89 commented on #675
It seems like all faulty possibilities are covered now. I was not able to set a date like 02/30/10000 and all points from the ticket are fulfilled.
Some examples of working functionality:

![675 working 1](https://user-images.githubusercontent.com/51324797/65868862-754c6680-e379-11e9-8b87-bdaf830f66f4.gif)

![675 working 2](https://user-images.githubusercontent.com/51324797/65868863-75e4fd00-e379-

[2019-09-30 09:57] #675 closed

[2019-09-30 14:47] bognasoldev89 commented on #670
@NeilMBenetech @johnhbenetech I was not able to reproduce this issue, I always get results. I tried an example from this issue and I tried other filters and I never saw a situation with 0 results when I knew there's something there.
@NeilMBenetech are You still observing this issue?

[2019-09-30 16:18] NeilMBenetech commented on #670
Thanks @bognasoldev89 . When I logged this issue it was happening on the production server. Did you try it there? @johnhbenetech did something behind the scenes that seemed to have corrected the issue at the time but I think he wasn't 100% sure that whatever he did would be a long-term solution.

[2019-10-01 13:10] bognasoldev89 commented on #670
@NeilMBenetech I tried production too and while trying example you provided I never hit zero results. Screenshots from today (both environments):

| | |
| --- | --- |
| ![Screenshot from 2019-10-01 15-05-45](https://user-images.githubusercontent.com/51324797/65964517-7060e300-e45d-11e9-8bbe-ac578ed27b97.png) | ![Screenshot from 2019-10-01 15-06-06](https://user-images.githubusercontent.com/5132479

[2019-10-01 18:17] NeilMBenetech commented on #670
Thanks @bognasoldev89 . I think the only other thing to try is do this several times but separated by 20-30 minutes. If it still works OK then we can close this item.

[2019-10-03 11:53] bognasoldev89 commented on #670
@NeilMBenetech I tried this as you suggested and I didn't hit zero results. I'll move this issue to done column but I'm going to have this in my mind during future testing.

[2019-10-03 15:15] kkaczmarczyk commented on #555
I think this should be closed for a while now

[2019-10-10 08:05] #608 closed

[2019-10-10 16:27] jkondrat commented on #686
@bognasoldev89 I also noticed that it was not possible to save dismissDate, so I fixed it

[2019-10-13 14:59] NeilMBenetech commented on #319
@johnhbenetech I propose we move forward with this now. 211 LA will grant us a license, we just haven't had the call with them and Betsy yet so the terms are not yet settled. But it will be an important component of matching at the Service level, which itself is an important part of improving the "Workflow" of users.

For our first iteration I propose that we don't need UI for this, but rather the

[2019-10-13 15:12] NeilMBenetech opened #698 "Match records at the Location level"
Since we are geocoding the locations, we should be able to reliably indicate a "match" between a user's and the given partner's Location records.

I propose that when you select one of your own Location records, you have the option to express that you want the partner location records to automatically rotate to the one(s) that match your own selected Location record.

Perhaps we have a "link" icon

[2019-10-13 15:14] NeilMBenetech commented on #309
@johnhbenetech does our matching algorithm result in a numeric score or probability, or is it just "match or no match" ?

[2019-10-13 15:16] NeilMBenetech commented on #584
@jkondrat @johnhbenetech If autosearch takes longer than autosuggest would, then I propose we should disable autosearch and that searches only happen when you hit Enter or the Search button. And that we do implement Autosuggest as proposed in this task. Also for some reason this task seemed not to be assigned to a project board so I've put it back into the Product board for revival.

[2019-10-13 15:24] NeilMBenetech commented on #384
For Services, use the Service Name for the dropdown box.

For Locations, Please use my suggestion above from June 28 on how to name the Location records. I think we should try always using this method (rather than whatever might be populated from the database) so that the data is consistent from partner-to-partner.

[2019-10-13 15:30] NeilMBenetech opened #699 "Match records at the Service level"
Once the Taxonomy Rosetta Stone is done, https://github.com/benetech/ServiceNet/issues/319

...please use it to try to "match" between your own records and partner records. For matching to be reliable, we likely need to use other factors too, such as the Service name (like we do for Organizations); links to matched Location records (more reliable than Services, probably, see https://github.com/ben

[2019-10-13 15:38] NeilMBenetech opened #700 "Show matching "metadata" when you are viewing your Organization's record"
Once we have implemented Location https://github.com/benetech/ServiceNet/issues/698 and Service https://github.com/benetech/ServiceNet/issues/699 matching, then for any of the current user's Organization records, display metadata about these matches, before clicking in to view any particular partner's Organization record.

Please show a list of clickable Organization names that match my own record

[2019-10-13 15:46] NeilMBenetech opened #701 "Organization details "favor" Services and Locations that match search criteria"
When a user does a search for records that include any sort of filters, then "favor" the results that match those filters when you are looking at the details of a user's Organization record and its matching partner Organization records. The visual indication should be small but noticeable, such as highlighting the name in the drop-down lists https://github.com/benetech/ServiceNet/issues/384 in a c

[2019-10-15 15:53] jkondrat commented on #689
@bognasoldev89 I couldn't reproduce this issue, the location similarity for these organizations is 0.9 - could you please verify?

[2019-10-15 22:40] johnhbenetech commented on #319
For the first subtask, let's create a SQL query that will group partner taxonomical terms by % related based on matching organizations.

[2019-10-15 22:44] johnhbenetech commented on #309
@NeilMBenetech It has several sub scores (%) that are weighted and added up. So we have % similarity name, % similarity locations, etc.

So yes eventually it rolls up into a single number.

[2019-10-15 22:47] johnhbenetech commented on #584
@NeilMBenetech I guess im confused still. Can you give some specific examples of words you imagine would autosuggest?

[2019-10-16 11:46] kkaczmarczyk commented on #631
@johnhbenetech are there any further actions needed in that ticket or could we close it?

[2019-10-16 12:23] bognasoldev89 commented on #686
Hmm, now this works fine until organization is dismissed. I noticed that Dismissed remains as false and Dismiss date remains empty though I'm sure organization is dismissed.

@jkondrat can you check again?

[2019-10-16 16:57] johnhbenetech commented on #631
@kkaczmarczyk can you move the relevant details to a wiki page and then we can close

[2019-10-16 17:51] kkaczmarczyk commented on #631
@johnhbenetech Sure. Wiki here or the data repo?

[2019-10-16 18:09] johnhbenetech commented on #631
Here is fine

[2019-10-17 09:11] jkondrat commented on #686
@bognasoldev89 unfortunately, I couldn't reproduce this, I dismissed a match and it shows correctly on admin's view:
![Screenshot from 2019-10-17 11-10-12](https://user-images.githubusercontent.com/5969801/66995219-e789ae80-f0ce-11e9-8b05-48b80615fc04.png)

[2019-10-17 09:25] bognasoldev89 commented on #686
@jkondrat it seems like it works. For now, I'm going to close this ticket and I am going to check this issue carefully during regression.

![Screenshot from 2019-10-17 11-21-54](https://user-images.githubusercontent.com/51324797/66996264-b8743c80-f0d0-11e9-8338-3fd55314a200.png)

[2019-10-17 09:25] #686 closed

[2019-10-17 11:56] bognasoldev89 commented on #680
"Last complete review" and "Last partial update" are available in single and multi record view. For Eden and UWBA data, Last complete review dates can be set on every level (Organization, Locations and Services) and for ShelterTech data Last complete review can be set for Organization.

There's one thing I ask @jkondrat to look into: can you investigate updating Last complete review date after upl

[2019-10-17 12:38] bognasoldev89 commented on #661
I checked Neil's cases and did some digging by myself and it looks like functionality works fine now.

Screenshots from cases provided by Neil:

![Screenshot from 2019-10-17 14-34-15](https://user-images.githubusercontent.com/51324797/67009348-bb305b00-f0eb-11e9-8439-6b2e4ad0cea1.png)

![Screenshot from 2019-10-17 14-34-46](https://user-images.githubusercontent.com/51324797/67009349-bb305b00-f0eb-

[2019-10-17 12:38] #661 closed

[2019-10-17 14:47] bognasoldev89 commented on #623
At this moment the dropdown list is populated for other providers, not the one that user is logged. I think it needs a little more work.

Here example of how it works right now:
![Peek 2019-10-17 16-44](https://user-images.githubusercontent.com/51324797/67019901-a8268680-f0fd-11e9-92dd-85aa8daab332.gif)

[2019-10-17 15:07] johnhbenetech commented on #319
@NeilMBenetech We are almost ready to send you some spreadsheets for you to assist in the manual matching process.

While you do that the plan is to build out the linkage database table that will store the results of your analysis.

One question for now - do you think we should create an admin page allowing you/someone from benetech to be able to add/remove these matches on the fly?

[2019-10-17 15:42] NeilMBenetech commented on #319
Hey @johnhbenetech a UI to manage the matches would be wonderful - I left it out of scope for this task just to keep things more manageable for now, while we iterate. If you do think we could squeeze in UI, it would be important to respect any hierarchy in each categorization scheme, as we know the AIRS Taxonomy has for example.

For that matter, I erroneously omitted the effect of hierarchy on th

[2019-10-17 15:58] NeilMBenetech commented on #680
@bognasoldev89 I think we should put "unknown" instead of blank, that will help distinguish the current state of things from this newly implemented capability.

[2019-10-18 12:38] awalkowiak commented on #672
@NeilMBenetech JHipster has a built in feature for this. We can display a red ribbon with "Development" text in the top left hand corner for desired profiles. Here it is how it looks like by default:
![Selection_128](https://user-images.githubusercontent.com/12113312/67094751-b5eb1300-f1b4-11e9-9d9e-59024dbdeea4.png)
Is this enough or you'd like to have something changed?

[2019-10-18 15:55] NeilMBenetech commented on #672
@awalkowiak Yes indeed that would work.

[2019-10-18 18:21] johnhbenetech opened #707 "Investigate open website issue"
On dev server:

* Search for Housing Authority of the County of Contra Costa (it's currently the top result default)

* in the side by side the right record has www.example.example or www.website.com

* click on the open URL button and those examples try to take you to 'https://benetechservicenet.org/www.website.com' which obviously fails

Looking quickly it seems that http:// and https:// urls wo

[2019-10-19 14:10] NeilMBenetech commented on #584
@johnhbenetech primarily I would expect the autosuggest of Organization and Service names to be the most useful items.

[2019-10-21 11:53] bognasoldev89 commented on #689
I reproduced this issue today on a clean server and I got the right similarity too.

![Screenshot from 2019-10-21 13-37-41](https://user-images.githubusercontent.com/51324797/67202908-0f984b00-f40a-11e9-9c44-5d15f8899208.png)

@johnhbenetech what do you think? I suppose the best way is to close this issue now and check during regression again.

[2019-10-21 14:38] #657 closed

[2019-10-21 14:57] bognasoldev89 commented on #681
@jkondrat can you look into Partial update order? I think it doesn't always is ordered correctly.

[2019-10-22 13:51] johnhbenetech opened #711 "Linked/Combined taxonomical terms may need to be digested in a different manner"
For iCarol services, the taxonomical terms are frequently of the format:

XX-NNN.NNNN

Occasionally you will see the following:
XX-NNN.NNNN*XX-NNN.NNNN

The asterisk denotes that two separate terms are being passed. I believe we currently just store this as a single term, thereby we are unable to pull taxonomy term name and other components.

We should refactor the import process to break/store th

[2019-10-22 13:52] johnhbenetech opened #712 "'Your data' shows on left side even when you are viewing 'unmatched' records from a partner system"
When a user unclicks 'only show matching' and then views a partner's record, the record on the left still shows 'Your Data'

This should be changed to show the partner's name.

[2019-10-23 09:26] bognasoldev89 commented on #665
@johnhbenetech I tried a few configurations and I think it works good now. I always got what I was searching for.

For example, logged as hluser I got San Francisco Department of Public Health:

![665 1](https://user-images.githubusercontent.com/51324797/67378640-dbe32f80-f587-11e9-93e0-be3242f19cbc.png)

It is matched with Human Services (WIC) from ShelterTech provider:

![665 2](https://user-ima

[2019-10-23 09:26] #665 closed

[2019-10-24 07:46] bognasoldev89 commented on #672
I confirm that in staging environment red ribbon is added. I checked all users, About us page and several randomly chosen entities. In the production environment mentioned ribbon is not added.

Examples:
1. admin
![672 1](https://user-images.githubusercontent.com/51324797/67464073-f75f4080-f642-11e9-9d7b-1c8442058692.png)

2. regular user
![672 2](https://user-images.githubusercontent.com/51324797

[2019-10-24 07:46] #672 closed

[2019-10-24 10:49] bognasoldev89 commented on #384
I confirm that the functionality works as described. The user is able to select Services and Locations from the dropdown lists in both single and multi record views.

Here how this looks before selecting:
![384 1](https://user-images.githubusercontent.com/51324797/67478520-862c8700-f65c-11e9-9c6e-69aef89d513a.png)

Behavior in single record view:
![384 2](https://user-images.githubusercontent.com/

[2019-10-24 19:03] johnhbenetech commented on #384
@NeilMBenetech can you take a look at this implementation and make any recommendations

[2019-10-25 11:52] bognasoldev89 commented on #689
As regression testing is planned for Monday it would be good to resolve remaining issues. I suppose since Jakub and I cannot reproduce this issue anymore it should be closed and observed closely during regression.
@johnhbenetech can you confirm?

[2019-10-25 11:53] johnhbenetech commented on #689
@bognasoldev89 yes you can close

[2019-10-25 11:53] #689 closed

[2019-10-25 12:37] bognasoldev89 commented on #707
I confirm that URL in forms http://website, https://website, www.website, website and combined are redirected to indicated websites and work as supposed.

Examples:
![707 1](https://user-images.githubusercontent.com/51324797/67571738-fc042180-f734-11e9-8cf6-32cc6a7493a0.gif)

![707 2](https://user-images.githubusercontent.com/51324797/67571739-fc042180-f734-11e9-860a-cc9a869d6f8b.gif)

[2019-10-25 12:37] #707 closed

[2019-10-25 19:51] NeilMBenetech commented on #384
@johnhbenetech this is looking really nice. Couple of comments:
1. In the last two screen captures, the Locations are giving the name of the location rather than the Address 1 + City. I think we should always use Address 1 + City for Locations, never the name, as that could be less meaningful/accurate, especially when comparing across partners.
2. What is the sorting algo for Locations and Service

[2019-10-25 19:56] NeilMBenetech commented on #623
@bognasoldev89 Yes, it should autosuggest the taxonomy of the current user, when no particular partner data source is selected.

[2019-10-29 15:50] jkondrat commented on #711
Hi John, unfortunately I couldn't find any taxonomy that's in this format, where exactly are these terms passed like this?

[2019-10-29 16:23] johnhbenetech commented on #711
@jkondat this will give you some results on the dev DB:

[code]

[2019-11-04 15:45] bognasoldev89 commented on #680
I confirm that I was able to change Last complete review date after data upload. Also, lack of the date is signalized by "unknown".

Before:
![Screenshot from 2019-11-04 16-36-24](https://user-images.githubusercontent.com/51324797/68134331-439f6000-ff22-11e9-8498-cd725b4185e9.png)

And after:
![Screenshot from 2019-11-04 16-43-20](https://user-images.githubusercontent.com/51324797/68134467-747f950

[2019-11-04 15:45] #680 closed

[2019-11-05 12:54] bognasoldev89 commented on #384
@NeilMBenetech it seems like your comments are fulfilled now.

1. I found Location with Location name and now on the dropdown list Address 1 + City is visible, as presented on the screenshot:
![384 loc address line](https://user-images.githubusercontent.com/51324797/68209183-1a8ad800-ffd3-11e9-9ab3-09ca954ede3f.png)

2. Locations and Services are sorted alphabetically:
![384 loc alphabet](https://

[2019-11-05 13:18] bognasoldev89 commented on #712
I confirm that the multi-record view reacts to providers now. When the user is going through his provider data he still sees the information "Your data":

![712 2](https://user-images.githubusercontent.com/51324797/68210871-c5e95c00-ffd6-11e9-8bdd-c000a2214840.png)

And while going through partner's records it is changed to the provider's name:

![712 1](https://user-images.githubusercontent.com/5

[2019-11-05 13:18] #712 closed

[2019-11-05 21:58] johnhbenetech opened #723 "Add additional 'tags' to bed entities to allow for capturing data on the type/counts of beds availble"
All beds shouldn't be grouped together into a single count. A user should have the ability to categorize their beds by attaching 0-N descriptive modifiers to groups of beds.

Some examples of possible modifiers:
* Upper bunk
* Lower bunk
* Near plug
* Respite
* Short term
* Long term

These are just examples, exact categories will be collected from user feedback.

There are two components:
1. Adju

[2019-11-05 22:09] johnhbenetech opened #724 "Adjust healthleads import to parse/store newly available usage and update data"
Starting soon, healthleads will begin to share additional data in their exports around usage and updates.

Usage:
At the services.csv level they will add the following fields:
* sn_num_total_referrals
* sn_num_successful_referrals

These should both be integers and will likely be updated each week. The data should be parsed and stored (but not considered in matching). Displaying this data to the u

[2019-11-07 15:19] johnhbenetech commented on #434
@awalkowiak can we attach commits to issues when possible

A few issues to check on this one:

From a security standpoint, it would be great if this was server side validated. Currently, anyone can append '/edit' to the end of any shelter ID and make changes (even if they are not an owner). Ideally a non-owner would not even be able to access the edit page let alone commit changes.

Secondly, this

[2019-11-07 17:32] NeilMBenetech commented on #711
@johnhbenetech This task is well described for now. In the future though the linking is important. No action needed now, just a mental bookmark when the day comes for us to handle taxonomy and its many complexities in a more nuanced manner.

Note that when you have multiple such linked terms, the first one in the chain is the most important - it's known as the "base term".

[2019-11-07 17:42] NeilMBenetech commented on #670
@bognasoldev89 Thanks - I'm adding priority tags to many of the items and since it sounds like you have this working I'll make it a C for now.

[2019-11-08 11:09] awalkowiak commented on #434
@johnhbenetech The was no QA on this issue yet, but I'll fix listed points before it.

[2019-11-08 12:35] johnhbenetech commented on #319
@NeilMBenetech so as I see it we still need a few inputs from your side, let me know if I missed something:

1. For non AIRS, we need recommendations from you on how we should link SMC, LAAC, and healthleads service types (both between themselves and to AIRS).

2. For AIRS, do you think we should just start by only using a specific level? Like for instance just starting with level 3? In that case

[2019-11-12 02:25] NeilMBenetech commented on #319
@johnhbenetech yes indeed, I'll do at least some preliminary mapping from the spreadsheet you sent me amongst all the partners.

And for the AIRS taxonomy I will certainlly be aggregating up to level 2 or 3. Each branch has some subtelties about how deep you need to go to get meaningfully targeted so it'll be different for each one.

![Capture](https://user-images.githubusercontent.com/52297301/68

[2019-11-13 13:26] awalkowiak commented on #357
This is related to #572

[2019-11-14 10:24] jkondrat commented on #701
@johnhbenetech shouldn't we pick up #698 #699 and #700 first?

[2019-11-14 11:57] johnhbenetech commented on #701
I thought since #698 was done we could get a jump on location at least. If you'd like to wait for services then that's fine - we just may not have the taxonomy matching table for some time

[2019-11-14 13:54] bognasoldev89 commented on #384
@NeilMBenetech I see you added a new label but didn't confirm that you want to check it additionally. Is it good to go? In my opinion, all of the issues are resolved.
cc @johnhbenetech

[2019-11-14 16:19] bognasoldev89 commented on #433
I confirm that a new field in editing page for users with sacramento role is created (it's not there for regular users):

![433 1](https://user-images.githubusercontent.com/51324797/68874856-2d538a00-0702-11ea-9faa-9d6d08fc8c04.png)

"My Shelters" is created in users' accounts if they are owners of shelter and list of shelters is consistent with those chosen in user management

![433 2](https://us

[2019-11-14 16:19] #433 closed

[2019-11-14 21:45] NeilMBenetech commented on #384
@bognasoldev89 @johnhbenetech looks good to me I think this one is done.

[2019-11-14 22:07] NeilMBenetech commented on #384
@bognasoldev89 @johnhbenetech Oops, I spoke too soon. The dropdown is overlapping the "Next/Prev" selector. See screen shot. Using Google Chrome on Windows. I think the <select> element is too wide or needs to wrap text in each of the <option> elements so it doesnt expand to be too wide.
<img width="801" alt="Capture" src="https://user-images.githubusercontent.com/52297301/68900189-2750af80-06e8-1

[2019-11-14 22:08] NeilMBenetech commented on #384
<img width="801" alt="Capture" src="https://user-images.githubusercontent.com/52297301/68900229-3df70680-06e8-11ea-9d90-5d76736f6bc3.PNG">

[2019-11-14 22:15] NeilMBenetech commented on #698
Hi @johnhbenetech not sure which dev to target on this one but some feedback... I am logged into the UWBA system on the staging server and working with this record: https://benetechservicenet.org/#/multi-record-view/a73a3cd8-2f26-4083-8d41-c29de6999899

1. Not intuitive that the "link" icon has a checkbox above it and needs to be clicked on. Could we change it so that if you click on the "link" ic

[2019-11-14 22:18] NeilMBenetech commented on #623
@bognasoldev89 @johnhbenetech Just tried this in Staging logged in as a UWBA user and I get zero autosuggested taxonomy terms when I typed: Food . Of course I should get at least a few such terms.

[2019-11-14 22:20] NeilMBenetech commented on #680
@bognasoldev89 @johnhbenetech This seems to be working to me too.

[2019-11-15 09:49] awalkowiak commented on #384
@NeilMBenetech I think it is because of the checkbox and icon on right hand side of the select which were added after the select feature. I think this should be a quick styling fix.

[2019-11-15 10:10] bognasoldev89 commented on #384
@NeilMBenetech can you tell us what screen resolution do you use?

[2019-11-15 10:35] bognasoldev89 commented on #433
@johnhbenetech @awalkowiak proposed to create responsive fields during creation of users with different roles. For example, when admin creates a new user and gives him role sacramento, field "Shelters" could appear (same for regular users and "System account" field).
At this moment a new sacramento user has to be created and saved and shelter can be chosen during editing users. And "System account

[2019-11-15 12:31] johnhbenetech commented on #433
You can create a separate ticket and put in backlog. Thanks

________________________________
From: bognasoldev89 <notifications@github.com>
Sent: Friday, November 15, 2019 4:35 AM
To: benetech/ServiceNet
Cc: John Higgins; Mention
Subject: Re: [benetech/ServiceNet] Create user setting to allow 'Sacramento' users to be owner of one or more shelter entities (#433)

@johnhbenetech<https://github.com/

[2019-11-15 13:54] bognasoldev89 opened #729 "Adjust "create/edit user" page to roles (admin user)"

[2019-11-15 16:15] NeilMBenetech commented on #384
@bognasoldev89 I was on my laptop at 1920 x 1080.

[2019-11-18 10:16] bognasoldev89 commented on #698
@jkondrat I am not sure if an issue I discovered is linked to this one but I suppose it can be.
While opening organization's detail page in the new tab it works fine, but while opening it in the same tab, unexpected error occurs:
![displaying record view](https://user-images.githubusercontent.com/51324797/69044137-adc10600-09f4-11ea-8e64-997dd8197062.gif)

I also noticed that checkbox sometimes de

[2019-11-18 13:46] bognasoldev89 commented on #434
I confirm that all mentioned functionalities are developed. "My Shelters" page for shelters' owners is available and working

![434 1](https://user-images.githubusercontent.com/51324797/69057195-ba078c00-0a11-11ea-9561-78c40cc994e2.png)

It is not available for sacramento users without shelter's ownership.

I was able to edit shelters and changes were visible:

![434 2](https://user-images.githubu

[2019-11-18 15:30] jkondrat opened #730 "Staging instance is crashing when running Eden data update job"
The staging instance becomes unreachable with 502/504 errors after running the Eden data update job. The crashes seem to be caused by the job scheduling too many threads which leads to OutOfMemory errors.

[2019-11-19 12:54] bognasoldev89 commented on #309
@jkondrat Match similarity is displayed and it looks good, but can you investigate logic in it? Sometimes it shows 0% (why?) and it's not ordered in any way:
2 exemplary gifs:

![399 no logic in matching](https://user-images.githubusercontent.com/51324797/69148187-ff8c8d80-0ad3-11ea-9267-c38f4d72c66b.gif)

![399 no logic in matching 2](https://user-images.githubusercontent.com/51324797/69148189-ff

[2019-11-19 13:25] bognasoldev89 commented on #711
I went through the whole "Taxonomy" entity on the staging server and didn't find any of the records with an asterisk. I confirm that this issue is resolved and I'm going to check it for sure during future regressions

[2019-11-19 13:25] #711 closed

[2019-11-19 13:53] bognasoldev89 commented on #616
Hi @NeilMBenetech @johnhbenetech mentioned that you are reviewing this document. What do you think about it? Does it need any improvement?

[2019-11-19 13:57] johnhbenetech commented on #616
@bognasoldev89 @NeilMBenetech I ran through it and it looks good. The only thing is it will need to be updated to include the new shelter owner functionality

[2019-11-19 14:43] bognasoldev89 commented on #434
@johnhbenetech @awalkowiak due to call I am closing this ticket as done

[2019-11-19 14:43] #434 closed

[2019-11-19 15:28] NeilMBenetech commented on #616
@johnhbenetech @bognasoldev89 I don't recall discussing this but it sounds like a good idea.

[2019-11-19 15:35] NeilMBenetech opened #732 "Matching and Discovery algorithm is inconsistent"
As pointed out by Edward Wang at ShelterTech, the matching algorithm seems to be inconsistent. Please see the Google Doc he created with screen shots for an example where SN is matching differently for the same search types.

https://docs.google.com/document/d/1z44potwY-Ovj8yP2InqzJrJCpObDbNYKbq-BGxpG1SE/edit

[2019-11-19 15:40] NeilMBenetech opened #733 "When in Discovery mode, left column erroneously says "Your data""
When I search for resources with "Only include matching" deselected, then click on a search result not from my own database, then in the details view click to compare it to another partner, the record on the left erroneously says "Your data" when in fact it is coming from a partner system

Here I'm logged in as UWBAUser and you see I'm looking at a ShelterTech record compared to a HealthLeads reco

[2019-11-19 15:45] NeilMBenetech opened #734 "Duplicate organization records appearing in search"
Seeing duplicate organization records. For example, "Safe & Sound" is appearing 3 times for ShelterTech in search results. In "Details" they all seem to have different GUIDs.

https://servicenet.benetech.org/#/single-record-view/a4340015-74de-4b67-a295-4c0058e02f50

https://servicenet.benetech.org/#/single-record-view/a988baa6-cb10-4960-9ee5-ae898de737f9

https://servicenet.benetech.org/#/single-r

[2019-11-19 16:02] NeilMBenetech opened #735 "Comparison view - specify a subset of fields to view"
When comparing one record to another, often times SN users only are focused on a few fields, such as physical addresses or eligibility requirements. To make the screens easier to read and navigate, create user-customizable groups of fields the user can apply consistently in a session and when in "Comparison" view, only show those fields for both records in the comparison.

1. Give each user the op

[2019-11-19 16:07] NeilMBenetech opened #736 "Comparison view - compare more than one partner record at a time"
Currently in Comparison view, a user can only compare the base record on the left to one record on the right.

Please add the ability for the user to compare all matching partner records. The base record will remain on the left. Matching records will "stack" horizontally to the right.

Please include a horizontal scroll bar so the user can slide between the compared-to records on the right, but le

[2019-11-20 10:58] awalkowiak commented on #384
@NeilMBenetech were you resizing browser window or zooming in/out? Or do you have this selector constantly overlapping?

[2019-11-20 11:13] awalkowiak commented on #733
@NeilMBenetech on which server you had this issue? Was it our staging instance? On staging for you search I have 2 results (one is the same as your uwba and other result from sheltertech has different name). When i opened ShelterTech record in side by side view is see the "From ShelterTech" label. Additionally I am a little bit concerned by 1/1 results number indicator on you first screenshot desp

[2019-11-20 14:33] NeilMBenetech commented on #384
@awalkowiak negative, I was full-screen with Google Chrome on my Windows 10 desktop machine.

[2019-11-20 14:34] bognasoldev89 commented on #623
@NeilMBenetech @johnhbenetech I suppose that lack of results of auto-suggested taxonomies was because of #730 and now autosuggest works.
But still, there's something wrong with actual filtering records by taxonomies. I only got hits for ShelterTech and healthleads providers, and not for every chosen taxonomy.
@jkondrat can you please investigate further?

[2019-11-20 14:34] NeilMBenetech commented on #733
@awalkowiak I was on the production server at https://servicenet.benetech.org/#/

[2019-11-20 14:36] johnhbenetech commented on #733
I think this is a duplicate of #712 and has likely already been fixed in staging

[2019-11-21 10:31] awalkowiak commented on #733
@johnhbenetech @NeilMBenetech yup. It is fixed already on staging.

[2019-11-21 13:05] bognasoldev89 commented on #616
@johnhbenetech @NeilMBenetech I added information about shelter owner functionality.
Please review this document if it's OK. And if yes, is it supposed to stay on Google Drive or maybe should be put somewhere else, for example, Wiki?

Link to the document: https://docs.google.com/spreadsheets/d/1rqiXVwQpsMJaNlF2o4lIlFhR1nu1lt9bXYiw4inJiWc/edit#gid=0

[2019-11-21 16:05] awalkowiak commented on #357
@NeilMBenetech I am currently polishing this feature. I added a map to the filters component and i have select for choosing records search radius. I have question to you what values should be in it? Currently I have: 1, 10, 20, 30, 100 miles. I think it is not required to have more than 20 miles search. Do you have any particular requests regarding radius selector?

![Selection_003](https://user-i

[2019-11-21 16:39] NeilMBenetech commented on #616
@johnhbenetech do you have a place you store technical / QA documentation? If not I can make a home for this in Box somewhere.

[2019-11-21 16:42] NeilMBenetech commented on #357
@awalkowiak  good question. In urban areas you need much smaller distance increments but beyond 20 probably gets less useful even in rural environments. So I suggest:

1, 2, 3, 4, 5, 10 and 20

[2019-11-21 18:15] johnhbenetech commented on #616
@NeilMBenetech There is a wiki option on the github repo so i think thats the obvious place:
https://github.com/benetech/ServiceNet/wiki

[2019-11-22 13:40] bognasoldev89 commented on #616
@johnhbenetech GitHub doesn't support this form of a table (merged cells) :(. Would it be okay to put the link to GSuite in Wiki (anyone with the link can comment) or should I rework this document to Markdown table?

[2019-11-26 08:55] bognasoldev89 commented on #309
During regression testing, I spotted this unexpected error and I believe it could be caused by this feature.
@jkondrat can you please investigate?

CALL Primrose organization as hluser on staging server caused this

![unexpected error](https://user-images.githubusercontent.com/51324797/69613969-b8058480-1032-11ea-8d39-a9cd3bd14a3a.gif)

[2019-11-26 09:36] bognasoldev89 opened #738 "Change limit of characters in URL field in the single and multi record view"
I was testing #641  issue during regression and I found one thing that doesn't look nice.
For now, the limit of characters in the website field is 100 characters before it changes to "Go to the website". I propose to decrease this limit so ServiceNet could avoid situations like this one:

![Screenshot from 2019-11-25 16-59-15](https://user-images.githubusercontent.com/51324797/69617944-53015d00-10

[2019-11-26 15:16] bognasoldev89 opened #740 ""Unexpected error" after dismissing mismatched organization"
As I mentioned in #309 I noticed unexpected behavior while dismissing some of the organizations an unexpected error occurs.

For example CALL Primrose organization as hluser on staging server caused this:
![unexpected error](https://user-images.githubusercontent.com/51324797/69646632-6d9efa80-1068-11ea-81f7-268316908497.gif)

And I managed to get this on local server for test organization:
![Scree

[2019-11-26 16:06] bognasoldev89 opened #741 "Investigate why one of UWBA organization is not restricted (but should be)"
As was said in #496 Locations at San Benito and Santa Cruz are supposed to be restricted.
ENCOMPASS COMMUNITY SERVICES from UWBA shows locations at Santa Cruz in both single and multi record view though.

[2019-11-26 16:12] bognasoldev89 opened #742 "Update date filter doesn't work properly when "Only show matching" is unchecked"
When "Update date" is set to Last 7 days and "Obly show matching" is unchecked, records are not filtered properly.

Screen from 26.11.2019:
![last 7 days](https://user-images.githubusercontent.com/51324797/69651391-4b10df80-1070-11ea-86d2-b1d36cce3b21.png)

Also when date range was set from 11/12/2019 - 11/26/2019 I got hits with 11/08/2019 date.

The issue works fine when "Only show matching" is

[2019-11-27 13:20] awalkowiak commented on #572
This will be resolved in https://github.com/benetech/ServiceNet/issues/357

[2019-11-27 13:20] #572 closed

[2019-11-27 13:23] awalkowiak commented on #357
@bognasoldev89  this was added on home page filters. Sacramento filter will be done once everything is ok with the first part.

[2019-11-27 14:37] bognasoldev89 opened #744 "The unnecessary phone number field is added after editing shelter's details"
While editing shelter, no matter what information, an unnecessary new phone number field is added. It occurs while editing shelter by both admin and shelter owner.

Example:
![shelters phone numbers](https://user-images.githubusercontent.com/51324797/69732745-778a3180-112c-11ea-8ed8-da3683f90241.png)

[2019-11-27 15:47] jkondrat commented on #698
@bognasoldev89 it turns out that physical address is null for some locations. This is not related to my changes, ould you please create a bug?

[2019-11-27 17:27] johnhbenetech opened #746 "Handle the case when physical address is null to prevent error on organization detail page"
see #698

[2019-11-27 17:28] johnhbenetech commented on #698
I've broken out the null physical location issue into #746

[2019-11-28 10:43] bognasoldev89 commented on #724
@johnhbenetech I was able to successfully upload data for healthleads with empty metadata.csv file, but, as far as I understand, It should be stored and visible in Metadata (or any other chosen) entity for the admin user, and

is meant for regular users - single and multi record view.

@johnhbenetech can you please verify?

[2019-11-28 10:56] bognasoldev89 commented on #730
I run the Eden data update job and nothing bad happened nor any error message was available in Data import report entity. I consider this issue closed.

[2019-11-28 10:56] #730 closed

[2019-11-28 11:55] johnhbenetech commented on #724
@bognasoldev89 that's correct

[2019-11-28 11:57] bognasoldev89 commented on #724
@jkondrat can you please adjust entity to store mentioned data?

[2019-11-28 12:03] johnhbenetech commented on #724
Well just to be clear, @jkondrat where is it being stored currently?

[2019-11-28 12:22] jkondrat commented on #724
@johnhbenetech , @bognasoldev89 : it's stored in ServiceMetadata entity, should I add it to admin UI?

[2019-11-28 12:24] johnhbenetech commented on #724
@jkondrat I don't want that to block this deployment. Let's push this change (assuming the rest of @bognasoldev89 testing goes ok) and then Bogna can break out adding servicemetadata admin into a separate task

[2019-11-28 12:49] bognasoldev89 opened #748 "Add pagination to Metadata entity"
Metadata entity would use pagination like developed in #199 so the app wouldn't crash the whole browser.

[2019-11-28 14:40] jkondrat commented on #309
@bognasoldev89 The records on the homepage are ordered (there's a new 'sort' option) by the highest match similarity. The matches on multi-record view are ordered by "lastVerifiedOn". I have opened a pull request to address the other issue

[2019-11-29 08:51] bognasoldev89 opened #750 "Add "Metadata" entity to the admin view"

[2019-11-29 08:57] bognasoldev89 commented on #724
@johnhbenetech, of course, I created #750 and I'll close this ticket since for now, it looks OK for me.

[2019-11-29 08:57] #724 closed

[2019-11-29 13:05] bognasoldev89 commented on #584
I confirm that autosuggest works good for Organizations and Services with and without filters applied, within one and more providers.
I also was able to search through other fields, like email or URL, after clicking Apply button.

I have some comments though:
- after a performed search, search field doesn't clear (but behaves like it's cleared)
- dropdown with suggestions is a little too wide comp

[2019-11-29 13:20] bognasoldev89 commented on #357
I confirm that, in my opinion, this feature works as expected.
I tried filtering organizations only through this feature, and with other filters and search applied and I haven't noticed any record that wouldn't fit.

Here exemplary gif of basic usage:

![357 working](https://user-images.githubusercontent.com/51324797/69871490-3e2ffe00-12b3-11ea-8256-d4a0bce39dad.gif)

I will create similar task fo

[2019-11-29 13:20] #357 closed

[2019-11-29 13:28] bognasoldev89 opened #751 "Filter shelter search results by location or service area, and sort by proximity"
The task is similar to #357 but should be implemented on the Shelter project and available to sacramento users.

[2019-11-29 13:41] jkondrat commented on #746
It turns out that there are 42 records with empty physical_address; I have changed the UI to skip this section for these records, and display postal address in the dropdown instead.

[2019-12-02 10:30] bognasoldev89 commented on #616
@johnhbenetech @NeilMBenetech I put the link to Google Spreadsheet on wiki, because I had difficulties to rework this document to Markdown table.
Please let me know if that's OK or should I approach it differently.

Link to Wiki: https://github.com/benetech/ServiceNet/wiki/QA-documentation-for-the-project

[2019-12-03 09:15] bognasoldev89 commented on #384
Seems good now!

![384 working](https://user-images.githubusercontent.com/51324797/70036870-d7159080-15b5-11ea-8c65-190979b38e98.gif)

[2019-12-03 09:15] #384 closed

[2019-12-03 09:46] bognasoldev89 commented on #584
@jkondrat search field still does not clear after deleting content after performed search. Can you please look into it?

[2019-12-03 10:09] bognasoldev89 commented on #309
@jkondrat it seems more clear now. I haven't found any match with 0%, but I found this one:

![Screenshot from 2019-12-03 11-07-49](https://user-images.githubusercontent.com/51324797/70041280-28754e00-15bd-11ea-8a18-2fd8e803c349.png)

Is there a chance to round those numbers?

[2019-12-03 10:43] bognasoldev89 commented on #746
I checked those cases and error does not occur anymore and it seems to be working just fine now. For example:

![746](https://user-images.githubusercontent.com/51324797/70043508-e6e6a200-15c0-11ea-9cde-5833a5eda10b.png)

@johnhbenetech  @NeilMBenetech could you check if that's ok? Here comparison of UI for the modified record and a regular one:

![746 2](https://user-images.githubusercontent.com/5

[2019-12-03 16:40] bognasoldev89 commented on #623
I can confirm that Taxonomy filter works great and I always got hits for randomly chosen filters for ShelterTech, LAAC and healthleads, just like that:

![st taxonomy](https://user-images.githubusercontent.com/51324797/70070307-ad7b5a00-15f3-11ea-8fde-e88f18841184.gif)

But for Eden, UWBA and SMC Taxonomy filter dropdown is empty:

![eden taxonomy](https://user-images.githubusercontent.com/5132479

[2019-12-05 14:07] kkaczmarczyk commented on #740
@bognasoldev89 I think that this may be fixed by now - could you re-test this scenario?

[2019-12-05 15:15] bognasoldev89 commented on #740
@kkaczmarczyk @johnhbenetech seems like it works now!

![740](https://user-images.githubusercontent.com/51324797/70247870-623f8380-177a-11ea-8ec9-dff5dda8fce4.gif)

I'm going to close it and I'll include it to the regression, just to be sure

[2019-12-05 15:15] #740 closed

[2019-12-06 17:12] johnhbenetech opened #755 "Refactor 'last partial update' functionality"
There seems to be some inconsistencies in how we populate 'last partial update' across organization, service, and location records after #680. Talking a bit  with @awalkowiak I was hoping we could explore the following:

* Review organization 'last partial update' field. We believe it actually looks at the last time organizationmatch was updated. Can we confirm that this actually reflects the last

[2019-12-09 14:49] awalkowiak commented on #742
@bognasoldev89 I also found issue, that datepicker dates were inconsistent when i had changed timezones. Example: when i changed my timezone to PT, when I was selecting 1st of December i got records starting from 30th of November. When you will be testing this issue please also test this behavior.

[2019-12-09 16:53] awalkowiak opened #756 "Investigate and fix issue related to non unique value for match similarity"
@johnhbenetech was getting this error on prod:

org.springframework.dao.IncorrectResultSizeDataAccessException: query did not return a unique result: 2; nested exception is javax.persistence.NonUniqueResultException: query did not return a unique result: 2
        at org.springframework.orm.jpa.EntityManagerFactoryUtils.convertJpaAccessExceptionIfPossible(EntityManagerFactoryUtils.java:378)

[2019-12-10 13:49] awalkowiak commented on #741
@johnhbenetech my guess here is that we exclude Region, not City in Location Exclustion here:
![Selection_018](https://user-images.githubusercontent.com/12113312/70534750-faaf7c80-1b5b-11ea-825d-a22fc8a50191.png)
and looking into both locations related to Santa Cruz in organization we have:
![Selection_019](https://user-images.githubusercontent.com/12113312/70534830-2e8aa200-1b5c-11ea-9851-cd4a42e

[2019-12-10 14:36] awalkowiak commented on #741
@bognasoldev89 please change location exclusions and recheck this issue.

[2019-12-10 14:40] awalkowiak commented on #584
@jkondrat @bognasoldev89  the search field is clearing properly, but the results are remain filtered by the search value.

[2019-12-12 14:44] awalkowiak commented on #755
@johnhbenetech I fixed the timestamps saving. Now we need to populate the missing data after deployment with the following:

[2019-12-12 16:16] awalkowiak commented on #755
Seems like our current deepEquals on organisation update is not working properly. When I was uploding same file it was always validated as changed data and updated to database. After fixing this issue our timestamps should work properly

[2019-12-13 15:37] bognasoldev89 commented on #744
Seems fine now, the unnecessary field don't appear anymore.

![744 working](https://user-images.githubusercontent.com/51324797/70811871-c7bcf100-1dc6-11ea-89b2-a0e3ad295682.gif)

[2019-12-13 15:37] #744 closed

[2019-12-13 16:14] bognasoldev89 commented on #742
@awalkowiak it seems fine now, timezone case too

![Screenshot from 2019-12-13 17-13-38](https://user-images.githubusercontent.com/51324797/70814524-f1c4e200-1dcb-11ea-8bc9-0801037b50ca.png)

[2019-12-13 16:14] #742 closed

[2019-12-13 17:11] bognasoldev89 commented on #741
@awalkowiak yeah, seems accurate, I'll include this in test case. Thanks for noticing this!

[2019-12-13 17:11] #741 closed

[2019-12-13 17:16] bognasoldev89 commented on #746
Hi @johnhbenetech what's your opinion on this solution? I would like to include this test case in regression

[2019-12-13 17:50] johnhbenetech commented on #746
@NeilMBenetech What do you think? In the case where a location does not have a physical address at all, should we simply not show the physical address section (this is what we have done in this task)?

Would you prefer a different UX - showing a blank section or a small note?

[2019-12-14 05:13] NeilMBenetech commented on #746
@johnhbenetech I think it is a little better UX to show the fields but with nothing in them. Relatedly on the "Location dropdown picker" we should probably list the Location as "No physical address provided" instead of blank.

[2019-12-16 10:00] bognasoldev89 commented on #746
@jkondrat can you look into that?

[2019-12-16 14:27] jkondrat commented on #623
@bognasoldev89 @johnhbenetech : It looks that for Eden/UWBA/SMC we only have taxonomy codes and the names are empty. Should we display taxonomy codes in the dropdown?

[2019-12-16 14:28] johnhbenetech commented on #623
@jkondrat we should pull the names from the lookup tables and display those

[2019-12-16 16:05] jkondrat commented on #623
@johnhbenetech : I'm a little confused, where can I find these tables?

[2019-12-16 17:43] johnhbenetech commented on #623
@jkondrat
the service_taxonomy joins to the taxonomy table. Taxonomy table has both external_db_id and name

[2019-12-16 17:44] jkondrat commented on #623
@johnhbenetech : The issue is that the name for these taxonomies is empty:
![Uploading Screenshot from 2019-12-16 18-44-04.png…]()

[2019-12-16 18:14] johnhbenetech commented on #623
@jkondrat I believe it's just that the taxonomy data jobs havent been run on development. I've kicked them off so hopefully the data will be there in a few minutes

[2019-12-17 10:25] jkondrat commented on #623
@johnhbenetech : Thank you, it worked!
@bognasoldev89 : Could you please have a look at these filters again? It turns out that after running taxonomy update jobs they are populated properly

[2019-12-17 12:06] bognasoldev89 opened #763 "Fix weird signs depicting apostrophes after csv files upload"
I noticed that after uploading csv files (for healthleads, SMC and LAAC) apostrophes are replaced by weird signs. Json files work OK.
I looked for older healthleads records and I found out that apostrophes were displayed correctly earlier.

Examples:

![Screenshot from 2019-12-17 13-09-06](https://user-images.githubusercontent.com/51324797/70994431-85e5c080-20ce-11ea-9787-701f03d01b0e.png)

![Scre

[2019-12-17 14:41] johnhbenetech commented on #734
@NeilMBenetech Per Edward it appears these all exist, but two have a field "status = inactive". Do you think we should hide/delete all inactive records for Sheltertech?

[2019-12-17 14:44] johnhbenetech commented on #733
@bognasoldev89 I think we've confirmed this is fixed, but I'll let you triple check :)

[2019-12-17 15:17] johnhbenetech commented on #700
We don't have service matching done yet, but we can start this work for locations.

@NeilMBenetech can you comment on the following mockup and see if it was roughly what you were thinking:
![mockup showing matching details](https://user-images.githubusercontent.com/12927553/71008348-1364e880-20ae-11ea-9f52-e7eff0bfdd9f.png)

[2019-12-17 15:23] NeilMcKechnie commented on #734
@johnhbenetech Tough decision. There are all sorts of reason to make a record inactive. For example, seasonal services that are out-of-season, or services that are out of capacity (food bank no more food until next month). These are cases where you still want the record to be present.

Maybe we should ask Edward not to expose records to us that are duplicates of themselves for some reason....? I'm

[2019-12-17 15:25] johnhbenetech commented on #734
ok, we won't plan any work on this until we hear otherwise

[2019-12-17 15:44] NeilMcKechnie commented on #700
@johnhbenetech This looks good to me. I'm wondering if we should add Last Complete Update and Last Partial Update but that would probably get pretty messy given each major record type can have different/independent values for each of those.

Any creative ideas? Maybe some formula to calculate "freshness factor" (not sure I like the name)....something like: Total number of days since last Partial U

[2019-12-17 15:48] johnhbenetech commented on #700
@NeilMBenetech we can call it the mentos factor :)

We can explore that in a second iteration (once we have service matching). We had talked about a color-based indicator before (especially in the context of 'usage').

I'll think about it a bit more

[2019-12-17 16:14] jkondrat commented on #763
@bognasoldev89 : Could you please share the CSV files? I tried uploading a sample organization with apostrophes and it worked fine:
![Screenshot from 2019-12-17 17-13-52](https://user-images.githubusercontent.com/5969801/71013225-a1fa5980-20f0-11ea-8377-073c987257b7.png)

[2019-12-17 16:24] bognasoldev89 commented on #763
@jkondrat sure: https://drive.google.com/drive/folders/1J-f7L6fMgLoXI-0ZkbqO9FdZ7GnarxFE?usp=sharing

[2019-12-17 16:31] jkondrat commented on #763
@bognasoldev89 : It looks that the file is corrupted, it shows me these weird signs when I opened it with utf-8 encoding

[2019-12-19 12:02] bognasoldev89 commented on #746
I confirm that on Locations dropdown "No physical address provided" is visible for mentioned locations, fields are displayed but empty and no error occurs.

See an example:
![746 working](https://user-images.githubusercontent.com/51324797/71171935-45697c80-225f-11ea-9178-d2e1b6b17753.gif)

[2019-12-19 12:02] #746 closed

[2019-12-19 12:48] bognasoldev89 commented on #309
I confirm that numbers are rounded now. I haven't found any odd numbers.

Example:
![309 working](https://user-images.githubusercontent.com/51324797/71174684-11de2080-2266-11ea-9624-2fb82eceffaa.gif)

[2019-12-19 12:48] #309 closed

[2019-12-19 13:33] bognasoldev89 commented on #763
@jkondrat @johnhbenetech seems like it was my file editor's fault. I edited a file in notepad, uploaded and got apostrophes right:
![Screenshot from 2019-12-19 14-30-17](https://user-images.githubusercontent.com/51324797/71177340-160d3c80-226c-11ea-923c-0a70c3496b43.png)

But I think it would be good to keep this issue in mind for the future.

[2019-12-19 13:33] #763 closed

[2019-12-19 13:39] bognasoldev89 commented on #623
@jkondrat @johnhbenetech Taxonomy filters dropdown for Eden and UWBA providers are populated and working now.
SMCConnect still empty though :(
I saw that SMCConnect Taxonomy Update job was fired 3 days ago and taxonomy filter for this provider was empty. I fired it again today and still nothing.

![623 smc](https://user-images.githubusercontent.com/51324797/71177804-14904400-226d-11ea-9afa-68aaa2f

[2019-12-19 13:46] bognasoldev89 commented on #733
@NeilMBenetech @johnhbenetech yes, I confirm it's ok :). I checked #712 during regression and did a quick exploration now - everything is fine.

[2019-12-19 13:46] #733 closed

[2019-12-19 14:25] bognasoldev89 commented on #584
@jkondrat try this reproduction steps:
1. perform search
2. hit enter or click name of organization to be sure that search has been done
3. delete the whole organization name from search field using delete or backspace key on keyboard

In the search field placeholder should be visible, not name of deleted organization.

![584](https://user-images.githubusercontent.com/51324797/71181082-bb77de80-22

[2019-12-19 14:38] bognasoldev89 commented on #698
@jkondrat I found an organization and its match has a Location at the exact same place (even longitude and latitude) and it's not rotated to it:

![easterseals bay area](https://user-images.githubusercontent.com/51324797/71181579-b36c6e80-2274-11ea-826c-7b52ec70f674.png)

![easterseals bay area](https://user-images.githubusercontent.com/51324797/71181655-e151b300-2274-11ea-9481-bbf716546b24.gif)

[2019-12-19 16:40] awalkowiak commented on #755
@johnhbenetech all work related to this issue is done. We can run the mentioned queries. I can do it on staging, but prod will need to be updated by you.

[2019-12-19 16:59] jkondrat commented on #623
@bognasoldev89 : The filter only shows taxonomies that were actually used in record's services. I checked a couple of SMCConnect records, and their services either have no taxonomies, or taxonomy names are empty, that's why nothing is showing up in the filter.
![Screenshot from 2019-12-19 17-49-01](https://user-images.githubusercontent.com/5969801/71192799-42838180-2289-11ea-9c90-8040d347cac9.png)

[2019-12-19 17:29] johnhbenetech commented on #623
Hmmm.. this isn't the case on prod so can we look at the SMC taxonomy job in dev?

[2019-12-23 14:46] jkondrat commented on #623
@johnhbenetech : The API (https://api.smc-connect.org/categories) does not return these taxonomies, is it possible that they were there before?
![Screenshot from 2019-12-23 15-44-16](https://user-images.githubusercontent.com/5969801/71364024-44a45380-259b-11ea-9a79-8b4d97012802.png)

[2019-12-23 15:12] jkondrat commented on #623
it turned out that there were duplicate taxonomies in the database (one with empty name), so I created a migration:
https://github.com/benetech/ServiceNet/pull/769

[2019-12-31 04:57] johnhbenetech opened #771 "Recommend approach for architectural changes for upcoming API work"
As we've discussed on calls we will have some upcoming work around enabling API access to core data flows in ServiceNet. The main consumers of these APIs will be other vendor software that wishes to display serviceNet data/matches directly in their tool. Additionally they may use an additional API to directly send us updated records from their systems in real time so we will no longer have to rely

[2019-12-31 05:03] johnhbenetech commented on #771
Some ideas I had which we may consider:

* Separate the front end from the back end application. Currently our jhipster approach does all data operations AND serves the frontend in one container. Taking a quick read through the j hipster documentation I see some details around peeling off the front end. In other projects, we simply have the build process output a static version of the front end wh

[2020-01-07 17:50] kkaczmarczyk opened #775 "Make Travis CI run frontend spec tests as well"
Make Travis CI run frontend spec tests as well. Currently, spec tests are not being run on Travis, hence the need to build them locally pre-push.

[2020-01-08 09:17] bognasoldev89 commented on #584
It looks great now!

![584 field working](https://user-images.githubusercontent.com/51324797/71965476-0c8a4b00-3200-11ea-8850-e0929f8d92f7.gif)

[2020-01-08 09:17] #584 closed

[2020-01-08 09:44] bognasoldev89 commented on #698
In my opinion, all issues are now resolved.

Here are examples from mentioned organizations, locations are matched correctly now:

![698 working 1](https://user-images.githubusercontent.com/51324797/71967344-81ab4f80-3203-11ea-830c-43e476e37445.gif)

![698 working 2](https://user-images.githubusercontent.com/51324797/71967345-8243e600-3203-11ea-9f34-6f396407e692.gif)

[2020-01-08 09:44] #698 closed

[2020-01-08 10:25] bognasoldev89 commented on #681
Matched organizations are ordered properly now, first by Last complete review, then by Last partial update.

Examples:
![681 1](https://user-images.githubusercontent.com/51324797/71970657-63485280-3209-11ea-89d6-ae97bf03cb21.gif)

![681 2](https://user-images.githubusercontent.com/51324797/71970659-63485280-3209-11ea-807b-9848694ee390.gif)

![681 3](https://user-images.githubusercontent.com/513247

[2020-01-08 10:25] #681 closed

[2020-01-08 11:52] bognasoldev89 commented on #700
I think for Locations this feature works quite well.

I found some UI issue though. While the organization has a few matches, it looks good:

![700 ui](https://user-images.githubusercontent.com/51324797/71975938-73fec580-3215-11ea-9024-fc3829143298.png)

But when it has much more it doesn't look good in my opinion:

![700 ui issue](https://user-images.githubusercontent.com/51324797/71976007-913394